<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Bootstrap <span class="text-primary">Colors</span></h1>
                                <p>Bootstrap Colors System from Bootstrap Framework in HSL, HSV, RGB, RGBA, CMYK, HEX</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <p class="text-center"><b>Notice</b> - Note that the values of color codes in different formats are derived with the help of GPT-3.5 and may vary slightly depending on the specific color space conversion algorithm used.</p>
                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Blue</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-blue">#0d6efd</div>
                                <div class="p-3 bs-blue-100">#cfe2ff</div>
                                <div class="p-3 bs-blue-200">#9ec5fe</div>
                                <div class="p-3 bs-blue-300">#6ea8fe</div>
                                <div class="p-3 bs-blue-400">#3d8bfd</div>
                                <div class="p-3 bs-blue-500">#0d6efd</div>
                                <div class="p-3 bs-blue-600">#0a58ca</div>
                                <div class="p-3 bs-blue-700">#084298</div>
                                <div class="p-3 bs-blue-800">#052c65</div>
                                <div class="p-3 bs-blue-900">#031633</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Blue</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#0d6efd</td><td>HSL(213, 100, 49)</td><td>HSV(213, 100, 93)</td><td>RGB(13, 110, 253)</td><td>RGBA(13, 110, 253, 1)</td><td>CMYK(95, 57, 0, 1)</td></tr><tr><td>#cfe2ff</td><td>HSL(214, 79, 88)</td><td>HSV(214, 17, 100)</td><td>RGB(207, 226, 255)</td><td>RGBA(207, 226, 255, 1)</td><td>CMYK(19, 11, 0, 0)</td></tr><tr><td>#9ec5fe</td><td>HSL(217, 77, 77)</td><td>HSV(217, 40, 99)</td><td>RGB(158, 197, 254)</td><td>RGBA(158, 197, 254, 1)</td><td>CMYK(38, 23, 0, 0)</td></tr><tr><td>#6ea8fe</td><td>HSL(216, 94, 70)</td><td>HSV(216, 55, 100)</td><td>RGB(110, 168, 254)</td><td>RGBA(110, 168, 254, 1)</td><td>CMYK(57, 34, 0, 0)</td></tr><tr><td>#3d8bfd</td><td>HSL(213, 98, 61)</td><td>HSV(213, 85, 99)</td><td>RGB(61, 139, 253)</td><td>RGBA(61, 139, 253, 1)</td><td>CMYK(76, 45, 0, 0)</td></tr><tr><td>#0d6efd</td><td>HSL(213, 100, 49)</td><td>HSV(213, 100, 93)</td><td>RGB(13, 110, 253)</td><td>RGBA(13, 110, 253, 1)</td><td>CMYK(95, 57, 0, 1)</td></tr><tr><td>#0a58ca</td><td>HSL(215, 92, 40)</td><td>HSV(215, 96, 79)</td><td>RGB(10, 88, 202)</td><td>RGBA(10, 88, 202, 1)</td><td>CMYK(95, 57, 0, 21)</td></tr><tr><td>#084298</td><td>HSL(216, 92, 31)</td><td>HSV(216, 98, 60)</td><td>RGB(8, 66, 152)</td><td>RGBA(8, 66, 152, 1)</td><td>CMYK(95, 57, 0, 40)</td></tr><tr><td>#052c65</td><td>HSL(211, 91, 20)</td><td>HSV(211, 92, 39)</td><td>RGB(5, 44, 101)</td><td>RGBA(5, 44, 101, 1)</td><td>CMYK(95, 57, 0, 60)</td></tr><tr><td>#031633</td><td>HSL(210, 95, 9)</td><td>HSV(210, 97, 20)</td><td>RGB(3, 22, 51)</td><td>RGBA(3, 22, 51, 1)</td><td>CMYK(94, 57, 0, 80)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Indigo</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-indigo">#6610f2</div>
                                <div class="p-3 bs-indigo-100">#e0cffc</div>
                                <div class="p-3 bs-indigo-200">#c29ffa</div>
                                <div class="p-3 bs-indigo-300">#a370f7</div>
                                <div class="p-3 bs-indigo-400">#8540f5</div>
                                <div class="p-3 bs-indigo-500">#6610f2</div>
                                <div class="p-3 bs-indigo-600">#520dc2</div>
                                <div class="p-3 bs-indigo-700">#3d0a91</div>
                                <div class="p-3 bs-indigo-800">#290661</div>
                                <div class="p-3 bs-indigo-900">#140330</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Indigo</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#6610f2</td><td>HSL(261, 92, 57)</td><td>HSV(261, 68, 95)</td><td>RGB(102, 16, 242)</td><td>RGBA(102, 16, 242, 1)</td><td>CMYK(58, 93, 0, 5)</td></tr><tr><td>#e0cffc</td><td>HSL(254, 72, 88)</td><td>HSV(254, 25, 95)</td><td>RGB(224, 207, 252)</td><td>RGBA(224, 207, 252, 1)</td><td>CMYK(11, 18, 0, 1)</td></tr><tr><td>#c29ffa</td><td>HSL(255, 70, 78)</td><td>HSV(255, 31, 98)</td><td>RGB(194, 159, 250)</td><td>RGBA(194, 159, 250, 1)</td><td>CMYK(23, 36, 0, 2)</td></tr><tr><td>#a370f7</td><td>HSL(255, 76, 70)</td><td>HSV(255, 57, 97)</td><td>RGB(163, 112, 247)</td><td>RGBA(163, 112, 247, 1)</td><td>CMYK(34, 55, 0, 3)</td></tr><tr><td>#8540f5</td><td>HSL(258, 79, 63)</td><td>HSV(258, 84, 96)</td><td>RGB(133, 64, 245)</td><td>RGBA(133, 64, 245, 1)</td><td>CMYK(46, 74, 0, 4)</td></tr><tr><td>#6610f2</td><td>HSL(261, 92, 57)</td><td>HSV(261, 68, 95)</td><td>RGB(102, 16, 242)</td><td>RGBA(102, 16, 242, 1)</td><td>CMYK(58, 93, 0, 5)</td></tr><tr><td>#520dc2</td><td>HSL(262, 92, 38)</td><td>HSV(262, 95, 76)</td><td>RGB(82, 13, 194)</td><td>RGBA(82, 13, 194, 1)</td><td>CMYK(58, 93, 0, 24)</td></tr><tr><td>#3d0a91</td><td>HSL(261, 89, 30)</td><td>HSV(261, 95, 57)</td><td>RGB(61, 10, 145)</td><td>RGBA(61, 10, 145, 1)</td><td>CMYK(58, 93, 0, 43)</td></tr><tr><td>#290661</td><td>HSL(261, 88, 13)</td><td>HSV(261, 93, 40)</td><td>RGB(41, 6, 97)</td><td>RGBA(41, 6, 97, 1)</td><td>CMYK(58, 93, 0, 62)</td></tr><tr><td>#140330</td><td>HSL(263, 86, 7)</td><td>HSV(263, 94, 19)</td><td>RGB(20, 3, 48)</td><td>RGBA(20, 3, 48, 1)</td><td>CMYK(58, 93, 0, 81)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Purple</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-purple">#6f42c1</div>
                                <div class="p-3 bs-indigo-100">#e0cffc</div>
                                <div class="p-3 bs-purple-200">#c5b3e6</div>
                                <div class="p-3 bs-purple-300">#a98eda</div>
                                <div class="p-3 bs-purple-400">#8c68cd</div>
                                <div class="p-3 bs-purple-500">#6f42c1</div>
                                <div class="p-3 bs-purple-600">#59359a</div>
                                <div class="p-3 bs-purple-700">#432874</div>
                                <div class="p-3 bs-purple-800">#2c1a4d</div>
                                <div class="p-3 bs-purple-900">#160d27</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Purple</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#6f42c1</td><td>HSL(261, 50, 52)</td><td>HSV(261, 67, 76)</td><td>RGB(111, 66, 193)</td><td>RGBA(111, 66, 193, 1)</td><td>CMYK(42, 66, 0, 24)</td></tr><tr><td>#e0cffc</td><td>HSL(256, 72, 86)</td><td>HSV(256, 23, 98)</td><td>RGB(224, 207, 252)</td><td>RGBA(224, 207, 252, 1)</td><td>CMYK(11, 18, 0, 1)</td></tr><tr><td>#c5b3e6</td><td>HSL(257, 52, 80)</td><td>HSV(257, 27, 90)</td><td>RGB(197, 179, 230)</td><td>RGBA(197, 179, 230, 1)</td><td>CMYK(14, 22, 0, 10)</td></tr><tr><td>#a98eda</td><td>HSL(258, 49, 70)</td><td>HSV(258, 38, 92)</td><td>RGB(169, 142, 218)</td><td>RGBA(169, 142, 218, 1)</td><td>CMYK(22, 35, 0, 15)</td></tr><tr><td>#8c68cd</td><td>HSL(265, 49, 61)</td><td>HSV(265, 50, 80)</td><td>RGB(140, 104, 205)</td><td>RGBA(140, 104, 205, 1)</td><td>CMYK(32, 49, 0, 20)</td></tr><tr><td>#6f42c1</td><td>HSL(261, 50, 52)</td><td>HSV(261, 67, 76)</td><td>RGB(111, 66, 193)</td><td>RGBA(111, 66, 193, 1)</td><td>CMYK(42, 66, 0, 24)</td></tr><tr><td>#59359a</td><td>HSL(259, 45, 38)</td><td>HSV(259, 64, 60)</td><td>RGB(89, 53, 154)</td><td>RGBA(89, 53, 154, 1)</td><td>CMYK(42, 66, 0, 40)</td></tr><tr><td>#432874</td><td>HSL(263, 39, 28)</td><td>HSV(263, 64, 47)</td><td>RGB(67, 40, 116)</td><td>RGBA(67, 40, 116, 1)</td><td>CMYK(42, 66, 0, 55)</td></tr><tr><td>#2c1a4d</td><td>HSL(266, 38, 19)</td><td>HSV(266, 64, 30)</td><td>RGB(44, 26, 77)</td><td>RGBA(44, 26, 77, 1)</td><td>CMYK(42, 66, 0, 70)</td></tr><tr><td>#160d27</td><td>HSL(261, 38, 8)</td><td>HSV(261, 57, 14)</td><td>RGB(22, 13, 39)</td><td>RGBA(22, 13, 39, 1)</td><td>CMYK(42, 66, 0, 85)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Pink</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-pink">#d63384</div>
                                <div class="p-3 bs-pink-100">#f7d6e6</div>
                                <div class="p-3 bs-pink-200">#efadce</div>
                                <div class="p-3 bs-pink-300">#e685b5</div>
                                <div class="p-3 bs-pink-400">#de5c9d</div>
                                <div class="p-3 bs-pink-500">#d63384</div>
                                <div class="p-3 bs-pink-600">#ab296a</div>
                                <div class="p-3 bs-pink-700">#801f4f</div>
                                <div class="p-3 bs-pink-800">#561435</div>
                                <div class="p-3 bs-pink-900">#2b0a1a</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Pink</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#d63384</td><td>HSL(325, 57%, 49%)</td><td>HSV(325, 71%, 84%)</td><td>RGB(214, 51, 132)</td><td>RGBA(214, 51, 132, 1)</td><td>CMYK(0, 76, 38, 16)</td></tr><tr><td>#f7d6e6</td><td>HSL(334, 79%, 90%)</td><td>HSV(334, 21%, 97%)</td><td>RGB(247, 214, 230)</td><td>RGBA(247, 214, 230, 1)</td><td>CMYK(0, 13, 7, 3)</td></tr><tr><td>#efadce</td><td>HSL(332, 60%, 75%)</td><td>HSV(332, 33%, 93%)</td><td>RGB(239, 173, 206)</td><td>RGBA(239, 173, 206, 1)</td><td>CMYK(0, 28, 14, 6)</td></tr><tr><td>#e685b5</td><td>HSL(327, 53%, 66%)</td><td>HSV(327, 44%, 90%)</td><td>RGB(230, 133, 181)</td><td>RGBA(230, 133, 181, 1)</td><td>CMYK(0, 42, 21, 10)</td></tr><tr><td>#de5c9d</td><td>HSL(330, 58%, 61%)</td><td>HSV(330, 61%, 87%)</td><td>RGB(222, 92, 157)</td><td>RGBA(222, 92, 157, 1)</td><td>CMYK(0, 59, 29, 13)</td></tr><tr><td>#d63384</td><td>HSL(325, 57%, 49%)</td><td>HSV(325, 71%, 84%)</td><td>RGB(214, 51, 132)</td><td>RGBA(214, 51, 132, 1)</td><td>CMYK(0, 76, 38, 16)</td></tr><tr><td>#ab296a</td><td>HSL(325, 61%, 36%)</td><td>HSV(325, 73%, 67%)</td><td>RGB(171, 41, 106)</td><td>RGBA(171, 41, 106, 1)</td><td>CMYK(0, 76, 38, 33)</td></tr><tr><td>#801f4f</td><td>HSL(325, 60%, 28%)</td><td>HSV(325, 75%, 50%)</td><td>RGB(128, 31, 79)</td><td>RGBA(128, 31, 79, 1)</td><td>CMYK(0, 76, 38, 50)</td></tr><tr><td>#561435</td><td>HSL(335, 59%, 20%)</td><td>HSV(335, 76%, 34%)</td><td>RGB(86, 20, 53)</td><td>RGBA(86, 20, 53, 1)</td><td>CMYK(0, 77, 38, 66)</td></tr><tr><td>#2b0a1a</td><td>HSL(335, 57%, 10%)</td><td>HSV(335, 65%, 17%)</td><td>RGB(43, 10, 26)</td><td>RGBA(43, 10, 26, 1)</td><td>CMYK(0, 77, 39, 83)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Red</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-red">#dc3545</div>
                                <div class="p-3 bs-red-100">#f8d7da</div>
                                <div class="p-3 bs-red-200">#f1aeb5</div>
                                <div class="p-3 bs-red-300">#ea868f</div>
                                <div class="p-3 bs-red-400">#e35d6a</div>
                                <div class="p-3 bs-red-500">#dc3545</div>
                                <div class="p-3 bs-red-600">#b02a37</div>
                                <div class="p-3 bs-red-700">#842029</div>
                                <div class="p-3 bs-red-800">#58151c</div>
                                <div class="p-3 bs-red-900">#2c0b0e</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Red</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#dc3545</td><td>HSL(354, 83, 54)</td><td>HSV(354, 76, 86)</td><td>RGB(220, 53, 69)</td><td>RGBA(220, 53, 69, 1)</td><td>CMYK(0, 76, 69, 14)</td></tr><tr><td>#f8d7da</td><td>HSL(354, 61, 92)</td><td>HSV(354, 27, 97)</td><td>RGB(248, 215, 218)</td><td>RGBA(248, 215, 218, 1)</td><td>CMYK(0, 13, 12, 3)</td></tr><tr><td>#f1aeb5</td><td>HSL(350, 72, 77)</td><td>HSV(350, 30, 95)</td><td>RGB(241, 174, 181)</td><td>RGBA(241, 174, 181, 1)</td><td>CMYK(0, 28, 25, 6)</td></tr><tr><td>#ea868f</td><td>HSL(355, 63, 68)</td><td>HSV(355, 30, 92)</td><td>RGB(234, 134, 143)</td><td>RGBA(234, 134, 143, 1)</td><td>CMYK(0, 43, 39, 8)</td></tr><tr><td>#e35d6a</td><td>HSL(354, 64, 60)</td><td>HSV(354, 56, 89)</td><td>RGB(227, 93, 106)</td><td>RGBA(227, 93, 106, 1)</td><td>CMYK(0, 59, 53, 11)</td></tr><tr><td>#dc3545</td><td>HSL(354, 83, 54)</td><td>HSV(354, 76, 86)</td><td>RGB(220, 53, 69)</td><td>RGBA(220, 53, 69, 1)</td><td>CMYK(0, 76, 69, 14)</td></tr><tr><td>#b02a37</td><td>HSL(355, 59, 42)</td><td>HSV(355, 77, 69)</td><td>RGB(176, 42, 55)</td><td>RGBA(176, 42, 55, 1)</td><td>CMYK(0, 76, 69, 31)</td></tr><tr><td>#842029</td><td>HSL(354, 61, 33)</td><td>HSV(354, 76, 51)</td><td>RGB(132, 32, 41)</td><td>RGBA(132, 32, 41, 1)</td><td>CMYK(0, 76, 69, 48)</td></tr><tr><td>#58151c</td><td>HSL(355, 59, 23)</td><td>HSV(355, 73, 34)</td><td>RGB(88, 21, 28)</td><td>RGBA(88, 21, 28, 1)</td><td>CMYK(0, 76, 69, 65)</td></tr><tr><td>#2c0b0e</td><td>HSL(355, 59, 9)</td><td>HSV(355, 74, 17)</td><td>RGB(44, 11, 14)</td><td>RGBA(44, 11, 14, 1)</td><td>CMYK(0, 75, 68, 83)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Orange</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-orange">#fd7e14</div>
                                <div class="p-3 bs-orange-100">#ffe5d0</div>
                                <div class="p-3 bs-orange-200">#fecba1</div>
                                <div class="p-3 bs-orange-300">#feb272</div>
                                <div class="p-3 bs-orange-400">#fd9843</div>
                                <div class="p-3 bs-orange-500">#fd7e14</div>
                                <div class="p-3 bs-orange-600">#ca6510</div>
                                <div class="p-3 bs-orange-700">#984c0c</div>
                                <div class="p-3 bs-orange-800">#653208</div>
                                <div class="p-3 bs-orange-900">#331904</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Orange</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fd7e14</td><td>HSL(28, 95, 54)</td><td>HSV(28, 92, 99)</td><td>RGB(253, 126, 20)</td><td>RGBA(253, 126, 20, 1)</td><td>CMYK(0, 50, 92, 1)</td></tr><tr><td>#ffe5d0</td><td>HSL(24, 100, 92)</td><td>HSV(24, 9, 100)</td><td>RGB(255, 229, 208)</td><td>RGBA(255, 229, 208, 1)</td><td>CMYK(0, 10, 19, 0)</td></tr><tr><td>#fecba1</td><td>HSL(26, 97, 76)</td><td>HSV(26, 32, 99)</td><td>RGB(254, 203, 161)</td><td>RGBA(254, 203, 161, 1)</td><td>CMYK(0, 20, 37, 0)</td></tr><tr><td>#feb272</td><td>HSL(28, 96, 70)</td><td>HSV(28, 54, 99)</td><td>RGB(254, 178, 114)</td><td>RGBA(254, 178, 114, 1)</td><td>CMYK(0, 30, 55, 0)</td></tr><tr><td>#fd9843</td><td>HSL(27, 97, 62)</td><td>HSV(27, 83, 99)</td><td>RGB(253, 152, 67)</td><td>RGBA(253, 152, 67, 1)</td><td>CMYK(0, 40, 74, 1)</td></tr><tr><td>#fd7e14</td><td>HSL(28, 95, 54)</td><td>HSV(28, 92, 99)</td><td>RGB(253, 126, 20)</td><td>RGBA(253, 126, 20, 1)</td><td>CMYK(0, 50, 92, 1)</td></tr><tr><td>#ca6510</td><td>HSL(26, 83, 41)</td><td>HSV(26, 85, 79)</td><td>RGB(202, 101, 16)</td><td>RGBA(202, 101, 16, 1)</td><td>CMYK(0, 50, 92, 21)</td></tr><tr><td>#984c0c</td><td>HSL(27, 86, 30)</td><td>HSV(27, 88, 60)</td><td>RGB(152, 76, 12)</td><td>RGBA(152, 76, 12, 1)</td><td>CMYK(0, 50, 92, 40)</td></tr><tr><td>#653208</td><td>HSL(27, 88, 19)</td><td>HSV(27, 92, 39)</td><td>RGB(101, 50, 8)</td><td>RGBA(101, 50, 8, 1)</td><td>CMYK(0, 50, 92, 60)</td></tr><tr><td>#331904</td><td>HSL(27, 89, 9)</td><td>HSV(27, 97, 20)</td><td>RGB(51, 25, 4)</td><td>RGBA(51, 25, 4, 1)</td><td>CMYK(0, 51, 92, 80)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Yellow</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-yellow">#ffc107</div>
                                <div class="p-3 bs-yellow-100">#fff3cd</div>
                                <div class="p-3 bs-yellow-200">#ffe69c</div>
                                <div class="p-3 bs-yellow-300">#ffda6a</div>
                                <div class="p-3 bs-yellow-400">#ffcd39</div>
                                <div class="p-3 bs-yellow-500">#ffc107</div>
                                <div class="p-3 bs-yellow-600">#cc9a06</div>
                                <div class="p-3 bs-yellow-700">#997404</div>
                                <div class="p-3 bs-yellow-800">#664d03</div>
                                <div class="p-3 bs-yellow-900">#332701</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Yellow</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ffc107</td><td>HSL(45, 100, 50)</td><td>HSV(45, 100, 100)</td><td>RGB(255, 193, 7)</td><td>RGBA(255, 193, 7, 1)</td><td>CMYK(0, 24, 97, 0)</td></tr><tr><td>#fff3cd</td><td>HSL(48, 100, 91)</td><td>HSV(48, 10, 100)</td><td>RGB(255, 243, 205)</td><td>RGBA(255, 243, 205, 1)</td><td>CMYK(0, 5, 20, 0)</td></tr><tr><td>#ffe69c</td><td>HSL(45, 100, 81)</td><td>HSV(45, 29, 100)</td><td>RGB(255, 230, 156)</td><td>RGBA(255, 230, 156, 1)</td><td>CMYK(0, 10, 39, 0)</td></tr><tr><td>#ffda6a</td><td>HSL(45, 100, 70)</td><td>HSV(45, 57, 100)</td><td>RGB(255, 218, 106)</td><td>RGBA(255, 218, 106, 1)</td><td>CMYK(0, 15, 59, 0)</td></tr><tr><td>#ffcd39</td><td>HSL(45, 100, 60)</td><td>HSV(45, 86, 100)</td><td>RGB(255, 205, 57)</td><td>RGBA(255, 205, 57, 1)</td><td>CMYK(0, 20, 78, 0)</td></tr><tr><td>#ffc107</td><td>HSL(45, 100, 50)</td><td>HSV(45, 100, 100)</td><td>RGB(255, 193, 7)</td><td>RGBA(255, 193, 7, 1)</td><td>CMYK(0, 24, 97, 0)</td></tr><tr><td>#cc9a06</td><td>HSL(45, 92, 33)</td><td>HSV(45, 96, 80)</td><td>RGB(204, 154, 6)</td><td>RGBA(204, 154, 6, 1)</td><td>CMYK(0, 25, 97, 20)</td></tr><tr><td>#997404</td><td>HSL(45, 92, 25)</td><td>HSV(45, 96, 60)</td><td>RGB(153, 116, 4)</td><td>RGBA(153, 116, 4, 1)</td><td>CMYK(0, 24, 97, 40)</td></tr><tr><td>#664d03</td><td>HSL(45, 92, 16)</td><td>HSV(45, 96, 40)</td><td>RGB(102, 77, 3)</td><td>RGBA(102, 77, 3, 1)</td><td>CMYK(0, 24, 97, 60)</td></tr><tr><td>#332701</td><td>HSL(45, 92, 6)</td><td>HSV(45, 96, 15)</td><td>RGB(51, 39, 1)</td><td>RGBA(51, 39, 1, 1)</td><td>CMYK(0, 24, 98, 80)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Green</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-green">#198754</div>
                                <div class="p-3 bs-green-100">#d1e7dd</div>
                                <div class="p-3 bs-green-200">#a3cfbb</div>
                                <div class="p-3 bs-green-300">#75b798</div>
                                <div class="p-3 bs-green-400">#479f76</div>
                                <div class="p-3 bs-green-500">#198754</div>
                                <div class="p-3 bs-green-600">#146c43</div>
                                <div class="p-3 bs-green-700">#051b11</div>
                                <div class="p-3 bs-green-800">#051b11</div>
                                <div class="p-3 bs-green-900">#051b11</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Green</h5>
                                <table class="stack-table" style="width: 100%;"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#198754</td><td>HSL(145, 68, 40)</td><td>HSV(145, 77, 53)</td><td>RGB(25, 135, 84)</td><td>RGBA(25, 135, 84, 1)</td><td>CMYK(81, 0, 38, 47)</td></tr><tr><td>#d1e7dd</td><td>HSL(152, 38, 87)</td><td>HSV(152, 18, 91)</td><td>RGB(209, 231, 221)</td><td>RGBA(209, 231, 221, 1)</td><td>CMYK(9, 0, 4, 9)</td></tr><tr><td>#a3cfbb</td><td>HSL(151, 41, 70)</td><td>HSV(151, 28, 81)</td><td>RGB(163, 207, 187)</td><td>RGBA(163, 207, 187, 1)</td><td>CMYK(21, 0, 10, 19)</td></tr><tr><td>#75b798</td><td>HSL(153, 33, 56)</td><td>HSV(153, 36, 72)</td><td>RGB(117, 183, 152)</td><td>RGBA(117, 183, 152, 1)</td><td>CMYK(36, 0, 17, 28)</td></tr><tr><td>#479f76</td><td>HSL(153, 39, 44)</td><td>HSV(153, 58, 62)</td><td>RGB(71, 159, 118)</td><td>RGBA(71, 159, 118, 1)</td><td>CMYK(55, 0, 26, 38)</td></tr><tr><td>#198754</td><td>HSL(145, 68, 40)</td><td>HSV(145, 77, 53)</td><td>RGB(25, 135, 84)</td><td>RGBA(25, 135, 84, 1)</td><td>CMYK(81, 0, 38, 47)</td></tr><tr><td>#146c43</td><td>HSL(145, 67, 27)</td><td>HSV(145, 79, 42)</td><td>RGB(20, 108, 67)</td><td>RGBA(20, 108, 67, 1)</td><td>CMYK(81, 0, 38, 58)</td></tr><tr><td>#051b11</td><td>HSL(145, 57, 6)</td><td>HSV(145, 76, 11)</td><td>RGB(5, 27, 17)</td><td>RGBA(5, 27, 17, 1)</td><td>CMYK(81, 0, 37, 89)</td></tr><tr><td>#051b11</td><td>HSL(145, 57, 6)</td><td>HSV(145, 76, 11)</td><td>RGB(5, 27, 17)</td><td>RGBA(5, 27, 17, 1)</td><td>CMYK(81, 0, 37, 89)</td></tr><tr><td>#051b11</td><td>HSL(145, 57, 6)</td><td>HSV(145, 76, 11)</td><td>RGB(5, 27, 17)</td><td>RGBA(5, 27, 17, 1)</td><td>CMYK(81, 0, 37, 89)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Teal</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-teal">#20c997</div>
                                <div class="p-3 bs-teal-100">#d2f4ea</div>
                                <div class="p-3 bs-teal-200">#a6e9d5</div>
                                <div class="p-3 bs-teal-300">#79dfc1</div>
                                <div class="p-3 bs-teal-400">#4dd4ac</div>
                                <div class="p-3 bs-teal-500">#20c997</div>
                                <div class="p-3 bs-teal-600">#1aa179</div>
                                <div class="p-3 bs-teal-700">#13795b</div>
                                <div class="p-3 bs-teal-800">#0d503c</div>
                                <div class="p-3 bs-teal-900">#06281e</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Teal</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#20c997</td><td>HSL(160, 70, 47)</td><td>HSV(160, 80, 78)</td><td>RGB(32, 201, 151)</td><td>RGBA(32, 201, 151, 1)</td><td>CMYK(84, 0, 25, 21)</td></tr><tr><td>#d2f4ea</td><td>HSL(160, 55, 92)</td><td>HSV(160, 20, 96)</td><td>RGB(210, 244, 234)</td><td>RGBA(210, 244, 234, 1)</td><td>CMYK(14, 0, 4, 4)</td></tr><tr><td>#a6e9d5</td><td>HSL(160, 55, 78)</td><td>HSV(160, 30, 91)</td><td>RGB(166, 233, 213)</td><td>RGBA(166, 233, 213, 1)</td><td>CMYK(29, 0, 9, 9)</td></tr><tr><td>#79dfc1</td><td>HSL(160, 55, 64)</td><td>HSV(160, 47, 87)</td><td>RGB(121, 223, 193)</td><td>RGBA(121, 223, 193, 1)</td><td>CMYK(46, 0, 13, 13)</td></tr><tr><td>#4dd4ac</td><td>HSL(160, 55, 54)</td><td>HSV(160, 64, 83)</td><td>RGB(77, 212, 172)</td><td>RGBA(77, 212, 172, 1)</td><td>CMYK(64, 0, 19, 17)</td></tr><tr><td>#20c997</td><td>HSL(160, 70, 47)</td><td>HSV(160, 80, 78)</td><td>RGB(32, 201, 151)</td><td>RGBA(32, 201, 151, 1)</td><td>CMYK(84, 0, 25, 21)</td></tr><tr><td>#1aa179</td><td>HSL(160, 70, 36)</td><td>HSV(160, 78, 63)</td><td>RGB(26, 161, 121)</td><td>RGBA(26, 161, 121, 1)</td><td>CMYK(84, 0, 25, 37)</td></tr><tr><td>#13795b</td><td>HSL(160, 70, 27)</td><td>HSV(160, 83, 47)</td><td>RGB(19, 121, 91)</td><td>RGBA(19, 121, 91, 1)</td><td>CMYK(84, 0, 25, 53)</td></tr><tr><td>#0d503c</td><td>HSL(160, 70, 16)</td><td>HSV(160, 78, 20)</td><td>RGB(13, 80, 60)</td><td>RGBA(13, 80, 60, 1)</td><td>CMYK(84, 0, 25, 69)</td></tr><tr><td>#06281e</td><td>HSL(160, 70, 6)</td><td>HSV(160, 78, 12)</td><td>RGB(6, 40, 30)</td><td>RGBA(6, 40, 30, 1)</td><td>CMYK(85, 0, 25, 84)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Cyan</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-cyan">#0dcaf0</div>
                                <div class="p-3 bs-cyan-100">#cff4fc</div>
                                <div class="p-3 bs-cyan-200">#9eeaf9</div>
                                <div class="p-3 bs-cyan-300">#6edff6</div>
                                <div class="p-3 bs-cyan-400">#3dd5f3</div>
                                <div class="p-3 bs-cyan-500">#0dcaf0</div>
                                <div class="p-3 bs-cyan-600">#0aa2c0</div>
                                <div class="p-3 bs-cyan-700">#087990</div>
                                <div class="p-3 bs-cyan-800">#055160</div>
                                <div class="p-3 bs-cyan-900">#032830</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Cyan</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#0dcaf0</td><td>HSL(195, 90, 49)</td><td>HSV(195, 94, 94)</td><td>RGB(13, 202, 240)</td><td>RGBA(13, 202, 240, 1)</td><td>CMYK(95, 16, 0, 6)</td></tr><tr><td>#cff4fc</td><td>HSL(192, 84, 92)</td><td>HSV(192, 6, 98)</td><td>RGB(207, 244, 252)</td><td>RGBA(207, 244, 252, 1)</td><td>CMYK(18, 3, 0, 1)</td></tr><tr><td>#9eeaf9</td><td>HSL(196, 85, 84)</td><td>HSV(196, 12, 97)</td><td>RGB(158, 234, 249)</td><td>RGBA(158, 234, 249, 1)</td><td>CMYK(37, 6, 0, 2)</td></tr><tr><td>#6edff6</td><td>HSL(195, 80, 78)</td><td>HSV(195, 19, 98)</td><td>RGB(110, 223, 246)</td><td>RGBA(110, 223, 246, 1)</td><td>CMYK(55, 9, 0, 4)</td></tr><tr><td>#3dd5f3</td><td>HSL(195, 80, 68)</td><td>HSV(195, 23, 95)</td><td>RGB(61, 213, 243)</td><td>RGBA(61, 213, 243, 1)</td><td>CMYK(75, 12, 0, 5)</td></tr><tr><td>#0dcaf0</td><td>HSL(195, 90, 49)</td><td>HSV(195, 94, 94)</td><td>RGB(13, 202, 240)</td><td>RGBA(13, 202, 240, 1)</td><td>CMYK(95, 16, 0, 6)</td></tr><tr><td>#0aa2c0</td><td>HSL(195, 90, 38)</td><td>HSV(195, 95, 75)</td><td>RGB(10, 162, 192)</td><td>RGBA(10, 162, 192, 1)</td><td>CMYK(95, 16, 0, 25)</td></tr><tr><td>#087990</td><td>HSL(195, 90, 29)</td><td>HSV(195, 95, 47)</td><td>RGB(8, 121, 144)</td><td>RGBA(8, 121, 144, 1)</td><td>CMYK(95, 16, 0, 44)</td></tr><tr><td>#055160</td><td>HSL(195, 90, 18)</td><td>HSV(195, 95, 31)</td><td>RGB(5, 81, 96)</td><td>RGBA(5, 81, 96, 1)</td><td>CMYK(95, 16, 0, 62)</td></tr><tr><td>#032830</td><td>HSL(195, 90, 9)</td><td>HSV(195, 95, 18)</td><td>RGB(3, 40, 48)</td><td>RGBA(3, 40, 48, 1)</td><td>CMYK(95, 16, 0, 81)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Gray</h5>
                        <div class="shades mb-4">
                                <div class="p-3 bs-gray">#adb5bd</div>
                                <div class="p-3 bs-gray-100">#f8f9fa</div>
                                <div class="p-3 bs-gray-200">#e9ecef</div>
                                <div class="p-3 bs-gray-300">#dee2e6</div>
                                <div class="p-3 bs-gray-400">#ced4da</div>
                                <div class="p-3 bs-gray-500">#adb5bd</div>
                                <div class="p-3 bs-gray-600">#6c757d</div>
                                <div class="p-3 bs-gray-700">#495057</div>
                                <div class="p-3 bs-gray-800">#343a40</div>
                                <div class="p-3 bs-gray-900">#212529</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Gray</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#adb5bd</td><td>HSL(210, 14, 68)</td><td>HSV(210, 10, 74)</td><td>RGB(173, 181, 189)</td><td>RGBA(173, 181, 189, 1)</td><td>CMYK(9, 4, 0, 26)</td></tr><tr><td>#f8f9fa</td><td>HSL(210, 40, 97)</td><td>HSV(210, 2, 98)</td><td>RGB(248, 249, 250)</td><td>RGBA(248, 249, 250, 1)</td><td>CMYK(1, 0, 0, 2)</td></tr><tr><td>#e9ecef</td><td>HSL(210, 20, 93)</td><td>HSV(210, 9, 93)</td><td>RGB(233, 236, 239)</td><td>RGBA(233, 236, 239, 1)</td><td>CMYK(3, 1, 0, 6)</td></tr><tr><td>#dee2e6</td><td>HSL(210, 20, 88)</td><td>HSV(210, 4, 90)</td><td>RGB(222, 226, 230)</td><td>RGBA(222, 226, 230, 1)</td><td>CMYK(3, 2, 0, 10)</td></tr><tr><td>#ced4da</td><td>HSL(210, 20, 81)</td><td>HSV(210, 8, 85)</td><td>RGB(206, 212, 218)</td><td>RGBA(206, 212, 218, 1)</td><td>CMYK(6, 3, 0, 15)</td></tr><tr><td>#adb5bd</td><td>HSL(210, 14, 68)</td><td>HSV(210, 10, 74)</td><td>RGB(173, 181, 189)</td><td>RGBA(173, 181, 189, 1)</td><td>CMYK(9, 4, 0, 26)</td></tr><tr><td>#6c757d</td><td>HSL(210, 10, 43)</td><td>HSV(210, 13, 49)</td><td>RGB(108, 117, 125)</td><td>RGBA(108, 117, 125, 1)</td><td>CMYK(14, 7, 0, 51)</td></tr><tr><td>#495057</td><td>HSL(210, 10, 31)</td><td>HSV(210, 21, 33)</td><td>RGB(73, 80, 87)</td><td>RGBA(73, 80, 87, 1)</td><td>CMYK(16, 8, 0, 66)</td></tr><tr><td>#343a40</td><td>HSL(210, 10, 24)</td><td>HSV(210, 21, 25)</td><td>RGB(52, 58, 64)</td><td>RGBA(52, 58, 64, 1)</td><td>CMYK(19, 9, 0, 75)</td></tr><tr><td>#212529</td><td>HSL(210, 10, 14)</td><td>HSV(210, 24, 15)</td><td>RGB(33, 37, 41)</td><td>RGBA(33, 37, 41, 1)</td><td>CMYK(19, 9, 0, 84)</td></tr></tbody></table>
                        </div>
                </div>
        </div>
</section>