<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Box <span class="text-primary">Shadows</span></h1>
                                <p>Beautiully crafted box shadows</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <h3 class="text-center mb-4">86 Different Box Shadows by Popular Brands</h3>  
                <p class="text-center mb-4">Click to copy the box shadows</p>

                <div class="container">
                        <div class="shadow-container">
                                <div class="shadow bx-shadow-1" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Css Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-2" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Css Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-3" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Css Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-4" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Css Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-5" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Css Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-6" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Material Design]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-7" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Material Design]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-8" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Material Design]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-9" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Material Design]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-10" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Material Design]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-11" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Material Design]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-12" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-13" onclick="copyBoxShadow(this)">
                                <p id="credit" class="small">[CSS Scan]</p>
                                <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-14" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Bootstrap]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-15" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Bootstrap]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-16" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Bootstrap]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-17" onclick="copyBoxShadow(this)">
                                <p id="credit" class="small">[CSS Scan]</p>
                                <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-18" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-19" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-20" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-21" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-22" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-23" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-24" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-25" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-26" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-27" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-28" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-29" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-30" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-31" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-32" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[CSS Scan]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-33" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Sketch]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-34" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Sketch]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-35" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Sketch]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-36" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-37" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-38" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-39" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-40" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-41" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-42" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-43" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Stripe]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-44" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-45" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-46" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-47" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-48" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-49" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-50" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-51" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tailwind CSS]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-52" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Airbnb]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-53" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Airbnb]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-54" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Airbnb]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-55" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Airbnb]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-56" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Trello]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-57" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Trello]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-58" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[boxshadows.com]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-59" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[boxshadows.com]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-60" onclick="copyBoxShadow(this)">
                                <p id="credit" class="small">[box-shadows.co]</p>
                                <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-61" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-62" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-63" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-64" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-65" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-66" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-67" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[box-shadows.co]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-68" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[3drops]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-69" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Shopify]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-70" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Shopify]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-71" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Facebook]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-72" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Github]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-73" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Github]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-74" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Apple - Mac]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-75" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Apple - Mac]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-76" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Apple - Mac]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-77" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Typedream]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-78" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[pqina.nl/doka]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-79" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[ls.graphics]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-80" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[ls.graphics]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-81" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Lonely Planet]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-82" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Lonely Planet]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-83" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tobias Ahlin]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-84" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[Tobias Ahlin]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-85" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[10er.app]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                                <div class="shadow bx-shadow-86" onclick="copyBoxShadow(this)">
                                        <p id="credit" class="small">[wip.chat]</p>
                                        <p id="copy-message" class="small"></p>
                                </div>
                        </div>
                </div>
        </div>
</section>