<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Bulma CSS <span class="text-primary">Colors</span></h1>
                                <p>Bluma CSS Color System in HSL, HSV, RGB, RGBA, CMYK, HEX</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <p class="text-center"><b>Notice</b> - Note that the values of color codes in different formats are derived with the help of GPT-3.5 and may vary slightly depending on the specific color space conversion algorithm used.</p>
                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Flat Colors</h5>
                        <div class="shades mb-4">
                                <div class="p-3 b-100">#ffffff</div>
                                <div class="p-3 b-200">#0a0a0a</div>
                                <div class="p-3 b-300">#f5f5f5</div>
                                <div class="p-3 b-400">#363636</div>
                                <div class="p-3 b-500">#00d1b2</div>
                                <div class="p-3 b-600">#3273dc</div>
                                <div class="p-3 b-700">#209cee</div>
                                <div class="p-3 b-800">#23d160</div>
                                <div class="p-3 b-900">#ffdd57</div>
                                <div class="p-3 b-1000">#ff3860</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Flat Colors</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ffffff</td><td>HSL(0, 0%, 100%)</td><td>HSV(0, 0%, 100%)</td><td>RGB(255, 255, 255)</td><td>RGBA(255, 255, 255, 1)</td><td>CMYK(0%, 0%, 0%, 0%)</td></tr><tr><td>#0a0a0a</td><td>HSL(0, 0%, 4%)</td><td>HSV(0, 0%, 4%)</td><td>RGB(10, 10, 10)</td><td>RGBA(10, 10, 10, 1)</td><td>CMYK(0%, 0%, 0%, 96%)</td></tr><tr><td>#f5f5f5</td><td>HSL(0, 0%, 96%)</td><td>HSV(0, 0%, 96%)</td><td>RGB(245, 245, 245)</td><td>RGBA(245, 245, 245, 1)</td><td>CMYK(0%, 0%, 0%, 4%)</td></tr><tr><td>#363636</td><td>HSL(0, 0%, 21%)</td><td>HSV(0, 0%, 21%)</td><td>RGB(54, 54, 54)</td><td>RGBA(54, 54, 54, 1)</td><td>CMYK(0%, 0%, 0%, 79%)</td></tr><tr><td>#00d1b2</td><td>HSL(174, 100%, 43%)</td><td>HSV(174, 100%, 82%)</td><td>RGB(0, 209, 178)</td><td>RGBA(0, 209, 178, 1)</td><td>CMYK(100%, 0%, 15%, 18%)</td></tr><tr><td>#3273dc</td><td>HSL(212, 83%, 54%)</td><td>HSV(212, 75%, 86%)</td><td>RGB(50, 115, 220)</td><td>RGBA(50, 115, 220, 1)</td><td>CMYK(77%, 48%, 0%, 14%)</td></tr><tr><td>#209cee</td><td>HSL(204, 89%, 50%)</td><td>HSV(204, 83%, 80%)</td><td>RGB(32, 156, 238)</td><td>RGBA(32, 156, 238, 1)</td><td>CMYK(87%, 34%, 0%, 7%)</td></tr><tr><td>#23d160</td><td>HSL(135, 66%, 47%)</td><td>HSV(135, 85%, 82%)</td><td>RGB(35, 209, 96)</td><td>RGBA(35, 209, 96, 1)</td><td>CMYK(83%, 0%, 54%, 18%)</td></tr><tr><td>#ffdd57</td><td>HSL(49, 100%, 61%)</td><td>HSV(49, 100%, 100%)</td><td>RGB(255, 221, 87)</td><td>RGBA(255, 221, 87, 1)</td><td>CMYK(0%, 13%, 66%, 0%)</td></tr><tr><td>#ff3860</td><td>HSL(342, 100%, 62%)</td><td>HSV(342, 76%, 100%)</td><td>RGB(255, 56, 96)</td><td>RGBA(255, 56, 96, 1)</td><td>CMYK(0%, 78%, 62%, 0%)</td></tr></tbody></table>  
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Subtle Colors</h5>
                        <div class="shades mb-4">
                                <div class="p-3 sb-100">#ebfffc</div>
                                <div class="p-3 sb-200">#eef3fc</div>
                                <div class="p-3 sb-300">#eef6fc</div>
                                <div class="p-3 sb-400">#effaf3</div>
                                <div class="p-3 sb-500">#fffbeb</div>
                                <div class="p-3 sb-600">#feecf0</div>
                                <div class="p-3 sb-700">#00947e</div>
                                <div class="p-3 sb-800">#2160c4</div>
                                <div class="p-3 sb-900">#1d72aa</div>
                                <div class="p-3 sb-1000">#257942</div>
                                <div class="p-3 sb-1100">#947600</div>
                                <div class="p-3 sb-1200">#cc0f35</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Subtle Colors</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ebfffc</td><td>HSL(175, 100%, 96%)</td><td>HSV(175, 4%, 100%)</td><td>RGB(235, 255, 252)</td><td>RGBA(235, 255, 252, 1)</td><td>CMYK(8%, 0%, 1%, 0%)</td></tr><tr><td>#eef3fc</td><td>HSL(220, 76%, 95%)</td><td>HSV(220, 13%, 99%)</td><td>RGB(238, 243, 252)</td><td>RGBA(238, 243, 252, 1)</td><td>CMYK(5%, 4%, 0%, 1%)</td></tr><tr><td>#eef6fc</td><td>HSL(210, 80%, 95%)</td><td>HSV(210, 13%, 99%)</td><td>RGB(238, 246, 252)</td><td>RGBA(238, 246, 252, 1)</td><td>CMYK(5%, 2%, 0%, 1%)</td></tr><tr><td>#effaf3</td><td>HSL(153, 70%, 95%)</td><td>HSV(153, 18%, 98%)</td><td>RGB(239, 250, 243)</td><td>RGBA(239, 250, 243, 1)</td><td>CMYK(4%, 0%, 3%, 2%)</td></tr><tr><td>#fffbeb</td><td>HSL(60, 100%, 97%)</td><td>HSV(60, 4%, 100%)</td><td>RGB(255, 251, 235)</td><td>RGBA(255, 251, 235, 1)</td><td>CMYK(0%, 1%, 8%, 0%)</td></tr><tr><td>#feecf0</td><td>HSL(345, 86%, 94%)</td><td>HSV(345, 16%, 99%)</td><td>RGB(254, 236, 240)</td><td>RGBA(254, 236, 240, 1)</td><td>CMYK(0%, 7%, 6%, 0%)</td></tr><tr><td>#00947e</td><td>HSL(170, 100%, 29%)</td><td>HSV(170, 100%, 58%)</td><td>RGB(0, 148, 126)</td><td>RGBA(0, 148, 126, 1)</td><td>CMYK(100%, 0%, 15%, 42%)</td></tr><tr><td>#2160c4</td><td>HSL(217, 68%, 42%)</td><td>HSV(217, 81%, 76%)</td><td>RGB(33, 96, 196)</td><td>RGBA(33, 96, 196, 1)</td><td>CMYK(83%, 51%, 0%, 23%)</td></tr><tr><td>#1d72aa</td><td>HSL(198, 67%, 41%)</td><td>HSV(198, 82%, 66%)</td><td>RGB(29, 114, 170)</td><td>RGBA(29, 114, 170, 1)</td><td>CMYK(83%, 33%, 0%, 33%)</td></tr><tr><td>#257942</td><td>HSL(141, 59%, 35%)</td><td>HSV(141, 83%, 47%)</td><td>RGB(37, 121, 66)</td><td>RGBA(37, 121, 66, 1)</td><td>CMYK(69%, 0%, 45%, 53%)</td></tr><tr><td>#947600</td><td>HSL(46, 100%, 29%)</td><td>HSV(46, 100%, 58%)</td><td>RGB(148, 118, 0)</td><td>RGBA(148, 118, 0, 1)</td><td>CMYK(0%, 20%, 100%, 42%)</td></tr><tr><td>#cc0f35</td><td>HSL(343, 93%, 40%)</td><td>HSV(343, 97%, 80%)</td><td>RGB(204, 15, 53)</td><td>RGBA(204, 15, 53, 1)</td><td>CMYK(0%, 93%, 74%, 20%)</td></tr></tbody></table>
                        </div>
                </div>
        </div>
</section>