<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Gradient <span class="text-primary">Colors</span></h1>
                                <p>Beautifully hand-crafted gradients</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <h3 class="text-center mb-4">Gradients based on Popular Brands</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                <div class="gradient bg-gradient-1" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Twitch</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-2" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Netflix</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-3" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Flickr</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-4" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Instagram</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-5" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Telegram</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-6" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Vine</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-7" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Facebook Messenger</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-8" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Stripe</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-9" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Soundcloud</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-10" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">YouTube</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-109" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Mastercard</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-110" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Joomla</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-111" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Bootstrap</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-112" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">WhatsApp</p>
                                        <p id="gradient-message"></p>
                                </div>
                        </div>
                </div>

                <h3 class="text-center mb-4 mt-4">Shades of Green Gradient</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                <div class="gradient bg-gradient-11" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Emerald</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-12" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Teal</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-13" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Grass</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-14" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Moss</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-15" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Lemon</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-16" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Green Glass</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-17" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Geen Polish</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-18" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Terminal</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-19" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Leaf</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-20" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Earth</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-21" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Forest</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-22" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Medicine</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-23" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Autumn Green</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-24" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Fresh Green</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-25" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Mild</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-26" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Lemonade</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-27" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Python</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-28" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Polish Glass</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-29" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Dim</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-30" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Shine</p>
                                        <p id="gradient-message"></p>
                                </div>
                        </div>
                </div>

                <h3 class="text-center mb-4 mt-4">Shades of Blue Gradient</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                <div class="gradient bg-gradient-31" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Skyline</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-32" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Infinity Sea</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-33" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Skies</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-34" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Ocean</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-35" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Hydrogen</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-36" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Glass Blue</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-37" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Azure</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-38" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Info</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-39" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Scoop</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-40" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Sky</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-41" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Mantle Blue</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-42" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Aqua</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-43" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Inbox</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-44" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Windy</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-45" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Radiation Blue</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-46" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Clean</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-47" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Aqua Marine</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-48" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Grand Blue</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-49" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Venice</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-50" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Patch</p>
                                        <p id="gradient-message"></p>
                                </div>
                        </div>
                </div>

                <h3 class="text-center mb-4 mt-4">Shades of Red Gradient</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                <div class="gradient gradient bg-gradient-51" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Fruity Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-52" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Sin city red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-53" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Bloody Sky</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-54" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Red Ocean</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-55" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Lust</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-56" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Glass Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-57" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Crimson Glass</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-58" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Sunset</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-59" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Minimal Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-60" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Bloody Mary</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-61" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Peach Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-62" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Cherry</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-63" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Dim Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-64" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Virgin Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-65" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Mellow Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-66" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Notion</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-67" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Reddish Purple</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-68" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Glass Peach</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-69" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Blush Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-70" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Fire Red</p>
                                        <p id="gradient-message"></p>
                                </div>
                        </div>
                </div>

                <h3 class="text-center mb-4 mt-4">Shades of Yellow Gradient</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                <div class="gradient bg-gradient-71" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Sun Kiss</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-72" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Yellow Flash</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-73" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Horizon</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-74" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Fruity Mango</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-75" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Yellow Flare</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-76" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Sunrise Yellow</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-77" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Glass Yellow</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-78" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Sunset</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-79" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Lime Yellow</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-80" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Aapoos</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-81" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Aapoos Pulp</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-82" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Caramel Yellow</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-83" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Dim Yellow</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient bg-gradient-84" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Saint Yellow</p>
                                        <p id="gradient-message"></p>
                                </div>
                        </div>
                </div>

                <h3 class="text-center mb-4 mt-4">Shades of Night Gradient</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                <div class="gradient gradient bg-gradient-85" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Dark Night</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-86" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Midnight</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-87" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Deep Space</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-88" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Royal Dark</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-89" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Asterioid Dark</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-90" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Witch</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-91" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Midnight Bliss</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-92" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Night Frost</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-93" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Venice Dark</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-94" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Grey Dark</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-95" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Ash Dark</p>
                                        <p id="gradient-message"></p>
                                </div>
                                <div class="gradient gradient bg-gradient-96" onclick="copyGradientColor(this)">
                                        <p id="credit-gradient">Titanium</p>
                                        <p id="gradient-message"></p>
                                </div>
                        </div>
                </div>

                <h3 class="text-center mb-4 mt-4">Shades of Morning Gradient</h3>  
                <p class="text-center mb-4">Click to copy the colors</p>

                <div class="container">
                        <div class="gradient-container">
                                        <div class="gradient bg-gradient-97" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Vanilla</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-98" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Cream</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-99" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Milkshake</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-100" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Mayo</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-101" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Rainy</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-102" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Morning Glass</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-103" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Rise Bliss</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-104" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Morning Frost</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-105" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Peach Sky</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-106" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Mint Sky</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-107" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Autumn Sky</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                                        <div class="gradient bg-gradient-108" onclick="copyGradientColor(this)">
                                                <p id="credit-gradient" class="text-dark">Morning Shade</p>
                                                <p id="gradient-message" class="text-dark"></p>
                                        </div>
                        </div>
                </div>
        </div>
</section>