<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Material Design <span class="text-primary">Colors</span></h1>
                                <p>Material Design Colors System from Google's Material Design in HSL, HSV, RGB, RGBA, CMYK, HEX</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <p class="text-center"><b>Notice</b> - Note that the values of color codes in different formats are derived with the help of GPT-3.5 and may vary slightly depending on the specific color space conversion algorithm used.</p>
                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Red</h5>
                        <div class="shades mb-4">
                                <div class="p-3 red-lighten-5">#ffebee</div>
                                <div class="p-3 red-lighten-4">#ffcdd2</div>
                                <div class="p-3 red-lighten-3">#ef9a9a</div>
                                <div class="p-3 red-lighten-2">#e57373</div>
                                <div class="p-3 red-lighten-1">#ef5350</div>
                                <div class="p-3 red-lighten-0">#f44336</div>
                                <div class="p-3 red-darken-1">#e53935</div>
                                <div class="p-3 red-darken-2">#d32f2f</div>
                                <div class="p-3 red-darken-3">#c62828</div>
                                <div class="p-3 red-darken-4">#b71c1c</div>
                                <div class="p-3 red-accent-1">#ff8a80</div>
                                <div class="p-3 red-accent-2">#ff5252</div>
                                <div class="p-3 red-accent-3">#ff1744</div>
                                <div class="p-3 red-accent-4">#d50000</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Red</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ffebee</td><td>HSL(0, 100, 99)</td><td>HSV(0, 0, 100)</td><td>RGB(255, 235, 238)</td><td>RGBA(255, 235, 238, 1)</td><td>CMYK(0, 8, 7, 0)</td></tr><tr><td>#ffcdd2</td><td>HSL(6, 100, 88)</td><td>HSV(6, 24, 100)</td><td>RGB(255, 205, 210)</td><td>RGBA(255, 205, 210, 1)</td><td>CMYK(0, 20, 18, 0)</td></tr><tr><td>#ef9a9a</td><td>HSL(0, 70, 75)</td><td>HSV(0, 38, 93)</td><td>RGB(239, 154, 154)</td><td>RGBA(239, 154, 154, 1)</td><td>CMYK(0, 36, 36, 6)</td></tr><tr><td>#e57373</td><td>HSL(0, 60, 67)</td><td>HSV(0, 35, 90)</td><td>RGB(229, 115, 115)</td><td>RGBA(229, 115, 115, 1)</td><td>CMYK(0, 50, 50, 10)</td></tr><tr><td>#ef5350</td><td>HSL(2, 81, 61)</td><td>HSV(2, 78, 94)</td><td>RGB(239, 83, 80)</td><td>RGBA(239, 83, 80, 1)</td><td>CMYK(0, 65, 66, 6)</td></tr><tr><td>#f44336</td><td>HSL(3, 83, 57)</td><td>HSV(3, 77, 96)</td><td>RGB(244, 67, 54)</td><td>RGBA(244, 67, 54, 1)</td><td>CMYK(0, 72, 78, 4)</td></tr><tr><td>#e53935</td><td>HSL(1, 73, 55)</td><td>HSV(1, 77, 89)</td><td>RGB(229, 57, 53)</td><td>RGBA(229, 57, 53, 1)</td><td>CMYK(0, 75, 77, 10)</td></tr><tr><td>#d32f2f</td><td>HSL(0, 68, 50)</td><td>HSV(0, 79, 82)</td><td>RGB(211, 47, 47)</td><td>RGBA(211, 47, 47, 1)</td><td>CMYK(0, 78, 78, 17)</td></tr><tr><td>#c62828</td><td>HSL(0, 67, 46)</td><td>HSV(0, 78, 77)</td><td>RGB(198, 40, 40)</td><td>RGBA(198, 40, 40, 1)</td><td>CMYK(0, 80, 80, 22)</td></tr><tr><td>#b71c1c</td><td>HSL(0, 68, 43)</td><td>HSV(0, 85, 72)</td><td>RGB(183, 28, 28)</td><td>RGBA(183, 28, 28, 1)</td><td>CMYK(0, 85, 85, 28)</td></tr><tr><td>#ff8a80</td><td>HSL(6, 100, 85)</td><td>HSV(6, 50, 100)</td><td>RGB(255, 138, 128)</td><td>RGBA(255, 138, 128, 1)</td><td>CMYK(0, 46, 50, 0)</td></tr><tr><td>#ff5252</td><td>HSL(0, 100, 67)</td><td>HSV(0, 61, 100)</td><td>RGB(255, 82, 82)</td><td>RGBA(255, 82, 82, 1)</td><td>CMYK(0, 68, 68, 0)</td></tr><tr><td>#ff1744</td><td>HSL(344, 100, 58)</td><td>HSV(344, 100, 100)</td><td>RGB(255, 23, 68)</td><td>RGBA(255, 23, 68, 1)</td><td>CMYK(0, 91, 73, 0)</td></tr><tr><td>#d50000</td><td>HSL(0, 100, 42)</td><td>HSV(0, 100, 83)</td><td>RGB(213, 0, 0)</td><td>RGBA(213, 0, 0, 1)</td><td>CMYK(0, 100, 100, 17)</td></tr></tbody></table>  
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Pink</h5>
                        <div class="shades mb-4">
                                <div class="p-3 pink-lighten-5">#fce4ec</div>
                                <div class="p-3 pink-lighten-4">#f8bbd0</div>
                                <div class="p-3 pink-lighten-3">#f48fb1</div>
                                <div class="p-3 pink-lighten-2">#f06292</div>
                                <div class="p-3 pink-lighten-1">#ec407a</div>
                                <div class="p-3 pink-lighten-0">#e91e63</div>
                                <div class="p-3 pink-darken-1">#d81b60</div>
                                <div class="p-3 pink-darken-2">#c2185b</div>
                                <div class="p-3 pink-darken-3">#ad1457</div>
                                <div class="p-3 pink-darken-4">#880e4f</div>
                                <div class="p-3 pink-accent-1">#ff80ab</div>
                                <div class="p-3 pink-accent-2">#ff4081</div>
                                <div class="p-3 pink-accent-3">#f50057</div>
                                <div class="p-3 pink-accent-4">#c51162</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Pink</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fce4ec</td><td>HSL(340, 86, 95)</td><td>HSV(340, 11, 99)</td><td>RGB(252, 228, 236)</td><td>RGBA(252, 228, 236, 1)</td><td>CMYK(0, 10, 6, 1)</td></tr><tr><td>#f8bbd0</td><td>HSL(330, 60, 85)</td><td>HSV(330, 30, 97)</td><td>RGB(248, 187, 208)</td><td>RGBA(248, 187, 208, 1)</td><td>CMYK(0, 25, 16, 3)</td></tr><tr><td>#f48fb1</td><td>HSL(332, 73, 72)</td><td>HSV(332, 42, 96)</td><td>RGB(244, 143, 177)</td><td>RGBA(244, 143, 177, 1)</td><td>CMYK(0, 41, 28, 4)</td></tr><tr><td>#f0629</td><td>HSL(340, 99, 29)</td><td>HSV(340, 86, 94)</td><td>RGB(240, 102, 153)</td><td>RGBA(240, 102, 153, 1)</td><td>CMYK(0, 57, 36, 6)</td></tr><tr><td>#ec407a</td><td>HSL(337, 67, 61)</td><td>HSV(337, 62, 93)</td><td>RGB(236, 64, 122)</td><td>RGBA(236, 64, 122, 1)</td><td>CMYK(0, 73, 48, 7)</td></tr><tr><td>#e91e63</td><td>HSL(340, 82, 52)</td><td>HSV(340, 86, 91)</td><td>RGB(233, 30, 99)</td><td>RGBA(233, 30, 99, 1)</td><td>CMYK(0, 87, 58, 9)</td></tr><tr><td>#d81b60</td><td>HSL(340, 76, 49)</td><td>HSV(340, 88, 85)</td><td>RGB(216, 27, 96)</td><td>RGBA(216, 27, 96, 1)</td><td>CMYK(0, 88, 56, 15)</td></tr><tr><td>#c2185b</td><td>HSL(340, 60, 46)</td><td>HSV(340, 80, 76)</td><td>RGB(194, 24, 91)</td><td>RGBA(194, 24, 91, 1)</td><td>CMYK(0, 88, 53, 24)</td></tr><tr><td>#ad1457</td><td>HSL(337, 67, 42)</td><td>HSV(337, 84, 68)</td><td>RGB(173, 20, 87)</td><td>RGBA(173, 20, 87, 1)</td><td>CMYK(0, 88, 50, 32)</td></tr><tr><td>#880e4f</td><td>HSL(336, 83, 34)</td><td>HSV(336, 92, 53)</td><td>RGB(136, 14, 79)</td><td>RGBA(136, 14, 79, 1)</td><td>CMYK(0, 90, 42, 47)</td></tr><tr><td>#ff80ab</td><td>HSL(337, 100, 74)</td><td>HSV(337, 50, 100)</td><td>RGB(255, 128, 171)</td><td>RGBA(255, 128, 171, 1)</td><td>CMYK(0, 50, 33, 0)</td></tr><tr><td>#ff4081</td><td>HSL(337, 100, 60)</td><td>HSV(337, 67, 100)</td><td>RGB(255, 64, 129)</td><td>RGBA(255, 64, 129, 1)</td><td>CMYK(0, 75, 49, 0)</td></tr><tr><td>#f50057</td><td>HSL(337, 100, 54)</td><td>HSV(337, 83, 96)</td><td>RGB(245, 0, 87)</td><td>RGBA(245, 0, 87, 1)</td><td>CMYK(0, 100, 64, 4)</td></tr><tr><td>#c51162</td><td>HSL(337, 82, 42)</td><td>HSV(337, 92, 77)</td><td>RGB(197, 17, 98)</td><td>RGBA(197, 17, 98, 1)</td><td>CMYK(0, 91, 50, 23)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Purple</h5>
                        <div class="shades mb-4">
                                <div class="p-3 purple-lighten-5">#f3e5f5</div>
                                <div class="p-3 purple-lighten-4">#e1bee7</div>
                                <div class="p-3 purple-lighten-3">#ce93d8</div>
                                <div class="p-3 purple-lighten-2">#ba68c8</div>
                                <div class="p-3 purple-lighten-1">#ab47bc</div>
                                <div class="p-3 purple-lighten-0">#9c27b0</div>
                                <div class="p-3 purple-darken-1">#8e24aa</div>
                                <div class="p-3 purple-darken-2">#7b1fa2</div>
                                <div class="p-3 purple-darken-3">#6a1b9a</div>
                                <div class="p-3 purple-darken-4">#4a148c</div>
                                <div class="p-3 purple-accent-1">#ea80fc</div>
                                <div class="p-3 purple-accent-2">#e040fb</div>
                                <div class="p-3 purple-accent-3">#d500f9</div>
                                <div class="p-3 purple-accent-4">#aa00ff</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Purple</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f3e5f5</td><td>HSL(283, 55, 94)</td><td>HSV(283, 18, 95)</td><td>RGB(243, 229, 245)</td><td>RGBA(243, 229, 245, 1)</td><td>CMYK(1, 7, 0, 4)</td></tr><tr><td>#e1bee7</td><td>HSL(283, 46, 80)</td><td>HSV(283, 28, 89)</td><td>RGB(225, 190, 231)</td><td>RGBA(225, 190, 231, 1)</td><td>CMYK(2, 18, 0, 9)</td></tr><tr><td>#ce93d8</td><td>HSL(283, 46, 70)</td><td>HSV(283, 36, 85)</td><td>RGB(206, 147, 216)</td><td>RGBA(206, 147, 216, 1)</td><td>CMYK(5, 32, 0, 15)</td></tr><tr><td>#ba68c8</td><td>HSL(283, 45, 60)</td><td>HSV(283, 45, 78)</td><td>RGB(186, 104, 200)</td><td>RGBA(186, 104, 200, 1)</td><td>CMYK(7, 48, 0, 22)</td></tr><tr><td>#ab47bc</td><td>HSL(283, 45, 55)</td><td>HSV(283, 54, 73)</td><td>RGB(171, 71, 188)</td><td>RGBA(171, 71, 188, 1)</td><td>CMYK(9, 62, 0, 26)</td></tr><tr><td>#9c27b0</td><td>HSL(298, 64, 47)</td><td>HSV(298, 77, 61)</td><td>RGB(156, 39, 176)</td><td>RGBA(156, 39, 176, 1)</td><td>CMYK(11, 78, 0, 31)</td></tr><tr><td>#8e24aa</td><td>HSL(298, 62, 44)</td><td>HSV(298, 80, 66)</td><td>RGB(142, 36, 170)</td><td>RGBA(142, 36, 170, 1)</td><td>CMYK(16, 79, 0, 33)</td></tr><tr><td>#7b1fa2</td><td>HSL(298, 65, 40)</td><td>HSV(298, 83, 63)</td><td>RGB(123, 31, 162)</td><td>RGBA(123, 31, 162, 1)</td><td>CMYK(24, 81, 0, 36)</td></tr><tr><td>#6a1b9a</td><td>HSL(297, 66, 37)</td><td>HSV(297, 87, 60)</td><td>RGB(106, 27, 154)</td><td>RGBA(106, 27, 154, 1)</td><td>CMYK(31, 82, 0, 40)</td></tr><tr><td>#4a148c</td><td>HSL(275, 76, 31)</td><td>HSV(275, 84, 55)</td><td>RGB(74, 20, 140)</td><td>RGBA(74, 20, 140, 1)</td><td>CMYK(47, 86, 0, 45)</td></tr><tr><td>#ea80fc</td><td>HSL(297, 87, 70)</td><td>HSV(297, 50, 99)</td><td>RGB(234, 128, 252)</td><td>RGBA(234, 128, 252, 1)</td><td>CMYK(7, 49, 0, 1)</td></tr><tr><td>#e040fb</td><td>HSL(289, 88, 70)</td><td>HSV(289, 84, 98)</td><td>RGB(224, 64, 251)</td><td>RGBA(224, 64, 251, 1)</td><td>CMYK(11, 74, 0, 1)</td></tr><tr><td>#d500f9</td><td>HSL(288, 100, 60)</td><td>HSV(288, 97, 97)</td><td>RGB(213, 0, 249)</td><td>RGBA(213, 0, 249, 1)</td><td>CMYK(15, 100, 0, 2)</td></tr><tr><td>#aa00ff</td><td>HSL(270, 100, 50)</td><td>HSV(270, 100, 100)</td><td>RGB(170, 0, 255)</td><td>RGBA(170, 0, 255, 1)</td><td>CMYK(33, 100, 0, 0)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Deep Purple</h5>
                        <div class="shades mb-4">
                                <div class="p-3 deep-purple-lighten-5">#ede7f6</div>
                                <div class="p-3 deep-purple-lighten-4">#d1c4e9</div>
                                <div class="p-3 deep-purple-lighten-3">#b39ddb</div>
                                <div class="p-3 deep-purple-lighten-2">#9575cd</div>
                                <div class="p-3 deep-purple-lighten-1">#7e57c2</div>
                                <div class="p-3 deep-purple-lighten-0">#673ab7</div>
                                <div class="p-3 deep-purple-darken-1">#5e35b1</div>
                                <div class="p-3 deep-purple-darken-2">#512da8</div>
                                <div class="p-3 deep-purple-darken-3">#4527a0</div>
                                <div class="p-3 deep-purple-darken-4">#311b92</div>
                                <div class="p-3 deep-purple-accent-1">#b388ff</div>
                                <div class="p-3 deep-purple-accent-2">#7c4dff</div>
                                <div class="p-3 deep-purple-accent-3">#651fff</div>
                                <div class="p-3 deep-purple-accent-4">#6200ea</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Deep Purple</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ede7f6</td><td>HSL(257, 52, 92)</td><td>HSV(257, 15, 96)</td><td>RGB(237, 231, 246)</td><td>RGBA(237, 231, 246, 1)</td><td>CMYK(4, 6, 0, 4)</td></tr><tr><td>#d1c4e9</td><td>HSL(257, 49, 84)</td><td>HSV(257, 20, 91)</td><td>RGB(209, 196, 233)</td><td>RGBA(209, 196, 233, 1)</td><td>CMYK(10, 16, 0, 9)</td></tr><tr><td>#b39ddb</td><td>HSL(257, 48, 70)</td><td>HSV(257, 32, 86)</td><td>RGB(179, 157, 219)</td><td>RGBA(179, 157, 219, 1)</td><td>CMYK(18, 28, 0, 14)</td></tr><tr><td>#9575cd</td><td>HSL(257, 52, 67)</td><td>HSV(257, 35, 80)</td><td>RGB(149, 117, 205)</td><td>RGBA(149, 117, 205, 1)</td><td>CMYK(27, 43, 0, 20)</td></tr><tr><td>#7e57c2</td><td>HSL(257, 54, 59)</td><td>HSV(257, 46, 76)</td><td>RGB(126, 87, 194)</td><td>RGBA(126, 87, 194, 1)</td><td>CMYK(35, 55, 0, 24)</td></tr><tr><td>#673ab7</td><td>HSL(257, 57, 51)</td><td>HSV(257, 63, 72)</td><td>RGB(103, 58, 183)</td><td>RGBA(103, 58, 183, 1)</td><td>CMYK(44, 68, 0, 28)</td></tr><tr><td>#5e35b1</td><td>HSL(257, 59, 48)</td><td>HSV(257, 67, 69)</td><td>RGB(94, 53, 177)</td><td>RGBA(94, 53, 177, 1)</td><td>CMYK(47, 70, 0, 31)</td></tr><tr><td>#512da8</td><td>HSL(257, 63, 44)</td><td>HSV(257, 75, 65)</td><td>RGB(81, 45, 168)</td><td>RGBA(81, 45, 168, 1)</td><td>CMYK(52, 73, 0, 34)</td></tr><tr><td>#4527a0</td><td>HSL(257, 66, 40)</td><td>HSV(257, 78, 63)</td><td>RGB(69, 39, 160)</td><td>RGBA(69, 39, 160, 1)</td><td>CMYK(57, 76, 0, 37)</td></tr><tr><td>#311b92</td><td>HSL(257, 68, 32)</td><td>HSV(257, 83, 57)</td><td>RGB(49, 27, 146)</td><td>RGBA(49, 27, 146, 1)</td><td>CMYK(66, 82, 0, 43)</td></tr><tr><td>#ea80fc</td><td>HSL(264, 100, 75)</td><td>HSV(264, 35, 100)</td><td>RGB(179, 136, 255)</td><td>RGBA(179, 136, 255, 1)</td><td>CMYK(30, 47, 0, 0)</td></tr><tr><td>#7c4dff</td><td>HSL(259, 100, 65)</td><td>HSV(259, 68, 100)</td><td>RGB(124, 77, 255)</td><td>RGBA(124, 77, 255, 1)</td><td>CMYK(51, 70, 0, 0)</td></tr><tr><td>#651fff</td><td>HSL(258, 100, 65)</td><td>HSV(258, 74, 100)</td><td>RGB(101, 31, 255)</td><td>RGBA(101, 31, 255, 1)</td><td>CMYK(60, 88, 0, 0)</td></tr><tr><td>#6200ea</td><td>HSL(258, 100, 53)</td><td>HSV(258, 100, 92)</td><td>RGB(98, 0, 234)</td><td>RGBA(98, 0, 234, 1)</td><td>CMYK(58, 100, 0, 8)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Indigo</h5>
                        <div class="shades mb-4">
                                <div class="p-3 indigo-lighten-5">#e8eaf6</div>
                                <div class="p-3 indigo-lighten-4">#c5cae9</div>
                                <div class="p-3 indigo-lighten-3">#9fa8da</div>
                                <div class="p-3 indigo-lighten-2">#7986cb</div>
                                <div class="p-3 indigo-lighten-1">#5c6bc0</div>
                                <div class="p-3 indigo-lighten-0">#3f51b5</div>
                                <div class="p-3 indigo-darken-1">#3949ab</div>
                                <div class="p-3 indigo-darken-2">#303f9f</div>
                                <div class="p-3 indigo-darken-3">#283593</div>
                                <div class="p-3 indigo-darken-4">#1a237e</div>
                                <div class="p-3 indigo-accent-1">#8c9eff</div>
                                <div class="p-3 indigo-accent-2">#536dfe</div>
                                <div class="p-3 indigo-accent-3">#3d5afe</div>
                                <div class="p-3 indigo-accent-4">#304ffe</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Shades of Material Indigo</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#e8eaf6</td><td>HSL(235, 40, 92)</td><td>HSV(235, 17, 96)</td><td>RGB(232, 234, 246)</td><td>RGBA(232, 234, 246, 1)</td><td>CMYK(6, 5, 0, 4)</td></tr><tr><td>#c5cae9</td><td>HSL(231, 40, 82)</td><td>HSV(231, 20, 91)</td><td>RGB(197, 202, 233)</td><td>RGBA(197, 202, 233, 1)</td><td>CMYK(15, 13, 0, 9)</td></tr><tr><td>#9fa8da</td><td>HSL(228, 44, 75)</td><td>HSV(228, 34, 85)</td><td>RGB(159, 168, 218)</td><td>RGBA(159, 168, 218, 1)</td><td>CMYK(27, 23, 0, 15)</td></tr><tr><td>#7986cb</td><td>HSL(234, 49, 65)</td><td>HSV(234, 38, 80)</td><td>RGB(121, 134, 203)</td><td>RGBA(121, 134, 203, 1)</td><td>CMYK(40, 34, 0, 20)</td></tr><tr><td>#5c6bc0</td><td>HSL(234, 51, 59)</td><td>HSV(234, 54, 75)</td><td>RGB(92, 107, 192)</td><td>RGBA(92, 107, 192, 1)</td><td>CMYK(52, 44, 0, 25)</td></tr><tr><td>#3f51b5</td><td>HSL(233, 50, 57)</td><td>HSV(233, 68, 71)</td><td>RGB(63, 81, 181)</td><td>RGBA(63, 81, 181, 1)</td><td>CMYK(65, 55, 0, 29)</td></tr><tr><td>#3949ab</td><td>HSL(235, 48, 49)</td><td>HSV(235, 64, 67)</td><td>RGB(57, 73, 171)</td><td>RGBA(57, 73, 171, 1)</td><td>CMYK(67, 57, 0, 33)</td></tr><tr><td>#303f9f</td><td>HSL(234, 52, 45)</td><td>HSV(234, 82, 62)</td><td>RGB(48, 63, 159)</td><td>RGBA(48, 63, 159, 1)</td><td>CMYK(70, 60, 0, 38)</td></tr><tr><td>#283593</td><td>HSL(234, 60, 40)</td><td>HSV(234, 82, 58)</td><td>RGB(40, 53, 147)</td><td>RGBA(40, 53, 147, 1)</td><td>CMYK(73, 64, 0, 42)</td></tr><tr><td>#1a237e</td><td>HSL(235, 67, 33)</td><td>HSV(235, 78, 49)</td><td>RGB(26, 35, 126)</td><td>RGBA(26, 35, 126, 1)</td><td>CMYK(79, 72, 0, 51)</td></tr><tr><td>#8c9eff</td><td>HSL(226, 92, 73)</td><td>HSV(226, 50, 100)</td><td>RGB(140, 158, 255)</td><td>RGBA(140, 158, 255, 1)</td><td>CMYK(45, 38, 0, 0)</td></tr><tr><td>#536dfe</td><td>HSL(225, 100, 67)</td><td>HSV(225, 79, 100)</td><td>RGB(83, 109, 254)</td><td>RGBA(83, 109, 254, 1)</td><td>CMYK(67, 57, 0, 0)</td></tr><tr><td>#3d5afe</td><td>HSL(225, 100, 60)</td><td>HSV(225, 85, 100)</td><td>RGB(61, 90, 254)</td><td>RGBA(61, 90, 254, 1)</td><td>CMYK(76, 64, 0, 0)</td></tr><tr><td>#304ffe</td><td>HSL(225, 100, 56)</td><td>HSV(225, 87, 100)</td><td>RGB(48, 79, 254)</td><td>RGBA(48, 79, 254, 1)</td><td>CMYK(81, 69, 0, 0)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Blue</h5>
                        <div class="shades mb-4">
                                <div class="p-3 blue-lighten-5">#e3f2fd</div>
                                <div class="p-3 blue-lighten-4">#bbdefb</div>
                                <div class="p-3 blue-lighten-3">#90caf9</div>
                                <div class="p-3 blue-lighten-2">#64b5f6</div>
                                <div class="p-3 blue-lighten-1">#42a5f5</div>
                                <div class="p-3 blue-lighten-0">#2196f3</div>
                                <div class="p-3 blue-darken-1">#1e88e5</div>
                                <div class="p-3 blue-darken-2">#1976d2</div>
                                <div class="p-3 blue-darken-3">#1565c0</div>
                                <div class="p-3 blue-darken-4">#0d47a1</div>
                                <div class="p-3 blue-accent-1">#82b1ff</div>
                                <div class="p-3 blue-accent-2">#448aff</div>
                                <div class="p-3 blue-accent-3">#2979ff</div>
                                <div class="p-3 blue-accent-4">#2962ff</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Shades of Material Blue</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#e3f2fd</td><td>HSL(207, 86, 94)</td><td>HSV(207, 23, 99)</td><td>RGB(227, 242, 253)</td><td>RGBA(227, 242, 253, 1)</td><td>CMYK(10, 4, 0, 1)</td></tr><tr><td>#bbdefb</td><td>HSL(207, 80, 87)</td><td>HSV(207, 18, 98)</td><td>RGB(187, 222, 251)</td><td>RGBA(187, 222, 251, 1)</td><td>CMYK(25, 11, 0, 2)</td></tr><tr><td>#90caf9</td><td>HSL(207, 72, 74)</td><td>HSV(207, 64, 98)</td><td>RGB(144, 202, 249)</td><td>RGBA(144, 202, 249, 1)</td><td>CMYK(42, 19, 0, 2)</td></tr><tr><td>#64b5f6</td><td>HSL(207, 79, 65)</td><td>HSV(207, 74, 96)</td><td>RGB(100, 181, 246)</td><td>RGBA(100, 181, 246, 1)</td><td>CMYK(59, 26, 0, 4)</td></tr><tr><td>#42a5f5</td><td>HSL(207, 92, 61)</td><td>HSV(207, 83, 96)</td><td>RGB(66, 165, 245)</td><td>RGBA(66, 165, 245, 1)</td><td>CMYK(73, 33, 0, 4)</td></tr><tr><td>#2196f3</td><td>HSL(207, 90, 57)</td><td>HSV(207, 85, 96)</td><td>RGB(33, 150, 243)</td><td>RGBA(33, 150, 243, 1)</td><td>CMYK(86, 38, 0, 5)</td></tr><tr><td>#1e88e5</td><td>HSL(207, 86, 53)</td><td>HSV(207, 85, 90)</td><td>RGB(30, 136, 229)</td><td>RGBA(30, 136, 229, 1)</td><td>CMYK(87, 41, 0, 10)</td></tr><tr><td>#1976d2</td><td>HSL(207, 84, 49)</td><td>HSV(207, 86, 82)</td><td>RGB(25, 118, 210)</td><td>RGBA(25, 118, 210, 1)</td><td>CMYK(88, 44, 0, 18)</td></tr><tr><td>#1565c0</td><td>HSL(207, 82, 45)</td><td>HSV(207, 88, 75)</td><td>RGB(21, 101, 192)</td><td>RGBA(21, 101, 192, 1)</td><td>CMYK(89, 47, 0, 25)</td></tr><tr><td>#0d47a1</td><td>HSL(207, 89, 37)</td><td>HSV(207, 94, 63)</td><td>RGB(13, 71, 161)</td><td>RGBA(13, 71, 161, 1)</td><td>CMYK(92, 56, 0, 37)</td></tr><tr><td>#82b1ff</td><td>HSL(215, 92, 72)</td><td>HSV(215, 48, 100)</td><td>RGB(130, 177, 255)</td><td>RGBA(130, 177, 255, 1)</td><td>CMYK(49, 31, 0, 0)</td></tr><tr><td>#448aff</td><td>HSL(215, 79, 63)</td><td>HSV(215, 83, 100)</td><td>RGB(68, 138, 255)</td><td>RGBA(68, 138, 255, 1)</td><td>CMYK(73, 46, 0, 0)</td></tr><tr><td>#2979ff</td><td>HSL(217, 100, 60)</td><td>HSV(217, 89, 100)</td><td>RGB(41, 121, 255)</td><td>RGBA(41, 121, 255, 1)</td><td>CMYK(84, 53, 0, 0)</td></tr><tr><td>#2962ff</td><td>HSL(218, 100, 58)</td><td>HSV(218, 89, 100)</td><td>RGB(41, 98, 255)</td><td>RGBA(41, 98, 255, 1)</td><td>CMYK(84, 62, 0, 0)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Light Blue</h5>
                        <div class="shades mb-4">
                                <div class="p-3 light-blue-lighten-5">#e1f5fe</div>
                                <div class="p-3 light-blue-lighten-4">#b3e5fc</div>
                                <div class="p-3 light-blue-lighten-3">#81d4fa</div>
                                <div class="p-3 light-blue-lighten-2">#4fc3f7</div>
                                <div class="p-3 light-blue-lighten-1">#29b6f6</div>
                                <div class="p-3 light-blue-lighten-0">#03a9f4</div>
                                <div class="p-3 light-blue-darken-1">#039be5</div>
                                <div class="p-3 light-blue-darken-2">#0288d1</div>
                                <div class="p-3 light-blue-darken-3">#0277bd</div>
                                <div class="p-3 light-blue-darken-4">#01579b</div>
                                <div class="p-3 light-blue-accent-1">#80d8ff</div>
                                <div class="p-3 light-blue-accent-2">#40c4ff</div>
                                <div class="p-3 light-blue-accent-3">#00b0ff</div>
                                <div class="p-3 light-blue-accent-4">#0091ea</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Light Blue</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#e1f5fe</td><td>HSL(186, 76, 92)</td><td>HSV(186, 26, 100)</td><td>RGB(225, 245, 254)</td><td>RGBA(225, 245, 254, 1)</td><td>CMYK(11, 4, 0, 0)</td></tr><tr><td>#b3e5fc</td><td>HSL(196, 79, 87)</td><td>HSV(196, 29, 99)</td><td>RGB(179, 229, 252)</td><td>RGBA(179, 229, 252, 1)</td><td>CMYK(29, 9, 0, 1)</td></tr><tr><td>#81d4fa</td><td>HSL(195, 90, 75)</td><td>HSV(195, 51, 98)</td><td>RGB(129, 212, 250)</td><td>RGBA(129, 212, 250, 1)</td><td>CMYK(49, 15, 0, 2)</td></tr><tr><td>#4fc3f7</td><td>HSL(196, 89, 66)</td><td>HSV(196, 80, 97)</td><td>RGB(79, 195, 247)</td><td>RGBA(79, 195, 247, 1)</td><td>CMYK(68, 21, 0, 3)</td></tr><tr><td>#29b6f6</td><td>HSL(196, 89, 60)</td><td>HSV(196, 89, 96)</td><td>RGB(41, 182, 246)</td><td>RGBA(41, 182, 246, 1)</td><td>CMYK(83, 26, 0, 4)</td></tr><tr><td>#03a9f4</td><td>HSL(196, 98, 50)</td><td>HSV(196, 87, 96)</td><td>RGB(3, 169, 244)</td><td>RGBA(3, 169, 244, 1)</td><td>CMYK(99, 31, 0, 4)</td></tr><tr><td>#039be5</td><td>HSL(204, 98, 47)</td><td>HSV(204, 84, 90)</td><td>RGB(3, 155, 229)</td><td>RGBA(3, 155, 229, 1)</td><td>CMYK(99, 32, 0, 10)</td></tr><tr><td>#0288d1</td><td>HSL(199, 97, 44)</td><td>HSV(199, 86, 82)</td><td>RGB(2, 136, 209)</td><td>RGBA(2, 136, 209, 1)</td><td>CMYK(99, 35, 0, 18)</td></tr><tr><td>#0277bd</td><td>HSL(200, 98, 41)</td><td>HSV(200, 87, 74)</td><td>RGB(2, 119, 189)</td><td>RGBA(2, 119, 189, 1)</td><td>CMYK(99, 37, 0, 26)</td></tr><tr><td>#01579b</td><td>HSL(203, 99, 38)</td><td>HSV(203, 99, 60)</td><td>RGB(1, 87, 155)</td><td>RGBA(1, 87, 155, 1)</td><td>CMYK(99, 44, 0, 39)</td></tr><tr><td>#80d8ff</td><td>HSL(195, 92, 75)</td><td>HSV(195, 50, 100)</td><td>RGB(128, 216, 255)</td><td>RGBA(128, 216, 255, 1)</td><td>CMYK(50, 15, 0, 0)</td></tr><tr><td>#40c4ff</td><td>HSL(200, 91, 68)</td><td>HSV(200, 75, 100)</td><td>RGB(64, 196, 255)</td><td>RGBA(64, 196, 255, 1)</td><td>CMYK(75, 23, 0, 0)</td></tr><tr><td>#00b0ff</td><td>HSL(200, 100, 50)</td><td>HSV(200, 100, 100)</td><td>RGB(0, 176, 255)</td><td>RGBA(0, 176, 255, 1)</td><td>CMYK(100, 31, 0, 0)</td></tr><tr><td>#0091ea</td><td>HSL(202, 100, 50)</td><td>HSV(202, 100, 92)</td><td>RGB(0, 145, 234)</td><td>RGBA(0, 145, 234, 1)</td><td>CMYK(100, 38, 0, 8)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Cyan</h5>
                        <div class="shades mb-4">
                                <div class="p-3 cyan-lighten-5">#e0f7fa</div>
                                <div class="p-3 cyan-lighten-4">#b2ebf2</div>
                                <div class="p-3 cyan-lighten-3">#80deea</div>
                                <div class="p-3 cyan-lighten-2">#4dd0e1</div>
                                <div class="p-3 cyan-lighten-1">#26c6da</div>
                                <div class="p-3 cyan-lighten-0">#00bcd4</div>
                                <div class="p-3 cyan-darken-1">#00acc1</div>
                                <div class="p-3 cyan-darken-2">#0097a7</div>
                                <div class="p-3 cyan-darken-3">#00838f</div>
                                <div class="p-3 cyan-darken-4">#006064</div>
                                <div class="p-3 cyan-accent-1">#84ffff</div>
                                <div class="p-3 cyan-accent-2">#18ffff</div>
                                <div class="p-3 cyan-accent-3">#00e5ff</div>
                                <div class="p-3 cyan-accent-4">#00b8d4</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Cyan</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#e0f7fa</td><td>HSL(180, 71, 94)</td><td>HSV(180, 8, 97)</td><td>RGB(224, 247, 250)</td><td>RGBA(224, 247, 250, 1)</td><td>CMYK(10, 1, 0, 2)</td></tr><tr><td>#b2ebf2</td><td>HSL(182, 64, 86)</td><td>HSV(182, 25, 89)</td><td>RGB(178, 235, 242)</td><td>RGBA(178, 235, 242, 1)</td><td>CMYK(26, 3, 0, 5)</td></tr><tr><td>#80deea</td><td>HSL(184, 64, 72)</td><td>HSV(184, 34, 92)</td><td>RGB(128, 222, 234)</td><td>RGBA(128, 222, 234, 1)</td><td>CMYK(45, 5, 0, 8)</td></tr><tr><td>#4dd0e1</td><td>HSL(185, 66, 64)</td><td>HSV(185, 47, 88)</td><td>RGB(77, 208, 225)</td><td>RGBA(77, 208, 225, 1)</td><td>CMYK(66, 8, 0, 12)</td></tr><tr><td>#26c6da</td><td>HSL(187, 78, 55)</td><td>HSV(187, 88, 85)</td><td>RGB(38, 198, 218)</td><td>RGBA(38, 198, 218, 1)</td><td>CMYK(83, 9, 0, 15)</td></tr><tr><td>#00bcd4</td><td>HSL(187, 100, 41)</td><td>HSV(187, 100, 83)</td><td>RGB(0, 188, 212)</td><td>RGBA(0, 188, 212, 1)</td><td>CMYK(100, 11, 0, 17)</td></tr><tr><td>#00acc1</td><td>HSL(191, 100, 38)</td><td>HSV(191, 100, 76)</td><td>RGB(0, 172, 193)</td><td>RGBA(0, 172, 193, 1)</td><td>CMYK(100, 11, 0, 24)</td></tr><tr><td>#0097a7</td><td>HSL(186, 100, 34)</td><td>HSV(186, 100, 65)</td><td>RGB(0, 151, 167)</td><td>RGBA(0, 151, 167, 1)</td><td>CMYK(100, 10, 0, 35)</td></tr><tr><td>#00838f</td><td>HSL(185, 100, 31)</td><td>HSV(185, 100, 56)</td><td>RGB(0, 131, 143)</td><td>RGBA(0, 131, 143, 1)</td><td>CMYK(100, 9, 0, 44)</td></tr><tr><td>#006064</td><td>HSL(182, 100, 19)</td><td>HSV(182, 100, 38)</td><td>RGB(0, 96, 100)</td><td>RGBA(0, 96, 100, 1)</td><td>CMYK(100, 4, 0, 61)</td></tr><tr><td>#84ffff</td><td>HSL(180, 100, 77)</td><td>HSV(180, 48, 100)</td><td>RGB(132, 255, 255)</td><td>RGBA(132, 255, 255, 1)</td><td>CMYK(48, 0, 0, 0)</td></tr><tr><td>#18ffff</td><td>HSL(180, 100, 55)</td><td>HSV(180, 88, 100)</td><td>RGB(24, 255, 255)</td><td>RGBA(24, 255, 255, 1)</td><td>CMYK(88, 0, 0, 0)</td></tr><tr><td>#00e5ff</td><td>HSL(191, 100, 50)</td><td>HSV(191, 100, 100)</td><td>RGB(0, 229, 255)</td><td>RGBA(0, 229, 255, 1)</td><td>CMYK(100, 10, 0, 0)</td></tr><tr><td>#00b8d4</td><td>HSL(191, 100, 42)</td><td>HSV(191, 100, 83)</td><td>RGB(0, 184, 212)</td><td>RGBA(0, 184, 212, 1)</td><td>CMYK(100, 13, 0, 17)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Teal</h5>
                        <div class="shades mb-4">
                                <div class="p-3 teal-lighten-5">#e0f2f1</div>
                                <div class="p-3 teal-lighten-4">#b2dfdb</div>
                                <div class="p-3 teal-lighten-3">#80cbc4</div>
                                <div class="p-3 teal-lighten-2">#4db6ac</div>
                                <div class="p-3 teal-lighten-1">#26a69a</div>
                                <div class="p-3 teal-lighten-0">#009688</div>
                                <div class="p-3 teal-darken-1">#00897b</div>
                                <div class="p-3 teal-darken-2">#00796b</div>
                                <div class="p-3 teal-darken-3">#00695c</div>
                                <div class="p-3 teal-darken-4">#004d40</div>
                                <div class="p-3 teal-accent-1">#a7ffeb</div>
                                <div class="p-3 teal-accent-2">#64ffda</div>
                                <div class="p-3 teal-accent-3">#1de9b6</div>
                                <div class="p-3 teal-accent-4">#00bfa5</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Teal</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#e0f2f1</td><td>HSL(174, 48, 92)</td><td>HSV(174, 14, 95)</td><td>RGB(224, 242, 241)</td><td>RGBA(224, 242, 241, 1)</td><td>CMYK(7, 0, 1, 5)</td></tr><tr><td>#b2dfdb</td><td>HSL(177, 48, 80)</td><td>HSV(177, 23, 87)</td><td>RGB(178, 223, 219)</td><td>RGBA(178, 223, 219, 1)</td><td>CMYK(20, 0, 2, 13)</td></tr><tr><td>#80cbc4</td><td>HSL(177, 46, 66)</td><td>HSV(177, 35, 80)</td><td>RGB(128, 203, 196)</td><td>RGBA(128, 203, 196, 1)</td><td>CMYK(37, 0, 3, 20)</td></tr><tr><td>#4db6ac</td><td>HSL(177, 45, 53)</td><td>HSV(177, 44, 71)</td><td>RGB(77, 182, 172)</td><td>RGBA(77, 182, 172, 1)</td><td>CMYK(58, 0, 6, 29)</td></tr><tr><td>#26a69a</td><td>HSL(177, 57, 47)</td><td>HSV(177, 60, 65)</td><td>RGB(38, 166, 154)</td><td>RGBA(38, 166, 154, 1)</td><td>CMYK(77, 0, 7, 35)</td></tr><tr><td>#009688</td><td>HSL(174, 100, 30)</td><td>HSV(174, 100, 60)</td><td>RGB(0, 150, 136)</td><td>RGBA(0, 150, 136, 1)</td><td>CMYK(100, 0, 9, 41)</td></tr><tr><td>#00897b</td><td>HSL(175, 100, 28)</td><td>HSV(175, 100, 54)</td><td>RGB(0, 137, 123)</td><td>RGBA(0, 137, 123, 1)</td><td>CMYK(100, 0, 10, 46)</td></tr><tr><td>#00796b</td><td>HSL(175, 100, 25)</td><td>HSV(175, 100, 48)</td><td>RGB(0, 121, 107)</td><td>RGBA(0, 121, 107, 1)</td><td>CMYK(100, 0, 11, 53)</td></tr><tr><td>#00695c</td><td>HSL(175, 100, 23)</td><td>HSV(175, 100, 39)</td><td>RGB(0, 105, 92)</td><td>RGBA(0, 105, 92, 1)</td><td>CMYK(100, 0, 12, 59)</td></tr><tr><td>#004d40</td><td>HSL(175, 100, 16)</td><td>HSV(175, 100, 25)</td><td>RGB(0, 77, 64)</td><td>RGBA(0, 77, 64, 1)</td><td>CMYK(100, 0, 17, 70)</td></tr><tr><td>#a7ffeb</td><td>HSL(163, 100, 86)</td><td>HSV(163, 32, 100)</td><td>RGB(167, 255, 235)</td><td>RGBA(167, 255, 235, 1)</td><td>CMYK(35, 0, 8, 0)</td></tr><tr><td>#64ffda</td><td>HSL(163, 100, 72)</td><td>HSV(163, 60, 100)</td><td>RGB(100, 255, 218)</td><td>RGBA(100, 255, 218, 1)</td><td>CMYK(61, 0, 15, 0)</td></tr><tr><td>#1de9b6</td><td>HSL(163, 81, 48)</td><td>HSV(163, 86, 91)</td><td>RGB(29, 233, 182)</td><td>RGBA(29, 233, 182, 1)</td><td>CMYK(88, 0, 22, 9)</td></tr><tr><td>#00bfa5</td><td>HSL(174, 100, 34)</td><td>HSV(174, 100, 75)</td><td>RGB(0, 191, 165)</td><td>RGBA(0, 191, 165, 1)</td><td>CMYK(100, 0, 14, 25)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Green</h5>
                        <div class="shades mb-4">
                                <div class="p-3 green-lighten-5">#e8f5e9</div>
                                <div class="p-3 green-lighten-4">#c8e6c9</div>
                                <div class="p-3 green-lighten-3">#a5d6a7</div>
                                <div class="p-3 green-lighten-2">#81c784</div>
                                <div class="p-3 green-lighten-1">#66bb6a</div>
                                <div class="p-3 green-lighten-0">#4caf50</div>
                                <div class="p-3 green-darken-1">#43a047</div>
                                <div class="p-3 green-darken-2">#388e3c</div>
                                <div class="p-3 green-darken-3">#2e7d32</div>
                                <div class="p-3 green-darken-4">#1b5e20</div>
                                <div class="p-3 green-accent-1">#b9f6ca</div>
                                <div class="p-3 green-accent-2">#69f0ae</div>
                                <div class="p-3 green-accent-3">#00e676</div>
                                <div class="p-3 green-accent-4">#00c853</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Green</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#e8f5e9</td><td>HSL(117, 45, 93)</td><td>HSV(117, 12, 96)</td><td>RGB(232, 245, 233)</td><td>RGBA(232, 245, 233, 1)</td><td>CMYK(5, 0, 5, 4)</td></tr><tr><td>#c8e6c9</td><td>HSL(117, 40, 83)</td><td>HSV(117, 16, 90)</td><td>RGB(200, 230, 201)</td><td>RGBA(200, 230, 201, 1)</td><td>CMYK(13, 0, 13, 10)</td></tr><tr><td>#a5d6a7</td><td>HSL(117, 40, 70)</td><td>HSV(117, 25, 84)</td><td>RGB(165, 214, 167)</td><td>RGBA(165, 214, 167, 1)</td><td>CMYK(23, 0, 22, 16)</td></tr><tr><td>#81c784</td><td>HSL(117, 39, 61)</td><td>HSV(117, 37, 78)</td><td>RGB(129, 199, 132)</td><td>RGBA(129, 199, 132, 1)</td><td>CMYK(35, 0, 34, 22)</td></tr><tr><td>#66bb6a</td><td>HSL(117, 39, 52)</td><td>HSV(117, 50, 73)</td><td>RGB(102, 187, 106)</td><td>RGBA(102, 187, 106, 1)</td><td>CMYK(45, 0, 43, 27)</td></tr><tr><td>#4caf50</td><td>HSL(117, 50, 49)</td><td>HSV(117, 61, 76)</td><td>RGB(76, 175, 80)</td><td>RGBA(76, 175, 80, 1)</td><td>CMYK(57, 0, 54, 31)</td></tr><tr><td>#43a047</td><td>HSL(117, 51, 47)</td><td>HSV(117, 61, 63)</td><td>RGB(67, 160, 71)</td><td>RGBA(67, 160, 71, 1)</td><td>CMYK(58, 0, 56, 37)</td></tr><tr><td>#388e3c</td><td>HSL(117, 50, 43)</td><td>HSV(117, 57, 56)</td><td>RGB(56, 142, 60)</td><td>RGBA(56, 142, 60, 1)</td><td>CMYK(61, 0, 58, 44)</td></tr><tr><td>#2e7d32</td><td>HSL(117, 49, 39)</td><td>HSV(117, 61, 49)</td><td>RGB(46, 125, 50)</td><td>RGBA(46, 125, 50, 1)</td><td>CMYK(63, 0, 60, 51)</td></tr><tr><td>#1b5e20</td><td>HSL(117, 54, 23)</td><td>HSV(117, 69, 36)</td><td>RGB(27, 94, 32)</td><td>RGBA(27, 94, 32, 1)</td><td>CMYK(71, 0, 66, 63)</td></tr><tr><td>#b9f6ca</td><td>HSL(136, 76, 85)</td><td>HSV(136, 39, 96)</td><td>RGB(185, 246, 202)</td><td>RGBA(185, 246, 202, 1)</td><td>CMYK(25, 0, 18, 4)</td></tr><tr><td>#69f0ae</td><td>HSL(136, 74, 65)</td><td>HSV(136, 56, 94)</td><td>RGB(105, 240, 174)</td><td>RGBA(105, 240, 174, 1)</td><td>CMYK(56, 0, 28, 6)</td></tr><tr><td>#00e676</td><td>HSL(136, 100, 47)</td><td>HSV(136, 100, 90)</td><td>RGB(0, 230, 118)</td><td>RGBA(0, 230, 118, 1)</td><td>CMYK(100, 0, 49, 10)</td></tr><tr><td>#00c853</td><td>HSL(136, 100, 40)</td><td>HSV(136, 100, 52)</td><td>RGB(0, 200, 83)</td><td>RGBA(0, 200, 83, 1)</td><td>CMYK(100, 0, 58, 22)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Light Green</h5>
                        <div class="shades mb-4">
                                <div class="p-3 light-green-lighten-5">#f1f8e9</div>
                                <div class="p-3 light-green-lighten-4">#dcedc8</div>
                                <div class="p-3 light-green-lighten-3">#c5e1a5</div>
                                <div class="p-3 light-green-lighten-2">#aed581</div>
                                <div class="p-3 light-green-lighten-1">#9ccc65</div>
                                <div class="p-3 light-green-lighten-0">#8bc34a</div>
                                <div class="p-3 light-green-darken-1">#7cb342</div>
                                <div class="p-3 light-green-darken-2">#689f38</div>
                                <div class="p-3 light-green-darken-3">#558b2f</div>
                                <div class="p-3 light-green-darken-4">#33691e</div>
                                <div class="p-3 light-green-accent-1">#ccff90</div>
                                <div class="p-3 light-green-accent-2">#b2ff59</div>
                                <div class="p-3 light-green-accent-3">#76ff03</div>
                                <div class="p-3 light-green-accent-4">#64dd17</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Light Green</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f1f8e9</td><td>HSL(80, 52, 94)</td><td>HSV(80, 7, 97)</td><td>RGB(241, 248, 233)</td><td>RGBA(241, 248, 233, 1)</td><td>CMYK(3, 0, 6, 3)</td></tr><tr><td>#dcedc8</td><td>HSL(94, 35, 85)</td><td>HSV(94, 15, 92)</td><td>RGB(220, 237, 200)</td><td>RGBA(220, 237, 200, 1)</td><td>CMYK(7, 0, 16, 7)</td></tr><tr><td>#c5e1a5</td><td>HSL(87, 49, 71)</td><td>HSV(87, 30, 88)</td><td>RGB(197, 225, 165)</td><td>RGBA(197, 225, 165, 1)</td><td>CMYK(12, 0, 27, 12)</td></tr><tr><td>#aed581</td><td>HSL(86, 53, 69)</td><td>HSV(86, 42, 83)</td><td>RGB(174, 213, 129)</td><td>RGBA(174, 213, 129, 1)</td><td>CMYK(18, 0, 39, 16)</td></tr><tr><td>#9ccc65</td><td>HSL(76, 49, 60)</td><td>HSV(76, 52, 80)</td><td>RGB(156, 204, 101)</td><td>RGBA(156, 204, 101, 1)</td><td>CMYK(24, 0, 50, 20)</td></tr><tr><td>#8bc34a</td><td>HSL(79, 50, 52)</td><td>HSV(79, 61, 76)</td><td>RGB(139, 195, 74)</td><td>RGBA(139, 195, 74, 1)</td><td>CMYK(29, 0, 62, 24)</td></tr><tr><td>#7cb342</td><td>HSL(79, 46, 46)</td><td>HSV(79, 62, 70)</td><td>RGB(124, 179, 66)</td><td>RGBA(124, 179, 66, 1)</td><td>CMYK(31, 0, 63, 30)</td></tr><tr><td>#689f38</td><td>HSL(79, 46, 41)</td><td>HSV(79, 64, 62)</td><td>RGB(104, 159, 56)</td><td>RGBA(104, 159, 56, 1)</td><td>CMYK(35, 0, 65, 38)</td></tr><tr><td>#558b2f</td><td>HSL(79, 49, 36)</td><td>HSV(79, 65, 54)</td><td>RGB(85, 139, 47)</td><td>RGBA(85, 139, 47, 1)</td><td>CMYK(39, 0, 66, 45)</td></tr><tr><td>#33691e</td><td>HSL(80, 57, 25)</td><td>HSV(80, 72, 41)</td><td>RGB(51, 105, 30)</td><td>RGBA(51, 105, 30, 1)</td><td>CMYK(51, 0, 71, 59)</td></tr><tr><td>#ccff90</td><td>HSL(90, 100, 77)</td><td>HSV(90, 40, 100)</td><td>RGB(204, 255, 144)</td><td>RGBA(204, 255, 144, 1)</td><td>CMYK(20, 0, 44, 0)</td></tr><tr><td>#b2ff59</td><td>HSL(83, 100, 69)</td><td>HSV(83, 62, 100)</td><td>RGB(178, 255, 89)</td><td>RGBA(178, 255, 89, 1)</td><td>CMYK(30, 0, 65, 0)</td></tr><tr><td>#76ff03</td><td>HSL(92, 100, 51)</td><td>HSV(92, 98, 100)</td><td>RGB(118, 255, 3)</td><td>RGBA(118, 255, 3, 1)</td><td>CMYK(54, 0, 99, 0)</td></tr><tr><td>#64dd17</td><td>HSL(87, 84, 50)</td><td>HSV(87, 93, 86)</td><td>RGB(100, 221, 23)</td><td>RGBA(100, 221, 23, 1)</td><td>CMYK(55, 0, 90, 13)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Lime</h5>
                        <div class="shades mb-4">
                                <div class="p-3 lime-lighten-5">#f9fbe7</div>
                                <div class="p-3 lime-lighten-4">#f0f4c3</div>
                                <div class="p-3 lime-lighten-3">#e6ee9c</div>
                                <div class="p-3 lime-lighten-2">#dce775</div>
                                <div class="p-3 lime-lighten-1">#d4e157</div>
                                <div class="p-3 lime-lighten-0">#cddc39</div>
                                <div class="p-3 lime-darken-1">#c0ca33</div>
                                <div class="p-3 lime-darken-2">#afb42b</div>
                                <div class="p-3 lime-darken-3">#9e9d24</div>
                                <div class="p-3 lime-darken-4">#827717</div>
                                <div class="p-3 lime-accent-1">#f4ff81</div>
                                <div class="p-3 lime-accent-2">#eeff41</div>
                                <div class="p-3 lime-accent-3">#c6ff00</div>
                                <div class="p-3 lime-accent-4">#aeea00</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Lime</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f9fbe7</td><td>HSL(65, 85, 95)</td><td>HSV(65, 3, 98)</td><td>RGB(249, 251, 231)</td><td>RGBA(249, 251, 231, 1)</td><td>CMYK(0, 0, 8, 2)</td></tr><tr><td>#f0f4c3</td><td>HSL(65, 71, 84)</td><td>HSV(65, 23, 96)</td><td>RGB(240, 244, 195)</td><td>RGBA(240, 244, 195, 1)</td><td>CMYK(2, 0, 20, 4)</td></tr><tr><td>#e6ee9c</td><td>HSL(65, 66, 72)</td><td>HSV(65, 37, 93)</td><td>RGB(230, 238, 156)</td><td>RGBA(230, 238, 156, 1)</td><td>CMYK(4, 0, 35, 7)</td></tr><tr><td>#dce775</td><td>HSL(65, 76, 70)</td><td>HSV(65, 50, 90)</td><td>RGB(220, 231, 117)</td><td>RGBA(220, 231, 117, 1)</td><td>CMYK(5, 0, 49, 10)</td></tr><tr><td>#d4e157</td><td>HSL(65, 61, 64)</td><td>HSV(65, 49, 88)</td><td>RGB(212, 225, 87)</td><td>RGBA(212, 225, 87, 1)</td><td>CMYK(6, 0, 61, 12)</td></tr><tr><td>#cddc39</td><td>HSL(66, 70, 61)</td><td>HSV(66, 83, 86)</td><td>RGB(205, 220, 57)</td><td>RGBA(205, 220, 57, 1)</td><td>CMYK(7, 0, 74, 14)</td></tr><tr><td>#c0ca33</td><td>HSL(65, 59, 54)</td><td>HSV(65, 83, 76)</td><td>RGB(192, 202, 51)</td><td>RGBA(192, 202, 51, 1)</td><td>CMYK(5, 0, 75, 21)</td></tr><tr><td>#afb42b</td><td>HSL(66, 59, 49)</td><td>HSV(66, 84, 69)</td><td>RGB(175, 180, 43)</td><td>RGBA(175, 180, 43, 1)</td><td>CMYK(3, 0, 76, 29)</td></tr><tr><td>#9e9d24</td><td>HSL(60, 61, 41)</td><td>HSV(60, 76, 62)</td><td>RGB(158, 157, 36)</td><td>RGBA(158, 157, 36, 1)</td><td>CMYK(5, 0, 77, 38)</td></tr><tr><td>#827717</td><td>HSL(58, 67, 34)</td><td>HSV(58, 80, 51)</td><td>RGB(130, 119, 23)</td><td>RGBA(130, 119, 23, 1)</td><td>CMYK(0, 8, 82, 49)</td></tr><tr><td>#f4ff81</td><td>HSL(66, 100, 74)</td><td>HSV(66, 48, 100)</td><td>RGB(244, 255, 129)</td><td>RGBA(244, 255, 129, 1)</td><td>CMYK(4, 0, 50, 0)</td></tr><tr><td>#eeff41</td><td>HSL(66, 100, 71)</td><td>HSV(66, 74, 100)</td><td>RGB(238, 255, 65)</td><td>RGBA(238, 255, 65, 1)</td><td>CMYK(6, 0, 75, 0)</td></tr><tr><td>#c6ff00</td><td>HSL(69, 100, 50)</td><td>HSV(69, 100, 100)</td><td>RGB(198, 255, 0)</td><td>RGBA(198, 255, 0, 1)</td><td>CMYK(22, 0, 100, 0)</td></tr><tr><td>#aeea00</td><td>HSL(68, 100, 46)</td><td>HSV(68, 100, 93)</td><td>RGB(174, 234, 0)</td><td>RGBA(174, 234, 0, 1)</td><td>CMYK(26, 0, 100, 8)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Yelow</h5>
                        <div class="shades mb-4">
                                <div class="p-3 yellow-lighten-5">#fffde7</div>
                                <div class="p-3 yellow-lighten-4">#fff9c4</div>
                                <div class="p-3 yellow-lighten-3">#fff59d</div>
                                <div class="p-3 yellow-lighten-2">#fff176</div>
                                <div class="p-3 yellow-lighten-1">#ffee58</div>
                                <div class="p-3 yellow-lighten-0">#ffeb3b</div>
                                <div class="p-3 yellow-darken-1">#fdd835</div>
                                <div class="p-3 yellow-darken-2">#fbc02d</div>
                                <div class="p-3 yellow-darken-3">#f9a825</div>
                                <div class="p-3 yellow-darken-4">#f57f17</div>
                                <div class="p-3 yellow-accent-1">#ffff8d</div>
                                <div class="p-3 yellow-accent-2">#ffff00</div>
                                <div class="p-3 yellow-accent-3">#ffea00</div>
                                <div class="p-3 yellow-accent-4">#ffd600</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Yellow</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fffde7</td><td>HSL(60, 100, 97)</td><td>HSV(60, 7, 100)</td><td>RGB(255, 253, 231)</td><td>RGBA(255, 253, 231, 1)</td><td>CMYK(0, 1, 10, 0)</td></tr><tr><td>#fff9c4</td><td>HSL(54, 100, 92)</td><td>HSV(54, 17, 100)</td><td>RGB(255, 249, 196)</td><td>RGBA(255, 249, 196, 1)</td><td>CMYK(0, 2, 23, 0)</td></tr><tr><td>#fff59d</td><td>HSL(55, 100, 84)</td><td>HSV(55, 36, 100)</td><td>RGB(255, 245, 157)</td><td>RGBA(255, 245, 157, 1)</td><td>CMYK(0, 4, 38, 0)</td></tr><tr><td>#fff176</td><td>HSL(54, 100, 74)</td><td>HSV(54, 39, 100)</td><td>RGB(255, 241, 118)</td><td>RGBA(255, 241, 118, 1)</td><td>CMYK(0, 6, 54, 0)</td></tr><tr><td>#ffee58</td><td>HSL(54, 100, 67)</td><td>HSV(54, 76, 100)</td><td>RGB(255, 238, 88)</td><td>RGBA(255, 238, 88, 1)</td><td>CMYK(0, 6, 66, 0)</td></tr><tr><td>#ffeb3b</td><td>HSL(54, 100, 63)</td><td>HSV(54, 85, 100)</td><td>RGB(255, 235, 59)</td><td>RGBA(255, 235, 59, 1)</td><td>CMYK(0, 8, 77, 0)</td></tr><tr><td>#fdd835</td><td>HSL(54, 91, 62)</td><td>HSV(54, 79, 99)</td><td>RGB(253, 216, 53)</td><td>RGBA(253, 216, 53, 1)</td><td>CMYK(0, 15, 79, 1)</td></tr><tr><td>#fbc02d</td><td>HSL(54, 91, 59)</td><td>HSV(54, 85, 98)</td><td>RGB(251, 192, 45)</td><td>RGBA(251, 192, 45, 1)</td><td>CMYK(0, 24, 82, 2)</td></tr><tr><td>#f9a825</td><td>HSL(45, 90, 56)</td><td>HSV(45, 86, 98)</td><td>RGB(249, 168, 37)</td><td>RGBA(249, 168, 37, 1)</td><td>CMYK(0, 32, 85, 2)</td></tr><tr><td>#f57f17</td><td>HSL(37, 90, 51)</td><td>HSV(37, 93, 96)</td><td>RGB(245, 127, 23)</td><td>RGBA(245, 127, 23, 1)</td><td>CMYK(0, 48, 91, 4)</td></tr><tr><td>#ffff8d</td><td>HSL(60, 100, 82)</td><td>HSV(60, 7, 100)</td><td>RGB(255, 255, 141)</td><td>RGBA(255, 255, 141, 1)</td><td>CMYK(0, 0, 45, 0)</td></tr><tr><td>#ffff00</td><td>HSL(60, 100, 50)</td><td>HSV(60, 100, 100)</td><td>RGB(255, 255, 0)</td><td>RGBA(255, 255, 0, 1)</td><td>CMYK(0, 0, 100, 0)</td></tr><tr><td>#ffea00</td><td>HSL(54, 100, 50)</td><td>HSV(54, 100, 100)</td><td>RGB(255, 234, 0)</td><td>RGBA(255, 234, 0, 1)</td><td>CMYK(0, 8, 100, 0)</td></tr><tr><td>#ffd600</td><td>HSL(50, 100, 50)</td><td>HSV(50, 100, 100)</td><td>RGB(255, 214, 0)</td><td>RGBA(255, 214, 0, 1)</td><td>CMYK(0, 16, 100, 0)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Amber</h5>
                        <div class="shades mb-4">
                                <div class="p-3 amber-lighten-5">#fff8e1</div>
                                <div class="p-3 amber-lighten-4">#ffecb3</div>
                                <div class="p-3 amber-lighten-3">#ffe082</div>
                                <div class="p-3 amber-lighten-2">#ffd54f</div>
                                <div class="p-3 amber-lighten-1">#ffca28</div>
                                <div class="p-3 amber-lighten-0">#ffc107</div>
                                <div class="p-3 amber-darken-1">#ffb300</div>
                                <div class="p-3 amber-darken-2">#ffa000</div>
                                <div class="p-3 amber-darken-3">#ff8f00</div>
                                <div class="p-3 amber-darken-4">#ff6f00</div>
                                <div class="p-3 amber-accent-1">#ffe57f</div>
                                <div class="p-3 amber-accent-2">#ffd740</div>
                                <div class="p-3 amber-accent-3">#ffc400</div>
                                <div class="p-3 amber-accent-4">#ffab00</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Amber</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fff8e1</td><td>HSL(37, 100, 94)</td><td>HSV(37, 8, 100)</td><td>RGB(255, 248, 225)</td><td>RGBA(255, 248, 225, 1)</td><td>CMYK(0, 3, 12, 0)</td></tr><tr><td>#ffecb3</td><td>HSL(47, 100, 85)</td><td>HSV(47, 29, 100)</td><td>RGB(255, 236, 179)</td><td>RGBA(255, 236, 179, 1)</td><td>CMYK(0, 7, 30, 0)</td></tr><tr><td>#ffe082</td><td>HSL(44, 100, 78)</td><td>HSV(44, 50, 100)</td><td>RGB(255, 224, 130)</td><td>RGBA(255, 224, 130, 1)</td><td>CMYK(0, 12, 49, 0)</td></tr><tr><td>#ffd54f</td><td>HSL(40, 100, 69)</td><td>HSV(40, 81, 100)</td><td>RGB(255, 213, 79)</td><td>RGBA(255, 213, 79, 1)</td><td>CMYK(0, 16, 69, 0)</td></tr><tr><td>#ffca28</td><td>HSL(38, 100, 60)</td><td>HSV(38, 89, 100)</td><td>RGB(255, 202, 40)</td><td>RGBA(255, 202, 40, 1)</td><td>CMYK(0, 21, 84, 0)</td></tr><tr><td>#ffc107</td><td>HSL(45, 100, 50)</td><td>HSV(45, 100, 100)</td><td>RGB(255, 193, 7)</td><td>RGBA(255, 193, 7, 1)</td><td>CMYK(0, 24, 100, 0)</td></tr><tr><td>#ffb300</td><td>HSL(43, 100, 46)</td><td>HSV(43, 100, 100)</td><td>RGB(255, 179, 0)</td><td>RGBA(255, 179, 0, 1)</td><td>CMYK(0, 30, 100, 0)</td></tr><tr><td>#ffa000</td><td>HSL(38, 100, 44)</td><td>HSV(38, 100, 100)</td><td>RGB(255, 160, 0)</td><td>RGBA(255, 160, 0, 1)</td><td>CMYK(0, 37, 100, 0)</td></tr><tr><td>#ff8f00</td><td>HSL(34, 100, 43)</td><td>HSV(34, 100, 100)</td><td>RGB(255, 143, 0)</td><td>RGBA(255, 143, 0, 1)</td><td>CMYK(0, 44, 100, 0)</td></tr><tr><td>#ff6f00</td><td>HSL(27, 100, 43)</td><td>HSV(27, 100, 100)</td><td>RGB(255, 111, 0)</td><td>RGBA(255, 111, 0, 1)</td><td>CMYK(0, 57, 100, 0)</td></tr><tr><td>#ffe57f</td><td>HSL(43, 100, 77)</td><td>HSV(43, 50, 100)</td><td>RGB(255, 229, 127)</td><td>RGBA(255, 229, 127, 1)</td><td>CMYK(0, 10, 50, 0)</td></tr><tr><td>#ffd740</td><td>HSL(45, 100, 68)</td><td>HSV(45, 76, 100)</td><td>RGB(255, 215, 64)</td><td>RGBA(255, 215, 64, 1)</td><td>CMYK(0, 16, 75, 0)</td></tr><tr><td>#ffc400</td><td>HSL(45, 100, 63)</td><td>HSV(45, 100, 100)</td><td>RGB(255, 196, 0)</td><td>RGBA(255, 196, 0, 1)</td><td>CMYK(0, 23, 100, 0)</td></tr><tr><td>#ffab00</td><td>HSL(42, 100, 58)</td><td>HSV(42, 100, 100)</td><td>RGB(255, 171, 0)</td><td>RGBA(255, 171, 0, 1)</td><td>CMYK(0, 33, 100, 0)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Orange</h5>
                        <div class="shades mb-4">
                                <div class="p-3 orange-lighten-5">#fff3e0</div>
                                <div class="p-3 orange-lighten-4">#ffe0b2</div>
                                <div class="p-3 orange-lighten-3">#ffcc80</div>
                                <div class="p-3 orange-lighten-2">#ffb74d</div>
                                <div class="p-3 orange-lighten-1">#ffa726</div>
                                <div class="p-3 orange-lighten-0">#ff9800</div>
                                <div class="p-3 orange-darken-1">#fb8c00</div>
                                <div class="p-3 orange-darken-2">#f57c00</div>
                                <div class="p-3 orange-darken-3">#ef6c00</div>
                                <div class="p-3 orange-darken-4">#e65100</div>
                                <div class="p-3 orange-accent-1">#ffd180</div>
                                <div class="p-3 orange-accent-2">#ffab40</div>
                                <div class="p-3 orange-accent-3">#ff9100</div>
                                <div class="p-3 orange-accent-4">#ff6d00</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Orange</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fff3e0</td><td>HSL(30, 100, 94)</td><td>HSV(30, 8, 100)</td><td>RGB(255, 243, 224)</td><td>RGBA(255, 243, 224, 1)</td><td>CMYK(0, 5, 12, 0)</td></tr><tr><td>#ffe0b2</td><td>HSL(36, 100, 86)</td><td>HSV(36, 27, 100)</td><td>RGB(255, 224, 178)</td><td>RGBA(255, 224, 178, 1)</td><td>CMYK(0, 12, 30, 0)</td></tr><tr><td>#ffcc80</td><td>HSL(37, 100, 75)</td><td>HSV(37, 50, 100)</td><td>RGB(255, 204, 128)</td><td>RGBA(255, 204, 128, 1)</td><td>CMYK(0, 20, 50, 0)</td></tr><tr><td>#ffb74d</td><td>HSL(34, 100, 65)</td><td>HSV(34, 81, 100)</td><td>RGB(255, 183, 77)</td><td>RGBA(255, 183, 77, 1)</td><td>CMYK(0, 28, 70, 0)</td></tr><tr><td>#ffa726</td><td>HSL(35, 100, 57)</td><td>HSV(35, 89, 100)</td><td>RGB(255, 167, 38)</td><td>RGBA(255, 167, 38, 1)</td><td>CMYK(0, 35, 85, 0)</td></tr><tr><td>#ff9800</td><td>HSL(39, 100, 50)</td><td>HSV(39, 100, 100)</td><td>RGB(255, 152, 0)</td><td>RGBA(255, 152, 0, 1)</td><td>CMYK(0, 40, 100, 0)</td></tr><tr><td>#fb8c00</td><td>HSL(36, 100, 49)</td><td>HSV(36, 100, 98)</td><td>RGB(251, 140, 0)</td><td>RGBA(251, 140, 0, 1)</td><td>CMYK(0, 44, 100, 2)</td></tr><tr><td>#f57c00</td><td>HSL(35, 100, 46)</td><td>HSV(35, 100, 96)</td><td>RGB(245, 124, 0)</td><td>RGBA(245, 124, 0, 1)</td><td>CMYK(0, 49, 100, 4)</td></tr><tr><td>#ef6c00</td><td>HSL(33, 100, 43)</td><td>HSV(33, 100, 94)</td><td>RGB(239, 108, 0)</td><td>RGBA(239, 108, 0, 1)</td><td>CMYK(0, 55, 100, 6)</td></tr><tr><td>#e65100</td><td>HSL(24, 100, 44)</td><td>HSV(24, 100, 90)</td><td>RGB(230, 81, 0)</td><td>RGBA(230, 81, 0, 1)</td><td>CMYK(0, 65, 100, 10)</td></tr><tr><td>#ffd180</td><td>HSL(34, 100, 80)</td><td>HSV(34, 39, 100)</td><td>RGB(255, 209, 128)</td><td>RGBA(255, 209, 128, 1)</td><td>CMYK(0, 18, 50, 0)</td></tr><tr><td>#ffab40</td><td>HSL(33, 100, 70)</td><td>HSV(33, 64, 100)</td><td>RGB(255, 171, 64)</td><td>RGBA(255, 171, 64, 1)</td><td>CMYK(0, 33, 75, 0)</td></tr><tr><td>#ff9100</td><td>HSL(34, 100, 59)</td><td>HSV(34, 100, 100)</td><td>RGB(255, 145, 0)</td><td>RGBA(255, 145, 0, 1)</td><td>CMYK(0, 43, 100, 0)</td></tr><tr><td>#ff6d00</td><td>HSL(26, 100, 55)</td><td>HSV(26, 100, 100)</td><td>RGB(255, 109, 0)</td><td>RGBA(255, 109, 0, 1)</td><td>CMYK(0, 57, 100, 0)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Deep Orange</h5>
                        <div class="shades mb-4">
                                <div class="p-3 deep-orange-lighten-5">#fbe9e7</div>
                                <div class="p-3 deep-orange-lighten-4">#ffccbc</div>
                                <div class="p-3 deep-orange-lighten-3">#ffab91</div>
                                <div class="p-3 deep-orange-lighten-2">#ff8a65</div>
                                <div class="p-3 deep-orange-lighten-1">#ff7043</div>
                                <div class="p-3 deep-orange-lighten-0">#ff5722</div>
                                <div class="p-3 deep-orange-darken-1">#f4511e</div>
                                <div class="p-3 deep-orange-darken-2">#e64a19</div>
                                <div class="p-3 deep-orange-darken-3">#d84315</div>
                                <div class="p-3 deep-orange-darken-4">#bf360c</div>
                                <div class="p-3 deep-orange-accent-1">#ff9e80</div>
                                <div class="p-3 deep-orange-accent-2">#ff6e40</div>
                                <div class="p-3 deep-orange-accent-3">#ff3d00</div>
                                <div class="p-3 deep-orange-accent-4">#dd2c00</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Deep Orange</h5>
                                <table class="stack-table" style="width: 100%;"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fbe9e7</td><td>HSL(12, 89, 94)</td><td>HSV(12, 19, 98)</td><td>RGB(251, 233, 231)</td><td>RGBA(251, 233, 231, 1)</td><td>CMYK(0, 7, 8, 2)</td></tr><tr><td>#ffccbc</td><td>HSL(19, 100, 88)</td><td>HSV(19, 24, 100)</td><td>RGB(255, 204, 188)</td><td>RGBA(255, 204, 188, 1)</td><td>CMYK(0, 20, 27, 0)</td></tr><tr><td>#ffab91</td><td>HSL(19, 100, 80)</td><td>HSV(19, 45, 100)</td><td>RGB(255, 171, 145)</td><td>RGBA(255, 171, 145, 1)</td><td>CMYK(0, 33, 43, 0)</td></tr><tr><td>#ff8a65</td><td>HSL(19, 100, 70)</td><td>HSV(19, 59, 100)</td><td>RGB(255, 138, 101)</td><td>RGBA(255, 138, 101, 1)</td><td>CMYK(0, 46, 60, 0)</td></tr><tr><td>#ff7043</td><td>HSL(19, 100, 61)</td><td>HSV(19, 83, 100)</td><td>RGB(255, 112, 67)</td><td>RGBA(255, 112, 67, 1)</td><td>CMYK(0, 56, 74, 0)</td></tr><tr><td>#ff5722</td><td>HSL(15, 100, 54)</td><td>HSV(15, 100, 100)</td><td>RGB(255, 87, 34)</td><td>RGBA(255, 87, 34, 1)</td><td>CMYK(0, 66, 87, 0)</td></tr><tr><td>#f4511e</td><td>HSL(14, 88, 53)</td><td>HSV(14, 91, 96)</td><td>RGB(244, 81, 30)</td><td>RGBA(244, 81, 30, 1)</td><td>CMYK(0, 67, 88, 4)</td></tr><tr><td>#e64a19</td><td>HSL(13, 84, 49)</td><td>HSV(13, 92, 90)</td><td>RGB(230, 74, 25)</td><td>RGBA(230, 74, 25, 1)</td><td>CMYK(0, 68, 89, 10)</td></tr><tr><td>#d84315</td><td>HSL(14, 81, 45)</td><td>HSV(14, 92, 83)</td><td>RGB(216, 67, 21)</td><td>RGBA(216, 67, 21, 1)</td><td>CMYK(0, 69, 90, 15)</td></tr><tr><td>#bf360c</td><td>HSL(12, 88, 38)</td><td>HSV(12, 93, 75)</td><td>RGB(191, 54, 12)</td><td>RGBA(191, 54, 12, 1)</td><td>CMYK(0, 72, 94, 25)</td></tr><tr><td>#ff9e80</td><td>HSL(21, 100, 85)</td><td>HSV(21, 37, 100)</td><td>RGB(255, 158, 128)</td><td>RGBA(255, 158, 128, 1)</td><td>CMYK(0, 38, 50, 0)</td></tr><tr><td>#ff6e40</td><td>HSL(16, 100, 66)</td><td>HSV(16, 75, 100)</td><td>RGB(255, 110, 64)</td><td>RGBA(255, 110, 64, 1)</td><td>CMYK(0, 57, 75, 0)</td></tr><tr><td>#ff3d00</td><td>HSL(17, 100, 50)</td><td>HSV(17, 100, 100)</td><td>RGB(255, 61, 0)</td><td>RGBA(255, 61, 0, 1)</td><td>CMYK(0, 76, 100, 0)</td></tr><tr><td>#dd2c00</td><td>HSL(11, 100, 38)</td><td>HSV(11, 100, 86)</td><td>RGB(221, 44, 0)</td><td>RGBA(221, 44, 0, 1)</td><td>CMYK(0, 80, 100, 13)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Brown</h5>
                        <div class="shades mb-4">
                                <div class="p-3 brown-lighten-5">#efebe9</div>
                                <div class="p-3 brown-lighten-4">#d7ccc8</div>
                                <div class="p-3 brown-lighten-3">#bcaaa4</div>
                                <div class="p-3 brown-lighten-2">#a1887f</div>
                                <div class="p-3 brown-lighten-1">#8d6e63</div>
                                <div class="p-3 brown-lighten-0">#795548</div>
                                <div class="p-3 brown-darken-1">#6d4c41</div>
                                <div class="p-3 brown-darken-2">#5d4037</div>
                                <div class="p-3 brown-darken-3">#4e342e</div>
                                <div class="p-3 brown-darken-4">#3e2723</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Brown</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#efebe9</td><td>HSL(30, 25, 93)</td><td>HSV(30, 9, 94)</td><td>RGB(239, 235, 233)</td><td>RGBA(239, 235, 233, 1)</td><td>CMYK(0, 2, 3, 6)</td></tr><tr><td>#d7ccc8</td><td>HSL(30, 19, 78)</td><td>HSV(30, 9, 85)</td><td>RGB(215, 204, 200)</td><td>RGBA(215, 204, 200, 1)</td><td>CMYK(0, 5, 7, 16)</td></tr><tr><td>#bcaaa4</td><td>HSL(30, 26, 71)</td><td>HSV(30, 16, 74)</td><td>RGB(188, 170, 164)</td><td>RGBA(188, 170, 164, 1)</td><td>CMYK(0, 9, 13, 26)</td></tr><tr><td>#a1887f</td><td>HSL(30, 22, 57)</td><td>HSV(30, 26, 63)</td><td>RGB(161, 136, 127)</td><td>RGBA(161, 136, 127, 1)</td><td>CMYK(0, 16, 21, 37)</td></tr><tr><td>#8d6e63</td><td>HSL(30, 25, 47)</td><td>HSV(30, 30, 55)</td><td>RGB(141, 110, 99)</td><td>RGBA(141, 110, 99, 1)</td><td>CMYK(0, 22, 30, 45)</td></tr><tr><td>#795548</td><td>HSL(30, 25, 41)</td><td>HSV(30, 38, 47)</td><td>RGB(121, 85, 72)</td><td>RGBA(121, 85, 72, 1)</td><td>CMYK(0, 30, 40, 53)</td></tr><tr><td>#6d4c41</td><td>HSL(23, 23, 32)</td><td>HSV(23, 41, 43)</td><td>RGB(109, 76, 65)</td><td>RGBA(109, 76, 65, 1)</td><td>CMYK(0, 30, 40, 57)</td></tr><tr><td>#5d4037</td><td>HSL(12, 24, 29)</td><td>HSV(12, 41, 36)</td><td>RGB(93, 64, 55)</td><td>RGBA(93, 64, 55, 1)</td><td>CMYK(0, 31, 41, 64)</td></tr><tr><td>#4e342e</td><td>HSL(10, 24, 24)</td><td>HSV(10, 42, 30)</td><td>RGB(78, 52, 46)</td><td>RGBA(78, 52, 46, 1)</td><td>CMYK(0, 33, 41, 69)</td></tr><tr><td>#3e2723</td><td>HSL(9, 24, 19)</td><td>HSV(9, 42, 24)</td><td>RGB(62, 39, 35)</td><td>RGBA(62, 39, 35, 1)</td><td>CMYK(0, 37, 44, 76)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Gray</h5>
                        <div class="shades mb-4">
                                <div class="p-3 gray-lighten-5">#fafafa</div>
                                <div class="p-3 gray-lighten-4">#f5f5f5</div>
                                <div class="p-3 gray-lighten-3">#eeeeee</div>
                                <div class="p-3 gray-lighten-2">#e0e0e0</div>
                                <div class="p-3 gray-lighten-1">#bdbdbd</div>
                                <div class="p-3 gray-lighten-0">#9e9e9e</div>
                                <div class="p-3 gray-darken-1">#757575</div>
                                <div class="p-3 gray-darken-2">#616161</div>
                                <div class="p-3 gray-darken-3">#424242</div>
                                <div class="p-3 gray-darken-4">#212121</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Gray</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fafafa</td><td>HSL(0, 0, 98)</td><td>HSV(0, 0, 98)</td><td>RGB(250, 250, 250)</td><td>RGBA(250, 250, 250, 1)</td><td>CMYK(0, 0, 0, 2)</td></tr><tr><td>#f5f5f5</td><td>HSL(0, 0, 96)</td><td>HSV(0, 0, 96)</td><td>RGB(245, 245, 245)</td><td>RGBA(245, 245, 245, 1)</td><td>CMYK(0, 0, 0, 4)</td></tr><tr><td>#eeeeee</td><td>HSL(0, 0, 93)</td><td>HSV(0, 0, 93)</td><td>RGB(238, 238, 238)</td><td>RGBA(238, 238, 238, 1)</td><td>CMYK(0, 0, 0, 7)</td></tr><tr><td>#e0e0e0</td><td>HSL(0, 0, 88)</td><td>HSV(0, 0, 88)</td><td>RGB(224, 224, 224)</td><td>RGBA(224, 224, 224, 1)</td><td>CMYK(0, 0, 0, 12)</td></tr><tr><td>#bdbdbd</td><td>HSL(0, 0, 74)</td><td>HSV(0, 0, 74)</td><td>RGB(189, 189, 189)</td><td>RGBA(189, 189, 189, 1)</td><td>CMYK(0, 0, 0, 26)</td></tr><tr><td>#9e9e9e</td><td>HSL(0, 0, 62)</td><td>HSV(0, 0, 62)</td><td>RGB(158, 158, 158)</td><td>RGBA(158, 158, 158, 1)</td><td>CMYK(0, 0, 0, 38)</td></tr><tr><td>#757575</td><td>HSL(0, 0, 46)</td><td>HSV(0, 0, 46)</td><td>RGB(117, 117, 117)</td><td>RGBA(117, 117, 117, 1)</td><td>CMYK(0, 0, 0, 54)</td></tr><tr><td>#616161</td><td>HSL(0, 0, 38)</td><td>HSV(0, 0, 38)</td><td>RGB(97, 97, 97)</td><td>RGBA(97, 97, 97, 1)</td><td>CMYK(0, 0, 0, 62)</td></tr><tr><td>#424242</td><td>HSL(0, 0, 26)</td><td>HSV(0, 0, 26)</td><td>RGB(66, 66, 66)</td><td>RGBA(66, 66, 66, 1)</td><td>CMYK(0, 0, 0, 74)</td></tr><tr><td>#212121</td><td>HSL(0, 0, 13)</td><td>HSV(0, 0, 13)</td><td>RGB(33, 33, 33)</td><td>RGBA(33, 33, 33, 1)</td><td>CMYK(0, 0, 0, 87)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Material Blue Gray</h5>
                        <div class="shades mb-4">
                                <div class="p-3 blue-gray-lighten-5">#eceff1</div>
                                <div class="p-3 blue-gray-lighten-4">#cfd8dc</div>
                                <div class="p-3 blue-gray-lighten-3">#b0bec5</div>
                                <div class="p-3 blue-gray-lighten-2">#90a4ae</div>
                                <div class="p-3 blue-gray-lighten-1">#78909c</div>
                                <div class="p-3 blue-gray-lighten-0">#607d8b</div>
                                <div class="p-3 blue-gray-darken-1">#546e7a</div>
                                <div class="p-3 blue-gray-darken-2">#455a64</div>
                                <div class="p-3 blue-gray-darken-3">#37474f</div>
                                <div class="p-3 blue-gray-darken-4">#263238</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Material Blue Gray</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#eceff1</td><td>HSL(207, 33, 94)</td><td>HSV(207, 14, 95)</td><td>RGB(236, 239, 241)</td><td>RGBA(236, 239, 241, 1)</td><td>CMYK(2, 1, 0, 5)</td></tr><tr><td>#cfd8dc</td><td>HSL(196, 22, 80)</td><td>HSV(196, 14, 86)</td><td>RGB(207, 216, 220)</td><td>RGBA(207, 216, 220, 1)</td><td>CMYK(6, 2, 0, 14)</td></tr><tr><td>#b0bec5</td><td>HSL(200, 24, 69)</td><td>HSV(200, 14, 77)</td><td>RGB(176, 190, 197)</td><td>RGBA(176, 190, 197, 1)</td><td>CMYK(11, 4, 0, 23)</td></tr><tr><td>#90a4ae</td><td>HSL(197, 18, 62)</td><td>HSV(197, 18, 68)</td><td>RGB(144, 164, 174)</td><td>RGBA(144, 164, 174, 1)</td><td>CMYK(17, 6, 0, 32)</td></tr><tr><td>#78909c</td><td>HSL(197, 15, 52)</td><td>HSV(197, 20, 61)</td><td>RGB(120, 144, 156)</td><td>RGBA(120, 144, 156, 1)</td><td>CMYK(23, 8, 0, 39)</td></tr><tr><td>#607d8b</td><td>HSL(200, 25, 47)</td><td>HSV(200, 27, 55)</td><td>RGB(96, 125, 139)</td><td>RGBA(96, 125, 139, 1)</td><td>CMYK(31, 10, 0, 45)</td></tr><tr><td>#546e7a</td><td>HSL(197, 18, 41)</td><td>HSV(197, 30, 47)</td><td>RGB(84, 110, 122)</td><td>RGBA(84, 110, 122, 1)</td><td>CMYK(31, 10, 0, 52)</td></tr><tr><td>#455a64</td><td>HSL(197, 18, 33)</td><td>HSV(197, 29, 39)</td><td>RGB(69, 90, 100)</td><td>RGBA(69, 90, 100, 1)</td><td>CMYK(31, 10, 0, 61)</td></tr><tr><td>#37474f</td><td>HSL(197, 18, 26)</td><td>HSV(197, 29, 31)</td><td>RGB(55, 71, 79)</td><td>RGBA(55, 71, 79, 1)</td><td>CMYK(31, 10, 0, 69)</td></tr><tr><td>#263238</td><td>HSL(197, 18, 15)</td><td>HSV(197, 31, 20)</td><td>RGB(38, 50, 56)</td><td>RGBA(38, 50, 56, 1)</td><td>CMYK(32, 11, 0, 78)</td></tr></tbody></table>
                        </div>
                </div>
        </div>
</section>