<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Neumorphism <span class="text-primary">Colors</span></h1>
                                <p>Neumorphism Color System in HSL, HSV, RGB, RGBA, CMYK, HEX</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <p class="text-center"><b>Notice</b> - Note that the values of color codes in different formats are derived with the help of GPT-3.5 and may vary slightly depending on the specific color space conversion algorithm used.</p>
                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 1</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-1">#55efc4</div>
                                <div class="p-3 nu-2">#81ecec</div>
                                <div class="p-3 nu-3">#74b9ff</div>
                                <div class="p-3 nu-4">#a29bfe</div>
                                <div class="p-3 nu-5">#dfe6e9</div>
                                <div class="p-3 nu-6">#b2bec3</div>
                                <div class="p-3 nu-7">#6c5ce7</div>
                                <div class="p-3 nu-8">#0984e3</div>
                                <div class="p-3 nu-9">#00cec9</div>
                                <div class="p-3 nu-10">#00b894</div>
                                <div class="p-3 nu-11">#ffeaa7</div>
                                <div class="p-3 nu-12">#fab1a0</div>
                                <div class="p-3 nu-13">#ff7675</div>
                                <div class="p-3 nu-14">#fd79a8</div>
                                <div class="p-3 nu-15">#636e72</div>
                                <div class="p-3 nu-16">#2d3436</div>
                                <div class="p-3 nu-17">#e84393</div>
                                <div class="p-3 nu-18">#d63031</div>
                                <div class="p-3 nu-19">#e17055</div>
                                <div class="p-3 nu-20">#fdcb6e</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 1</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#55efc4</td><td>HSL(168, 77%, 67%)</td><td>HSV(168, 59%, 94%)</td><td>RGB(85, 239, 196)</td><td>RGBA(85, 239, 196, 1)</td><td>CMYK(64%, 0%, 18%, 6%)</td></tr><tr><td>#81ecec</td><td>HSL(180, 68%, 77%)</td><td>HSV(180, 45%, 93%)</td><td>RGB(129, 236, 236)</td><td>RGBA(129, 236, 236, 1)</td><td>CMYK(45%, 0%, 0%, 7%)</td></tr><tr><td>#74b9ff</td><td>HSL(204, 94%, 70%)</td><td>HSV(204, 53%, 100%)</td><td>RGB(116, 185, 255)</td><td>RGBA(116, 185, 255, 1)</td><td>CMYK(55%, 28%, 0%, 0%)</td></tr><tr><td>#a29bfe</td><td>HSL(250, 88%, 79%)</td><td>HSV(250, 33%, 100%)</td><td>RGB(162, 155, 254)</td><td>RGBA(162, 155, 254, 1)</td><td>CMYK(36%, 39%, 0%, 0%)</td></tr><tr><td>#dfe6e9</td><td>HSL(210, 22%, 88%)</td><td>HSV(210, 8%, 91%)</td><td>RGB(223, 230, 233)</td><td>RGBA(223, 230, 233, 1)</td><td>CMYK(4%, 1%, 0%, 9%)</td></tr><tr><td>#b2bec3</td><td>HSL(200, 12%, 70%)</td><td>HSV(200, 10%, 76%)</td><td>RGB(178, 190, 195)</td><td>RGBA(178, 190, 195, 1)</td><td>CMYK(9%, 3%, 0%, 24%)</td></tr><tr><td>#6c5ce7</td><td>HSL(252, 69%, 64%)</td><td>HSV(252, 63%, 90%)</td><td>RGB(108, 92, 231)</td><td>RGBA(108, 92, 231, 1)</td><td>CMYK(53%, 60%, 0%, 10%)</td></tr><tr><td>#0984e3</td><td>HSL(203, 90%, 44%)</td><td>HSV(203, 95%, 89%)</td><td>RGB(9, 132, 227)</td><td>RGBA(9, 132, 227, 1)</td><td>CMYK(96%, 42%, 0%, 11%)</td></tr><tr><td>#00cec9</td><td>HSL(178, 100%, 41%)</td><td>HSV(178, 100%, 80%)</td><td>RGB(0, 206, 201)</td><td>RGBA(0, 206, 201, 1)</td><td>CMYK(100%, 2%, 2%, 20%)</td></tr><tr><td>#00b894</td><td>HSL(168, 100%, 35%)</td><td>HSV(168, 100%, 72%)</td><td>RGB(0, 184, 148)</td><td>RGBA(0, 184, 148, 1)</td><td>CMYK(100%, 0%, 20%, 28%)</td></tr><tr><td>#ffeaa7</td><td>HSL(39, 100%, 83%)</td><td>HSV(39, 30%, 100%)</td><td>RGB(255, 234, 167)</td><td>RGBA(255, 234, 167, 1)</td><td>CMYK(0%, 9%, 35%, 0%)</td></tr><tr><td>#fab1a0</td><td>HSL(13, 83%, 79%)</td><td>HSV(13, 42%, 98%)</td><td>RGB(250, 177, 160)</td><td>RGBA(250, 177, 160, 1)</td><td>CMYK(0%, 29%, 36%, 2%)</td></tr><tr><td>#ff7675</td><td>HSL(0, 100%, 73%)</td><td>HSV(0, 51%, 100%)</td><td>RGB(255, 118, 117)</td><td>RGBA(255, 118, 117, 1)</td><td>CMYK(0%, 54%, 54%, 0%)</td></tr><tr><td>#fd79a8</td><td>HSL(333, 89%, 70%)</td><td>HSV(333, 43%, 99%)</td><td>RGB(253, 121, 168)</td><td>RGBA(253, 121, 168, 1)</td><td>CMYK(0%, 52%, 34%, 1%)</td></tr><tr><td>#636e72</td><td>HSL(193, 5%, 41%)</td><td>HSV(193, 12%, 45%)</td><td>RGB(99, 110, 114)</td><td>RGBA(99, 110, 114, 1)</td><td>CMYK(13%, 4%, 0%, 55%)</td></tr><tr><td>#2d3436</td><td>HSL(0, 0%, 20%)</td><td>HSV(0, 0%, 21%)</td><td>RGB(45, 52, 54)</td><td>RGBA(45, 52, 54, 1)</td><td>CMYK(17%, 4%, 0%, 79%)</td></tr><tr><td>#e84393</td><td>HSL(331, 71%, 57%)</td><td>HSV(331, 66%, 91%)</td><td>RGB(232, 67, 147)</td><td>RGBA(232, 67, 147, 1)</td><td>CMYK(0%, 71%, 37%, 9%)</td></tr><tr><td>#d63031</td><td>HSL(359, 70%, 49%)</td><td>HSV(359, 78%, 84%)</td><td>RGB(214, 48, 49)</td><td>RGBA(214, 48, 49, 1)</td><td>CMYK(0%, 78%, 77%, 16%)</td></tr><tr><td>#e17055</td><td>HSL(18, 71%, 61%)</td><td>HSV(18, 64%, 88%)</td><td>RGB(225, 112, 85)</td><td>RGBA(225, 112, 85, 1)</td><td>CMYK(0%, 50%, 62%, 12%)</td></tr><tr><td>#fdcb6e</td><td>HSL(37, 96%, 69%)</td><td>HSV(37, 55%, 99%)</td><td>RGB(253, 203, 110)</td><td>RGBA(253, 203, 110, 1)</td><td>CMYK(0%, 20%, 57%, 1%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 2</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-21">#fdcb6e</div>
                                <div class="p-3 nu-22">#ffbe76</div>
                                <div class="p-3 nu-23">#ff7979</div>
                                <div class="p-3 nu-24">#badc58</div>
                                <div class="p-3 nu-25">#dff9fb</div>
                                <div class="p-3 nu-26">#c7ecee</div>
                                <div class="p-3 nu-27">#6ab04c</div>
                                <div class="p-3 nu-28">#eb4d4b</div>
                                <div class="p-3 nu-29">#f0932b</div>
                                <div class="p-3 nu-30">#f9ca24</div>
                                <div class="p-3 nu-31">#7ed6df</div>
                                <div class="p-3 nu-32">#e056fd</div>
                                <div class="p-3 nu-33">#686de0</div>
                                <div class="p-3 nu-34">#30336b</div>
                                <div class="p-3 nu-35">#95afc0</div>
                                <div class="p-3 nu-36">#535c68</div>
                                <div class="p-3 nu-37">#130f40</div>
                                <div class="p-3 nu-38">#4834d4</div>
                                <div class="p-3 nu-39">#be2edd</div>
                                <div class="p-3 nu-40">#22a6b3</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 2</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fdcb6e</td><td>HSL(37, 96%, 69%)</td><td>HSV(37, 55%, 99%)</td><td>RGB(253, 203, 110)</td><td>RGBA(253, 203, 110, 1)</td><td>CMYK(0%, 20%, 57%, 1%)</td></tr><tr><td>#ffbe76</td><td>HSL(29, 100%, 74%)</td><td>HSV(29, 51%, 100%)</td><td>RGB(255, 190, 118)</td><td>RGBA(255, 190, 118, 1)</td><td>CMYK(0%, 25%, 54%, 0%)</td></tr><tr><td>#ff7979</td><td>HSL(0, 100%, 73%)</td><td>HSV(0, 49%, 100%)</td><td>RGB(255, 121, 121)</td><td>RGBA(255, 121, 121, 1)</td><td>CMYK(0%, 53%, 53%, 0%)</td></tr><tr><td>#badc58</td><td>HSL(83, 62%, 63%)</td><td>HSV(83, 57%, 86%)</td><td>RGB(186, 220, 88)</td><td>RGBA(186, 220, 88, 1)</td><td>CMYK(15%, 0%, 60%, 14%)</td></tr><tr><td>#dff9fb</td><td>HSL(185, 80%, 92%)</td><td>HSV(185, 12%, 99%)</td><td>RGB(223, 249, 251)</td><td>RGBA(223, 249, 251, 1)</td><td>CMYK(11%, 0%, 0%, 2%)</td></tr><tr><td>#c7ecee</td><td>HSL(187, 55%, 84%)</td><td>HSV(187, 20%, 93%)</td><td>RGB(199, 236, 238)</td><td>RGBA(199, 236, 238, 1)</td><td>CMYK(16%, 1%, 0%, 7%)</td></tr><tr><td>#6ab04c</td><td>HSL(101, 42%, 49%)</td><td>HSV(101, 58%, 69%)</td><td>RGB(106, 176, 76)</td><td>RGBA(106, 176, 76, 1)</td><td>CMYK(40%, 0%, 57%, 31%)</td></tr><tr><td>#eb4d4b</td><td>HSL(0, 78%, 58%)</td><td>HSV(0, 75%, 92%)</td><td>RGB(235, 77, 75)</td><td>RGBA(235, 77, 75, 1)</td><td>CMYK(0%, 67%, 68%, 8%)</td></tr><tr><td>#f0932b</td><td>HSL(27, 91%, 57%)</td><td>HSV(27, 87%, 94%)</td><td>RGB(240, 147, 43)</td><td>RGBA(240, 147, 43, 1)</td><td>CMYK(0%, 39%, 82%, 6%)</td></tr><tr><td>#f9ca24</td><td>HSL(45, 95%, 56%)</td><td>HSV(45, 86%, 98%)</td><td>RGB(249, 202, 36)</td><td>RGBA(249, 202, 36, 1)</td><td>CMYK(0%, 19%, 86%, 2%)</td></tr><tr><td>#7ed6df</td><td>HSL(190, 64%, 65%)</td><td>HSV(190, 48%, 87%)</td><td>RGB(126, 214, 223)</td><td>RGBA(126, 214, 223, 1)</td><td>CMYK(43%, 4%, 0%, 13%)</td></tr><tr><td>#e056fd</td><td>HSL(282, 92%, 66%)</td><td>HSV(282, 70%, 99%)</td><td>RGB(224, 86, 253)</td><td>RGBA(224, 86, 253, 1)</td><td>CMYK(12%, 66%, 0%, 1%)</td></tr><tr><td>#686de0</td><td>HSL(239, 63%, 61%)</td><td>HSV(239, 57%, 88%)</td><td>RGB(104, 109, 224)</td><td>RGBA(104, 109, 224, 1)</td><td>CMYK(54%, 51%, 0%, 12%)</td></tr><tr><td>#30336b</td><td>HSL(231, 40%, 27%)</td><td>HSV(231, 57%, 42%)</td><td>RGB(48, 51, 107)</td><td>RGBA(48, 51, 107, 1)</td><td>CMYK(55%, 52%, 0%, 58%)</td></tr><tr><td>#95afc0</td><td>HSL(210, 27%, 65%)</td><td>HSV(210, 25%, 75%)</td><td>RGB(149, 175, 192)</td><td>RGBA(149, 175, 192, 1)</td><td>CMYK(22%, 9%, 0%, 25%)</td></tr><tr><td>#535c68</td><td>HSL(217, 13%, 40%)</td><td>HSV(217, 22%, 41%)</td><td>RGB(83, 92, 104)</td><td>RGBA(83, 92, 104, 1)</td><td>CMYK(20%, 11%, 0%, 59%)</td></tr><tr><td>#130f40</td><td>HSL(248, 57%, 14%)</td><td>HSV(248, 70%, 25%)</td><td>RGB(19, 15, 64)</td><td>RGBA(19, 15, 64, 1)</td><td>CMYK(70%, 76%, 0%, 75%)</td></tr><tr><td>#4834d4</td><td>HSL(254, 69%, 46%)</td><td>HSV(254, 77%, 83%)</td><td>RGB(72, 52, 212)</td><td>RGBA(72, 52, 212, 1)</td><td>CMYK(66%, 75%, 0%, 17%)</td></tr><tr><td>#be2edd</td><td>HSL(295, 62%, 52%)</td><td>HSV(295, 79%, 92%)</td><td>RGB(190, 46, 221)</td><td>RGBA(190, 46, 221, 1)</td><td>CMYK(14%, 79%, 0%, 13%)</td></tr><tr><td>#22a6b3</td><td>HSL(185, 70%, 46%)</td><td>HSV(185, 80%, 70%)</td><td>RGB(34, 166, 179)</td><td>RGBA(34, 166, 179, 1)</td><td>CMYK(81%, 7%, 0%, 30%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 3</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-41">#00a8ff</div>
                                <div class="p-3 nu-42">#9c88ff</div>
                                <div class="p-3 nu-43">#fbc531</div>
                                <div class="p-3 nu-44">#4cd137</div>
                                <div class="p-3 nu-45">#487eb0</div>
                                <div class="p-3 nu-46">#40739e</div>
                                <div class="p-3 nu-47">#44bd32</div>
                                <div class="p-3 nu-48">#e1b12c</div>
                                <div class="p-3 nu-49">#8c7ae6</div>
                                <div class="p-3 nu-50">#0097e6</div>
                                <div class="p-3 nu-51">#e84118</div>
                                <div class="p-3 nu-52">#f5f6fa</div>
                                <div class="p-3 nu-53">#7f8fa6</div>
                                <div class="p-3 nu-54">#273c75</div>
                                <div class="p-3 nu-55">#353b48</div>
                                <div class="p-3 nu-56">#2f3640</div>
                                <div class="p-3 nu-57">#192a56</div>
                                <div class="p-3 nu-58">#718093</div>
                                <div class="p-3 nu-59">#dcdde1</div>
                                <div class="p-3 nu-60">#c23616</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 3</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#00a8ff</td><td>HSL(201, 100%, 50%)</td><td>HSV(201,100%,100%)</td><td>RGB(0, 168, 255)</td><td>RGBA(0, 168, 255, 1)</td><td>CMYK(100, 34, 0, 0)</td></tr><tr><td>#9c88ff</td><td>HSL(256, 89%, 70%)</td><td>HSV(256, 45%, 100%)</td><td>RGB(156, 136, 255)</td><td>RGBA(156, 136, 255, 1)</td><td>CMYK(39, 47, 0, 0)</td></tr><tr><td>#fbc531</td><td>HSL(47, 98%, 55%)</td><td>HSV(47, 79%, 98%)</td><td>RGB(251, 197, 49)</td><td>RGBA(251, 197, 49, 1)</td><td>CMYK(0, 21, 80, 2)</td></tr><tr><td>#4cd137</td><td>HSL(123, 64%, 48%)</td><td>HSV(123, 76%, 82%)</td><td>RGB(76, 209, 55)</td><td>RGBA(76, 209, 55, 1)</td><td>CMYK(64, 0, 74, 18)</td></tr><tr><td>#487eb0</td><td>HSL(204, 43%, 49%)</td><td>HSV(204, 57%, 69%)</td><td>RGB(72, 126, 176)</td><td>RGBA(72, 126, 176, 1)</td><td>CMYK(59, 28, 0, 31)</td></tr><tr><td>#40739e</td><td>HSL(206, 43%, 43%)</td><td>HSV(206, 60%, 62%)</td><td>RGB(64, 115, 158)</td><td>RGBA(64, 115, 158, 1)</td><td>CMYK(59, 27, 0, 38)</td></tr><tr><td>#44bd32</td><td>HSL(99, 61%, 42%)</td><td>HSV(99, 75%, 74%)</td><td>RGB(68, 189, 50)</td><td>RGBA(68, 189, 50, 1)</td><td>CMYK(64, 0, 73, 26)</td></tr><tr><td>#e1b12c</td><td>HSL(42, 75%, 46%)</td><td>HSV(42, 82%, 88%)</td><td>RGB(225, 177, 44)</td><td>RGBA(225, 177, 44, 1)</td><td>CMYK(0, 21, 80, 12)</td></tr><tr><td>#8c7ae6</td><td>HSL(252, 60%, 70%)</td><td>HSV(252, 56%, 90%)</td><td>RGB(140, 122, 230)</td><td>RGBA(140, 122, 230, 1)</td><td>CMYK(39, 47, 0, 10)</td></tr><tr><td>#0097e6</td><td>HSL(200, 100%, 45%)</td><td>HSV(200, 100%, 90%)</td><td>RGB(0, 151, 230)</td><td>RGBA(0, 151, 230, 1)</td><td>CMYK(100, 34, 0, 10)</td></tr><tr><td>#e84118</td><td>HSL(9, 82%, 51%)</td><td>HSV(9, 92%, 91%)</td><td>RGB(232, 65, 24)</td><td>RGBA(232, 65, 24, 1)</td><td>CMYK(0, 72, 90, 9)</td></tr><tr><td>#f5f6fa</td><td>HSL(240, 33%, 97%)</td><td>HSV(240, 4%, 98%)</td><td>RGB(245, 246, 250)</td><td>RGBA(245, 246, 250, 1)</td><td>CMYK(2, 2, 0, 2)</td></tr><tr><td>#7f8fa6</td><td>HSL(218, 21%, 51%)</td><td>HSV(218, 27%, 65%)</td><td>RGB(127, 143, 166)</td><td>RGBA(127, 143, 166, 1)</td><td>CMYK(24, 14, 0, 35)</td></tr><tr><td>#273c75</td><td>HSL(220, 48%, 28%)</td><td>HSV(220, 65%, 46%)</td><td>RGB(39, 60, 117)</td><td>RGBA(39, 60, 117, 1)</td><td>CMYK(67, 49, 0, 54)</td></tr><tr><td>#353b48</td><td>HSL(220, 16%, 21%)</td><td>HSV(220, 27%, 28%)</td><td>RGB(53, 59, 72)</td><td>RGBA(53, 59, 72, 1)</td><td>CMYK(26, 18, 0, 72)</td></tr><tr><td>#2f3640</td><td>HSL(218, 14%, 19%)</td><td>HSV(218, 27%, 25%)</td><td>RGB(47, 54, 64)</td><td>RGBA(47, 54, 64, 1)</td><td>CMYK(27, 16, 0, 75)</td></tr><tr><td>#192a56</td><td>HSL(220, 51%, 25%)</td><td>HSV(220, 66%, 34%)</td><td>RGB(25, 42, 86)</td><td>RGBA(25, 42, 86, 1)</td><td>CMYK(71, 51, 0, 66)</td></tr><tr><td>#718093</td><td>HSL(207, 19%, 48%)</td><td>HSV(207, 14%, 56%)</td><td>RGB(113, 128, 147)</td><td>RGBA(113, 128, 147, 1)</td><td>CMYK(23, 13, 0, 42)</td></tr><tr><td>#dcdde1</td><td>HSL(240, 5%, 86%)</td><td>HSV(240, 2%, 88%)</td><td>RGB(220, 221, 225)</td><td>RGBA(220, 221, 225, 1)</td><td>CMYK(2, 2, 0, 12)</td></tr><tr><td>#c23616</td><td>HSL(9, 80%, 43%)</td><td>HSV(9, 92%, 76%)</td><td>RGB(194, 54, 22)</td><td>RGBA(194, 54, 22, 1)</td><td>CMYK(0, 72, 89, 24)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 4</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-61">#ff9ff3</div>
                                <div class="p-3 nu-62">#feca57</div>
                                <div class="p-3 nu-63">#ff6b6b</div>
                                <div class="p-3 nu-64">#48dbfb</div>
                                <div class="p-3 nu-65">#1dd1a1</div>
                                <div class="p-3 nu-66">#10ac84</div>
                                <div class="p-3 nu-67">#0abde3</div>
                                <div class="p-3 nu-68">#ee5253</div>
                                <div class="p-3 nu-69">#ff9f43</div>
                                <div class="p-3 nu-70">#f368e0</div>
                                <div class="p-3 nu-71">#00d2d3</div>
                                <div class="p-3 nu-72">#54a0ff</div>
                                <div class="p-3 nu-73">#5f27cd</div>
                                <div class="p-3 nu-74">#c8d6e5</div>
                                <div class="p-3 nu-75">#576574</div>
                                <div class="p-3 nu-76">#222f3e</div>
                                <div class="p-3 nu-77">#8395a7</div>
                                <div class="p-3 nu-78">#341f97</div>
                                <div class="p-3 nu-79">#2e86de</div>
                                <div class="p-3 nu-80">#01a3a4</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 4</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ff9ff3</td><td>HSL(310, 100%, 80%)</td><td>HSV(310, 28%, 100%)</td><td>RGB(255, 159, 243)</td><td>RGBA(255, 159, 243, 1)</td><td>CMYK(0%, 38%, 5%, 0%)</td></tr><tr><td>#feca57</td><td>HSL(42, 95%, 66%)</td><td>HSV(42, 65%, 100%)</td><td>RGB(254, 202, 87)</td><td>RGBA(254, 202, 87, 1)</td><td>CMYK(0%, 20%, 66%, 0%)</td></tr><tr><td>#ff6b6b</td><td>HSL(0, 100%, 73%)</td><td>HSV(0, 57%, 100%)</td><td>RGB(255, 107, 107)</td><td>RGBA(255, 107, 107, 1)</td><td>CMYK(0%, 58%, 58%, 0%)</td></tr><tr><td>#48dbfb</td><td>HSL(189, 92%, 64%)</td><td>HSV(189, 74%, 98%)</td><td>RGB(72, 219, 251)</td><td>RGBA(72, 219, 251, 1)</td><td>CMYK(71%, 13%, 0%, 2%)</td></tr><tr><td>#1dd1a1</td><td>HSL(169, 70%, 45%)</td><td>HSV(169, 40%, 82%)</td><td>RGB(29, 209, 161)</td><td>RGBA(29, 209, 161, 1)</td><td>CMYK(86%, 0%, 23%, 18%)</td></tr><tr><td>#10ac84</td><td>HSL(167, 82%, 35%)</td><td>HSV(167, 88%, 67%)</td><td>RGB(16, 172, 132)</td><td>RGBA(16, 172, 132, 1)</td><td>CMYK(91%, 0%, 23%, 33%)</td></tr><tr><td>#0abde3</td><td>HSL(193, 92%, 45%)</td><td>HSV(193, 94%, 89%)</td><td>RGB(10, 189, 227)</td><td>RGBA(10, 189, 227, 1)</td><td>CMYK(96%, 17%, 0%, 11%)</td></tr><tr><td>#ee5253</td><td>HSL(359, 77%, 60%)</td><td>HSV(359, 62%, 93%)</td><td>RGB(238, 82, 83)</td><td>RGBA(238, 82, 83, 1)</td><td>CMYK(0%, 66%, 65%, 7%)</td></tr><tr><td>#ff9f43</td><td>HSL(28, 100%, 63%)</td><td>HSV(28, 71%, 100%)</td><td>RGB(255, 159, 67)</td><td>RGBA(255, 159, 67, 1)</td><td>CMYK(0%, 38%, 74%, 0%)</td></tr><tr><td>#f368e0</td><td>HSL(305, 78%, 68%)</td><td>HSV(305, 63%, 95%)</td><td>RGB(243, 104, 224)</td><td>RGBA(243, 104, 224, 1)</td><td>CMYK(0%, 57%, 8%, 5%)</td></tr><tr><td>#00d2d3</td><td>HSL(181, 100%, 41%)</td><td>HSV(181, 100%, 83%)</td><td>RGB(0, 210, 211)</td><td>RGBA(0, 210, 211, 1)</td><td>CMYK(100%, 0%, 0%, 17%)</td></tr><tr><td>#54a0ff</td><td>HSL(216, 100%, 63%)</td><td>HSV(216, 66%, 100%)</td><td>RGB(84, 160, 255)</td><td>RGBA(84, 160, 255, 1)</td><td>CMYK(67%, 37%, 0%, 0%)</td></tr><tr><td>#5f27cd</td><td>HSL(267, 71%, 53%)</td><td>HSV(267, 80%, 80%)</td><td>RGB(95, 39, 205)</td><td>RGBA(95, 39, 205, 1)</td><td>CMYK(54%, 81%, 0%, 20%)</td></tr><tr><td>#c8d6e5</td><td>HSL(211, 33%, 81%)</td><td>HSV(211, 21%, 90%)</td><td>RGB(200, 214, 229)</td><td>RGBA(200, 214, 229, 1)</td><td>CMYK(13%, 6%, 0%, 10%)</td></tr><tr><td>#576574</td><td>HSL(240, 10%, 34%)</td><td>HSV(240, 11%, 40%)</td><td>RGB(87, 101, 116)</td><td>RGBA(87, 101, 116, 1)</td><td>CMYK(25%, 13%, 0%, 55%)</td></tr><tr><td>#222f3e</td><td>HSL(210, 23%, 18%)</td><td>HSV(210, 44%, 24%)</td><td>RGB(34, 47, 62)</td><td>RGBA(34, 47, 62, 1)</td><td>CMYK(45%, 24%, 0%, 76%)</td></tr><tr><td>#8395a7</td><td>HSL(210, 17%, 56%)</td><td>HSV(210, 23%, 65%)</td><td>RGB(131, 149, 167)</td><td>RGBA(131, 149, 167, 1)</td><td>CMYK(22%, 11%, 0%, 35%)</td></tr><tr><td>#341f97</td><td>HSL(253, 64%, 31%)</td><td>HSV(253, 80%, 59%)</td><td>RGB(52, 31, 151)</td><td>RGBA(52, 31, 151, 1)</td><td>CMYK(66%, 79%, 0%, 41%)</td></tr><tr><td>#2e86de</td><td>HSL(204, 77%, 48%)</td><td>HSV(204, 81%, 87%)</td><td>RGB(46, 134, 222)</td><td>RGBA(46, 134, 222, 1)</td><td>CMYK(79%, 40%, 0%, 13%)</td></tr><tr><td>#01a3a4</td><td>HSL(181, 99%, 34%)</td><td>HSV(181, 99%, 64%)</td><td>RGB(1, 163, 164)</td><td>RGBA(1, 163, 164, 1)</td><td>CMYK(99%, 0%, 0%, 36%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 5</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-81">#eccc68</div>
                                <div class="p-3 nu-82">#ff7f50</div>
                                <div class="p-3 nu-83">#ff6b81</div>
                                <div class="p-3 nu-84">#a4b0be</div>
                                <div class="p-3 nu-85">#57606f</div>
                                <div class="p-3 nu-86">#2f3542</div>
                                <div class="p-3 nu-87">#747d8c</div>
                                <div class="p-3 nu-88">#ff4757</div>
                                <div class="p-3 nu-89">#ff6348</div>
                                <div class="p-3 nu-90">#ffa502</div>
                                <div class="p-3 nu-91">#7bed9f</div>
                                <div class="p-3 nu-92">#70a1ff</div>
                                <div class="p-3 nu-93">#5352ed</div>
                                <div class="p-3 nu-94">#ffffff</div>
                                <div class="p-3 nu-95">#dfe4ea</div>
                                <div class="p-3 nu-96">#ced6e0</div>
                                <div class="p-3 nu-97">#f1f2f6</div>
                                <div class="p-3 nu-98">#3742fa</div>
                                <div class="p-3 nu-99">#1e90ff</div>
                                <div class="p-3 nu-100">#2ed573</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 5</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#eccc68</td><td>HSL(42, 82%, 67%)</td><td>HSV(42, 57%, 93%)</td><td>RGB(236, 204, 104)</td><td>RGBA(236, 204, 104, 1)</td><td>CMYK(0%, 14%, 56%, 7%)</td></tr><tr><td>#ff7f50</td><td>HSL(16, 100%, 66%)</td><td>HSV(16, 100%, 100%)</td><td>RGB(255, 127, 80)</td><td>RGBA(255, 127, 80, 1)</td><td>CMYK(0%, 50%, 69%, 0%)</td></tr><tr><td>#ff6b81</td><td>HSL(346, 100%, 70%)</td><td>HSV(346, 57%, 100%)</td><td>RGB(255, 107, 129)</td><td>RGBA(255, 107, 129, 1)</td><td>CMYK(0%, 58%, 50%, 0%)</td></tr><tr><td>#a4b0be</td><td>HSL(210, 25%, 67%)</td><td>HSV(210, 14%, 75%)</td><td>RGB(164, 176, 190)</td><td>RGBA(164, 176, 190, 1)</td><td>CMYK(14%, 7%, 0%, 25%)</td></tr><tr><td>#57606f</td><td>HSL(212, 10%, 34%)</td><td>HSV(212, 17%, 44%)</td><td>RGB(87, 96, 111)</td><td>RGBA(87, 96, 111, 1)</td><td>CMYK(22%, 13%, 0%, 56%)</td></tr><tr><td>#2f3542</td><td>HSL(221, 15%, 22%)</td><td>HSV(221, 30%, 25%)</td><td>RGB(47, 53, 66)</td><td>RGBA(47, 53, 66, 1)</td><td>CMYK(29%, 20%, 0%, 74%)</td></tr><tr><td>#747d8c</td><td>HSL(214, 10%, 51%)</td><td>HSV(214, 16%, 54%)</td><td>RGB(116, 125, 140)</td><td>RGBA(116, 125, 140, 1)</td><td>CMYK(17%, 11%, 0%, 45%)</td></tr><tr><td>#ff4757</td><td>HSL(351, 100%, 63%)</td><td>HSV(351, 70%, 100%)</td><td>RGB(255, 71, 87)</td><td>RGBA(255, 71, 87, 1)</td><td>CMYK(0%, 72%, 66%, 0%)</td></tr><tr><td>#ff6348</td><td>HSL(9, 100%, 62%)</td><td>HSV(9, 67%, 100%)</td><td>RGB(255, 99, 72)</td><td>RGBA(255, 99, 72, 1)</td><td>CMYK(0%, 61%, 72%, 0%)</td></tr><tr><td>#ffa502</td><td>HSL(36, 100%, 53%)</td><td>HSV(36, 97%, 100%)</td><td>RGB(255, 165, 2)</td><td>RGBA(255, 165, 2, 1)</td><td>CMYK(0%, 35%, 99%, 0%)</td></tr><tr><td>#7bed9f</td><td>HSL(145, 67%, 71%)</td><td>HSV(145, 40%, 92%)</td><td>RGB(123, 237, 159)</td><td>RGBA(123, 237, 159, 1)</td><td>CMYK(48%, 0%, 33%, 7%)</td></tr><tr><td>#70a1ff</td><td>HSL(219, 100%, 65%)</td><td>HSV(219, 56%, 100%)</td><td>RGB(112, 161, 255)</td><td>RGBA(112, 161, 255, 1)</td><td>CMYK(56%, 37%, 0%, 0%)</td></tr><tr><td>#5352ed</td><td>HSL(241, 81%, 64%)</td><td>HSV(241, 80%, 93%)</td><td>RGB(83, 82, 237)</td><td>RGBA(83, 82, 237, 1)</td><td>CMYK(65%, 65%, 0%, 7%)</td></tr><tr><td>#ffffff</td><td>HSL(0, 0%, 100%)</td><td>HSV(0, 0%, 100%)</td><td>RGB(255, 255, 255)</td><td>RGBA(255, 255, 255, 1)</td><td>CMYK(0%, 0%, 0%, 0%)</td></tr><tr><td>#dfe4ea</td><td>HSL(218, 27%, 90%)</td><td>HSV(218, 15%, 91%)</td><td>RGB(223, 228, 234)</td><td>RGBA(223, 228, 234, 1)</td><td>CMYK(5%, 3%, 0%, 8%)</td></tr><tr><td>#ced6e0</td><td>HSL(216, 26%, 82%)</td><td>HSV(216, 14%, 88%)</td><td>RGB(206, 214, 224)</td><td>RGBA(206, 214, 224, 1)</td><td>CMYK(8%, 4%, 0%, 12%)</td></tr><tr><td>#f1f2f6</td><td>HSL(240, 20%, 95%)</td><td>HSV(240, 4%, 96%)</td><td>RGB(241, 242, 246)</td><td>RGBA(241, 242, 246, 1)</td><td>CMYK(2%, 1%, 0%, 4%)</td></tr><tr><td>#3742fa</td><td>HSL(232, 83%, 56%)</td><td>HSV(232, 79%, 98%)</td><td>RGB(55, 66, 250)</td><td>RGBA(55, 66, 250, 1)</td><td>CMYK(78%, 74%, 0%, 2%)</td></tr><tr><td>#1e90ff</td><td>HSL(204, 100%, 56%)</td><td>HSV(204, 88%, 100%)</td><td>RGB(30, 144, 255)</td><td>RGBA(30, 144, 255, 1)</td><td>CMYK(88%, 44%, 0%, 0%)</td></tr><tr><td>#2ed573</td><td>HSL(145, 66%, 56%)</td><td>HSV(145, 64%, 83%)</td><td>RGB(46, 213, 115)</td><td>RGBA(46, 213, 115, 1)</td><td>CMYK(78%, 0%, 46%, 16%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 6</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-101">#ffc312</div>
                                <div class="p-3 nu-102">#c4e538</div>
                                <div class="p-3 nu-103">#12cbc4</div>
                                <div class="p-3 nu-104">#fda7df</div>
                                <div class="p-3 nu-105">#ed4c67</div>
                                <div class="p-3 nu-106">#b53471</div>
                                <div class="p-3 nu-107">#d980fa</div>
                                <div class="p-3 nu-108">#1289a7</div>
                                <div class="p-3 nu-109">#a3cb38</div>
                                <div class="p-3 nu-110">#f79f1f</div>
                                <div class="p-3 nu-111">#ee5a24</div>
                                <div class="p-3 nu-112">#009432</div>
                                <div class="p-3 nu-113">#0652dd</div>
                                <div class="p-3 nu-114">#9980fa</div>
                                <div class="p-3 nu-115">#833471</div>
                                <div class="p-3 nu-116">#6f1e51</div>
                                <div class="p-3 nu-117">#5758bb</div>
                                <div class="p-3 nu-118">#1b1464</div>
                                <div class="p-3 nu-119">#006266</div>
                                <div class="p-3 nu-120">#ea2027</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 6</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ffc312</td><td>HSL(45, 100%, 51%)</td><td>HSV(45, 97%, 100%)</td><td>RGB(255, 195, 18)</td><td>RGBA(255, 195, 18, 1)</td><td>CMYK(0%, 24%, 93%, 0%)</td></tr><tr><td>#c4e538</td><td>HSL(72, 85%, 54%)</td><td>HSV(72, 80%, 90%)</td><td>RGB(196, 229, 56)</td><td>RGBA(196, 229, 56, 1)</td><td>CMYK(15%, 0%, 76%, 10%)</td></tr><tr><td>#12cbc4</td><td>HSL(178, 75%, 45%)</td><td>HSV(178, 90%, 77%)</td><td>RGB(18, 203, 196)</td><td>RGBA(18, 203, 196, 1)</td><td>CMYK(91%, 0%, 3%, 20%)</td></tr><tr><td>#fda7df</td><td>HSL(323, 94%, 77%)</td><td>HSV(323, 42%, 99%)</td><td>RGB(253, 167, 223)</td><td>RGBA(253, 167, 223, 1)</td><td>CMYK(0%, 34%, 12%, 1%)</td></tr><tr><td>#ed4c67</td><td>HSL(345, 75%, 60%)</td><td>HSV(345, 75%, 93%)</td><td>RGB(237, 76, 103)</td><td>RGBA(237, 76, 103, 1)</td><td>CMYK(0%, 68%, 57%, 7%)</td></tr><tr><td>#b53471</td><td>HSL(324, 56%, 48%)</td><td>HSV(324, 68%, 71%)</td><td>RGB(181, 52, 113)</td><td>RGBA(181, 52, 113, 1)</td><td>CMYK(0%, 71%, 38%, 29%)</td></tr><tr><td>#d980fa</td><td>HSL(288, 81%, 67%)</td><td>HSV(288, 47%, 98%)</td><td>RGB(217, 128, 250)</td><td>RGBA(217, 128, 250, 1)</td><td>CMYK(13%, 49%, 0%, 2%)</td></tr><tr><td>#1289a7</td><td>HSL(191, 80%, 40%)</td><td>HSV(191, 88%, 65%)</td><td>RGB(18, 137, 167)</td><td>RGBA(18, 137, 167, 1)</td><td>CMYK(89%, 18%, 0%, 35%)</td></tr><tr><td>#a3cb38</td><td>HSL(79, 61%, 49%)</td><td>HSV(79, 77%, 80%)</td><td>RGB(163, 203, 56)</td><td>RGBA(163, 203, 56, 1)</td><td>CMYK(20%, 0%, 72%, 20%)</td></tr><tr><td>#f79f1f</td><td>HSL(35, 95%, 50%)</td><td>HSV(35, 88%, 97%)</td><td>RGB(247, 159, 31)</td><td>RGBA(247, 159, 31, 1)</td><td>CMYK(0%, 36%, 87%, 3%)</td></tr><tr><td>#ee5a24</td><td>HSL(18, 86%, 52%)</td><td>HSV(18, 89%, 93%)</td><td>RGB(238, 90, 36)</td><td>RGBA(238, 90, 36, 1)</td><td>CMYK(0%, 62%, 85%, 7%)</td></tr><tr><td>#009432</td><td>HSL(145, 100%, 30%)</td><td>HSV(145, 100%, 58%)</td><td>RGB(0, 148, 50)</td><td>RGBA(0, 148, 50, 1)</td><td>CMYK(100%, 0%, 66%, 42%)</td></tr><tr><td>#0652dd</td><td>HSL(219, 92%, 42%)</td><td>HSV(219, 97%, 86%)</td><td>RGB(6, 82, 221)</td><td>RGBA(6, 82, 221, 1)</td><td>CMYK(97%, 63%, 0%, 13%)</td></tr><tr><td>#9980fa</td><td>HSL(253, 76%, 71%)</td><td>HSV(253, 50%, 98%)</td><td>RGB(153, 128, 250)</td><td>RGBA(153, 128, 250, 1)</td><td>CMYK(39%, 49%, 0%, 2%)</td></tr><tr><td>#833471</td><td>HSL(308, 40%, 40%)</td><td>HSV(308, 61%, 52%)</td><td>RGB(131, 52, 113)</td><td>RGBA(131, 52, 113, 1)</td><td>CMYK(0%, 60%, 14%, 49%)</td></tr><tr><td>#6f1e51</td><td>HSL(327, 56%, 31%)</td><td>HSV(327, 70%, 44%)</td><td>RGB(111, 30, 81)</td><td>RGBA(111, 30, 81, 1)</td><td>CMYK(0%, 73%, 27%, 57%)</td></tr><tr><td>#5758bb</td><td>HSL(240, 49%, 47%)</td><td>HSV(240, 51%, 73%)</td><td>RGB(87, 88, 187)</td><td>RGBA(87, 88, 187, 1)</td><td>CMYK(53%, 53%, 0%, 27%)</td></tr><tr><td>#1b1464</td><td>HSL(243, 68%, 24%)</td><td>HSV(243, 77%, 39%)</td><td>RGB(27, 20, 100)</td><td>RGBA(27, 20, 100, 1)</td><td>CMYK(73%, 80%, 0%, 61%)</td></tr><tr><td>#006266</td><td>HSL(184, 100%, 19%)</td><td>HSV(184, 100%, 39%)</td><td>RGB(0, 98, 102)</td><td>RGBA(0, 98, 102, 1)</td><td>CMYK(100%, 4%, 0%, 60%)</td></tr><tr><td>#ea2027</td><td>HSL(358, 85%, 53%)</td><td>HSV(358, 85%, 91%)</td><td>RGB(234, 32, 39)</td><td>RGBA(234, 32, 39, 1)</td><td>CMYK(0%, 86%, 83%, 8%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 7</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-121">#fad390</div>
                                <div class="p-3 nu-122">#f8c291</div>
                                <div class="p-3 nu-123">#6a89cc</div>
                                <div class="p-3 nu-124">#82ccdd</div>
                                <div class="p-3 nu-125">#b8e994</div>
                                <div class="p-3 nu-126">#78e08f</div>
                                <div class="p-3 nu-127">#60a3bc</div>
                                <div class="p-3 nu-128">#4a69bd</div>
                                <div class="p-3 nu-129">#e55039</div>
                                <div class="p-3 nu-130">#f6b93b</div>
                                <div class="p-3 nu-131">#fa983a</div>
                                <div class="p-3 nu-132">#eb2f06</div>
                                <div class="p-3 nu-133">#1e3799</div>
                                <div class="p-3 nu-134">#3c6382</div>
                                <div class="p-3 nu-135">#38ada9</div>
                                <div class="p-3 nu-136">#079992</div>
                                <div class="p-3 nu-137">#0a3d62</div>
                                <div class="p-3 nu-138">#0c2461</div>
                                <div class="p-3 nu-139">#b71540</div>
                                <div class="p-3 nu-140">#e58e26</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 6</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fad390</td><td>HSL(39, 88%, 73%)</td><td>HSV(39, 40%, 98%)</td><td>RGB(250, 211, 144)</td><td>RGBA(250, 211, 144, 1)</td><td>CMYK(0%, 16%, 42%, 2%)</td></tr><tr><td>#f8c291</td><td>HSL(22, 83%, 75%)</td><td>HSV(22, 45%, 97%)</td><td>RGB(248, 194, 145)</td><td>RGBA(248, 194, 145, 1)</td><td>CMYK(0%, 22%, 42%, 3%)</td></tr><tr><td>#6a89cc</td><td>HSL(225, 50%, 63%)</td><td>HSV(225, 46%, 80%)</td><td>RGB(106, 137, 204)</td><td>RGBA(106, 137, 204, 1)</td><td>CMYK(48%, 33%, 0%, 20%)</td></tr><tr><td>#82ccdd</td><td>HSL(188, 60%, 66%)</td><td>HSV(188, 32%, 87%)</td><td>RGB(130, 204, 221)</td><td>RGBA(130, 204, 221, 1)</td><td>CMYK(41%, 8%, 0%, 13%)</td></tr><tr><td>#b8e994</td><td>HSL(98, 70%, 69%)</td><td>HSV(98, 48%, 91%)</td><td>RGB(184, 233, 148)</td><td>RGBA(184, 233, 148, 1)</td><td>CMYK(21%, 0%, 36%, 9%)</td></tr><tr><td>#78e08f</td><td>HSL(150, 72%, 61%)</td><td>HSV(150, 49%, 88%)</td><td>RGB(120, 224, 143)</td><td>RGBA(120, 224, 143, 1)</td><td>CMYK(47%, 0%, 36%, 12%)</td></tr><tr><td>#60a3bc</td><td>HSL(198, 41%, 56%)</td><td>HSV(198, 49%, 73%)</td><td>RGB(96, 163, 188)</td><td>RGBA(96, 163, 188, 1)</td><td>CMYK(49%, 13%, 0%, 26%)</td></tr><tr><td>#4a69bd</td><td>HSL(231, 57%, 54%)</td><td>HSV(231, 61%, 74%)</td><td>RGB(74, 105, 189)</td><td>RGBA(74, 105, 189, 1)</td><td>CMYK(61%, 44%, 0%, 26%)</td></tr><tr><td>#e55039</td><td>HSL(9, 76%, 53%)</td><td>HSV(9, 77%, 89%)</td><td>RGB(229, 80, 57)</td><td>RGBA(229, 80, 57, 1)</td><td>CMYK(0%, 65%, 75%, 10%)</td></tr><tr><td>#f6b93b</td><td>HSL(38, 90%, 58%)</td><td>HSV(38, 78%, 96%)</td><td>RGB(246, 185, 59)</td><td>RGBA(246, 185, 59, 1)</td><td>CMYK(0%, 25%, 76%, 4%)</td></tr><tr><td>#fa983a</td><td>HSL(27, 92%, 57%)</td><td>HSV(27, 79%, 98%)</td><td>RGB(250, 152, 58)</td><td>RGBA(250, 152, 58, 1)</td><td>CMYK(0%, 39%, 77%, 2%)</td></tr><tr><td>#eb2f06</td><td>HSL(11, 94%, 47%)</td><td>HSV(11, 98%, 92%)</td><td>RGB(235, 47, 6)</td><td>RGBA(235, 47, 6, 1)</td><td>CMYK(0%, 80%, 97%, 8%)</td></tr><tr><td>#1e3799</td><td>HSL(226, 69%, 36%)</td><td>HSV(226, 80%, 60%)</td><td>RGB(30, 55, 153)</td><td>RGBA(30, 55, 153, 1)</td><td>CMYK(80%, 64%, 0%, 40%)</td></tr><tr><td>#3c6382</td><td>HSL(199, 38%, 39%)</td><td>HSV(199, 54%, 51%)</td><td>RGB(60, 99, 130)</td><td>RGBA(60, 99, 130, 1)</td><td>CMYK(54%, 24%, 0%, 49%)</td></tr><tr><td>#38ada9</td><td>HSL(179, 46%, 49%)</td><td>HSV(179, 65%, 67%)</td><td>RGB(56, 173, 169)</td><td>RGBA(56, 173, 169, 1)</td><td>CMYK(68%, 0%, 2%, 32%)</td></tr><tr><td>#079992</td><td>HSL(183, 87%, 26%)</td><td>HSV(183, 91%, 60%)</td><td>RGB(7, 153, 146)</td><td>RGBA(7, 153, 146, 1)</td><td>CMYK(95%, 0%, 5%, 40%)</td></tr><tr><td>#0a3d62</td><td>HSL(199, 76%, 19%)</td><td>HSV(199, 82%, 38%)</td><td>RGB(10, 61, 98)</td><td>RGBA(10, 61, 98, 1)</td><td>CMYK(90%, 38%, 0%, 62%)</td></tr><tr><td>#0c2461</td><td>HSL(219, 82%, 20%)</td><td>HSV(219, 91%, 38%)</td><td>RGB(12, 36, 97)</td><td>RGBA(12, 36, 97, 1)</td><td>CMYK(88%, 63%, 0%, 62%)</td></tr><tr><td>#b71540</td><td>HSL(343, 74%, 46%)</td><td>HSV(343, 86%, 71%)</td><td>RGB(183, 21, 64)</td><td>RGBA(183, 21, 64, 1)</td><td>CMYK(0%, 89%, 65%, 28%)</td></tr><tr><td>#e58e26</td><td>HSL(34, 84%, 51%)</td><td>HSV(34, 89%, 90%)</td><td>RGB(229, 142, 38)</td><td>RGBA(229, 142, 38, 1)</td><td>CMYK(0%, 38%, 83%, 10%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 8</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-141">#fc5c65</div>
                                <div class="p-3 nu-142">#fd9644</div>
                                <div class="p-3 nu-143">#fed330</div>
                                <div class="p-3 nu-144">#26de81</div>
                                <div class="p-3 nu-145">#2bcbba</div>
                                <div class="p-3 nu-146">#0fb9b1</div>
                                <div class="p-3 nu-147">#20bf6b</div>
                                <div class="p-3 nu-148">#f7b731</div>
                                <div class="p-3 nu-149">#fa8231</div>
                                <div class="p-3 nu-150">#eb3b5a</div>
                                <div class="p-3 nu-151">#45aaf2</div>
                                <div class="p-3 nu-152">#4b7bec</div>
                                <div class="p-3 nu-153">#a55eea</div>
                                <div class="p-3 nu-154">#d1d8e0</div>
                                <div class="p-3 nu-155">#778ca3</div>
                                <div class="p-3 nu-156">#4b6584</div>
                                <div class="p-3 nu-157">#a5b1c2</div>
                                <div class="p-3 nu-158">#8854d0</div>
                                <div class="p-3 nu-159">#3867d6</div>
                                <div class="p-3 nu-160">#f97f51</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 8</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fc5c65</td><td>HSL(357, 92%, 65%)</td><td>HSV(357, 61%, 99%)</td><td>RGB(252, 92, 101)</td><td>RGBA(252, 92, 101, 1)</td><td>CMYK(0%, 63%, 60%, 1%)</td></tr><tr><td>#fd9644</td><td>HSL(28, 96%, 61%)</td><td>HSV(28, 69%, 99%)</td><td>RGB(253, 150, 68)</td><td>RGBA(253, 150, 68, 1)</td><td>CMYK(0%, 41%, 73%, 1%)</td></tr><tr><td>#fed330</td><td>HSL(48, 94%, 60%)</td><td>HSV(48, 78%, 99%)</td><td>RGB(254, 211, 48)</td><td>RGBA(254, 211, 48, 1)</td><td>CMYK(0%, 17%, 81%, 0%)</td></tr><tr><td>#26de81</td><td>HSL(149, 69%, 57%)</td><td>HSV(149, 71%, 87%)</td><td>RGB(38, 222, 129)</td><td>RGBA(38, 222, 129, 1)</td><td>CMYK(83%, 0%, 42%, 13%)</td></tr><tr><td>#2bcbba</td><td>HSL(177, 65%, 55%)</td><td>HSV(177, 76%, 80%)</td><td>RGB(43, 203, 186)</td><td>RGBA(43, 203, 186, 1)</td><td>CMYK(79%, 0%, 8%, 20%)</td></tr><tr><td>#0fb9b1</td><td>HSL(175, 85%, 45%)</td><td>HSV(175, 100%, 73%)</td><td>RGB(15, 185, 177)</td><td>RGBA(15, 185, 177, 1)</td><td>CMYK(92%, 0%, 4%, 27%)</td></tr><tr><td>#20bf6b</td><td>HSL(145, 69%, 47%)</td><td>HSV(145, 71%, 75%)</td><td>RGB(32, 191, 107)</td><td>RGBA(32, 191, 107, 1)</td><td>CMYK(83%, 0%, 44%, 25%)</td></tr><tr><td>#f7b731</td><td>HSL(39, 90%, 55%)</td><td>HSV(39, 87%, 97%)</td><td>RGB(247, 183, 49)</td><td>RGBA(247, 183, 49, 1)</td><td>CMYK(0%, 26%, 80%, 3%)</td></tr><tr><td>#fa8231</td><td>HSL(27, 94%, 55%)</td><td>HSV(27, 83%, 98%)</td><td>RGB(250, 130, 49)</td><td>RGBA(250, 130, 49, 1)</td><td>CMYK(0%, 48%, 80%, 2%)</td></tr><tr><td>#eb3b5a</td><td>HSL(348, 80%, 57%)</td><td>HSV(348, 72%, 92%)</td><td>RGB(235, 59, 90)</td><td>RGBA(235, 59, 90, 1)</td><td>CMYK(0%, 75%, 62%, 8%)</td></tr><tr><td>#45aaf2</td><td>HSL(203, 86%, 59%)</td><td>HSV(203, 71%, 95%)</td><td>RGB(69, 170, 242)</td><td>RGBA(69, 170, 242, 1)</td><td>CMYK(71%, 30%, 0%, 5%)</td></tr><tr><td>#4b7bec</td><td>HSL(218, 79%, 63%)</td><td>HSV(218, 80%, 92%)</td><td>RGB(75, 123, 236)</td><td>RGBA(75, 123, 236, 1)</td><td>CMYK(68%, 48%, 0%, 7%)</td></tr><tr><td>#a55eea</td><td>HSL(271, 67%, 68%)</td><td>HSV(271, 45%, 93%)</td><td>RGB(165, 94, 234)</td><td>RGBA(165, 94, 234, 1)</td><td>CMYK(29%, 60%, 0%, 8%)</td></tr><tr><td>#d1d8e0</td><td>HSL(213, 25%, 84%)</td><td>HSV(213, 15%, 88%)</td><td>RGB(209, 216, 224)</td><td>RGBA(209, 216, 224, 1)</td><td>CMYK(7%, 4%, 0%, 12%)</td></tr><tr><td>#778ca3</td><td>HSL(209, 20%, 52%)</td><td>HSV(209, 28%, 64%)</td><td>RGB(119, 140, 163)</td><td>RGBA(119, 140, 163, 1)</td><td>CMYK(27%, 14%, 0%, 36%)</td></tr><tr><td>#4b6584</td><td>HSL(209, 27%, 45%)</td><td>HSV(209, 40%, 51%)</td><td>RGB(75, 101, 132)</td><td>RGBA(75, 101, 132, 1)</td><td>CMYK(43%, 24%, 0%, 48%)</td></tr><tr><td>#a5b1c2</td><td>HSL(217, 28%, 70%)</td><td>HSV(217, 17%, 76%)</td><td>RGB(165, 177, 194)</td><td>RGBA(165, 177, 194, 1)</td><td>CMYK(15%, 9%, 0%, 24%)</td></tr><tr><td>#8854d0</td><td>HSL(274, 55%, 53%)</td><td>HSV(274, 58%, 82%)</td><td>RGB(136, 84, 208)</td><td>RGBA(136, 84, 208, 1)</td><td>CMYK(35%, 60%, 0%, 18%)</td></tr><tr><td>#3867d6</td><td>HSL(213, 71%, 50%)</td><td>HSV(213, 78%, 84%)</td><td>RGB(56, 103, 214)</td><td>RGBA(56, 103, 214, 1)</td><td>CMYK(74%, 52%, 0%, 16%)</td></tr><tr><td>#f97f51</td><td>HSL(16, 91%, 63%)</td><td>HSV(16, 68%, 98%)</td><td>RGB(249, 127, 81)</td><td>RGBA(249, 127, 81, 1)</td><td>CMYK(0%, 49%, 67%, 2%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 9</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-161">#b33771</div>
                                <div class="p-3 nu-162">#3b3b98</div>
                                <div class="p-3 nu-163">#fd7272</div>
                                <div class="p-3 nu-164">#9aecdb</div>
                                <div class="p-3 nu-165">#d6a2e8</div>
                                <div class="p-3 nu-166">#82589f</div>
                                <div class="p-3 nu-167">#bdc581</div>
                                <div class="p-3 nu-168">#fc427b</div>
                                <div class="p-3 nu-169">#182c61</div>
                                <div class="p-3 nu-170">#6d214f</div>
                                <div class="p-3 nu-171">#f3a683</div>
                                <div class="p-3 nu-172">#f7d794</div>
                                <div class="p-3 nu-173">#778beb</div>
                                <div class="p-3 nu-174">#e77f67</div>
                                <div class="p-3 nu-175">#e77f67</div>
                                <div class="p-3 nu-176">#cf6a87</div>
                                <div class="p-3 nu-177">#c44569</div>
                                <div class="p-3 nu-178">#e15f41</div>
                                <div class="p-3 nu-179">#546de5</div>
                                <div class="p-3 nu-180">#f5cd79</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 9</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#b33771</td><td>HSL(333, 54%, 48%)</td><td>HSV(333, 65%, 70%)</td><td>RGB(179, 55, 113)</td><td>RGBA(179, 55, 113, 1)</td><td>CMYK(0%, 69%, 37%, 30%)</td></tr><tr><td>#3b3b98</td><td>HSL(240, 44%, 40%)</td><td>HSV(240, 61%, 60%)</td><td>RGB(59, 59, 152)</td><td>RGBA(59, 59, 152, 1)</td><td>CMYK(61%, 61%, 0%, 40%)</td></tr><tr><td>#fd7272</td><td>HSL(0, 85%, 69%)</td><td>HSV(0, 57%, 99%)</td><td>RGB(253, 114, 114)</td><td>RGBA(253, 114, 114, 1)</td><td>CMYK(0%, 55%, 55%, 1%)</td></tr><tr><td>#9aecdb</td><td>HSL(176, 71%, 77%)</td><td>HSV(176, 32%, 92%)</td><td>RGB(154, 236, 219)</td><td>RGBA(154, 236, 219, 1)</td><td>CMYK(35%, 0%, 7%, 7%)</td></tr><tr><td>#d6a2e8</td><td>HSL(276, 55%, 73%)</td><td>HSV(276, 29%, 91%)</td><td>RGB(214, 162, 232)</td><td>RGBA(214, 162, 232, 1)</td><td>CMYK(8%, 30%, 0%, 9%)</td></tr><tr><td>#82589f</td><td>HSL(265, 23%, 49%)</td><td>HSV(265, 16%, 62%)</td><td>RGB(130, 88, 159)</td><td>RGBA(130, 88, 159, 1)</td><td>CMYK(18%, 45%, 0%, 38%)</td></tr><tr><td>#bdc581</td><td>HSL(67, 35%, 57%)</td><td>HSV(67, 35%, 77%)</td><td>RGB(189, 197, 129)</td><td>RGBA(189, 197, 129, 1)</td><td>CMYK(4%, 0%, 35%, 23%)</td></tr><tr><td>#fc427b</td><td>HSL(340, 91%, 58%)</td><td>HSV(340, 67%, 99%)</td><td>RGB(252, 66, 123)</td><td>RGBA(252, 66, 123, 1)</td><td>CMYK(0%, 74%, 51%, 1%)</td></tr><tr><td>#182c61</td><td>HSL(219, 56%, 22%)</td><td>HSV(219, 71%, 38%)</td><td>RGB(24, 44, 97)</td><td>RGBA(24, 44, 97, 1)</td><td>CMYK(75%, 55%, 0%, 62%)</td></tr><tr><td>#6d214f</td><td>HSL(320, 53%, 34%)</td><td>HSV(320, 65%, 43%)</td><td>RGB(109, 33, 79)</td><td>RGBA(109, 33, 79, 1)</td><td>CMYK(0%, 70%, 28%, 57%)</td></tr><tr><td>#f3a683</td><td>HSL(16, 82%, 72%)</td><td>HSV(16, 40%, 95%)</td><td>RGB(243, 166, 131)</td><td>RGBA(243, 166, 131, 1)</td><td>CMYK(0%, 32%, 46%, 5%)</td></tr><tr><td>#f7d794</td><td>HSL(37, 79%, 77%)</td><td>HSV(37, 29%, 97%)</td><td>RGB(247, 215, 148)</td><td>RGBA(247, 215, 148, 1)</td><td>CMYK(0%, 13%, 40%, 3%)</td></tr><tr><td>#778beb</td><td>HSL(219, 68%, 64%)</td><td>HSV(219, 54%, 92%)</td><td>RGB(119, 139, 235)</td><td>RGBA(119, 139, 235, 1)</td><td>CMYK(49%, 41%, 0%, 8%)</td></tr><tr><td>#e77f67</td><td>HSL(13, 69%, 62%)</td><td>HSV(13, 55%, 90%)</td><td>RGB(231, 127, 103)</td><td>RGBA(231, 127, 103, 1)</td><td>CMYK(0%, 45%, 55%, 9%)</td></tr><tr><td>#cf6a87</td><td>HSL(334, 45%, 59%)</td><td>HSV(334, 49%, 81%)</td><td>RGB(207, 106, 135)</td><td>RGBA(207, 106, 135, 1)</td><td>CMYK(0%, 49%, 35%, 19%)</td></tr><tr><td>#c44569</td><td>HSL(342, 49%, 50%)</td><td>HSV(342, 63%, 77%)</td><td>RGB(196, 69, 105)</td><td>RGBA(196, 69, 105, 1)</td><td>CMYK(0%, 65%, 46%, 23%)</td></tr><tr><td>#e15f41</td><td>HSL(14, 71%, 54%)</td><td>HSV(14, 77%, 88%)</td><td>RGB(225, 95, 65)</td><td>RGBA(225, 95, 65, 1)</td><td>CMYK(0%, 58%, 71%, 12%)</td></tr><tr><td>#546de5</td><td>HSL(230, 64%, 59%)</td><td>HSV(230, 72%, 90%)</td><td>RGB(84, 109, 229)</td><td>RGBA(84, 109, 229, 1)</td><td>CMYK(63%, 52%, 0%, 10%)</td></tr><tr><td>#f5cd79</td><td>HSL(36, 85%, 70%)</td><td>HSV(36, 49%, 96%)</td><td>RGB(245, 205, 121)</td><td>RGBA(245, 205, 121, 1)</td><td>CMYK(0%, 16%, 51%, 4%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 10</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-181">#f3a683</div>
                                <div class="p-3 nu-182">#f7d794</div>
                                <div class="p-3 nu-183">#778beb</div>
                                <div class="p-3 nu-184">#e77f67</div>
                                <div class="p-3 nu-185">#cf6a87</div>
                                <div class="p-3 nu-186">#c44569</div>
                                <div class="p-3 nu-187">#e15f41</div>
                                <div class="p-3 nu-188">#546de5</div>
                                <div class="p-3 nu-189">#f5cd79</div>
                                <div class="p-3 nu-190">#f19066</div>
                                <div class="p-3 nu-191">#786fa6</div>
                                <div class="p-3 nu-192">#f8a5c2</div>
                                <div class="p-3 nu-193">#63cdda</div>
                                <div class="p-3 nu-194">#ea8685</div>
                                <div class="p-3 nu-195">#596275</div>
                                <div class="p-3 nu-196">#303952</div>
                                <div class="p-3 nu-197">#e66767</div>
                                <div class="p-3 nu-198">#3dc1d3</div>
                                <div class="p-3 nu-199">#f78fb3</div>
                                <div class="p-3 nu-200">#574b90</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 10</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f3a683</td><td>HSL(16, 82%, 72%)</td><td>HSV(16, 40%, 95%)</td><td>RGB(243, 166, 131)</td><td>RGBA(243, 166, 131, 1)</td><td>CMYK(0%, 32%, 46%, 5%)</td></tr><tr><td>#f7d794</td><td>HSL(37, 79%, 77%)</td><td>HSV(37, 29%, 97%)</td><td>RGB(247, 215, 148)</td><td>RGBA(247, 215, 148, 1)</td><td>CMYK(0%, 13%, 40%, 3%)</td></tr><tr><td>#778beb</td><td>HSL(219, 68%, 64%)</td><td>HSV(219, 54%, 92%)</td><td>RGB(119, 139, 235)</td><td>RGBA(119, 139, 235, 1)</td><td>CMYK(49%, 41%, 0%, 8%)</td></tr><tr><td>#e77f67</td><td>HSL(13, 69%, 62%)</td><td>HSV(13, 55%, 90%)</td><td>RGB(231, 127, 103)</td><td>RGBA(231, 127, 103, 1)</td><td>CMYK(0%, 45%, 55%, 9%)</td></tr><tr><td>#cf6a87</td><td>HSL(334, 45%, 59%)</td><td>HSV(334, 49%, 81%)</td><td>RGB(207, 106, 135)</td><td>RGBA(207, 106, 135, 1)</td><td>CMYK(0%, 49%, 35%, 19%)</td></tr><tr><td>#c44569</td><td>HSL(342, 49%, 50%)</td><td>HSV(342, 63%, 77%)</td><td>RGB(196, 69, 105)</td><td>RGBA(196, 69, 105, 1)</td><td>CMYK(0%, 65%, 46%, 23%)</td></tr><tr><td>#e15f41</td><td>HSL(14, 71%, 54%)</td><td>HSV(14, 77%, 88%)</td><td>RGB(225, 95, 65)</td><td>RGBA(225, 95, 65, 1)</td><td>CMYK(0%, 58%, 71%, 12%)</td></tr><tr><td>#546de5</td><td>HSL(230, 64%, 59%)</td><td>HSV(230, 72%, 90%)</td><td>RGB(84, 109, 229)</td><td>RGBA(84, 109, 229, 1)</td><td>CMYK(63%, 52%, 0%, 10%)</td></tr><tr><td>#f5cd79</td><td>HSL(36, 85%, 70%)</td><td>HSV(36, 49%, 96%)</td><td>RGB(245, 205, 121)</td><td>RGBA(245, 205, 121, 1)</td><td>CMYK(0%, 16%, 51%, 4%)</td></tr><tr><td>#f19066</td><td>HSL(19, 82%, 65%)</td><td>HSV(19, 57%, 95%)</td><td>RGB(241, 144, 102)</td><td>RGBA(241, 144, 102, 1)</td><td>CMYK(0%, 40%, 58%, 5%)</td></tr><tr><td>#786fa6</td><td>HSL(251, 25%, 56%)</td><td>HSV(251, 39%, 65%)</td><td>RGB(120, 111, 166)</td><td>RGBA(120, 111, 166, 1)</td><td>CMYK(28%, 33%, 0%, 35%)</td></tr><tr><td>#f8a5c2</td><td>HSL(335, 68%, 79%)</td><td>HSV(335, 32%, 97%)</td><td>RGB(248, 165, 194)</td><td>RGBA(248, 165, 194, 1)</td><td>CMYK(0%, 33%, 22%, 3%)</td></tr><tr><td>#63cdda</td><td>HSL(182, 61%, 61%)</td><td>HSV(182, 50%, 86%)</td><td>RGB(99, 205, 218)</td><td>RGBA(99, 205, 218, 1)</td><td>CMYK(54%, 6%, 0%, 15%)</td></tr><tr><td>#ea8685</td><td>HSL(358, 68%, 70%)</td><td>HSV(358, 33%, 92%)</td><td>RGB(234, 134, 133)</td><td>RGBA(234, 134, 133, 1)</td><td>CMYK(0%, 43%, 43%, 8%)</td></tr><tr><td>#596275</td><td>HSL(227, 11%, 40%)</td><td>HSV(227, 18%, 39%)</td><td>RGB(89, 98, 117)</td><td>RGBA(89, 98, 117, 1)</td><td>CMYK(24%, 16%, 0%, 54%)</td></tr><tr><td>#303952</td><td>HSL(218, 18%, 34%)</td><td>HSV(218, 24%, 35%)</td><td>RGB(48, 57, 82)</td><td>RGBA(48, 57, 82, 1)</td><td>CMYK(41%, 30%, 0%, 68%)</td></tr><tr><td>#e66767</td><td>HSL(0, 69%, 64%)</td><td>HSV(0, 57%, 90%)</td><td>RGB(230, 103, 103)</td><td>RGBA(230, 103, 103, 1)</td><td>CMYK(0%, 55%, 55%, 10%)</td></tr><tr><td>#3dc1d3</td><td>HSL(185, 57%, 55%)</td><td>HSV(185, 71%, 82%)</td><td>RGB(61, 193, 211)</td><td>RGBA(61, 193, 211, 1)</td><td>CMYK(71%, 9%, 0%, 17%)</td></tr><tr><td>#f78fb3</td><td>HSL(332, 84%, 73%)</td><td>HSV(332, 43%, 97%)</td><td>RGB(247, 143, 179)</td><td>RGBA(247, 143, 179, 1)</td><td>CMYK(0%, 42%, 27%, 3%)</td></tr><tr><td>#574b90</td><td>HSL(262, 30%, 42%)</td><td>HSV(262, 46%, 56%)</td><td>RGB(87, 75, 144)</td><td>RGBA(87, 75, 144, 1)</td><td>CMYK(39%, 48%, 0%, 44%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 11</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-201">#40407a</div>
                                <div class="p-3 nu-202">#706fd3</div>
                                <div class="p-3 nu-203">#f7f1e3</div>
                                <div class="p-3 nu-204">#34ace0</div>
                                <div class="p-3 nu-205">#33d9b2</div>
                                <div class="p-3 nu-206">#218c74</div>
                                <div class="p-3 nu-207">#227093</div>
                                <div class="p-3 nu-208">#aaa69d</div>
                                <div class="p-3 nu-209">#474787</div>
                                <div class="p-3 nu-210">#2c2c54</div>
                                <div class="p-3 nu-211">#ff5252</div>
                                <div class="p-3 nu-212">#ff793f</div>
                                <div class="p-3 nu-213">#d1ccc0</div>
                                <div class="p-3 nu-214">#ffb142</div>
                                <div class="p-3 nu-215">#ffda79</div>
                                <div class="p-3 nu-216">#ccae62</div>
                                <div class="p-3 nu-217">#cc8e35</div>
                                <div class="p-3 nu-218">#84817a</div>
                                <div class="p-3 nu-219">#cd6133</div>
                                <div class="p-3 nu-220">#b33939</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 11</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#40407a</td><td>HSL(240, 32%, 36%)</td><td>HSV(240, 48%, 48%)</td><td>RGB(64, 64, 122)</td><td>RGBA(64, 64, 122, 1)</td><td>CMYK(48%, 48%, 0%, 52%)</td></tr><tr><td>#706fd3</td><td>HSL(241, 51%, 58%)</td><td>HSV(241, 50%, 83%)</td><td>RGB(112, 111, 211)</td><td>RGBA(112, 111, 211, 1)</td><td>CMYK(47%, 47%, 0%, 17%)</td></tr><tr><td>#f7f1e3</td><td>HSL(47, 57%, 95%)</td><td>HSV(47, 11%, 97%)</td><td>RGB(247, 241, 227)</td><td>RGBA(247, 241, 227, 1)</td><td>CMYK(0%, 2%, 8%, 3%)</td></tr><tr><td>#34ace0</td><td>HSL(197, 76%, 57%)</td><td>HSV(197, 79%, 88%)</td><td>RGB(52, 172, 224)</td><td>RGBA(52, 172, 224, 1)</td><td>CMYK(77%, 23%, 0%, 12%)</td></tr><tr><td>#33d9b2</td><td>HSL(166, 69%, 47%)</td><td>HSV(166, 85%, 85%)</td><td>RGB(51, 217, 178)</td><td>RGBA(51, 217, 178, 1)</td><td>CMYK(76%, 0%, 18%, 15%)</td></tr><tr><td>#218c74</td><td>HSL(169, 61%, 38%)</td><td>HSV(169, 75%, 55%)</td><td>RGB(33, 140, 116)</td><td>RGBA(33, 140, 116, 1)</td><td>CMYK(76%, 0%, 17%, 45%)</td></tr><tr><td>#227093</td><td>HSL(197, 58%, 34%)</td><td>HSV(197, 76%, 56%)</td><td>RGB(34, 112, 147)</td><td>RGBA(34, 112, 147, 1)</td><td>CMYK(77%, 24%, 0%, 42%)</td></tr><tr><td>#aaa69d</td><td>HSL(37, 5%, 66%)</td><td>HSV(37, 7%, 66%)</td><td>RGB(170, 166, 157)</td><td>RGBA(170, 166, 157, 1)</td><td>CMYK(0%, 2%, 8%, 33%)</td></tr><tr><td>#474787</td><td>HSL(261, 31%, 39%)</td><td>HSV(261, 45%, 53%)</td><td>RGB(71, 71, 135)</td><td>RGBA(71, 71, 135, 1)</td><td>CMYK(47%, 47%, 0%, 47%)</td></tr><tr><td>#2c2c54</td><td>HSL(240, 32%, 27%)</td><td>HSV(240, 48%, 33%)</td><td>RGB(44, 44, 84)</td><td>RGBA(44, 44, 84, 1)</td><td>CMYK(48%, 48%, 0%, 67%)</td></tr><tr><td>#ff5252</td><td>HSL(0, 100%, 60%)</td><td>HSV(0, 68%, 100%)</td><td>RGB(255, 82, 82)</td><td>RGBA(255, 82, 82, 1)</td><td>CMYK(0%, 68%, 68%, 0%)</td></tr><tr><td>#ff793f</td><td>HSL(23, 100%, 60%)</td><td>HSV(23, 76%, 100%)</td><td>RGB(255, 121, 63)</td><td>RGBA(255, 121, 63, 1)</td><td>CMYK(0%, 53%, 75%, 0%)</td></tr><tr><td>#d1ccc0</td><td>HSL(39, 23%, 78%)</td><td>HSV(39, 10%, 82%)</td><td>RGB(209, 204, 192)</td><td>RGBA(209, 204, 192, 1)</td><td>CMYK(0%, 2%, 8%, 18%)</td></tr><tr><td>#ffb142</td><td>HSL(34, 100%, 60%)</td><td>HSV(34, 68%, 100%)</td><td>RGB(255, 177, 66)</td><td>RGBA(255, 177, 66, 1)</td><td>CMYK(0%, 31%, 74%, 0%)</td></tr><tr><td>#ffda79</td><td>HSL(38, 100%, 74%)</td><td>HSV(38, 48%, 100%)</td><td>RGB(255, 218, 121)</td><td>RGBA(255, 218, 121, 1)</td><td>CMYK(0%, 15%, 53%, 0%)</td></tr><tr><td>#ccae62</td><td>HSL(35, 48%, 55%)</td><td>HSV(35, 53%, 80%)</td><td>RGB(204, 174, 98)</td><td>RGBA(204, 174, 98, 1)</td><td>CMYK(0%, 15%, 52%, 20%)</td></tr><tr><td>#cc8e35</td><td>HSL(38, 61%, 42%)</td><td>HSV(38, 73%, 80%)</td><td>RGB(204, 142, 53)</td><td>RGBA(204, 142, 53, 1)</td><td>CMYK(0%, 30%, 74%, 20%)</td></tr><tr><td>#84817a</td><td>HSL(44, 3%, 50%)</td><td>HSV(44, 4%, 52%)</td><td>RGB(132, 129, 122)</td><td>RGBA(132, 129, 122, 1)</td><td>CMYK(0%, 2%, 8%, 48%)</td></tr><tr><td>#cd6133</td><td>HSL(21, 63%, 47%)</td><td>HSV(21, 76%, 80%)</td><td>RGB(205, 97, 51)</td><td>RGBA(205, 97, 51, 1)</td><td>CMYK(0%, 53%, 75%, 20%)</td></tr><tr><td>#b33939</td><td>HSL(0, 55%, 43%)</td><td>HSV(0, 68%, 70%)</td><td>RGB(179, 57, 57)</td><td>RGBA(179, 57, 57, 1)</td><td>CMYK(0%, 68%, 68%, 30%)</td></tr></tbody></table> 
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 12</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-221">#ef5777</div>
                                <div class="p-3 nu-222">#575fcf</div>
                                <div class="p-3 nu-223">#4bcffa</div>
                                <div class="p-3 nu-224">#34e7e4</div>
                                <div class="p-3 nu-225">#0be881</div>
                                <div class="p-3 nu-226">#05c46b</div>
                                <div class="p-3 nu-227">#00d8d6</div>
                                <div class="p-3 nu-228">#0fbcf9</div>
                                <div class="p-3 nu-229">#3c40c6</div>
                                <div class="p-3 nu-230">#f53b57</div>
                                <div class="p-3 nu-231">#ffc048</div>
                                <div class="p-3 nu-232">#ffdd59</div>
                                <div class="p-3 nu-233">#ff5e57</div>
                                <div class="p-3 nu-234">#d2dae2</div>
                                <div class="p-3 nu-235">#485460</div>
                                <div class="p-3 nu-236">#1e272e</div>
                                <div class="p-3 nu-237">#808e9b</div>
                                <div class="p-3 nu-238">#ff3f34</div>
                                <div class="p-3 nu-239">#ffd32a</div>
                                <div class="p-3 nu-240">#ffa801</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 12</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ef5777</td><td>HSL(343, 81%, 62%)</td><td>HSV(343, 60%, 94%)</td><td>RGB(239, 87, 119)</td><td>RGBA(239, 87, 119, 1)</td><td>CMYK(0%, 64%, 50%, 6%)</td></tr><tr><td>#575fcf</td><td>HSL(240, 68%, 57%)</td><td>HSV(240, 66%, 81%)</td><td>RGB(87, 95, 207)</td><td>RGBA(87, 95, 207, 1)</td><td>CMYK(58%, 54%, 0%, 19%)</td></tr><tr><td>#4bcffa</td><td>HSL(194, 85%, 63%)</td><td>HSV(194, 78%, 99%)</td><td>RGB(75, 207, 250)</td><td>RGBA(75, 207, 250, 1)</td><td>CMYK(70%, 17%, 0%, 2%)</td></tr><tr><td>#34e7e4</td><td>HSL(178, 75%, 62%)</td><td>HSV(178, 86%, 90%)</td><td>RGB(52, 231, 228)</td><td>RGBA(52, 231, 228, 1)</td><td>CMYK(77%, 0%, 1%, 10%)</td></tr><tr><td>#0be881</td><td>HSL(145, 84%, 51%)</td><td>HSV(145, 87%, 91%)</td><td>RGB(11, 232, 129)</td><td>RGBA(11, 232, 129, 1)</td><td>CMYK(95%, 0%, 44%, 9%)</td></tr><tr><td>#05c46b</td><td>HSL(156, 93%, 41%)</td><td>HSV(156, 92%, 77%)</td><td>RGB(5, 196, 107)</td><td>RGBA(5, 196, 107, 1)</td><td>CMYK(97%, 0%, 45%, 23%)</td></tr><tr><td>#00d8d6</td><td>HSL(180, 100%, 43%)</td><td>HSV(180, 100%, 84%)</td><td>RGB(0, 216, 214)</td><td>RGBA(0, 216, 214, 1)</td><td>CMYK(100%, 0%, 1%, 15%)</td></tr><tr><td>#0fbcf9</td><td>HSL(197, 95%, 50%)</td><td>HSV(197, 94%, 98%)</td><td>RGB(15, 188, 249)</td><td>RGBA(15, 188, 249, 1)</td><td>CMYK(94%, 24%, 0%, 2%)</td></tr><tr><td>#3c40c6</td><td>HSL(244, 56%, 47%)</td><td>HSV(244, 71%, 77%)</td><td>RGB(60, 64, 198)</td><td>RGBA(60, 64, 198, 1)</td><td>CMYK(70%, 68%, 0%, 22%)</td></tr><tr><td>#f53b57</td><td>HSL(351, 90%, 56%)</td><td>HSV(351, 75%, 96%)</td><td>RGB(245, 59, 87)</td><td>RGBA(245, 59, 87, 1)</td><td>CMYK(0%, 76%, 64%, 4%)</td></tr><tr><td>#ffc048</td><td>HSL(37, 100%, 62%)</td><td>HSV(37, 69%, 100%)</td><td>RGB(255, 192, 72)</td><td>RGBA(255, 192, 72, 1)</td><td>CMYK(0%, 25%, 72%, 0%)</td></tr><tr><td>#ffdd59</td><td>HSL(49, 100%, 66%)</td><td>HSV(49, 63%, 100%)</td><td>RGB(255, 221, 89)</td><td>RGBA(255, 221, 89, 1)</td><td>CMYK(0%, 13%, 65%, 0%)</td></tr><tr><td>#ff5e57</td><td>HSL(1, 100%, 65%)</td><td>HSV(1, 80%, 100%)</td><td>RGB(255, 94, 87)</td><td>RGBA(255, 94, 87, 1)</td><td>CMYK(0%, 63%, 66%, 0%)</td></tr><tr><td>#d2dae2</td><td>HSL(217, 22%, 84%)</td><td>HSV(217, 14%, 88%)</td><td>RGB(210, 218, 226)</td><td>RGBA(210, 218, 226, 1)</td><td>CMYK(7%, 3%, 0%, 11%)</td></tr><tr><td>#485460</td><td>HSL(213, 17%, 32%)</td><td>HSV(213, 12%, 40%)</td><td>RGB(72, 84, 96)</td><td>RGBA(72, 84, 96, 1)</td><td>CMYK(25%, 13%, 0%, 62%)</td></tr><tr><td>#1e272e</td><td>HSL(206, 24%, 14%)</td><td>HSV(206, 34%, 18%)</td><td>RGB(30, 39, 46)</td><td>RGBA(30, 39, 46, 1)</td><td>CMYK(35%, 15%, 0%, 82%)</td></tr><tr><td>#808e9b</td><td>HSL(210, 11%, 55%)</td><td>HSV(210, 18%, 60%)</td><td>RGB(128, 142, 155)</td><td>RGBA(128, 142, 155, 1)</td><td>CMYK(17%, 8%, 0%, 39%)</td></tr><tr><td>#ff3f34</td><td>HSL(6, 100%, 57%)</td><td>HSV(6, 97%, 100%)</td><td>RGB(255, 63, 52)</td><td>RGBA(255, 63, 52, 1)</td><td>CMYK(0%, 75%, 80%, 0%)</td></tr><tr><td>#ffd32a</td><td>HSL(46, 100%, 59%)</td><td>HSV(46, 93%, 100%)</td><td>RGB(255, 211, 42)</td><td>RGBA(255, 211, 42, 1)</td><td>CMYK(0%, 17%, 84%, 0%)</td></tr><tr><td>#ffa801</td><td>HSL(35, 100%, 54%)</td><td>HSV(35, 97%, 100%)</td><td>RGB(255, 168, 1)</td><td>RGBA(255, 168, 1, 1)</td><td>CMYK(0%, 34%, 100%, 0%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shade 13</h5>
                        <div class="shades mb-4">
                                <div class="p-3 nu-241">#cd84f1</div>
                                <div class="p-3 nu-242">#ffcccc</div>
                                <div class="p-3 nu-243">#ff4d4d</div>
                                <div class="p-3 nu-244">#ffaf40</div>
                                <div class="p-3 nu-245">#fffa65</div>
                                <div class="p-3 nu-246">#fff200</div>
                                <div class="p-3 nu-247">#ff9f1a</div>
                                <div class="p-3 nu-248">#ff3838</div>
                                <div class="p-3 nu-249">#ffb8b8</div>
                                <div class="p-3 nu-250">#c56cf0</div>
                                <div class="p-3 nu-251">#32ff7e</div>
                                <div class="p-3 nu-252">#7efff5</div>
                                <div class="p-3 nu-253">#18dcff</div>
                                <div class="p-3 nu-254">#7d5fff</div>
                                <div class="p-3 nu-255">#4b4b4b</div>
                                <div class="p-3 nu-256">#3d3d3d</div>
                                <div class="p-3 nu-257">#7158e2</div>
                                <div class="p-3 nu-258">#17c0eb</div>
                                <div class="p-3 nu-259">#3ae374</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Shade 13</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#cd84f1</td><td>HSL(275, 76%, 70%)</td><td>HSV(275, 48%, 95%)</td><td>RGB(205, 132, 241)</td><td>RGBA(205, 132, 241, 1)</td><td>CMYK(15%, 45%, 0%, 5%)</td></tr><tr><td>#ffcccc</td><td>HSL(0, 100%, 80%)</td><td>HSV(0, 33%, 100%)</td><td>RGB(255, 204, 204)</td><td>RGBA(255, 204, 204, 1)</td><td>CMYK(0%, 20%, 20%, 0%)</td></tr><tr><td>#ff4d4d</td><td>HSL(0, 100%, 67%)</td><td>HSV(0, 68%, 100%)</td><td>RGB(255, 77, 77)</td><td>RGBA(255, 77, 77, 1)</td><td>CMYK(0%, 70%, 70%, 0%)</td></tr><tr><td>#ffaf40</td><td>HSL(34, 100%, 64%)</td><td>HSV(34, 100%, 100%)</td><td>RGB(255, 175, 64)</td><td>RGBA(255, 175, 64, 1)</td><td>CMYK(0%, 32%, 75%, 0%)</td></tr><tr><td>#fffa65</td><td>HSL(55, 100%, 69%)</td><td>HSV(55, 61%, 100%)</td><td>RGB(255, 250, 101)</td><td>RGBA(255, 250, 101, 1)</td><td>CMYK(0%, 2%, 60%, 0%)</td></tr><tr><td>#fff200</td><td>HSL(55, 100%, 61%)</td><td>HSV(55, 100%, 100%)</td><td>RGB(255, 242, 0)</td><td>RGBA(255, 242, 0, 1)</td><td>CMYK(0%, 5%, 100%, 0%)</td></tr><tr><td>#ff9f1a</td><td>HSL(33, 100%, 57%)</td><td>HSV(33, 91%, 100%)</td><td>RGB(255, 159, 26)</td><td>RGBA(255, 159, 26, 1)</td><td>CMYK(0%, 38%, 90%, 0%)</td></tr><tr><td>#ff3838</td><td>HSL(0, 100%, 58%)</td><td>HSV(0, 100%, 100%)</td><td>RGB(255, 56, 56)</td><td>RGBA(255, 56, 56, 1)</td><td>CMYK(0%, 78%, 78%, 0%)</td></tr><tr><td>#ffb8b8</td><td>HSL(0, 100%, 82%)</td><td>HSV(0, 27%, 100%)</td><td>RGB(255, 184, 184)</td><td>RGBA(255, 184, 184, 1)</td><td>CMYK(0%, 28%, 28%, 0%)</td></tr><tr><td>#c56cf0</td><td>HSL(278, 88%, 68%)</td><td>HSV(278, 64%, 94%)</td><td>RGB(197, 108, 240)</td><td>RGBA(197, 108, 240, 1)</td><td>CMYK(18%, 55%, 0%, 6%)</td></tr><tr><td>#32ff7e</td><td>HSL(145, 100%, 61%)</td><td>HSV(145, 80%, 100%)</td><td>RGB(50, 255, 126)</td><td>RGBA(50, 255, 126, 1)</td><td>CMYK(80%, 0%, 51%, 0%)</td></tr><tr><td>#7efff5</td><td>HSL(179, 100%, 76%)</td><td>HSV(179, 55%, 100%)</td><td>RGB(126, 255, 245)</td><td>RGBA(126, 255, 245, 1)</td><td>CMYK(51%, 0%, 5%, 0%)</td></tr><tr><td>#18dcff</td><td>HSL(195, 100%, 53%)</td><td>HSV(195, 94%, 100%)</td><td>RGB(24, 220, 255)</td><td>RGBA(24, 220, 255, 1)</td><td>CMYK(91%, 14%, 0%, 0%)</td></tr><tr><td>#7d5fff</td><td>HSL(254, 78%, 63%)</td><td>HSV(254, 67%, 100%)</td><td>RGB(125, 95, 255)</td><td>RGBA(125, 95, 255, 1)</td><td>CMYK(51%, 63%, 0%, 0%)</td></tr><tr><td>#4b4b4b</td><td>HSL(0, 0%, 29%)</td><td>HSV(0, 0%, 29%)</td><td>RGB(75, 75, 75)</td><td>RGBA(75, 75, 75, 1)</td><td>CMYK(0%, 0%, 0%, 71%)</td></tr><tr><td>#3d3d3d</td><td>HSL(0, 0%, 24%)</td><td>HSV(0, 0%, 24%)</td><td>RGB(61, 61, 61)</td><td>RGBA(61, 61, 61, 1)</td><td>CMYK(0%, 0%, 0%, 76%)</td></tr><tr><td>#7158e2</td><td>HSL(252, 67%, 63%)</td><td>HSV(252, 63%, 89%)</td><td>RGB(113, 88, 226)</td><td>RGBA(113, 88, 226, 1)</td><td>CMYK(50%, 61%, 0%, 11%)</td></tr><tr><td>#17c0eb</td><td>HSL(194, 85%, 49%)</td><td>HSV(194, 92%, 92%)</td><td>RGB(23, 192, 235)</td><td>RGBA(23, 192, 235, 1)</td><td>CMYK(90%, 18%, 0%, 8%)</td></tr><tr><td>#3ae374</td><td>HSL(142, 71%, 56%)</td><td>HSV(142, 75%, 89%)</td><td>RGB(58, 227, 116)</td><td>RGBA(58, 227, 116, 1)</td><td>CMYK(74%, 0%, 49%, 11%)</td></tr></tbody></table> 
                        </div>
                </div>
        </div>
</section>