<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Tailwind <span class="text-primary">Colors</span></h1>
                                <p>Tailwind Color System in HSL, HSV, RGB, RGBA, CMYK, HEX</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <p class="text-center"><b>Notice</b> - Note that the values of color codes in different formats are derived with the help of GPT-3.5 and may vary slightly depending on the specific color space conversion algorithm used.</p>
                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Rose</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-rose-001">#fff1f2</div>
                                <div class="p-3 t-rose-002">#ffe4e6</div>
                                <div class="p-3 t-rose-003">#fecdd3</div>
                                <div class="p-3 t-rose-004">#fda4af</div>
                                <div class="p-3 t-rose-005">#fb7185</div>
                                <div class="p-3 t-rose-006">#f43f5e</div>
                                <div class="p-3 t-rose-007">#e11d48</div>
                                <div class="p-3 t-rose-008">#be123c</div>
                                <div class="p-3 t-rose-009">#9f1239</div>
                                <div class="p-3 t-rose-010">#881337</div>
                                <div class="p-3 t-rose-011">#4c0519</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Rose</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fff1f2</td><td>HSL(349, 100, 97)</td><td>HSV(349, 4, 100)</td><td>RGB(255, 241, 242)</td><td>RGBA(255, 241, 242, 1)</td><td>CMYK(0, 6, 5, 0)</td></tr><tr><td>#ffe4e6</td><td>HSL(349, 100, 94)</td><td>HSV(349, 6, 100)</td><td>RGB(255, 228, 230)</td><td>RGBA(255, 228, 230, 1)</td><td>CMYK(0, 11, 10, 0)</td></tr><tr><td>#fecdd3</td><td>HSL(351, 91, 93)</td><td>HSV(351, 25, 99)</td><td>RGB(254, 205, 211)</td><td>RGBA(254, 205, 211, 1)</td><td>CMYK(0, 20, 17, 0)</td></tr><tr><td>#fda4af</td><td>HSL(350, 82, 85)</td><td>HSV(350, 58, 99)</td><td>RGB(253, 164, 175)</td><td>RGBA(253, 164, 175, 1)</td><td>CMYK(0, 35, 31, 0)</td></tr><tr><td>#fb7185</td><td>HSL(348, 88, 70)</td><td>HSV(348, 72, 98)</td><td>RGB(251, 113, 133)</td><td>RGBA(251, 113, 133, 1)</td><td>CMYK(0, 55, 47, 2)</td></tr><tr><td>#f43f5e</td><td>HSL(348, 84, 59)</td><td>HSV(348, 84, 96)</td><td>RGB(244, 63, 94)</td><td>RGBA(244, 63, 94, 1)</td><td>CMYK(0, 74, 61, 4)</td></tr><tr><td>#e11d48</td><td>HSL(346, 80, 51)</td><td>HSV(346, 88, 88)</td><td>RGB(225, 29, 72)</td><td>RGBA(225, 29, 72, 1)</td><td>CMYK(0, 87, 68, 12)</td></tr><tr><td>#be123c</td><td>HSL(343, 73, 45)</td><td>HSV(343, 94, 75)</td><td>RGB(190, 18, 60)</td><td>RGBA(190, 18, 60, 1)</td><td>CMYK(0, 91, 68, 25)</td></tr><tr><td>#9f1239</td><td>HSL(343, 80, 38)</td><td>HSV(343, 94, 62)</td><td>RGB(159, 18, 57)</td><td>RGBA(159, 18, 57, 1)</td><td>CMYK(0, 89, 64, 38)</td></tr><tr><td>#881337</td><td>HSL(343, 80, 33)</td><td>HSV(343, 94, 53)</td><td>RGB(136, 19, 55)</td><td>RGBA(136, 19, 55, 1)</td><td>CMYK(0, 86, 60, 47)</td></tr><tr><td>#4c0519</td><td>HSL(343, 92, 13)</td><td>HSV(343, 97, 29)</td><td>RGB(76, 5, 25)</td><td>RGBA(76, 5, 25, 1)</td><td>CMYK(0, 93, 67, 70)</td></tr></tbody></table>  
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Pink</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-pink-001">#fdf2f8</div>
                                <div class="p-3 t-pink-002">#fce7f3</div>
                                <div class="p-3 t-pink-003">#fbcfe8</div>
                                <div class="p-3 t-pink-004">#f9a8d4</div>
                                <div class="p-3 t-pink-005">#f472b6</div>
                                <div class="p-3 t-pink-006">#ec4899</div>
                                <div class="p-3 t-pink-007">#db2777</div>
                                <div class="p-3 t-pink-008">#be185d</div>
                                <div class="p-3 t-pink-009">#9d174d</div>
                                <div class="p-3 t-pink-010">#831843</div>
                                <div class="p-3 t-pink-011">#500724</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Pink</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fdf2f8</td><td>HSL(320, 89, 97)</td><td>HSV(320, 2, 99)</td><td>RGB(253, 242, 248)</td><td>RGBA(253, 242, 248, 1)</td><td>CMYK(0, 4, 2, 1)</td></tr><tr><td>#fce7f3</td><td>HSL(318, 90, 96)</td><td>HSV(318, 5, 99)</td><td>RGB(252, 231, 243)</td><td>RGBA(252, 231, 243, 1)</td><td>CMYK(0, 9, 3, 1)</td></tr><tr><td>#fbcfe8</td><td>HSL(315, 84, 92)</td><td>HSV(315, 11, 98)</td><td>RGB(251, 207, 232)</td><td>RGBA(251, 207, 232, 1)</td><td>CMYK(0, 17, 8, 2)</td></tr><tr><td>#f9a8d4</td><td>HSL(323, 77, 82)</td><td>HSV(323, 33, 98)</td><td>RGB(249, 168, 212)</td><td>RGBA(249, 168, 212, 1)</td><td>CMYK(0, 33, 15, 2)</td></tr><tr><td>#f472b6</td><td>HSL(326, 69, 64)</td><td>HSV(326, 56, 96)</td><td>RGB(244, 114, 182)</td><td>RGBA(244, 114, 182, 1)</td><td>CMYK(0, 53, 26, 4)</td></tr><tr><td>#ec4899</td><td>HSL(328, 69, 56)</td><td>HSV(328, 69, 92)</td><td>RGB(236, 72, 153)</td><td>RGBA(236, 72, 153, 1)</td><td>CMYK(0, 69, 35, 7)</td></tr><tr><td>#db2777</td><td>HSL(330, 69, 50)</td><td>HSV(330, 81, 86)</td><td>RGB(219, 39, 119)</td><td>RGBA(219, 39, 119, 1)</td><td>CMYK(0, 82, 46, 14)</td></tr><tr><td>#be185d</td><td>HSL(333, 61, 43)</td><td>HSV(333, 75, 75)</td><td>RGB(190, 24, 93)</td><td>RGBA(190, 24, 93, 1)</td><td>CMYK(0, 87, 51, 25)</td></tr><tr><td>#9d174d</td><td>HSL(333, 70, 37)</td><td>HSV(333, 81, 61)</td><td>RGB(157, 23, 77)</td><td>RGBA(157, 23, 77, 1)</td><td>CMYK(0, 85, 51, 38)</td></tr><tr><td>#831843</td><td>HSL(335, 67, 28)</td><td>HSV(335, 82, 51)</td><td>RGB(131, 24, 67)</td><td>RGBA(131, 24, 67, 1)</td><td>CMYK(0, 82, 49, 49)</td></tr><tr><td>#500724</td><td>HSL(339, 65, 15)</td><td>HSV(339, 75, 31)</td><td>RGB(80, 7, 36)</td><td>RGBA(80, 7, 36, 1)</td><td>CMYK(0, 91, 55, 69)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Fuchsia</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-fuchsia-001">#fdf4ff</div>
                                <div class="p-3 t-fuchsia-002">#fae8ff</div>
                                <div class="p-3 t-fuchsia-003">#f5d0fe</div>
                                <div class="p-3 t-fuchsia-004">#f0abfc</div>
                                <div class="p-3 t-fuchsia-005">#e879f9</div>
                                <div class="p-3 t-fuchsia-006">#d946ef</div>
                                <div class="p-3 t-fuchsia-007">#c026d3</div>
                                <div class="p-3 t-fuchsia-008">#a21caf</div>
                                <div class="p-3 t-fuchsia-009">#86178f</div>
                                <div class="p-3 t-fuchsia-010">#701675</div>
                                <div class="p-3 t-fuchsia-011">#4a044e</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Fuchsia</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fdf4ff</td><td>HSL(282, 100, 97)</td><td>HSV(282, 3, 100)</td><td>RGB(253, 244, 255)</td><td>RGBA(253, 244, 255, 1)</td><td>CMYK(0, 4, 0, 0)</td></tr><tr><td>#fae8ff</td><td>HSL(253, 100, 95)</td><td>HSV(253, 7, 100)</td><td>RGB(250, 232, 255)</td><td>RGBA(250, 232, 255, 1)</td><td>CMYK(2, 9, 0, 0)</td></tr><tr><td>#f5d0fe</td><td>HSL(270, 99, 92)</td><td>HSV(270, 8, 100)</td><td>RGB(245, 208, 254)</td><td>RGBA(245, 208, 254, 1)</td><td>CMYK(4, 18, 0, 0)</td></tr><tr><td>#f0abfc</td><td>HSL(280, 95, 86)</td><td>HSV(280, 13, 98)</td><td>RGB(240, 171, 252)</td><td>RGBA(240, 171, 252, 1)</td><td>CMYK(5, 32, 0, 1)</td></tr><tr><td>#e879f9</td><td>HSL(287, 88, 76)</td><td>HSV(287, 41, 97)</td><td>RGB(232, 121, 249)</td><td>RGBA(232, 121, 249, 1)</td><td>CMYK(7, 51, 0, 2)</td></tr><tr><td>#d946ef</td><td>HSL(289, 75, 64)</td><td>HSV(289, 67, 94)</td><td>RGB(217, 70, 239)</td><td>RGBA(217, 70, 239, 1)</td><td>CMYK(9, 71, 0, 6)</td></tr><tr><td>#c026d3</td><td>HSL(298, 67, 52)</td><td>HSV(298, 83, 76)</td><td>RGB(192, 38, 211)</td><td>RGBA(192, 38, 211, 1)</td><td>CMYK(9, 82, 0, 17)</td></tr><tr><td>#a21caf</td><td>HSL(308, 56, 41)</td><td>HSV(308, 82, 67)</td><td>RGB(162, 28, 175)</td><td>RGBA(162, 28, 175, 1)</td><td>CMYK(7, 84, 0, 31)</td></tr><tr><td>#86178f</td><td>HSL(297, 69, 33)</td><td>HSV(297, 81, 53)</td><td>RGB(134, 25, 143)</td><td>RGBA(134, 25, 143, 1)</td><td>CMYK(6, 83, 0, 44)</td></tr><tr><td>#701675</td><td>HSL(288, 54, 28)</td><td>HSV(288, 78, 40)</td><td>RGB(112, 22, 117)</td><td>RGBA(112, 22, 117, 1)</td><td>CMYK(4, 81, 0, 54)</td></tr><tr><td>#4a044e</td><td>HSL(305, 87, 16)</td><td>HSV(305, 92, 29)</td><td>RGB(74, 4, 78)</td><td>RGBA(74, 4, 78, 1)</td><td>CMYK(5, 95, 0, 69)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Purple</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-purple-001">#faf5ff</div>
                                <div class="p-3 t-purple-002">#f3e8ff</div>
                                <div class="p-3 t-purple-003">#e9d5ff</div>
                                <div class="p-3 t-purple-004">#d8b4fe</div>
                                <div class="p-3 t-purple-005">#c084fc</div>
                                <div class="p-3 t-purple-006">#a855f7</div>
                                <div class="p-3 t-purple-007">#9333ea</div>
                                <div class="p-3 t-purple-008">#7e22ce</div>
                                <div class="p-3 t-purple-009">#6b21a8</div>
                                <div class="p-3 t-purple-010">#581c87</div>
                                <div class="p-3 t-purple-011">#3b0764</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Purple</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#faf5ff</td><td>HSL(256, 100, 97)</td><td>HSV(256, 3, 100)</td><td>RGB(250, 245, 255)</td><td>RGBA(250, 245, 255, 1)</td><td>CMYK(2, 4, 0, 0)</td></tr><tr><td>#f3e8ff</td><td>HSL(260, 100, 95)</td><td>HSV(260, 6, 100)</td><td>RGB(243, 232, 255)</td><td>RGBA(243, 232, 255, 1)</td><td>CMYK(5, 9, 0, 0)</td></tr><tr><td>#e9d5ff</td><td>HSL(261, 100, 91)</td><td>HSV(261, 13, 100)</td><td>RGB(233, 213, 255)</td><td>RGBA(233, 213, 255, 1)</td><td>CMYK(9, 17, 0, 0)</td></tr><tr><td>#d8b4fe</td><td>HSL(262, 98, 86)</td><td>HSV(262, 31, 100)</td><td>RGB(216, 180, 254)</td><td>RGBA(216, 180, 254, 1)</td><td>CMYK(15, 29, 0, 0)</td></tr><tr><td>#c084fc</td><td>HSL(263, 94, 72)</td><td>HSV(263, 67, 99)</td><td>RGB(192, 132, 252)</td><td>RGBA(192, 132, 252, 1)</td><td>CMYK(24, 48, 0, 1)</td></tr><tr><td>#a855f7</td><td>HSL(263, 83, 63)</td><td>HSV(263, 78, 97)</td><td>RGB(168, 85, 247)</td><td>RGBA(168, 85, 247, 1)</td><td>CMYK(32, 66, 0, 3)</td></tr><tr><td>#9333ea</td><td>HSL(262, 77, 57)</td><td>HSV(262, 86, 92)</td><td>RGB(147, 51, 234)</td><td>RGBA(147, 51, 234, 1)</td><td>CMYK(37, 78, 0, 8)</td></tr><tr><td>#7e22ce</td><td>HSL(260, 75, 49)</td><td>HSV(260, 91, 81)</td><td>RGB(126, 34, 206)</td><td>RGBA(126, 34, 206, 1)</td><td>CMYK(39, 83, 0, 19)</td></tr><tr><td>#6b21a8</td><td>HSL(261, 70, 43)</td><td>HSV(261, 89, 65)</td><td>RGB(107, 33, 168)</td><td>RGBA(107, 33, 168, 1)</td><td>CMYK(36, 80, 0, 34)</td></tr><tr><td>#581c87</td><td>HSL(262, 64, 35)</td><td>HSV(262, 89, 53)</td><td>RGB(88, 28, 135)</td><td>RGBA(88, 28, 135, 1)</td><td>CMYK(35, 79, 0, 47)</td></tr><tr><td>#3b0764</td><td>HSL(261, 89, 20)</td><td>HSV(261, 95, 39)</td><td>RGB(59, 7, 100)</td><td>RGBA(59, 7, 100, 1)</td><td>CMYK(41, 93, 0, 61)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Violet</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-violet-001">#f5f3ff</div>
                                <div class="p-3 t-violet-002">#ede9fe</div>
                                <div class="p-3 t-violet-003">#ddd6fe</div>
                                <div class="p-3 t-violet-004">#c4b5fd</div>
                                <div class="p-3 t-violet-005">#a78bfa</div>
                                <div class="p-3 t-violet-006">#8b5cf6</div>
                                <div class="p-3 t-violet-007">#7c3aed</div>
                                <div class="p-3 t-violet-008">#6d28d9</div>
                                <div class="p-3 t-violet-009">#5b21b6</div>
                                <div class="p-3 t-violet-010">#4c1d95</div>
                                <div class="p-3 t-violet-011">#2e1065</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Shades of Tailwind Violet</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f5f3ff</td><td>HSL(250, 100, 98)</td><td>HSV(250, 3, 100)</td><td>RGB(245, 243, 255)</td><td>RGBA(245, 243, 255, 1)</td><td>CMYK(4, 5, 0, 0)</td></tr><tr><td>#ede9fe</td><td>HSL(251, 95, 97)</td><td>HSV(251, 6, 100)</td><td>RGB(237, 233, 254)</td><td>RGBA(237, 233, 254, 1)</td><td>CMYK(7, 9, 0, 0)</td></tr><tr><td>#ddd6fe</td><td>HSL(254, 92, 92)</td><td>HSV(254, 15, 100)</td><td>RGB(221, 214, 254)</td><td>RGBA(221, 214, 254, 1)</td><td>CMYK(13, 16, 0, 0)</td></tr><tr><td>#c4b5fd</td><td>HSL(256, 85, 86)</td><td>HSV(256, 30, 99)</td><td>RGB(196, 181, 253)</td><td>RGBA(196, 181, 253, 1)</td><td>CMYK(23, 29, 0, 1)</td></tr><tr><td>#a78bfa</td><td>HSL(257, 77, 74)</td><td>HSV(257, 45, 98)</td><td>RGB(167, 139, 250)</td><td>RGBA(167, 139, 250, 1)</td><td>CMYK(33, 44, 0, 2)</td></tr><tr><td>#7c3aed</td><td>HSL(261, 67, 58)</td><td>HSV(261, 72, 91)</td><td>RGB(124, 58, 237)</td><td>RGBA(124, 58, 237, 1)</td><td>CMYK(48, 76, 0, 7)</td></tr><tr><td>#8b5cf6</td><td>HSL(262, 67, 66)</td><td>HSV(262, 75, 96)</td><td>RGB(139, 92, 246)</td><td>RGBA(139, 92, 246, 1)</td><td>CMYK(43, 63, 0, 4)</td></tr><tr><td>#6d28d9</td><td>HSL(261, 75, 59)</td><td>HSV(261, 88, 85)</td><td>RGB(109, 40, 217)</td><td>RGBA(109, 40, 217, 1)</td><td>CMYK(50, 82, 0, 15)</td></tr><tr><td>#5b21b6</td><td>HSL(260, 72, 52)</td><td>HSV(260, 89, 71)</td><td>RGB(91, 33, 182)</td><td>RGBA(91, 33, 182, 1)</td><td>CMYK(50, 82, 0, 29)</td></tr><tr><td>#4c1d95</td><td>HSL(260, 70, 44)</td><td>HSV(260, 89, 58)</td><td>RGB(76, 29, 149)</td><td>RGBA(76, 29, 149, 1)</td><td>CMYK(49, 81, 0, 42)</td></tr><tr><td>#2e1065</td><td>HSL(257, 70, 32)</td><td>HSV(257, 88, 39)</td><td>RGB(46, 16, 101)</td><td>RGBA(46, 16, 101, 1)</td><td>CMYK(54, 84, 0, 60)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Indigo</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-indigo-001">#eef2ff</div>
                                <div class="p-3 t-indigo-002">#e0e7ff</div>
                                <div class="p-3 t-indigo-003">#c7d2fe</div>
                                <div class="p-3 t-indigo-004">#a5b4fc</div>
                                <div class="p-3 t-indigo-005">#818cf8</div>
                                <div class="p-3 t-indigo-006">#6366f1</div>
                                <div class="p-3 t-indigo-007">#4f46e5</div>
                                <div class="p-3 t-indigo-008">#4338ca</div>
                                <div class="p-3 t-indigo-009">#3730a3</div>
                                <div class="p-3 t-indigo-010">#312e81</div>
                                <div class="p-3 t-indigo-011">#1e1b4b</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Shades of Tailwind Indigo</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#eef2ff</td><td>HSL(234, 100, 97)</td><td>HSV(234, 4, 100)</td><td>RGB(238, 242, 255)</td><td>RGBA(238, 242, 255, 1)</td><td>CMYK(6, 5, 0, 0)</td></tr><tr><td>#e0e7ff</td><td>HSL(223, 100, 95)</td><td>HSV(223, 25, 100)</td><td>RGB(224, 231, 255)</td><td>RGBA(224, 231, 255, 1)</td><td>CMYK(12, 10, 0, 0)</td></tr><tr><td>#c7d2fe</td><td>HSL(222, 82, 90)</td><td>HSV(222, 26, 100)</td><td>RGB(199, 210, 254)</td><td>RGBA(199, 210, 254, 1)</td><td>CMYK(22, 18, 0, 0)</td></tr><tr><td>#a5b4fc</td><td>HSL(225, 85, 79)</td><td>HSV(225, 42, 99)</td><td>RGB(165, 180, 252)</td><td>RGBA(165, 180, 252, 1)</td><td>CMYK(35, 29, 0, 1)</td></tr><tr><td>#818cf8</td><td>HSL(234, 85, 76)</td><td>HSV(234, 68, 97)</td><td>RGB(129, 140, 248)</td><td>RGBA(129, 140, 248, 1)</td><td>CMYK(48, 43, 0, 3)</td></tr><tr><td>#6366f1</td><td>HSL(237, 79, 65)</td><td>HSV(237, 74, 97)</td><td>RGB(99, 102, 241)</td><td>RGBA(99, 102, 241, 1)</td><td>CMYK(59, 58, 0, 5)</td></tr><tr><td>#4f46e5</td><td>HSL(246, 73, 60)</td><td>HSV(246, 80, 89)</td><td>RGB(79, 70, 229)</td><td>RGBA(79, 70, 229, 1)</td><td>CMYK(66, 69, 0, 10)</td></tr><tr><td>#4338ca</td><td>HSL(246, 64, 53)</td><td>HSV(246, 82, 79)</td><td>RGB(67, 56, 202)</td><td>RGBA(67, 56, 202, 1)</td><td>CMYK(67, 72, 0, 21)</td></tr><tr><td>#3730a3</td><td>HSL(236, 54, 46)</td><td>HSV(236, 86, 64)</td><td>RGB(55, 48, 163)</td><td>RGBA(55, 48, 163, 1)</td><td>CMYK(66, 71, 0, 36)</td></tr><tr><td>#312e81</td><td>HSL(237, 47, 35)</td><td>HSV(237, 64, 51)</td><td>RGB(49, 46, 129)</td><td>RGBA(49, 46, 129, 1)</td><td>CMYK(62, 64, 0, 49)</td></tr><tr><td>#1e1b4b</td><td>HSL(235, 47, 16)</td><td>HSV(235, 62, 29)</td><td>RGB(30, 27, 75)</td><td>RGBA(30, 27, 75, 1)</td><td>CMYK(60, 64, 0, 71)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Blue</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-blue-001">#eff6ff</div>
                                <div class="p-3 t-blue-002">#dbeafe</div>
                                <div class="p-3 t-blue-003">#bfdbfe</div>
                                <div class="p-3 t-blue-004">#93c5fd</div>
                                <div class="p-3 t-blue-005">#60a5fa</div>
                                <div class="p-3 t-blue-006">#3b82f6</div>
                                <div class="p-3 t-blue-007">#2563eb</div>
                                <div class="p-3 t-blue-008">#1d4ed8</div>
                                <div class="p-3 t-blue-009">#1e40af</div>
                                <div class="p-3 t-blue-010">#1e3a8a</div>
                                <div class="p-3 t-blue-011">#172554</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Blue</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#eff6ff</td><td>HSL(210, 100, 97)</td><td>HSV(210, 7, 100)</td><td>RGB(239, 246, 255)</td><td>RGBA(239, 246, 255, 1)</td><td>CMYK(6, 4, 0, 0)</td></tr><tr><td>#dbeafe</td><td>HSL(237, 82, 89)</td><td>HSV(237, 35, 99)</td><td>RGB(219, 234, 254)</td><td>RGBA(219, 234, 254, 1)</td><td>CMYK(14, 8, 0, 0)</td></tr><tr><td>#bfdbfe</td><td>HSL(204, 85, 87)</td><td>HSV(204, 41, 99)</td><td>RGB(191, 219, 254)</td><td>RGBA(191, 219, 254, 1)</td><td>CMYK(25, 14, 0, 0)</td></tr><tr><td>#93c5fd</td><td>HSL(213, 98, 75)</td><td>HSV(213, 63, 99)</td><td>RGB(147, 197, 253)</td><td>RGBA(147, 197, 253, 1)</td><td>CMYK(42, 22, 0, 1)</td></tr><tr><td>#60a5fa</td><td>HSL(212, 92, 67)</td><td>HSV(212, 76, 98)</td><td>RGB(96, 165, 250)</td><td>RGBA(96, 165, 250, 1)</td><td>CMYK(62, 34, 0, 2)</td></tr><tr><td>#3b82f6</td><td>HSL(212, 87, 57)</td><td>HSV(212, 85, 96)</td><td>RGB(59, 130, 246)</td><td>RGBA(59, 130, 246, 1)</td><td>CMYK(76, 47, 0, 4)</td></tr><tr><td>#2563eb</td><td>HSL(216, 87, 51)</td><td>HSV(216, 90, 92)</td><td>RGB(37, 99, 235)</td><td>RGBA(37, 99, 235, 1)</td><td>CMYK(84, 58, 0, 8)</td></tr><tr><td>#1d4ed8</td><td>HSL(219, 81, 46)</td><td>HSV(219, 92, 85)</td><td>RGB(29, 78, 216)</td><td>RGBA(29, 78, 216, 1)</td><td>CMYK(87, 64, 0, 15)</td></tr><tr><td>#1e40af</td><td>HSL(220, 72, 45)</td><td>HSV(220, 87, 69)</td><td>RGB(30, 64, 175)</td><td>RGBA(30, 64, 175, 1)</td><td>CMYK(83, 63, 0, 31)</td></tr><tr><td>#1e3a8a</td><td>HSL(219, 67, 43)</td><td>HSV(219, 79, 54)</td><td>RGB(30, 58, 138)</td><td>RGBA(30, 58, 138, 1)</td><td>CMYK(78, 58, 0, 46)</td></tr><tr><td>#172554</td><td>HSL(229, 77, 28)</td><td>HSV(229, 74, 33)</td><td>RGB(23, 37, 84)</td><td>RGBA(23, 37, 84, 1)</td><td>CMYK(73, 56, 0, 67)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Sky</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-sky-001">#f0f9ff</div>
                                <div class="p-3 t-sky-002">#e0f2fe</div>
                                <div class="p-3 t-sky-003">#bae6fd</div>
                                <div class="p-3 t-sky-004">#7dd3fc</div>
                                <div class="p-3 t-sky-005">#38bdf8</div>
                                <div class="p-3 t-sky-006">#0ea5e9</div>
                                <div class="p-3 t-sky-007">#0284c7</div>
                                <div class="p-3 t-sky-008">#0369a1</div>
                                <div class="p-3 t-sky-009">#075985</div>
                                <div class="p-3 t-sky-010">#0c4a6e</div>
                                <div class="p-3 t-sky-011">#082f49</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Sky</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f0f9ff</td><td>HSL(204, 100%, 97%)</td><td>HSV(204, 3%, 100%)</td><td>RGB(240, 249, 255)</td><td>RGBA(240, 249, 255, 1)</td><td>CMYK(6, 2, 0, 0)</td></tr><tr><td>#e0f2fe</td><td>HSL(210, 100%, 94%)</td><td>HSV(210, 25%, 100%)</td><td>RGB(224, 242, 254)</td><td>RGBA(224, 242, 254, 1)</td><td>CMYK(12, 5, 0, 0)</td></tr><tr><td>#bae6fd</td><td>HSL(204, 94%, 85%)</td><td>HSV(204, 29%, 99%)</td><td>RGB(186, 230, 253)</td><td>RGBA(186, 230, 253, 1)</td><td>CMYK(27, 9, 0, 1)</td></tr><tr><td>#7dd3fc</td><td>HSL(204, 96%, 71%)</td><td>HSV(204, 50%, 99%)</td><td>RGB(125, 211, 252)</td><td>RGBA(125, 211, 252, 1)</td><td>CMYK(50, 16, 0, 1)</td></tr><tr><td>#38bdf8</td><td>HSL(204, 91%, 62%)</td><td>HSV(204, 85%, 97%)</td><td>RGB(56, 189, 248)</td><td>RGBA(56, 189, 248, 1)</td><td>CMYK(77, 24, 0, 3)</td></tr><tr><td>#0ea5e9</td><td>HSL(198, 90%, 47%)</td><td>HSV(198, 93%, 91%)</td><td>RGB(14, 165, 233)</td><td>RGBA(14, 165, 233, 1)</td><td>CMYK(94, 29, 0, 9)</td></tr><tr><td>#0284c7</td><td>HSL(199, 97%, 39%)</td><td>HSV(199, 99%, 78%)</td><td>RGB(2, 132, 199)</td><td>RGBA(2, 132, 199, 1)</td><td>CMYK(99, 34, 0, 22)</td></tr><tr><td>#0369a1</td><td>HSL(198, 96%, 33%)</td><td>HSV(198, 98%, 63%)</td><td>RGB(3, 105, 161)</td><td>RGBA(3, 105, 161, 1)</td><td>CMYK(98, 35, 0, 37)</td></tr><tr><td>#075985</td><td>HSL(199, 92%, 27%)</td><td>HSV(199, 95%, 35%)</td><td>RGB(7, 89, 133)</td><td>RGBA(7, 89, 133, 1)</td><td>CMYK(95, 33, 0, 48)</td></tr><tr><td>#0c4a6e</td><td>HSL(198, 84%, 25%)</td><td>HSV(198, 87%, 42%)</td><td>RGB(12, 74, 110)</td><td>RGBA(12, 74, 110, 1)</td><td>CMYK(89, 33, 0, 57)</td></tr><tr><td>#082f49</td><td>HSL(198, 69%, 16%)</td><td>HSV(198, 80%, 28%)</td><td>RGB(8, 47, 73)</td><td>RGBA(8, 47, 73, 1)</td><td>CMYK(89, 36, 0, 71)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Cyan</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-cyan-001">#ecfeff</div>
                                <div class="p-3 t-cyan-002">#cffafe</div>
                                <div class="p-3 t-cyan-003">#a5f3fc</div>
                                <div class="p-3 t-cyan-004">#67e8f9</div>
                                <div class="p-3 t-cyan-005">#22d3ee</div>
                                <div class="p-3 t-cyan-006">#06b6d4</div>
                                <div class="p-3 t-cyan-007">#0891b2</div>
                                <div class="p-3 t-cyan-008">#0e7490</div>
                                <div class="p-3 t-cyan-009">#155e75</div>
                                <div class="p-3 t-cyan-010">#164e63</div>
                                <div class="p-3 t-cyan-011">#083344</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Cyan</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ecfeff</td><td>HSL(180, 100%, 97%)</td><td>HSV(180, 1%, 100%)</td><td>RGB(236, 254, 255)</td><td>RGBA(236, 254, 255, 1)</td><td>CMYK(7%, 0%, 0%, 0%)</td></tr><tr><td>#cffafe</td><td>HSL(192, 97%, 93%)</td><td>HSV(192, 9%, 98%)</td><td>RGB(207, 250, 254)</td><td>RGBA(207, 250, 254, 1)</td><td>CMYK(19%, 2%, 0%, 0%)</td></tr><tr><td>#a5f3fc</td><td>HSL(187, 97%, 84%)</td><td>HSV(187, 42%, 99%)</td><td>RGB(165, 243, 252)</td><td>RGBA(165, 243, 252, 1)</td><td>CMYK(35%, 3%, 0%, 1%)</td></tr><tr><td>#67e8f9</td><td>HSL(189, 92%, 68%)</td><td>HSV(189, 72%, 97%)</td><td>RGB(103, 232, 249)</td><td>RGBA(103, 232, 249, 1)</td><td>CMYK(59%, 7%, 0%, 2%)</td></tr><tr><td>#22d3ee</td><td>HSL(191, 87%, 56%)</td><td>HSV(191, 92%, 93%)</td><td>RGB(34, 211, 238)</td><td>RGBA(34, 211, 238, 1)</td><td>CMYK(86%, 11%, 0%, 7%)</td></tr><tr><td>#06b6d4</td><td>HSL(191, 94%, 43%)</td><td>HSV(191, 97%, 83%)</td><td>RGB(6, 182, 212)</td><td>RGBA(6, 182, 212, 1)</td><td>CMYK(97%, 14%, 0%, 17%)</td></tr><tr><td>#0891b2</td><td>HSL(191, 87%, 37%)</td><td>HSV(191, 94%, 69%)</td><td>RGB(8, 145, 178)</td><td>RGBA(8, 145, 178, 1)</td><td>CMYK(96%, 19%, 0%, 30%)</td></tr><tr><td>#0e7490</td><td>HSL(195, 85%, 35%)</td><td>HSV(195, 91%, 45%)</td><td>RGB(14, 116, 144)</td><td>RGBA(14, 116, 144, 1)</td><td>CMYK(90%, 19%, 0%, 44%)</td></tr><tr><td>#155e75</td><td>HSL(196, 67%, 32%)</td><td>HSV(196, 81%, 34%)</td><td>RGB(21, 94, 117)</td><td>RGBA(21, 94, 117, 1)</td><td>CMYK(89%, 20%, 0%, 54%)</td></tr><tr><td>#164e63</td><td>HSL(195, 62%, 28%)</td><td>HSV(195, 73%, 39%)</td><td>RGB(22, 78, 99)</td><td>RGBA(22, 78, 99, 1)</td><td>CMYK(78%, 21%, 0%, 61%)</td></tr><tr><td>#083344</td><td>HSL(199, 75%, 17%)</td><td>HSV(199, 76%, 20%)</td><td>RGB(8, 51, 68)</td><td>RGBA(8, 51, 68, 1)</td><td>CMYK(88%, 25%, 0%, 73%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Teal</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-teal-001">#f0fdfa</div>
                                <div class="p-3 t-teal-002">#ccfbf1</div>
                                <div class="p-3 t-teal-003">#99f6e4</div>
                                <div class="p-3 t-teal-004">#5eead4</div>
                                <div class="p-3 t-teal-005">#2dd4bf</div>
                                <div class="p-3 t-teal-006">#14b8a6</div>
                                <div class="p-3 t-teal-007">#0d9488</div>
                                <div class="p-3 t-teal-008">#0f766e</div>
                                <div class="p-3 t-teal-009">#115e59</div>
                                <div class="p-3 t-teal-010">#134e4a</div>
                                <div class="p-3 t-teal-011">#042f2e</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Teal</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f0fdfa</td><td>HSL(180, 100%, 97%)</td><td>HSV(180, 3%, 99%)</td><td>RGB(240, 253, 250)</td><td>RGBA(240, 253, 250, 1)</td><td>CMYK(5%, 0%, 1%, 1%)</td></tr><tr><td>#ccfbf1</td><td>HSL(173, 78%, 92%)</td><td>HSV(173, 21%, 98%)</td><td>RGB(204, 251, 241)</td><td>RGBA(204, 251, 241, 1)</td><td>CMYK(19%, 0%, 4%, 2%)</td></tr><tr><td>#99f6e4</td><td>HSL(175, 83%, 80%)</td><td>HSV(175, 37%, 96%)</td><td>RGB(153, 246, 228)</td><td>RGBA(153, 246, 228, 1)</td><td>CMYK(38%, 0%, 7%, 4%)</td></tr><tr><td>#5eead4</td><td>HSL(172, 76%, 67%)</td><td>HSV(172, 51%, 92%)</td><td>RGB(94, 234, 212)</td><td>RGBA(94, 234, 212, 1)</td><td>CMYK(60%, 0%, 9%, 8%)</td></tr><tr><td>#2dd4bf</td><td>HSL(173, 69%, 47%)</td><td>HSV(173, 76%, 83%)</td><td>RGB(45, 212, 191)</td><td>RGBA(45, 212, 191, 1)</td><td>CMYK(79%, 0%, 10%, 17%)</td></tr><tr><td>#14b8a6</td><td>HSL(174, 80%, 37%)</td><td>HSV(174, 89%, 72%)</td><td>RGB(20, 184, 166)</td><td>RGBA(20, 184, 166, 1)</td><td>CMYK(89%, 0%, 10%, 28%)</td></tr><tr><td>#0d9488</td><td>HSL(174, 82%, 32%)</td><td>HSV(174, 88%, 58%)</td><td>RGB(13, 148, 136)</td><td>RGBA(13, 148, 136, 1)</td><td>CMYK(91%, 0%, 8%, 42%)</td></tr><tr><td>#0f766e</td><td>HSL(173, 80%, 28%)</td><td>HSV(173, 82%, 47%)</td><td>RGB(15, 118, 110)</td><td>RGBA(15, 118, 110, 1)</td><td>CMYK(87%, 0%, 7%, 54%)</td></tr><tr><td>#115e59</td><td>HSL(174, 69%, 25%)</td><td>HSV(174, 77%, 34%)</td><td>RGB(17, 94, 89)</td><td>RGBA(17, 94, 89, 1)</td><td>CMYK(82%, 0%, 7%, 63%)</td></tr><tr><td>#134e4a</td><td>HSL(174, 59%, 22%)</td><td>HSV(174, 74%, 29%)</td><td>RGB(19, 78, 74)</td><td>RGBA(19, 78, 74, 1)</td><td>CMYK(76%, 0%, 5%, 69%)</td></tr><tr><td>#042f2e</td><td>HSL(176, 85%, 12%)</td><td>HSV(176, 88%, 18%)</td><td>RGB(4, 47, 46)</td><td>RGBA(4, 47, 46, 1)</td><td>CMYK(91%, 0%, 2%, 82%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Emerald</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-emerald-001">#ecfdf5</div>
                                <div class="p-3 t-emerald-002">#d1fae5</div>
                                <div class="p-3 t-emerald-003">#a7f3d0</div>
                                <div class="p-3 t-emerald-004">#6ee7b7</div>
                                <div class="p-3 t-emerald-005">#34d399</div>
                                <div class="p-3 t-emerald-006">#10b981</div>
                                <div class="p-3 t-emerald-007">#059669</div>
                                <div class="p-3 t-emerald-008">#047857</div>
                                <div class="p-3 t-emerald-009">#065f46</div>
                                <div class="p-3 t-emerald-010">#064e3b</div>
                                <div class="p-3 t-emerald-011">#022c22</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Emerald</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#ecfdf5</td><td>HSL(150, 78%, 97%)</td><td>HSV(150, 6%, 99%)</td><td>RGB(236, 253, 245)</td><td>RGBA(236, 253, 245, 1)</td><td>CMYK(7%, 0%, 3%, 1%)</td></tr><tr><td>#d1fae5</td><td>HSL(149, 81%, 90%)</td><td>HSV(149, 26%, 98%)</td><td>RGB(209, 250, 229)</td><td>RGBA(209, 250, 229, 1)</td><td>CMYK(16%, 0%, 8%, 2%)</td></tr><tr><td>#a7f3d0</td><td>HSL(157, 76%, 80%)</td><td>HSV(157, 35%, 95%)</td><td>RGB(167, 243, 208)</td><td>RGBA(167, 243, 208, 1)</td><td>CMYK(31%, 0%, 14%, 5%)</td></tr><tr><td>#6ee7b7</td><td>HSL(162, 67%, 63%)</td><td>HSV(162, 50%, 90%)</td><td>RGB(110, 231, 183)</td><td>RGBA(110, 231, 183, 1)</td><td>CMYK(52%, 0%, 21%, 9%)</td></tr><tr><td>#34d399</td><td>HSL(157, 60%, 49%)</td><td>HSV(157, 78%, 83%)</td><td>RGB(52, 211, 153)</td><td>RGBA(52, 211, 153, 1)</td><td>CMYK(75%, 0%, 27%, 17%)</td></tr><tr><td>#10b981</td><td>HSL(162, 80%, 36%)</td><td>HSV(162, 90%, 72%)</td><td>RGB(16, 185, 129)</td><td>RGBA(16, 185, 129, 1)</td><td>CMYK(91%, 0%, 30%, 27%)</td></tr><tr><td>#059669</td><td>HSL(165, 91%, 29%)</td><td>HSV(165, 94%, 59%)</td><td>RGB(5, 150, 105)</td><td>RGBA(5, 150, 105, 1)</td><td>CMYK(97%, 0%, 30%, 41%)</td></tr><tr><td>#047857</td><td>HSL(168, 91%, 27%)</td><td>HSV(168, 94%, 47%)</td><td>RGB(4, 120, 87)</td><td>RGBA(4, 120, 87, 1)</td><td>CMYK(97%, 0%, 27%, 53%)</td></tr><tr><td>#065f46</td><td>HSL(168, 88%, 24%)</td><td>HSV(168, 93%, 36%)</td><td>RGB(6, 95, 70)</td><td>RGBA(6, 95, 70, 1)</td><td>CMYK(94%, 0%, 26%, 63%)</td></tr><tr><td>#064e3b</td><td>HSL(168, 87%, 20%)</td><td>HSV(168, 92%, 24%)</td><td>RGB(6, 78, 59)</td><td>RGBA(6, 78, 59, 1)</td><td>CMYK(92%, 0%, 24%, 69%)</td></tr><tr><td>#022c22</td><td>HSL(160, 90%, 11%)</td><td>HSV(160, 94%, 14%)</td><td>RGB(2, 44, 34)</td><td>RGBA(2, 44, 34, 1)</td><td>CMYK(95%, 0%, 23%, 83%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Green</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-green-001">#f0fdf4</div>
                                <div class="p-3 t-green-002">#dcfce7</div>
                                <div class="p-3 t-green-003">#bbf7d0</div>
                                <div class="p-3 t-green-004">#86efac</div>
                                <div class="p-3 t-green-005">#4ade80</div>
                                <div class="p-3 t-green-006">#22c55e</div>
                                <div class="p-3 t-green-007">#16a34a</div>
                                <div class="p-3 t-green-008">#15803d</div>
                                <div class="p-3 t-green-009">#166534</div>
                                <div class="p-3 t-green-010">#14532d</div>
                                <div class="p-3 t-green-011">#052e16</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Green</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f0fdf4</td><td>HSL(137, 100%, 97%)</td><td>HSV(137, 3%, 99%)</td><td>RGB(240, 253, 244)</td><td>RGBA(240, 253, 244, 1)</td><td>CMYK(5%, 0%, 3%, 1%)</td></tr><tr><td>#dcfce7</td><td>HSL(135, 58%, 93%)</td><td>HSV(135, 11%, 99%)</td><td>RGB(220, 252, 231)</td><td>RGBA(220, 252, 231, 1)</td><td>CMYK(13%, 0%, 8%, 1%)</td></tr><tr><td>#bbf7d0</td><td>HSL(144, 74%, 82%)</td><td>HSV(144, 25%, 97%)</td><td>RGB(187, 247, 208)</td><td>RGBA(187, 247, 208, 1)</td><td>CMYK(24%, 0%, 16%, 3%)</td></tr><tr><td>#86efac</td><td>HSL(141, 68%, 69%)</td><td>HSV(141, 50%, 94%)</td><td>RGB(134, 239, 172)</td><td>RGBA(134, 239, 172, 1)</td><td>CMYK(44%, 0%, 28%, 6%)</td></tr><tr><td>#4ade80</td><td>HSL(138, 64%, 57%)</td><td>HSV(138, 78%, 87%)</td><td>RGB(74, 222, 128)</td><td>RGBA(74, 222, 128, 1)</td><td>CMYK(67%, 0%, 42%, 13%)</td></tr><tr><td>#22c55e</td><td>HSL(142, 71%, 46%)</td><td>HSV(142, 87%, 77%)</td><td>RGB(34, 197, 94)</td><td>RGBA(34, 197, 94, 1)</td><td>CMYK(83%, 0%, 52%, 23%)</td></tr><tr><td>#16a34a</td><td>HSL(145, 75%, 37%)</td><td>HSV(145, 85%, 64%)</td><td>RGB(22, 163, 74)</td><td>RGBA(22, 163, 74, 1)</td><td>CMYK(87%, 0%, 55%, 36%)</td></tr><tr><td>#15803d</td><td>HSL(145, 74%, 32%)</td><td>HSV(145, 81%, 50%)</td><td>RGB(21, 128, 61)</td><td>RGBA(21, 128, 61, 1)</td><td>CMYK(84%, 0%, 52%, 50%)</td></tr><tr><td>#166534</td><td>HSL(146, 70%, 29%)</td><td>HSV(146, 77%, 40%)</td><td>RGB(22, 101, 52)</td><td>RGBA(22, 101, 52, 1)</td><td>CMYK(78%, 0%, 49%, 60%)</td></tr><tr><td>#14532d</td><td>HSL(146, 58%, 25%)</td><td>HSV(146, 77%, 33%)</td><td>RGB(20, 83, 45)</td><td>RGBA(20, 83, 45, 1)</td><td>CMYK(76%, 0%, 46%, 67%)</td></tr><tr><td>#052e16</td><td>HSL(140, 67%, 10%)</td><td>HSV(140, 89%, 18%)</td><td>RGB(5, 46, 22)</td><td>RGBA(5, 46, 22, 1)</td><td>CMYK(89%, 0%, 52%, 82%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Lime</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-lime-001">#f7fee7</div>
                                <div class="p-3 t-lime-002">#ecfccb</div>
                                <div class="p-3 t-lime-003">#d9f99d</div>
                                <div class="p-3 t-lime-004">#bee664</div>
                                <div class="p-3 t-lime-005">#a3e635</div>
                                <div class="p-3 t-lime-006">#84cc16</div>
                                <div class="p-3 t-lime-007">#65a30d</div>
                                <div class="p-3 t-lime-008">#4d7c0f</div>
                                <div class="p-3 t-lime-009">#3f6212</div>
                                <div class="p-3 t-lime-010">#365314</div>
                                <div class="p-3 t-lime-011">#1a2e05</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Lime</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f7fee7</td><td>HSL(76, 94%, 95%)</td><td>HSV(76, 4%, 97%)</td><td>RGB(247, 254, 231)</td><td>RGBA(247, 254, 231, 1)</td><td>CMYK(3%, 0%, 9%, 0%)</td></tr><tr><td>#ecfccb</td><td>HSL(74, 85%, 89%)</td><td>HSV(74, 18%, 99%)</td><td>RGB(236, 252, 203)</td><td>RGBA(236, 252, 203, 1)</td><td>CMYK(6%, 0%, 19%, 1%)</td></tr><tr><td>#d9f99d</td><td>HSL(79, 92%, 77%)</td><td>HSV(79, 35%, 98%)</td><td>RGB(217, 249, 157)</td><td>RGBA(217, 249, 157, 1)</td><td>CMYK(13%, 0%, 37%, 2%)</td></tr><tr><td>#bee664</td><td>HSL(76, 70%, 66%)</td><td>HSV(76, 56%, 90%)</td><td>RGB(190, 230, 100)</td><td>RGBA(190, 230, 100, 1)</td><td>CMYK(17%, 0%, 56%, 10%)</td></tr><tr><td>#a3e635</td><td>HSL(75, 73%, 59%)</td><td>HSV(75, 78%, 90%)</td><td>RGB(163, 230, 53)</td><td>RGBA(163, 230, 53, 1)</td><td>CMYK(29%, 0%, 77%, 10%)</td></tr><tr><td>#84cc16</td><td>HSL(76, 82%, 44%)</td><td>HSV(76, 93%, 80%)</td><td>RGB(132, 204, 22)</td><td>RGBA(132, 204, 22, 1)</td><td>CMYK(35%, 0%, 89%, 20%)</td></tr><tr><td>#65a30d</td><td>HSL(77, 78%, 34%)</td><td>HSV(77, 92%, 64%)</td><td>RGB(101, 163, 13)</td><td>RGBA(101, 163, 13, 1)</td><td>CMYK(38%, 0%, 92%, 36%)</td></tr><tr><td>#4d7c0f</td><td>HSL(77, 73%, 27%)</td><td>HSV(77, 84%, 49%)</td><td>RGB(77, 124, 15)</td><td>RGBA(77, 124, 15, 1)</td><td>CMYK(38%, 0%, 88%, 51%)</td></tr><tr><td>#3f6212</td><td>HSL(79, 70%, 24%)</td><td>HSV(79, 81%, 38%)</td><td>RGB(63, 98, 18)</td><td>RGBA(63, 98, 18, 1)</td><td>CMYK(36%, 0%, 82%, 62%)</td></tr><tr><td>#365314</td><td>HSL(79, 58%, 19%)</td><td>HSV(79, 73%, 33%)</td><td>RGB(54, 83, 20)</td><td>RGBA(54, 83, 20, 1)</td><td>CMYK(35%, 0%, 76%, 67%)</td></tr><tr><td>#1a2e05</td><td>HSL(87, 93%, 11%)</td><td>HSV(87, 93%, 18%)</td><td>RGB(26, 46, 5)</td><td>RGBA(26, 46, 5, 1)</td><td>CMYK(43%, 0%, 89%, 82%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Yelow</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-yellow-001">#fefce8</div>
                                <div class="p-3 t-yellow-002">#fef9c3</div>
                                <div class="p-3 t-yellow-003">#fef08a</div>
                                <div class="p-3 t-yellow-004">#fde047</div>
                                <div class="p-3 t-yellow-005">#facc15</div>
                                <div class="p-3 t-yellow-006">#eab308</div>
                                <div class="p-3 t-yellow-007">#ca8a04</div>
                                <div class="p-3 t-yellow-008">#a16207</div>
                                <div class="p-3 t-yellow-009">#854d0e</div>
                                <div class="p-3 t-yellow-010">#713f12</div>
                                <div class="p-3 t-yellow-011">#421e06</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Yellow</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fefce8</td><td>HSL(55, 94%, 96%)</td><td>HSV(55, 6%, 100%)</td><td>RGB(254, 252, 232)</td><td>RGBA(254, 252, 232, 1)</td><td>CMYK(0%, 1%, 9%, 0%)</td></tr><tr><td>#fef9c3</td><td>HSL(57, 93%, 91%)</td><td>HSV(57, 15%, 100%)</td><td>RGB(254, 249, 195)</td><td>RGBA(254, 249, 195, 1)</td><td>CMYK(0%, 2%, 23%, 0%)</td></tr><tr><td>#fef08a</td><td>HSL(57, 96%, 79%)</td><td>HSV(57, 36%, 100%)</td><td>RGB(254, 240, 138)</td><td>RGBA(254, 240, 138, 1)</td><td>CMYK(0%, 6%, 46%, 0%)</td></tr><tr><td>#fde047</td><td>HSL(56, 94%, 63%)</td><td>HSV(56, 81%, 99%)</td><td>RGB(253, 224, 71)</td><td>RGBA(253, 224, 71, 1)</td><td>CMYK(0%, 11%, 72%, 1%)</td></tr><tr><td>#facc15</td><td>HSL(48, 92%, 50%)</td><td>HSV(48, 92%, 98%)</td><td>RGB(250, 204, 21)</td><td>RGBA(250, 204, 21, 1)</td><td>CMYK(0%, 18%, 92%, 2%)</td></tr><tr><td>#eab308</td><td>HSL(42, 93%, 42%)</td><td>HSV(42, 95%, 91%)</td><td>RGB(234, 179, 8)</td><td>RGBA(234, 179, 8, 1)</td><td>CMYK(0%, 23%, 97%, 8%)</td></tr><tr><td>#ca8a04</td><td>HSL(37, 94%, 33%)</td><td>HSV(37, 97%, 79%)</td><td>RGB(202, 138, 4)</td><td>RGBA(202, 138, 4, 1)</td><td>CMYK(0%, 32%, 98%, 21%)</td></tr><tr><td>#a16207</td><td>HSL(34, 86%, 28%)</td><td>HSV(34, 97%, 63%)</td><td>RGB(161, 98, 7)</td><td>RGBA(161, 98, 7, 1)</td><td>CMYK(0%, 39%, 96%, 37%)</td></tr><tr><td>#854d0e</td><td>HSL(30, 82%, 24%)</td><td>HSV(30, 94%, 52%)</td><td>RGB(133, 77, 14)</td><td>RGBA(133, 77, 14, 1)</td><td>CMYK(0%, 42%, 89%, 48%)</td></tr><tr><td>#713f12</td><td>HSL(29, 70%, 20%)</td><td>HSV(29, 82%, 44%)</td><td>RGB(113, 63, 18)</td><td>RGBA(113, 63, 18, 1)</td><td>CMYK(0%, 44%, 84%, 56%)</td></tr><tr><td>#421e06</td><td>HSL(26, 85%, 13%)</td><td>HSV(26, 94%, 26%)</td><td>RGB(66, 30, 6)</td><td>RGBA(66, 30, 6, 1)</td><td>CMYK(0%, 55%, 91%, 74%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Amber</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-amber-001">#fffbeb</div>
                                <div class="p-3 t-amber-002">#fef3c7</div>
                                <div class="p-3 t-amber-003">#fde68a</div>
                                <div class="p-3 t-amber-004">#fcd34d</div>
                                <div class="p-3 t-amber-005">#fbbf24</div>
                                <div class="p-3 t-amber-006">#f59e0b</div>
                                <div class="p-3 t-amber-007">#d97706</div>
                                <div class="p-3 t-amber-008">#b45309</div>
                                <div class="p-3 t-amber-009">#92400e</div>
                                <div class="p-3 t-amber-010">#78350f</div>
                                <div class="p-3 t-amber-011">#451a03</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Amber</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fffbeb</td><td>HSL(60, 100%, 97%)</td><td>HSV(60, 3%, 100%)</td><td>RGB(255, 251, 235)</td><td>RGBA(255, 251, 235, 1)</td><td>CMYK(0%, 2%, 8%, 0%)</td></tr><tr><td>#fef3c7</td><td>HSL(55, 91%, 89%)</td><td>HSV(55, 16%, 100%)</td><td>RGB(254, 243, 199)</td><td>RGBA(254, 243, 199, 1)</td><td>CMYK(0%, 4%, 22%, 0%)</td></tr><tr><td>#fde68a</td><td>HSL(54, 93%, 76%)</td><td>HSV(54, 42%, 99%)</td><td>RGB(253, 230, 138)</td><td>RGBA(253, 230, 138, 1)</td><td>CMYK(0%, 9%, 45%, 1%)</td></tr><tr><td>#fcd34d</td><td>HSL(48, 97%, 63%)</td><td>HSV(48, 83%, 99%)</td><td>RGB(252, 211, 77)</td><td>RGBA(252, 211, 77, 1)</td><td>CMYK(0%, 16%, 69%, 1%)</td></tr><tr><td>#fbbf24</td><td>HSL(43, 95%, 54%)</td><td>HSV(43, 91%, 98%)</td><td>RGB(251, 191, 36)</td><td>RGBA(251, 191, 36, 1)</td><td>CMYK(0%, 24%, 86%, 2%)</td></tr><tr><td>#f59e0b</td><td>HSL(36, 95%, 46%)</td><td>HSV(36, 96%, 96%)</td><td>RGB(245, 158, 11)</td><td>RGBA(245, 158, 11, 1)</td><td>CMYK(0%, 35%, 96%, 4%)</td></tr><tr><td>#d97706</td><td>HSL(27, 94%, 41%)</td><td>HSV(27, 97%, 85%)</td><td>RGB(217, 119, 6)</td><td>RGBA(217, 119, 6, 1)</td><td>CMYK(0%, 45%, 97%, 15%)</td></tr><tr><td>#b45309</td><td>HSL(26, 87%, 34%)</td><td>HSV(26, 93%, 71%)</td><td>RGB(180, 83, 9)</td><td>RGBA(180, 83, 9, 1)</td><td>CMYK(0%, 54%, 95%, 29%)</td></tr><tr><td>#92400e</td><td>HSL(23, 83%, 28%)</td><td>HSV(23, 94%, 57%)</td><td>RGB(146, 64, 14)</td><td>RGBA(146, 64, 14, 1)</td><td>CMYK(0%, 56%, 90%, 43%)</td></tr><tr><td>#78350f</td><td>HSL(27, 73%, 24%)</td><td>HSV(27, 82%, 47%)</td><td>RGB(120, 53, 15)</td><td>RGBA(120, 53, 15, 1)</td><td>CMYK(0%, 56%, 88%, 53%)</td></tr><tr><td>#451a03</td><td>HSL(30, 92%, 12%)</td><td>HSV(30, 97%, 27%)</td><td>RGB(69, 26, 3)</td><td>RGBA(69, 26, 3, 1)</td><td>CMYK(0%, 62%, 96%, 73%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Orange</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-orange-001">#fff7ed</div>
                                <div class="p-3 t-orange-002">#ffedd5</div>
                                <div class="p-3 t-orange-003">#fed7aa</div>
                                <div class="p-3 t-orange-004">#fdba74</div>
                                <div class="p-3 t-orange-005">#fb923c</div>
                                <div class="p-3 t-orange-006">#f97316</div>
                                <div class="p-3 t-orange-007">#ea580c</div>
                                <div class="p-3 t-orange-008">#c2410c</div>
                                <div class="p-3 t-orange-009">#9a3412</div>
                                <div class="p-3 t-orange-010">#7c2d12</div>
                                <div class="p-3 t-orange-011">#431407</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Orange</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fff7ed</td><td>HSL(30, 100%, 96%)</td><td>HSV(30, 7%, 100%)</td><td>RGB(255, 247, 237)</td><td>RGBA(255, 247, 237, 1)</td><td>CMYK(0%, 3%, 7%, 0%)</td></tr><tr><td>#ffedd5</td><td>HSL(30, 100%, 90%)</td><td>HSV(30, 19%, 100%)</td><td>RGB(255, 237, 213)</td><td>RGBA(255, 237, 213, 1)</td><td>CMYK(0%, 7%, 17%, 0%)</td></tr><tr><td>#fed7aa</td><td>HSL(30, 89%, 80%)</td><td>HSV(30, 41%, 99%)</td><td>RGB(254, 215, 170)</td><td>RGBA(254, 215, 170, 1)</td><td>CMYK(0%, 15%, 33%, 0%)</td></tr><tr><td>#fdba74</td><td>HSL(26, 91%, 71%)</td><td>HSV(26, 57%, 99%)</td><td>RGB(253, 186, 116)</td><td>RGBA(253, 186, 116, 1)</td><td>CMYK(0%, 26%, 54%, 1%)</td></tr><tr><td>#fb923c</td><td>HSL(20, 96%, 58%)</td><td>HSV(20, 84%, 98%)</td><td>RGB(251, 146, 60)</td><td>RGBA(251, 146, 60, 1)</td><td>CMYK(0%, 42%, 76%, 2%)</td></tr><tr><td>#f97316</td><td>HSL(18, 90%, 52%)</td><td>HSV(18, 94%, 98%)</td><td>RGB(249, 115, 22)</td><td>RGBA(249, 115, 22, 1)</td><td>CMYK(0%, 54%, 91%, 2%)</td></tr><tr><td>#ea580c</td><td>HSL(19, 88%, 46%)</td><td>HSV(19, 96%, 92%)</td><td>RGB(234, 88, 12)</td><td>RGBA(234, 88, 12, 1)</td><td>CMYK(0%, 62%, 95%, 8%)</td></tr><tr><td>#c2410c</td><td>HSL(12, 85%, 38%)</td><td>HSV(12, 91%, 76%)</td><td>RGB(194, 65, 12)</td><td>RGBA(194, 65, 12, 1)</td><td>CMYK(0%, 66%, 94%, 24%)</td></tr><tr><td>#9a3412</td><td>HSL(13, 82%, 34%)</td><td>HSV(13, 93%, 60%)</td><td>RGB(154, 52, 18)</td><td>RGBA(154, 52, 18, 1)</td><td>CMYK(0%, 66%, 88%, 40%)</td></tr><tr><td>#7c2d12</td><td>HSL(14, 72%, 28%)</td><td>HSV(14, 82%, 49%)</td><td>RGB(124, 45, 18)</td><td>RGBA(124, 45, 18, 1)</td><td>CMYK(0%, 64%, 86%, 51%)</td></tr><tr><td>#431407</td><td>HSL(9, 88%, 15%)</td><td>HSV(9, 93%, 26%)</td><td>RGB(67, 20, 7)</td><td>RGBA(67, 20, 7, 1)</td><td>CMYK(0%, 70%, 90%, 74%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Red</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-red-001">#fef2f2</div>
                                <div class="p-3 t-red-002">#fee2e2</div>
                                <div class="p-3 t-red-003">#fecaca</div>
                                <div class="p-3 t-red-004">#fca5a5</div>
                                <div class="p-3 t-red-005">#f87171</div>
                                <div class="p-3 t-red-006">#ef4444</div>
                                <div class="p-3 t-red-007">#dc2626</div>
                                <div class="p-3 t-red-008">#b91919</div>
                                <div class="p-3 t-red-009">#991b1b</div>
                                <div class="p-3 t-red-010">#7f1d1d</div>
                                <div class="p-3 t-red-011">#450a0a</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Red</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fef2f2</td><td>HSL(0, 95%, 97%)</td><td>HSV(0, 3%, 99%)</td><td>RGB(254, 242, 242)</td><td>RGBA(254, 242, 242, 1)</td><td>CMYK(0%, 5%, 5%, 0%)</td></tr><tr><td>#fee2e2</td><td>HSL(0, 92%, 94%)</td><td>HSV(0, 9%, 99%)</td><td>RGB(254, 226, 226)</td><td>RGBA(254, 226, 226, 1)</td><td>CMYK(0%, 11%, 11%, 0%)</td></tr><tr><td>#fecaca</td><td>HSL(0, 92%, 88%)</td><td>HSV(0, 19%, 99%)</td><td>RGB(254, 202, 202)</td><td>RGBA(254, 202, 202, 1)</td><td>CMYK(0%, 20%, 20%, 0%)</td></tr><tr><td>#fca5a5</td><td>HSL(0, 80%, 76%)</td><td>HSV(0, 38%, 99%)</td><td>RGB(252, 165, 165)</td><td>RGBA(252, 165, 165, 1)</td><td>CMYK(0%, 34%, 34%, 1%)</td></tr><tr><td>#f87171</td><td>HSL(0, 77%, 66%)</td><td>HSV(0, 55%, 97%)</td><td>RGB(248, 113, 113)</td><td>RGBA(248, 113, 113, 1)</td><td>CMYK(0%, 54%, 54%, 3%)</td></tr><tr><td>#ef4444</td><td>HSL(0, 84%, 58%)</td><td>HSV(0, 81%, 94%)</td><td>RGB(239, 68, 68)</td><td>RGBA(239, 68, 68, 1)</td><td>CMYK(0%, 72%, 72%, 6%)</td></tr><tr><td>#dc2626</td><td>HSL(0, 76%, 48%)</td><td>HSV(0, 84%, 86%)</td><td>RGB(220, 38, 38)</td><td>RGBA(220, 38, 38, 1)</td><td>CMYK(0%, 83%, 83%, 14%)</td></tr><tr><td>#b91919</td><td>HSL(0, 76%, 38%)</td><td>HSV(0, 91%, 73%)</td><td>RGB(185, 25, 25)</td><td>RGBA(185, 25, 25, 1)</td><td>CMYK(0%, 86%, 86%, 27%)</td></tr><tr><td>#991b1b</td><td>HSL(0, 72%, 32%)</td><td>HSV(0, 90%, 60%)</td><td>RGB(153, 27, 27)</td><td>RGBA(153, 27, 27, 1)</td><td>CMYK(0%, 82%, 82%, 40%)</td></tr><tr><td>#7f1d1d</td><td>HSL(0, 67%, 27%)</td><td>HSV(0, 86%, 49%)</td><td>RGB(127, 29, 29)</td><td>RGBA(127, 29, 29, 1)</td><td>CMYK(0%, 77%, 77%, 50%)</td></tr><tr><td>#450a0a</td><td>HSL(0, 96%, 13%)</td><td>HSV(0, 98%, 27%)</td><td>RGB(69, 10, 10)</td><td>RGBA(69, 10, 10, 1)</td><td>CMYK(0%, 85%, 85%, 73%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Stone</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-stone-001">#fafaf9</div>
                                <div class="p-3 t-stone-002">#f5f5f4</div>
                                <div class="p-3 t-stone-003">#e7e5e4</div>
                                <div class="p-3 t-stone-004">#d6d3d1</div>
                                <div class="p-3 t-stone-005">#a8a29e</div>
                                <div class="p-3 t-stone-006">#78716c</div>
                                <div class="p-3 t-stone-007">#57534e</div>
                                <div class="p-3 t-stone-008">#44403c</div>
                                <div class="p-3 t-stone-009">#292524</div>
                                <div class="p-3 t-stone-010">#1c1917</div>
                                <div class="p-3 t-stone-011">#0c0a09</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Stone</h5>
                                <table class="stack-table"><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fafaf9</td><td>HSL(60, 11%, 98%)</td><td>HSV(60, 1%, 98%)</td><td>RGB(250, 250, 249)</td><td>RGBA(250, 250, 249, 1)</td><td>CMYK(0%, 0%, 0%, 2%)</td></tr><tr><td>#f5f5f4</td><td>HSL(60, 5%, 96%)</td><td>HSV(60, 3%, 96%)</td><td>RGB(245, 245, 244)</td><td>RGBA(245, 245, 244, 1)</td><td>CMYK(0%, 0%, 0%, 4%)</td></tr><tr><td>#e7e5e4</td><td>HSL(30, 8%, 90%)</td><td>HSV(30, 7%, 91%)</td><td>RGB(231, 229, 228)</td><td>RGBA(231, 229, 228, 1)</td><td>CMYK(0%, 1%, 1%, 9%)</td></tr><tr><td>#d6d3d1</td><td>HSL(30, 8%, 82%)</td><td>HSV(30, 3%, 84%)</td><td>RGB(214, 211, 209)</td><td>RGBA(214, 211, 209, 1)</td><td>CMYK(0%, 1%, 2%, 16%)</td></tr><tr><td>#a8a29e</td><td>HSL(30, 6%, 64%)</td><td>HSV(30, 7%, 65%)</td><td>RGB(168, 162, 158)</td><td>RGBA(168, 162, 158, 1)</td><td>CMYK(0%, 4%, 6%, 34%)</td></tr><tr><td>#78716c</td><td>HSL(30, 5%, 46%)</td><td>HSV(30, 10%, 47%)</td><td>RGB(120, 113, 108)</td><td>RGBA(120, 113, 108, 1)</td><td>CMYK(0%, 6%, 10%, 53%)</td></tr><tr><td>#57534e</td><td>HSL(30, 5%, 35%)</td><td>HSV(30, 12%, 34%)</td><td>RGB(87, 83, 78)</td><td>RGBA(87, 83, 78, 1)</td><td>CMYK(0%, 5%, 10%, 66%)</td></tr><tr><td>#44403c</td><td>HSL(30, 4%, 26%)</td><td>HSV(30, 12%, 27%)</td><td>RGB(68, 64, 60)</td><td>RGBA(68, 64, 60, 1)</td><td>CMYK(0%, 6%, 12%, 73%)</td></tr><tr><td>#292524</td><td>HSL(30, 6%, 16%)</td><td>HSV(30, 17%, 16%)</td><td>RGB(41, 37, 36)</td><td>RGBA(41, 37, 36, 1)</td><td>CMYK(0%, 10%, 12%, 84%)</td></tr><tr><td>#1c1917</td><td>HSL(30, 7%, 10%)</td><td>HSV(30, 15%, 11%)</td><td>RGB(28, 25, 23)</td><td>RGBA(28, 25, 23, 1)</td><td>CMYK(0%, 11%, 18%, 89%)</td></tr><tr><td>#0c0a09</td><td>HSL(30, 7%, 4%)</td><td>HSV(30, 10%, 5%)</td><td>RGB(12, 10, 9)</td><td>RGBA(12, 10, 9, 1)</td><td>CMYK(0%, 17%, 25%, 95%)</td></tr></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Neutral</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-neutral-001">#fafafa</div>
                                <div class="p-3 t-neutral-002">#f5f5f5</div>
                                <div class="p-3 t-neutral-003">#e5e5e5</div>
                                <div class="p-3 t-neutral-004">#d4d4d4</div>
                                <div class="p-3 t-neutral-005">#a3a3a3</div>
                                <div class="p-3 t-neutral-006">#737373</div>
                                <div class="p-3 t-neutral-007">#525252</div>
                                <div class="p-3 t-neutral-008">#404040</div>
                                <div class="p-3 t-neutral-009">#262626</div>
                                <div class="p-3 t-neutral-010">#171717</div>
                                <div class="p-3 t-neutral-011">#0a0a0a</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Neutral</h5>
                                <table class="stack-table"><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fafafa</td><td>HSL(0, 0%, 98%)</td><td>HSV(0, 0%, 98%)</td><td>RGB(250, 250, 250)</td><td>RGBA(250, 250, 250, 1)</td><td>CMYK(0%, 0%, 0%, 2%)</td></tr><tr><td>#f5f5f5</td><td>HSL(0, 0%, 96%)</td><td>HSV(0, 0%, 96%)</td><td>RGB(245, 245, 245)</td><td>RGBA(245, 245, 245, 1)</td><td>CMYK(0%, 0%, 0%, 4%)</td></tr><tr><td>#e5e5e5</td><td>HSL(0, 0%, 90%)</td><td>HSV(0, 0%, 90%)</td><td>RGB(229, 229, 229)</td><td>RGBA(229, 229, 229, 1)</td><td>CMYK(0%, 0%, 0%, 10%)</td></tr><tr><td>#d4d4d4</td><td>HSL(0, 0%, 83%)</td><td>HSV(0, 0%, 83%)</td><td>RGB(212, 212, 212)</td><td>RGBA(212, 212, 212, 1)</td><td>CMYK(0%, 0%, 0%, 17%)</td></tr><tr><td>#a3a3a3</td><td>HSL(0, 0%, 64%)</td><td>HSV(0, 0%, 64%)</td><td>RGB(163, 163, 163)</td><td>RGBA(163, 163, 163, 1)</td><td>CMYK(0%, 0%, 0%, 36%)</td></tr><tr><td>#737373</td><td>HSL(0, 0%, 45%)</td><td>HSV(0, 0%, 45%)</td><td>RGB(115, 115, 115)</td><td>RGBA(115, 115, 115, 1)</td><td>CMYK(0%, 0%, 0%, 55%)</td></tr><tr><td>#525252</td><td>HSL(0, 0%, 32%)</td><td>HSV(0, 0%, 32%)</td><td>RGB(82, 82, 82)</td><td>RGBA(82, 82, 82, 1)</td><td>CMYK(0%, 0%, 0%, 68%)</td></tr><tr><td>#404040</td><td>HSL(0, 0%, 25%)</td><td>HSV(0, 0%, 25%)</td><td>RGB(64, 64, 64)</td><td>RGBA(64, 64, 64, 1)</td><td>CMYK(0%, 0%, 0%, 75%)</td></tr><tr><td>#262626</td><td>HSL(0, 0%, 15%)</td><td>HSV(0, 0%, 15%)</td><td>RGB(38, 38, 38)</td><td>RGBA(38, 38, 38, 1)</td><td>CMYK(0%, 0%, 0%, 85%)</td></tr><tr><td>#171717</td><td>HSL(0, 0%, 9%)</td><td>HSV(0, 0%, 9%)</td><td>RGB(23, 23, 23)</td><td>RGBA(23, 23, 23, 1)</td><td>CMYK(0%, 0%, 0%, 91%)</td></tr><tr><td>#0a0a0a</td><td>HSL(0, 0%, 4%)</td><td>HSV(0, 0%, 4%)</td><td>RGB(10, 10, 10)</td><td>RGBA(10, 10, 10, 1)</td><td>CMYK(0%, 0%, 0%, 96%)</td></tr></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Zinc</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-zinc-001">#fafafa</div>
                                <div class="p-3 t-zinc-002">#f4f4f5</div>
                                <div class="p-3 t-zinc-003">#e4e4e7</div>
                                <div class="p-3 t-zinc-004">#d4d4d8</div>
                                <div class="p-3 t-zinc-005">#a1a1aa</div>
                                <div class="p-3 t-zinc-006">#71717a</div>
                                <div class="p-3 t-zinc-007">#52525b</div>
                                <div class="p-3 t-zinc-008">#3f3f46</div>
                                <div class="p-3 t-zinc-009">#27272a</div>
                                <div class="p-3 t-zinc-010">#18181b</div>
                                <div class="p-3 t-zinc-011">#09090b</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Zinc</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#fafafa</td><td>HSL(0, 0%, 98%)</td><td>HSV(0, 0%, 98%)</td><td>RGB(250, 250, 250)</td><td>RGBA(250, 250, 250, 1)</td><td>CMYK(0%, 0%, 0%, 2%)</td></tr><tr><td>#f4f4f5</td><td>HSL(240, 3%, 96%)</td><td>HSV(240, 2%, 96%)</td><td>RGB(244, 244, 245)</td><td>RGBA(244, 244, 245, 1)</td><td>CMYK(0%, 0%, 0%, 4%)</td></tr><tr><td>#e4e4e7</td><td>HSL(240, 5%, 91%)</td><td>HSV(240, 3%, 91%)</td><td>RGB(228, 228, 231)</td><td>RGBA(228, 228, 231, 1)</td><td>CMYK(1%, 1%, 0%, 10%)</td></tr><tr><td>#d4d4d8</td><td>HSL(240, 4%, 85%)</td><td>HSV(240, 3%, 85%)</td><td>RGB(212, 212, 216)</td><td>RGBA(212, 212, 216, 1)</td><td>CMYK(2%, 2%, 0%, 15%)</td></tr><tr><td>#a1a1aa</td><td>HSL(240, 6%, 65%)</td><td>HSV(240, 7%, 67%)</td><td>RGB(161, 161, 170)</td><td>RGBA(161, 161, 170, 1)</td><td>CMYK(5%, 5%, 0%, 33%)</td></tr><tr><td>#71717a</td><td>HSL(240, 5%, 45%)</td><td>HSV(240, 7%, 47%)</td><td>RGB(113, 113, 122)</td><td>RGBA(113, 113, 122, 1)</td><td>CMYK(7%, 7%, 0%, 52%)</td></tr><tr><td>#52525b</td><td>HSL(240, 5%, 35%)</td><td>HSV(240, 13%, 36%)</td><td>RGB(82, 82, 91)</td><td>RGBA(82, 82, 91, 1)</td><td>CMYK(10%, 10%, 0%, 64%)</td></tr><tr><td>#3f3f46</td><td>HSL(240, 5%, 27%)</td><td>HSV(240, 13%, 28%)</td><td>RGB(63, 63, 70)</td><td>RGBA(63, 63, 70, 1)</td><td>CMYK(10%, 10%, 0%, 73%)</td></tr><tr><td>#27272a</td><td>HSL(240, 4%, 16%)</td><td>HSV(240, 8%, 17%)</td><td>RGB(39, 39, 42)</td><td>RGBA(39, 39, 42, 1)</td><td>CMYK(7%, 7%, 0%, 83%)</td></tr><tr><td>#18181b</td><td>HSL(240, 4%, 10%)</td><td>HSV(240, 5%, 11%)</td><td>RGB(24, 24, 27)</td><td>RGBA(24, 24, 27, 1)</td><td>CMYK(11%, 11%, 0%, 89%)</td></tr><tr><td>#09090b</td><td>HSL(240, 4%, 4%)</td><td>HSV(240, 11%, 5%)</td><td>RGB(9, 9, 11)</td><td>RGBA(9, 9, 11, 1)</td><td>CMYK(18%, 18%, 0%, 96%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Gray</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-gray-001">#f9fafb</div>
                                <div class="p-3 t-gray-002">#f3f4f6</div>
                                <div class="p-3 t-gray-003">#e5e7eb</div>
                                <div class="p-3 t-gray-004">#d1d5db</div>
                                <div class="p-3 t-gray-005">#9ca3af</div>
                                <div class="p-3 t-gray-006">#6b7280</div>
                                <div class="p-3 t-gray-007">#4b5563</div>
                                <div class="p-3 t-gray-008">#374151</div>
                                <div class="p-3 t-gray-009">#1f2937</div>
                                <div class="p-3 t-gray-010">#111827</div>
                                <div class="p-3 t-gray-011">#030712</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Gray</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f9fafb</td><td>HSL(210, 36%, 97%)</td><td>HSV(210, 2%, 98%)</td><td>RGB(249, 250, 251)</td><td>RGBA(249, 250, 251, 1)</td><td>CMYK(1%, 0%, 0%, 2%)</td></tr><tr><td>#f3f4f6</td><td>HSL(210, 25%, 96%)</td><td>HSV(210, 2%, 96%)</td><td>RGB(243, 244, 246)</td><td>RGBA(243, 244, 246, 1)</td><td>CMYK(1%, 1%, 0%, 4%)</td></tr><tr><td>#e5e7eb</td><td>HSL(210, 23%, 91%)</td><td>HSV(210, 6%, 92%)</td><td>RGB(229, 231, 235)</td><td>RGBA(229, 231, 235, 1)</td><td>CMYK(2%, 2%, 0%, 8%)</td></tr><tr><td>#d1d5db</td><td>HSL(210, 20%, 84%)</td><td>HSV(210, 15%, 86%)</td><td>RGB(209, 213, 219)</td><td>RGBA(209, 213, 219, 1)</td><td>CMYK(4%, 3%, 0%, 14%)</td></tr><tr><td>#9ca3af</td><td>HSL(210, 12%, 64%)</td><td>HSV(210, 10%, 69%)</td><td>RGB(156, 163, 175)</td><td>RGBA(156, 163, 175, 1)</td><td>CMYK(11%, 7%, 0%, 31%)</td></tr><tr><td>#6b7280</td><td>HSL(210, 14%, 44%)</td><td>HSV(210, 12%, 50%)</td><td>RGB(107, 114, 128)</td><td>RGBA(107, 114, 128, 1)</td><td>CMYK(16%, 11%, 0%, 50%)</td></tr><tr><td>#4b5563</td><td>HSL(210, 18%, 36%)</td><td>HSV(210, 23%, 39%)</td><td>RGB(75, 85, 99)</td><td>RGBA(75, 85, 99, 1)</td><td>CMYK(24%, 14%, 0%, 61%)</td></tr><tr><td>#374151</td><td>HSL(210, 21%, 28%)</td><td>HSV(210, 26%, 32%)</td><td>RGB(55, 65, 81)</td><td>RGBA(55, 65, 81, 1)</td><td>CMYK(32%, 20%, 0%, 68%)</td></tr><tr><td>#1f2937</td><td>HSL(210, 28%, 18%)</td><td>HSV(210, 38%, 22%)</td><td>RGB(31, 41, 55)</td><td>RGBA(31, 41, 55, 1)</td><td>CMYK(44%, 25%, 0%, 78%)</td></tr><tr><td>#111827</td><td>HSL(210, 30%, 9%)</td><td>HSV(210, 45%, 16%)</td><td>RGB(17, 24, 39)</td><td>RGBA(17, 24, 39, 1)</td><td>CMYK(56%, 38%, 0%, 85%)</td></tr><tr><td>#030712</td><td>HSL(210, 60%, 1%)</td><td>HSV(210, 92%, 4%)</td><td>RGB(3, 7, 18)</td><td>RGBA(3, 7, 18, 1)</td><td>CMYK(83%, 61%, 0%, 93%)</td></tr></tbody></table>
                        </div>
                </div>

                <div class="colors mt-4">
                        <h5 class="mb-4">Shades of Tailwind Slate</h5>
                        <div class="shades mb-4">
                                <div class="p-3 t-slate-001">#f8fafc</div>
                                <div class="p-3 t-slate-002">#f1f5f9</div>
                                <div class="p-3 t-slate-003">#e2e8f0</div>
                                <div class="p-3 t-slate-004">#cbd5e1</div>
                                <div class="p-3 t-slate-005">#94a3b8</div>
                                <div class="p-3 t-slate-006">#64748b</div>
                                <div class="p-3 t-slate-007">#475569</div>
                                <div class="p-3 t-slate-008">#334155</div>
                                <div class="p-3 t-slate-009">#1e293b</div>
                                <div class="p-3 t-slate-010">#0f172a</div>
                                <div class="p-3 t-slate-011">#020617</div>
                        </div>
                        <div class="stack-table-container">
                        <h5 class="mb-4">Formats of Tailwind Slate</h5>
                                <table class="stack-table"><thead><tr><th>Hex Code</th><th>HSL</th><th>HSV</th><th>RGB</th><th>RGBA</th><th>CMYK</th></tr></thead><tbody><tr><td>#f8fafc</td><td>HSL(210, 45%, 97%)</td><td>HSV(210, 2%, 99%)</td><td>RGB(248, 250, 252)</td><td>RGBA(248, 250, 252, 1)</td><td>CMYK(1%, 1%, 0%, 1%)</td></tr><tr><td>#f1f5f9</td><td>HSL(210, 42%, 96%)</td><td>HSV(210, 3%, 98%)</td><td>RGB(241, 245, 249)</td><td>RGBA(241, 245, 249, 1)</td><td>CMYK(3%, 1%, 0%, 2%)</td></tr><tr><td>#e2e8f0</td><td>HSL(210, 41%, 90%)</td><td>HSV(210, 18%, 94%)</td><td>RGB(226, 232, 240)</td><td>RGBA(226, 232, 240, 1)</td><td>CMYK(6%, 4%, 0%, 6%)</td></tr><tr><td>#cbd5e1</td><td>HSL(210, 34%, 80%)</td><td>HSV(210, 16%, 88%)</td><td>RGB(203, 213, 225)</td><td>RGBA(203, 213, 225, 1)</td><td>CMYK(10%, 5%, 0%, 12%)</td></tr><tr><td>#94a3b8</td><td>HSL(210, 29%, 64%)</td><td>HSV(210, 18%, 72%)</td><td>RGB(148, 163, 184)</td><td>RGBA(148, 163, 184, 1)</td><td>CMYK(19%, 11%, 0%, 28%)</td></tr><tr><td>#64748b</td><td>HSL(210, 24%, 45%)</td><td>HSV(210, 30%, 54%)</td><td>RGB(100, 116, 139)</td><td>RGBA(100, 116, 139, 1)</td><td>CMYK(28%, 17%, 0%, 45%)</td></tr><tr><td>#475569</td><td>HSL(210, 28%, 36%)</td><td>HSV(210, 41%, 41%)</td><td>RGB(71, 85, 105)</td><td>RGBA(71, 85, 105, 1)</td><td>CMYK(32%, 19%, 0%, 59%)</td></tr><tr><td>#334155</td><td>HSL(210, 32%, 30%)</td><td>HSV(210, 50%, 33%)</td><td>RGB(51, 65, 85)</td><td>RGBA(51, 65, 85, 1)</td><td>CMYK(40%, 24%, 0%, 67%)</td></tr><tr><td>#1e293b</td><td>HSL(210, 38%, 20%)</td><td>HSV(210, 56%, 23%)</td><td>RGB(30, 41, 59)</td><td>RGBA(30, 41, 59, 1)</td><td>CMYK(49%, 30%, 0%, 77%)</td></tr><tr><td>#0f172a</td><td>HSL(210, 45%, 15%)</td><td>HSV(210, 56%, 16%)</td><td>RGB(15, 23, 42)</td><td>RGBA(15, 23, 42, 1)</td><td>CMYK(64%, 45%, 0%, 83%)</td></tr><tr><td>#020617</td><td>HSL(210, 66%, 3%)</td><td>HSV(210, 88%, 4%)</td><td>RGB(2, 6, 23)</td><td>RGBA(2, 6, 23, 1)</td><td>CMYK(91%, 74%, 0%, 91%)</td></tr></tbody></table>
                        </div>
                </div>
        </div>
</section>