<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Text <span class="text-primary">Gradients</span></h1>
                                <p>Beautifully designed Text Gradients for Dynamic Typography</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-1" data-tab="component-1">Text Gradient 1</button>
                                        <button class="code-tab-btn btn-1" data-tab="view-1">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-1" id="component-1">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-1 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-1" id="view-1">
                                        <pre>
                                                &lt;h1 class="text-gradient-1 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-1 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-2" data-tab="component-2">Text Gradient 2</button>
                                        <button class="code-tab-btn btn-2" data-tab="view-2">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-2" id="component-2">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-2 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-2" id="view-2">
                                        <pre>
                                                &lt;h1 class="text-gradient-2 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-2 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #9333ea, #c026d3, #db2777, #be123c);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-3" data-tab="component-3">Text Gradient 3</button>
                                        <button class="code-tab-btn btn-3" data-tab="view-3">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-3" id="component-3">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-3 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-3" id="view-3">
                                        <pre>
                                                &lt;h1 class="text-gradient-3 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-3 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #0f766e, #0e7490, #6d28d9, #1d4ed8);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-4" data-tab="component-4">Text Gradient 4</button>
                                        <button class="code-tab-btn btn-4" data-tab="view-4">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-4" id="component-4">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-4 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-4" id="view-4">
                                        <pre>
                                                &lt;h1 class="text-gradient-4 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-4 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #059669, #0d9488, #0891b2, #7c3aed);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-5" data-tab="component-5">Text Gradient 5</button>
                                        <button class="code-tab-btn btn-5" data-tab="view-5">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-5" id="component-5">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-5 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-5" id="view-5">
                                        <pre>
                                                &lt;h1 class="text-gradient-5 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-5 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #65a30d, #16a34a, #059669, #0d9488);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-6" data-tab="component-6">Text Gradient 6</button>
                                        <button class="code-tab-btn btn-6" data-tab="view-6">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-6" id="component-6">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-6 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-6" id="view-6">
                                        <pre>
                                        &lt;h1 class="text-gradient-6 text-center">Hello I am Stack UI &lt;h1&gt;
                                        .text-gradient-6 {
                                                font-size: 40px;
                                                background: linear-gradient(to right, #ea580c, #d97706, #ca8a04, #65a30d);
                                                -webkit-text-fill-color: transparent;
                                                -webkit-background-clip: text;
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-7" data-tab="component-7">Text Gradient 7</button>
                                        <button class="code-tab-btn btn-7" data-tab="view-7">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-7" id="component-7">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-7 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-7" id="view-7">
                                        <pre>
                                                &lt;h1 class="text-gradient-7 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-7 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #ca8a04, #d97706, #dc2626, #ea580c);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-8" data-tab="component-8">Text Gradient 8</button>
                                        <button class="code-tab-btn btn-8" data-tab="view-8">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-8" id="component-8">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-8 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-8" id="view-8">
                                        <pre>
                                                &lt;h1 class="text-gradient-8 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-8 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #84cc16, #4ade80, #34d399, #2dd4bf);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-9" data-tab="component-9">Text Gradient 9</button>
                                        <button class="code-tab-btn btn-9" data-tab="view-9">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-9" id="component-9">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-9 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-9" id="view-9">
                                        <pre>
                                                &lt;h1 class="text-gradient-9 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-9 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #1d4ed8, #7e22ce, #6d28d9, #4338ca);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-10" data-tab="component-10">Text Gradient 10</button>
                                        <button class="code-tab-btn btn-10" data-tab="view-10">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-10" id="component-10">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-10 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-10" id="view-10">
                                        <pre>
                                                &lt;h1 class="text-gradient-10 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-10 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #2dd4bf, #22d3ee, #2563eb, #a78bfa);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-11" data-tab="component-11">Text Gradient 11</button>
                                        <button class="code-tab-btn btn-11" data-tab="view-11">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-11" id="component-11">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-11 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-11" id="view-11">
                                        <pre>
                                                &lt;h1 class="text-gradient-11 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-11 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #1e88e5, #03a9f4, #9c27b0, #e91e63);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-12" data-tab="component-12">Text Gradient 12</button>
                                        <button class="code-tab-btn btn-12" data-tab="view-12">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-12" id="component-12">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-12 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-12" id="view-12">
                                        <pre>
                                                &lt;h1 class="text-gradient-12 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-12 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #1e88e5, #263238, #3e2723, #212121);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-13" data-tab="component-13">Text Gradient 13</button>
                                        <button class="code-tab-btn btn-13" data-tab="view-13">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-13" id="component-13">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-13 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-13" id="view-13">
                                        <pre>
                                                &lt;h1 class="text-gradient-13 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-13 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #fff8e1, #ffab40, #ffd740, #ffff00);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-14" data-tab="component-14">Text Gradient 14</button>
                                        <button class="code-tab-btn btn-14" data-tab="view-14">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-14" id="component-14">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-14 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-14" id="view-14">
                                        <pre>
                                                &lt;h1 class="text-gradient-14 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-14 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #1d72aa, #257942, #947600, #cc0f35);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-15" data-tab="component-15">Text Gradient 8</button>
                                        <button class="code-tab-btn btn-15" data-tab="view-15">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-15" id="component-15">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-15 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-15" id="view-15">
                                        <pre>
                                                &lt;h1 class="text-gradient-15 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-15 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #209cee, #23d160, #ffdd57, #ff3860);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-16" data-tab="component-16">Text Gradient 16</button>
                                        <button class="code-tab-btn btn-16" data-tab="view-16">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-16" id="component-16">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-16 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-16" id="view-16">
                                        <pre>
                                                &lt;h1 class="text-gradient-6 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-16 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #0dcaf0, #6610f2, #20c997, #0dcaf0);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-17" data-tab="component-17">Text Gradient 17</button>
                                        <button class="code-tab-btn btn-17" data-tab="view-17">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-17" id="component-17">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-17 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-17" id="view-17">
                                        <pre>
                                                &lt;h1 class="text-gradient-17 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-17 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #212529, #032830, #20c997, #198754);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-18" data-tab="component-18">Text Gradient 18</button>
                                        <button class="code-tab-btn btn-18" data-tab="view-18">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-18" id="component-18">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-18 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-18" id="view-18">
                                        <pre>
                                                &lt;h1 class="text-gradient-18 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-18 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #6610f2, #fd7e14, #dc3545, #ffc107);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-19" data-tab="component-19">Text Gradient 19</button>
                                        <button class="code-tab-btn btn-19" data-tab="view-19">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-19" id="component-19">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-19 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-19" id="view-19">
                                        <pre>
                                                &lt;h1 class="text-gradient-19 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-19 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #fff9c4, #f0f4c3, #dcedc8, #c8e6c9);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-20" data-tab="component-20">Text Gradient 20</button>
                                        <button class="code-tab-btn btn-20" data-tab="view-20">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-20" id="component-20">
                                        <div class="tab-center">
                                                <h1 class="text-gradient-20 text-center">Hello I am Stack UI</h1>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-20" id="view-20">
                                        <pre>
                                                &lt;h1 class="text-gradient-20 text-center">Hello I am Stack UI &lt;h1&gt;
                                                .text-gradient-20 {
                                                        font-size: 40px;
                                                        background: linear-gradient(to right, #00bfa5, #00c853, #64dd17, #aeea00);
                                                        -webkit-text-fill-color: transparent;
                                                        -webkit-background-clip: text;
                                                }
                                        </pre>
                                </div>
                        </div>
                </div>
        </div>
</section>