<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform <span class="text-primary">UI Components</span></h1>
                                <p>Freeform HTML CSS and Javascript Based Components</p>
                        </div>
                </div>
        </div>
</section>
<section class="ui-resources">
        <div class="ui-area">
                <div class="resource-container">
                        <div class="flex-container">
                                <div class="item">
                                        <a href="/buttons">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/1.png" width="100%" height="auto" alt="Stack UI buttons">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/buttons">Buttons</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/navigations">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/2.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/navigations">Navigation</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/pagination">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/3.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/pagination">Pagination</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                        </div>
                        <div class="flex-container">
                                <div class="item">
                                        <a href="/lists">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/4.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/lists">List</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/cards">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/5.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/cards">Cards</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/modals">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/6.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/modals">Modals</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                        </div>
                        <div class="flex-container">
                                <div class="item">
                                        <a href="/accordions">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/7.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/accordions">Accordions</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/tabs">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/8.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/tabs">Tabs</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/forms">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/9.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/forms">Forms</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                        </div>
                        <div class="flex-container">
                                <div class="item">
                                        <a href="/alerts">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/10.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/alerts">Alerts</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/notices">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/11.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/notices">Notices</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/sliders">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/12.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/sliders">Sliders</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                        </div>
                        <div class="flex-container">
                                <div class="item">
                                        <a href="/tables">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/13.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/tables">Tables</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/footers">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/14.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/footers">Footers</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                                <div class="item">
                                        <a href="/helpers">
                                        <div class="card">
                                                <div class="card-image">
                                                        <img class="card-image" src="img/ui/15.png" width="100%" height="auto" alt="Stack UI">
                                                </div>
                                                <div class="content">
                                                        <h5><a href="/helpers">Helpers (Extra)</a></h5>
                                                </div>
                                        </div>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
</section>