<section class="main-hero">
        <div class="head-mast">
                <div class="flex-container">
                        <div class="item">
                                <div class="introduction">
                                <img class="stack-icon" src="img/stackui.png" width="120" height="auto" alt="Stack UI">
                                        <h1>Error <span class="text-primary">404</span></h1>
                                        <p>The page you're looking for cannot be found.</p>
                                        <div class="button-container">
                                                <a class='stack-btn-notice' href='/'>Back to Home</a>
                                        </div>       
                                </div>
                        </div>
                </div>
        </div>
</section>