<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>The <span class="text-primary">Backer's List</span></h1>
                                <p>List of People who have backed Stack UI</p>

                                <div class="button-container">
                                        <a href="https://github.com/sponsors/kaustubhdevstack" class="stack-btn-notice"><i class="fa-brands fa-github" style="margin-right: 10px"></i> Sponsor us on GitHub</a>
                                        <a hre="https://www.patreon.com/StackUI" class="stack-btn-notice"><i class="fa-brands fa-patreon" style="margin-right: 10px"></i> Sponsor us on Patreon</a>
                                </div>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="sponsor">
                <ul class="collection-list">
                        <li class="list-header">
                            <h5>
                                Community Members List
                            </h5>
                            <span>Regular Backers</span>
                        </li>
                        <li class="collection-list-item">
                                Hrishikesh Joshi
                        </li>
                </ul>

                <div class="button-container">
                        <a href="/backers" class="stack-btn-notice">Check Backers</a>
                        <a href="/maintainers" class="stack-btn-notice">Check Maintainers</a>
                        <a href="/team" class="stack-btn-notice">Check Team</a>
                        <a href="/" class="stack-btn-notice">Check Elite Sponsors</a>
                </div>
        </div>
</section>