<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Stack UI <span class="text-primary">Changelog</span></h1>
                                <p>What's new with Stack UI - The Journey Redefined!</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="content-zone">
                <p class="mb-4"><b>1. On 20th August 2023 -</b> Introduced Stack UI 1.0 a MVP version of Stack UI Freeform Library!</p>
                <p class="mb-4"><b>2. On 3rd September 2023 -</b> - Introduced Stack UI 1.5 with redesigned components!</p>
                <p class="mb-4"><b>2. On 2nd October 2023 -</b> - Introducing Stack UI Origin! Now what is this new version about?</p>

                <p class="mb-4">Until Now Stack UI Freeform Library Version 1.0 and Version 1.5 were just a prototype versions, these two versions which were introduced earlier was meant for people to test, so they can give me feedback on various aspects of the Freeform UI Library.</p>

                <p class="mb-4"><b>Stack UI Origin: </b>This new version is what i envisioned as a Stack UI version 1. So why did i decide to launch this now and not earlier? Well the reason is simple, UI components were not complete, the prototype version had entire layout designed with the help of bootstrap and the inside components and elements were customized. I cannot release something like this on Github and for people to use it and call it a Freeform UI library!</p>

                <p class="mb-4">So with the components i made, i experimented with each and every single one of them designed web templates and solved the issues + bugs and once i was satisfied I decided to create this new version. Hence i call it - Stack UI Origin.</p>

                <div class="alert alert-warning mb-4">
                    <p><b>Announcement -</b> React and Vue JS Components are coming soon!</p>
                </div>
        </div>
</section>