<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Contact <span class="text-primary">us</span></h1>
                                <p>We will get back to you as fast as possible!</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area p-3 text-center">
                                
                                <h1>Contact Email ID</h1>
                                <br>
                                <br>
                                <p>If you want to join the development staff or have any query, then - <a href="sonicai.me@gmail.com">Click on this link to Email Me</a>. I will try to get back to you as early as possible or you can raise a query at <a href="https://github.com/kaustubhdevstack/stackui/discussions/categories/query-for-admin-contact-me">Github Discussions</a> to get your query answered much faster.</p>
                        </div>
                </div>
        </div>
</section>