<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>The <span class="text-primary">FAQ's</span></h1>
                                <p>Must read these FAQ Before using</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="content-zone">
                <p class="mb-4"><strong>1. Can we use this library in commercial project?</strong></p>

                <p class="mb-4">Certainly, you are free to utilize the Stack UI Library in both commercial and personal projects. However, we kindly request that you provide credit to us by including our acknowledgment in the footer..</p>

                <p class="mb-4"><strong>2. Is this library forever-free</strong></p>

                <p class="mb-4">Indeed, we are committed to maintaining this library as a perpetual free resource.</p>

                <p class="mb-4"><strong>3. Sponsoring Stack UI is mandatory?</strong></p>

                <p class="mb-4">Contributing to the Stack UI project through sponsorship is entirely optional. If you believe our efforts are valuable, you have the option to make a generous donation of any amount you deem appropriate, as outlined on the <a href="/hall_of_fame">Hall of Fame</a>. Your support is greatly appreciated.</p>

                <p class="mb-4"><strong>4. How to report a bug?</strong></p>

                <p class="mb-4">To report a bug, please consider leaving a review detailing the issue you've encountered. We will then promptly reach out to you to address the matter. To get started, please visit our <a href="https://github.com/kaustubhdevstack/stackui/discussions/categories/reviews">Review Page</a>.</p>

                <p class="mb-4"><strong>5. Contributions and Modifications</strong></p>

                <p class="mb-4">If you're interested in contributing to and modifying/changing and updating the Stack UI Library, we invite you to reach out to us via our <a href="/contact_us">Contact us page</a>. Once you contact us, we'll provide you with all the essential guidelines required to participate in the process of contributing to and modifying the Stack UI Library. We look forward to your involvement! However, cloning and re-distributing the library as it is not allowed.</p>

                <p class="mb-4"><strong>6. What are the perks of contributing to Stack UI?</strong></p>

                <p class="mb-4">Every contribution you make to the library will be duly recognized. Your name and social media links, including LinkedIn and Instagram, will be prominently displayed below the contribution you've made. We value your involvement and want to give credit where it's due.</p>
        </div>
</section>