 <section class="main-hero">
        <div class="head-mast">
                <div class="flex-container">
                        <div class="item">
                                <div class="introduction">
                                <img class="stack-icon" src="img/stackui.png" width="120" height="auto" alt="Stack UI">
                                        <h1>Stack UI <span class="text-primary">Origin</span></h1>
                                        <p>Introducing <b>Stack UI Origin</b>: Unleash Your Creativity with a Freeform UI Library, Craft Interactive User Interfaces Instantly, with Zero Installation and No Documentation Hurdles.</p>
                                        <p class="text-primary">[ 😤 ]</p>
                                        <div class="button-container">
                                                <a class='stack-btn-primary' href='/about'>Why Stack UI?</a>
                                                <a class="stack-btn-notice" href='/changelog'>What's New?</a>
                                        </div>         
                                </div>
                        </div>
                </div>
        </div>
</section>
<section class="sponsor-us">
        <div class="request">
                <h1>Forever Free, Show us your love 😍</h1>
                <p>We're keeping this library free forever no matter what! So if you think that our efforts are useful and worthwhile then show us your love by sponsoring us!</p>
                
                <div class="button-container">
                        <a class='stack-btn-primary' href='/hall_of_fame'><i class="fa-brands fa-patreon"></i> <i class="fa-brands fa-github"></i> Sponsor us!</a>
                        <a class='stack-btn-primary' href="https://github.com/kaustubhdevstack/stackui"><i class="fa-brands fa-github"></i> Rate us on GitHub</a>
                </div>
        </div>
</section>
<section class="ui-resources">
        <div class="resources-container">
                <h1>Freeform Style UI Components</h1>
                <p>Various <span class="text-primary"> Re-usable & Modify-able Freeform style components </span> specially created for you to craft user interface with ease. If you hate installing various dependencies for your project and just want to modify components according to your needs then Stack UI is for you!</p>
                <div class="flex-container">
                      <div class="item">
                        <a href="/ui_components">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="/img/uiregular.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/ui_components">Freeform HTML5 CSS3 and Javascript Components</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/react_components">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/react.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/react_components">Freeform React JS Components</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/vue_components">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/vue.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/vue_components">Freeform Vue JS Components</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                </div>
                <div class="flex-container">
                      <div class="item">
                                <a href="/angular_components">
                                <div class="card">
                                        <div class="card-image">
                                                <img class="card-image" src="img/angular.png" width="100%" height="auto" alt="Stack UI">
                                        </div>
                                        <div class="content">
                                                <h5><a href="/angular_components">Freeform Angular Components</a></h5>
                                        </div>
                                </div>
                                </a>
                      </div>
                      <div class="item">
                        <a href="/box_shadows">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/boxshadow.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/box_shadows">Beautiful CSS Box Shadows</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/text_gradients">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/textgradients.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/text_gradients">Cool Text Gradients</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                </div>
        </div>
</section>
<section class="typography">
        <div class="resource-container">
                <h1>Font and Typography</h1>
                <p>Choosing appropriate <span class="text-primary"> Font and Typography </span> is tough but with Stack UI you can avoid the delinma of choosing the right fonts.</p>
                <div class="flex-container">
                        <div class="item">
                                <a href="/font_combine">
                                <div class="card">
                                        <div class="card-image">
                                                <img class="card-image" src="img/fonts.png" width="100%" height="auto" alt="Stack UI">
                                        </div>
                                        <div class="content">
                                                <h5><a href="/font_combine">Font Combinations</a></h5>
                                        </div>
                                </div>
                                </a>
                        </div>
                        <div class="item">
                                <a href="/type_effects">
                                <div class="card">
                                        <div class="card-image">
                                                <img class="card-image" src="img/typing.png" width="100%" height="auto" alt="Stack UI">
                                        </div>
                                        <div class="content">
                                                <h5><a href="/type_effects">CSS and JS Dynamic Type Effects</a></h5>
                                        </div>
                                </div>
                                </a>
                        </div>
                </div>
        </div>
</section>
<section class="feedback">
        <div class="request">
                <h1>What do you think?</h1>
                <p>Give us your honest review or bug report<br>so we can improve and provide you better quality product.</p>
                <div class="button-container">
                        <a class='stack-btn-primary' href='https://github.com/kaustubhdevstack/stackui/discussions/categories/reviews'><i class="fa-brands fa-github" style="margin-right: 10px;"></i>Report us on Github</a>
                </div>
        </div>
</section>
<section class="ui-resources">
        <div class="resources-container">
                <h1>Multi-color System</h1>
                <p>Too many <span class="text-primary"> Frameworks & Color Systems! </span> Access their colors here all at one place in multiple different formats.</p>
                <div class="flex-container">
                      <div class="item">
                        <a href="/bootstrap_colors">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/bootstrap.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/bootstrap_colors>">Bootstrap Color System</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/material_colors">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/materialdesign.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/material_colors">Material Design Color System</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/tailwind_colors">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/tailwindcss.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/tailwind_colors">Tailwind CSS Color System</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                </div>

                <div class="flex-container">
                      <div class="item">
                        <a href="/bulma_colors">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/bulma.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/bulma_colors">Bulma CSS Color System</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/numorphic_colors">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/nucolors.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/numorphic_colors">Neumorphic Colors</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                      <div class="item">
                        <a href="/gradient_colors">
                        <div class="card">
                                <div class="card-image">
                                        <img class="card-image" src="img/gradientcolors.png" width="100%" height="auto" alt="Stack UI">
                                </div>
                                <div class="content">
                                        <h5><a href="/gradient_colors">Gradient Colors</a></h5>
                                </div>
                        </div>
                        </a>
                      </div>
                </div>
        </div>
</section>
<section class="join">
        <div class="request">
                <h1>Develop together with Stack UI</h1>
                <p>Want to become a part of Stack UI? You can either become a part of our Development Staff (Currently its only me!) or submit your project created with Stack UI we will highlight it!</p>
                
                <div class="button-container">
                        <a class='stack-btn-primary' href='/join_us'><i class="fa-solid fa-users" style="margin-right: 10px;"></i>Join the Dev Staff</a>
                        <a class='stack-btn-primary' href='https://github.com/kaustubhdevstack/stackui/discussions/categories/submit-your-work'><i class="fa-brands fa-github" style="margin-right: 10px;"></i>Submit your work</a>
                </div>
        </div>
</section>
<section class="typography">
        <div class="resource-container">
                <h1>Emojis & Symbols</h1>
                <p>Don't Google just use <span class="text-primary">Stack UI</span>.</p>
                <div class="flex-container">
                        <div class="item">
                                <a href="/emojis">
                                <div class="card">
                                        <div class="card-image">
                                                <img class="card-image" src="img/emoji.png" width="100%" height="auto" alt="Stack UI">
                                        </div>
                                        <div class="content">
                                                <h5><a href="/emojis">Emoji Library 🥰</a></h5>
                                        </div>
                                </div>
                                </a>
                        </div>
                        <div class="item">
                                <a href="/symbols">
                                <div class="card">
                                        <div class="card-image">
                                                <img class="card-image" src="img/symbols.png" width="100%" height="auto" alt="Stack UI">
                                        </div>
                                        <div class="content">
                                                <h5><a href="/symbols">Symbol Library Symbol Library ⭐</a></h5>
                                        </div>
                                </div>
                                </a>
                        </div>
                </div>
        </div>
</section>