<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Join our <span class="text-primary">Development Staff</span></h1>
                                <p>Before joining the development staff you must read all the FAQs</p>
                        </div> 
                </div>
        </div>
</section>
<section class="content-area">
        <div class="content-zone">
                <p class="mb-4"><strong>1. What is Stack UI?</strong></p>

                <p class="mb-4">Stack UI is an Open Freeform UI Library that provide developers a stack of readymade resources to craft unique user interface. Its a complete free and open platform which allows everyone to use its resources for commercial and personal and open source projects.</p>

                <p class="mb-4"><strong>2. How many people are there in the development staff?</strong></p>

                <p class="mb-4">Currently its only me <b>Kaustubh Shinde</b> a one man team!</p>

                <p class="mb-4"><strong>3. What are benefits of Joining Stack UI?</strong></p>

                <p class="mb-4">Stack UI is open and free library and the entire maintenance & running cost is dependent on Patreon sponsorship. Meaning it is not a salaried project or place to earn extra income. Hence the benefits of Joining Stack UI team comes with other factors outlined below.</p>

                <ul class="mb-4">
                        <li>Every UI Resource you will contribute to this library will be accredited under your name.</li>
                        <li>Your Instagram and Linkedin Social media handles will be linked to your UI Resource.</li>
                        <li>You can use the UI Resource which you submitted on this library as your portfolio project.</li>
                        <li>You can plan the next innovation in the world of front-end as a part of Stack UI Team and this will add one more feather to your crown.</li>
                        <li>As this library will grow so does your name along with it.</li>
                        <li>Opportunity to work with different people of different creative mindset.</li>
                        <li>Opportunity to be a part of something much bigger than yourself.</li>
                        <li>You can work with us as you're working on a personal side-project continuing current job.</li>
                </ul>

                <p class="mb-4">So if you are willing to join us send us request at - <a href="/contact_us>"> Join the development staff now!</a></p>

           
        </div>
</section>