<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Kaustubh Shinde - https://kaustubhdev.netlify.app">
        <meta name="google-site-verification" content="EnabokgCqvK9eMzBPVLoUIGP936TuaOJfIYFNLxApiE"/>
        <meta name="description" content=" Stack UI a Freeform UI Library which helps you to craft interactive user interfaces instantly, with Zero Installation and No Documentation Hurdles.">
        <meta name="keywords" content="HTML, CSS, JavaScript, React JS, Vue JS, Open UI Library, UI Framework, Front end framework, UI Components, Bootstrap Colors, Bulma CSS Colors, Material Design Colors, Tailwind CSS Colors, Gradient Colors, Neumorphism, Neumorphic Colors, React Components, React JS Components, Vue Components, Vue JS Components, Bootstrap, Tailwind CSS, Material Design, Materializecss, MD Bootstrap, Flexbox System, Flexbox grid, Open UI">
        <link rel="icon" type="image/x-icon" href="img/stackui.png"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="basic/css/components.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"/>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Bitter&family=Cabin&family=Cardo&family=Cormorant+Garamond&family=Crimson+Text&family=Exo&family=Fira+Sans&family=Hind&family=Inter&family=Josefin+Sans&family=Karla&family=Lato&family=Libre+Baskerville&family=Lora&family=Merriweather&family=Montserrat&family=Mulish&family=Noto+Sans&family=Noto+Sans+Georgian&family=Noto+Serif&family=Nunito&family=Nunito+Sans&family=Open+Sans&family=Oswald&family=Oxygen&family=PT+Sans&family=PT+Serif&family=Playfair+Display&family=Poppins&family=Quattrocento&family=Quicksand&family=Raleway&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&family=Rubik&family=Source+Sans+3&family=Source+Serif+4&family=Ubuntu&family=Work+Sans&family=Merriweather+Sans&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

        <title>Stack UI - Open Freeform UI Library</title>

</head>
 <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TRVQ9K5N7"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-0TRVQ9K5N7');
        </script>
<body>
        <div class="backdrop"></div>
        <div class="bdrop-container">
                <!-- Content goes here -->
        <nav class="top-nav">
                <div class="notice">
                        <a href="https://github.com/kaustubhdevstack/stackui"><i class="fa-brands fa-github"></i> Rate us on GitHub</a>
                </div>
        </nav>
        <nav class="responsive-main-nav">
                <div class="responsive-navbar">
                        <i class="fa-solid fa-bars sidebarOpen"></i>
                        <span class="logo navLogo"><a href="/"><img src="img/stackui-logo.png" alt="Stack UI"></a></span>
                        <div id="sidenav" class="menu">
                                <ul class="nav-links">
                                        <div class="logo-toggle">
                                                <span class="logo navLogo"><a href="/"><img src="img/stack-navbar.png" alt="Stack UI"></a></span>
                                        </div>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="https://stackui.hashnode.dev/">Blog</a></li>
                                        <li><a href="https://dev.to/krybone">Dev.to</a></li>
                                        <li><a href="/hall_of_fame">Sponsor us 👍</a></li>
                                        <li><a href="/contact_us">Contact us</a></li>
                                </ul>
                        </div>
                </div>
        </nav> 

        <%- body %>

        <section class="sponsor-us">
                <div class="request">
                        <h1>Forever Free, Show us your love 😍</h1>
                        <p>We're keeping this library free forever no matter what! So if you think that our efforts are useful and worthwhile then show us your love by sponsoring us!</p>
                        
                        <div class="button-container">
                                <a class='stack-btn-primary' href='/hall_of_fame'><i class="fa-brands fa-patreon"></i> <i class="fa-brands fa-github"></i> Sponsor us!</a>
                                <a class='stack-btn-primary' href="https://github.com/kaustubhdevstack/stackui"><i class="fa-brands fa-github"></i> Rate us on GitHub</a>
                        </div>
                </div>
        </section>
        <footer class="footer-area">
                <div class="footer-links">
                        <a href='/about'>About</a>
                        <a href='/legal'>Legal Terms</a>
                        <a href='/faq'>FAQ</a>
                        <a href='https://github.com/kaustubhdevstack/stackui/discussions/categories/reviews'>Submit Feedback</a>
                        <a href='https://github.com/kaustubhdevstack/stackui/discussions/categories/submit-your-work'>Submit Work</a>
                </div>
                <div class="footer-social-copyright">
                        <div class="footer-social-icons">
                        <a href="https://www.linkedin.com/in/kaustubh-shinde-wcss3/" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://twitter.com/krybone" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://stackui.hashnode.dev/" class="social-icon"><i class="fa-brands fa-hashnode"></i></a>
                        </div>
                        <div class="footer-copyright">
                                © 2023 Built with 💖 by <a href="https://sonicai.me">Sonic Digitech</a>.
                        </div>
                </div>
        </footer>
        </div>
        <script src="js/init.js"></script>
        <script src="basic/js/button.js"></script>
        <script src="basic/js/text.js"></script>
        <script src="basic/js/click.js"></script>
        </body>
        </html>