<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>The <span class="text-primary">Terms & Conditions</span></h1>
                                <p>Must read these Terms & Conditions Before using</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="content-zone">
                <p class="mb-4"><strong>1. Acceptance of Terms</strong></p>

                <p class="mb-4">By using the Stack UI Open Source Library ("Library"), you agree to comply with and be bound by the following terms and conditions ("Terms"). If you do not agree with these Terms, you may not use the Library.</p>

                <p class="mb-4"><strong>2. License</strong></p>

                <p class="mb-4">The Stack UI Library is provided under the terms of the open source <a href="https://opensource.org/license/mit/">MIT License</a>. Please review the license terms carefully before using the Library.</p>

                <p class="mb-4"><strong>3. Usage Rights</strong></p>

                <p class="mb-4">3.1. <strong>Permitted Use</strong>: The Library is provided free of charge for both personal and commercial projects. You are granted the right to use, modify, and distribute the Library in accordance with the terms of the chosen open source license.</p>

                <p class="mb-4">For more information please check <a href="/faq">FAQ</a></p>

                <p class="mb-4">3.2. <strong>Attribution</strong>: If you distribute or use the Library as part of your project, you must provide appropriate attribution, including mentioning that your project includes the Stack UI Library, and providing a link to the Library's repository.</p>

                <p class="mb-4">For more information please check <a href="/faq">FAQ</a></p>

                <p class="mb-4"><strong>4. Warranty</strong></p>

                <p class="mb-4"><strong>No Warranty</strong>: The Library is provided "as is," without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>

                <p class="mb-4"><strong>5. Contributions and Modifications</strong></p>

                <p class="mb-4">5.1. <strong>Contributions</strong>: You are encouraged to contribute to the Library by submitting bug reports, feature requests, and code improvements. By submitting contributions, you grant the maintainers of the Library the right to use, modify, and distribute your contributions under the terms of the chosen open source license.</p>

                <p class="mb-4">For more information please check <a href="/faq">FAQ</a></p>

                <p class="mb-4">5.2. <strong>Modifications</strong>: If you modify the Library, you are required to clearly indicate that your version is a modified version and not the original Library.</p>

                <p class="mb-4">For more information please check <a href="/faq">FAQ</a></p>

                <p class="mb-4"><strong>6. Privacy</strong></p>

                <p class="mb-4">The Library does collect: Your Full Name, Email ID, Any One Social Media Link and Your Project Link.</p>

                <p class="mb-4">This data is collected for the purpose of addressing reviews, grievances, contributions, projects created using Stack UI, and contact messages. This approach enables us to quickly reach out to users if the need arises.</p>

                <p class="mb-4">We use Google analytics to track user's statistics in order to get detail insights about user's preference, trends and conversion rates. Using this data we steadily work on imporving the quality of this platform Stack UI, this is so we can provide top-quality product experience to our users.</p>

                <p class="mb-4">We use Google ads on our website along with Patreon, OpenCollective and other platforms for subscriptions to generate revenue to maintain the operations of Stack UI Library. As a result Google Adsense will collect the necessary data from your device to show you personalized ads.</p>

                <p class="mb-4">Hence the data collected by Google Adsense is completely based on their on terms and conditions as well as privacy policy.</p>

                <p class="mb-4">We use Patreon, Github, OpenCollective to collect sponsorship amount as per mentioned in our <a href="/hall_of_fame">Hall of Fame</a> page. As this product is forever-free we don't charge our users and in return they can use Stack UI Library for free. However, if they find that our efforts are honest and worthwhile they can choose whether to sponsor us on Patreon and Github or not. In other word sponsoring Stack UI is not mandatory and its completely based on user's choice.</p>

                <p class="mb-4">Hence the data collected by the platforms like Patreon and OpenCollective is completely based on their on terms and conditions as well as privacy policy.</p>

                <p class="mb-4"><strong>7. Termination</strong></p>

                <p class="mb-4">These Terms are effective until terminated. The maintainers of the Library reserve the right to terminate these Terms and your access to the Library at any time, with or without notice, for any reason or no reason at all.</p>

                <p class="mb-4"><strong>8. Governing Law</strong></p>

                <p class="mb-4">These Terms shall be governed by and construed in accordance with the laws of Indian Jurisdiction, without regard to its conflict of law principles.</p>

                <p class="mb-4"><strong>9. Contact Information</strong></p>

                <p class="mb-4">If you have any questions or concerns regarding these Terms or the Library, you can contact us at <a href="/contact_us">following contact page</a>.</p>

                <p class="mb-4">By using the Stack UI Open Source Library, you acknowledge that you have read, understood, and agree to these Terms and the chosen open source license terms.</p></div>
        </div>
</section>