<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform Vue JS <span class="text-primary">UI Components</span></h1>
                                <p>Freeform UI Components made for Vue JS</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area p-3">
                                <h1><center>COMING SOON!</center></h1>
                                <hr>
                                <br>
                                <p class="mt-4">I am excited about our upcoming introduction of Vue JS Components, but we're currently facing a funding gap for the launch. As an open-source project, we rely on the support of our community, and we're reaching out to you for assistance!</p>

                                <p class="mt-4">Your contributions will be instrumental in acquiring server space for the upcoming launch of React JS and Vue JS Components because this platform is running on shared server which is not enough for the resources, as well as in the creation of top-notch tutorial videos. These resources will be instrumental in assisting you in effectively utilizing these components within your projects. In appreciation of your support, we've prepared special perks for those who generously contribute, which you can learn more about in our - <a href="/hall_of_fame">Hall of Fame</a> section.</p>

                                <p class="mb-4">Join us in making this launch a reality by supporting us on Patreon and GitHub today, it means a lot to us 🙏, as well as give us a ⭐ on Github!</p>

                                <div class="button-container mt-4">
                                        <a class='stack-btn-notice' href='/hall_of_fame'><i class="fa-brands fa-patreon" style="margin-right: 10px"></i> <i class="fa-brands fa-github" style="margin-right: 10px"></i> Sponsor us!</a>
                                        <a class='stack-btn-notice' href="https://github.com/kaustubhdevstack/stackui"><i class="fa-brands fa-github" style="margin-right: 10px"></i> Rate us on GitHub</a>
                                </div>
                        </div>
                </div>
        </div>
</section>