<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform <span class="text-primary">Alerts</span></h1>
                                <p>Different types of Alert Components for different needs</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-1" data-tab="component-1">Alert Boxes</button>
                                        <button class="code-tab-btn btn-1" data-tab="view-1">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-1" id="component-1">
                                        <div class="ui-zone">
                                                <div class="alert alert-info">
                                                        <span>Stack UI's Info Alert</span>
                                                </div>
                                                <div class="alert alert-success">
                                                        <span>Stack UI's Success Alert</span>
                                                </div>
                                                <div class="alert alert-warning">
                                                        <span>Stack UI's Warning Alert</span>
                                                </div>
                                                <div class="alert alert-danger">
                                                        <span>Stack UI's Danger Alert</span>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-1" id="view-1">
                                        <pre>
                                        &lt;div class="alert alert-info"&gt;
                                                &lt;span&gt;Stack UI's Info Alert&lt;/span&gt;
                                        &lt;/div&gt;
                                        &lt;div class="alert alert-success"&gt;
                                                &lt;span&gt;Stack UI's Success Alert&lt;/span&gt;
                                        &lt;/div&gt;
                                        &lt;div class="alert alert-warning"&gt;
                                                &lt;span&gt;Stack UI's Warning Alert&lt;/span&gt;
                                        &lt;/div&gt;
                                        &lt;div class="alert alert-danger"&gt;
                                                &lt;span&gt;Stack UI's Danger Alert&lt;/span&gt;
                                        &lt;/div&gt;


                                        .alert {
                                                display: flex;
                                                align-items: center;
                                                padding: 1.2rem;
                                                margin-bottom: 1rem;
                                                font-size: 1rem;
                                                border: 1px solid transparent;
                                                border-radius: 4px;
                                        }
                                        .alert-success {
                                                color: #0f172a;
                                                background-color: #d1e7dd;
                                                border-color: #badbcc;
                                        }
                                        .alert-danger {
                                                color: #0f172a;
                                                background-color: #f8d7da;
                                                border-color: #f5c2c7;
                                        }
                                        .alert-warning {
                                                color: #0f172a;
                                                background-color: #fff3cd;
                                                border-color: #ffecb5;
                                        }
                                        .alert-info {
                                                color: #0f172a;
                                                background-color: #cfe2ff;
                                                border-color: #b6d4fe;
                                        }
                                        </pre>
                                </div>
                        </div>
                </div>
        </div>
</section>