<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform <span class="text-primary">Cards</span></h1>
                                <p>Different types of Cards for different needs</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-1" data-tab="component-1">Outlne Card</button>
                                        <button class="code-tab-btn btn-1" data-tab="view-1">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-1" id="component-1">
                                        <div class="ui-zone">
                                                <div class="outline-card">
                                                        <div class="stackui-card-1">
                                                                <div class="content">
                                                                        <span class="card-title">Outline Card</span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.</p>
                                                                </div>
                                                                <div class="actions">
                                                                        <a class="stack-btn-11" href="">Flat Button</a>
                                                                        <a class="stack-btn-11" href="">Flat Button</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-1" id="view-1">
                                        <pre>
                                        &lt;div class="outline-card"&gt;
                                                &lt;div class="stackui-card-1"&gt;
                                                        &lt;div class="content"&gt;
                                                                &lt;span class="card-title"&gt;Outline Card&lt;/span&gt;
                                                                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="actions"&gt;
                                                                &lt;a class="stack-btn-11" href=""&gt;Flat Button&lt;/a&gt;
                                                                &lt;a class="stack-btn-11" href=""&gt;Flat Button&lt;/a&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;

                                        .stackui-card-1 {
                                                position: relative;
                                                margin: 0.5rem 0 1rem 0;
                                                background-color: #fff;
                                                -webkit-transition: -webkit-box-shadow .25s;
                                                transition: -webkit-box-shadow .25s;
                                                transition: box-shadow .25s;
                                                transition: box-shadow .25s, -webkit-box-shadow .25s;
                                                border: 3px solid #007bff;
                                        }
                                        .stackui-card-1 .content {
                                                border-radius: 0 0 2px 2px;
                                                box-shadow: none;
                                                box-sizing: border-box;
                                        }
                                        .stackui-card-1 .content .card-title {
                                                display: block;
                                                line-height: 32px;
                                                margin-bottom: 8px;
                                        }
                                        .stackui-card-1 .content p {
                                                margin: 0;
                                        }
                                        .stackui-card-1 .actions {
                                                background-color: inherit;
                                                position: relative;
                                                padding: 16px 24px;
                                                border-top: 1px solid #ddd;
                                        }
                                        @media (max-width: 790px) {
                                                .stackui-card-1 .content p {
                                                        font-size: 1rem;
                                                }
                                                .stackui-card-1 .actions {
                                                        padding: 0;
                                                        padding-bottom: 10px;
                                                }
                                                .stackui-card-1 .actions a {
                                                        font-size: 12px;
                                                        margin-top: 12px;
                                                        margin-left: 8px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-2" data-tab="component-2">Outline Card with Box Shadow</button>
                                        <button class="code-tab-btn btn-2" data-tab="view-2">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-2" id="component-2">
                                        <div class="ui-zone">
                                                <div class="outline-card-shadow">
                                                        <div class="stackui-card-2">
                                                                <div class="content">
                                                                        <span class="card-title">Outline Card with Shadow</span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.</p>
                                                                </div>
                                                                <div class="actions">
                                                                        <a class="stack-btn-11" href="">Flat Button</a>
                                                                        <a class="stack-btn-11" href="">Flat Button</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-2" id="view-2">
                                        <pre>
                                        &lt;div class="outline-card-shadow"&gt;
                                                &lt;div class="stackui-card-2"&gt;
                                                        &lt;div class="content"&gt;
                                                                &lt;span class="card-title"&gt;Outline Card with Shadow&lt;/span&gt;
                                                                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="actions"&gt;
                                                                &lt;a class="stack-btn-11" href=""&gt;Flat Button&lt;/a&gt;
                                                                &lt;a class="stack-btn-11" href=""&gt;Flat Button&lt;/a&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;

                                        .stackui-card-2 {
                                                position: relative;
                                                margin: 0.5rem 0 1rem 0;
                                                background-color: #fff;
                                                -webkit-transition: -webkit-box-shadow .25s;
                                                transition: -webkit-box-shadow .25s;
                                                transition: box-shadow .25s;
                                                transition: box-shadow .25s, -webkit-box-shadow .25s;
                                                border: 3px solid #007bff;
                                                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                        }
                                        .stackui-card-2 .content {
                                                padding: 24px;
                                                box-shadow: none;
                                                box-sizing: border-box;
                                                border-radius: 0 0 2px 2px;
                                        }
                                        .stackui-card-2 .content .card-title {
                                                display: block;
                                                line-height: 32px;
                                        }
                                        .stackui-card-2 .content p {
                                                margin: 0;
                                        }
                                        .stackui-card-2 .actions {
                                                background-color: inherit;
                                                position: relative;
                                                padding: 16px 24px;
                                                border-top: 1px solid #ddd;
                                        }
                                        @media (max-width: 790px) {
                                                .stackui-card-2 .content p {
                                                        font-size: 1rem;
                                                }
                                                .stackui-card-2 .actions {
                                                        padding: 0;
                                                        padding-bottom: 10px;
                                                }
                                                .stackui-card-2 .actions a {
                                                        font-size: 12px;
                                                        margin-top: 12px;
                                                        margin-left: 8px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-3" data-tab="component-3">Regular Cards</button>
                                        <button class="code-tab-btn btn-3" data-tab="view-3">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-3" id="component-3">
                                        <div class="ui-zone">
                                                <div class="regular-card">
                                                        <div class="stackui-card-3">
                                                                <div class="content">
                                                                        <span class="card-title">Regular Card without Image</span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.</p>
                                                                </div>
                                                                <div class="actions">
                                                                        <a class="stack-btn-1" href="">Flat Button</a>
                                                                        <a class="stack-btn-1" href="">Flat Button</a>
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="regular-card">
                                                        <div class="stackui-card-3">
                                                                <div class="card-image">
                                                                        <img src="img/sample-card.jpg">
                                                                </div>
                                                                <div class="content">
                                                                        <span class="card-title">Regular Card with Image</span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.</p>
                                                                </div>
                                                                <div class="actions">
                                                                        <a class="stack-btn-1" href="">Flat Button</a>
                                                                        <a class="stack-btn-1" href="">Flat Button</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-3" id="view-3">
                                        <pre>
                                        &lt;div class="regular-card"&gt;
                                                &lt;div class="stackui-card-3"&gt;
                                                        &lt;div class="content"&gt;
                                                                &lt;span class="card-title"&gt;Regular Card without Image&lt;/span&gt;
                                                                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="actions"&gt;
                                                                &lt;a class="stack-btn-1" href=""&gt;Flat Button&lt;/a&gt;
                                                                &lt;a class="stack-btn-1" href=""&gt;Flat Button&lt;/a&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class="regular-card"&gt;
                                                &lt;div class="stackui-card-3"&gt;
                                                        &lt;div class="card-image"&gt;
                                                                &lt;img src="Image link goes here"&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="content"&gt;
                                                                &lt;span class="card-title"&gt;Regular Card with Image&lt;/span&gt;
                                                                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="actions"&gt;
                                                                &lt;a class="stack-btn-1" href=""&gt;Flat Button&lt;/a&gt;
                                                                &lt;a class="stack-btn-1" href=""&gt;Flat Button&lt;/a&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;


                                        .stackui-card-3 {
                                                position: relative;
                                                margin: 0.5rem 0 1rem 0;
                                                background-color: #fff;
                                                -webkit-transition: -webkit-box-shadow .25s;
                                                transition: -webkit-box-shadow .25s;
                                                transition: box-shadow .25s;
                                                transition: box-shadow .25s, -webkit-box-shadow .25s;
                                                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                        }
                                        .stackui-card-3 .content {
                                                padding: 24px;
                                                box-shadow: none;
                                                box-sizing: border-box;
                                                border-radius: 0 0 2px 2px;
                                        }
                                        .stackui-card-3 .content .card-title {
                                                display: block;
                                                line-height: 32px;
                                        }
                                        .stackui-card-3 .card-image img {
                                                display: block;
                                                border-radius: 2px 2px 0 0;
                                                position: relative;
                                                left: 0;
                                                right: 0;
                                                top: 0;
                                                bottom: 0;
                                                width: 100%;
                                        }
                                        .stackui-card-3 .content p {
                                                margin: 0;
                                        }
                                        .stackui-card-3 .actions {
                                                background-color: inherit;
                                                position: relative;
                                                padding: 16px 24px;
                                                border-top: 1px solid #ddd;
                                        }
                                        @media (max-width: 790px) {
                                                .stackui-card-3 .content p {
                                                        font-size: 1rem;
                                                }
                                                .stackui-card-3 .actions {
                                                        padding: 0;
                                                        padding-bottom: 10px;
                                                }
                                                .stackui-card-3 .actions a {
                                                        font-size: 12px;
                                                        margin-top: 8px;
                                                        margin-left: 12px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-4" data-tab="component-4">Cover Card</button>
                                        <button class="code-tab-btn btn-4" data-tab="view-4">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-4" id="component-4">
                                        <div class="ui-zone">
                                                <div class="cover-card">
                                                        <div class="stackui-card-4">
                                                                <div class="card-image">
                                                                        <img class="activator" src="img/sample-card.jpg">
                                                                        <span class="card-title">Click on the image to view content</span>
                                                                </div>
                                                                <div id="slidecard" class="card-cover" style="display: none; transform: translateY(0%);">
                                                                        <span class="cover-card-title">Click on X to close the content<i class="fa-solid fa-xmark"></i></span>
                                                                        <p>This information is only visible after you click on the cover image.</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-4" id="view-4">
                                        <pre>
                                        &lt;div class="cover-card"&gt;
                                                &lt;div class="stackui-card-4"&gt;
                                                        &lt;div class="card-image"&gt;
                                                                &lt;img class="activator" src="Image link goes here"&gt;
                                                                &lt;span class="card-title"&gt;Click on the image to view content&lt;/span&gt;
                                                        &lt;/div&gt;
                                                        &lt;div id="slidecard" class="card-cover" style="display: none; transform: translateY(0%);"&gt;
                                                                &lt;span class="card-title"&gt;Click on X to close the content&lt;i class="fa-solid fa-xmark"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;p&gt;This information is only visible after you click on the cover image.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;


                                        .stackui-card-4 {
                                                position: relative;
                                                margin: 0.5rem 0 1rem 0;
                                                background-color: #fff;
                                                -webkit-transition: -webkit-box-shadow .25s;
                                                transition: -webkit-box-shadow .25s;
                                                transition: box-shadow .25s;
                                                transition: box-shadow .25s, -webkit-box-shadow .25s;
                                                cursor: pointer;
                                                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                        }
                                        .stackui-card-4 .card-image img {
                                                display: block;
                                                border-radius: 2px 2px 0 0;
                                                position: relative;
                                                left: 0;
                                                right: 0;
                                                top: 0;
                                                bottom: 0;
                                                width: 100%;
                                        }
                                        .stackui-card-4 .card-image img:hover {
                                                opacity: 0.8;
                                        }
                                        .stackui-card-4 .card-title {
                                                font-size: 24px;
                                                font-weight: 300;
                                                padding: 24px;
                                        }
                                        .stackui-card-4 .card-image .card-title {
                                                color: #fff;
                                                position: absolute;
                                                bottom: 0;
                                                left: 0;
                                                max-width: 100%;
                                        }
                                        .stackui-card-4 .card-cover .cover-card-title {
                                                font-size: 24px;
                                                font-weight: 300;
                                                padding: 0; 
                                                margin: 24px; 
                                                display: block;
                                        }
                                        .stackui-card-4 .card-cover {
                                                position: absolute;
                                                background-color: #fff;
                                                width: 100%;
                                                overflow: none;
                                                left: 0;
                                                top: 100%;
                                                height: 100%; 
                                                z-index: 3;
                                                display: none;
                                                box-sizing: border-box;
                                        }
                                        .stackui-card-4 .fa-xmark {
                                                float: right;
                                                color: #000;
                                        }
                                        .stackui-card-4 .card-cover p {
                                                margin-left: 24px;
                                        }
                                        @media (max-width: 790px) {
                                                .stackui-card-4 .card-title {
                                                        font-size: 16px;
                                                        padding: 10px;
                                                }
                                                .stackui-card-4 .card-cover .cover-card-title {
                                                        font-size: 14px;
                                                        padding: 0;
                                                }
                                                .stackui-card-4 .card-cover p {
                                                        margin-left: 14px;
                                                        font-size: 14px;
                                                }
                                                .stackui-card-4 .card-cover {
                                                        overflow: auto;
                                                }
                                        }

                                        /* Card cover JS Code */
                                        document.addEventListener('click', function(event) {
                                        var target = event.target;
                                        var card = target.closest('.stackui-card-4');
                                        if (card) {
                                        var cardReveal = card.querySelector('.card-cover');
                                        var initialOverflow = card.getAttribute('data-initial-overflow');
                                        if (initialOverflow === null) {
                                        initialOverflow = card.style.overflow || '';
                                        card.setAttribute('data-initial-overflow', initialOverflow);
                                        }
                                        var cardTitle = cardReveal.querySelector('.cover-card-title');
                                        var closeIcon = cardTitle.querySelector('.fa-xmark');

                                        if (target === cardTitle || target === closeIcon) {
                                        // Make Reveal animate up and display none
                                        cardReveal.style.transform = 'translateY(-100%)';
                                        cardReveal.style.transition = 'transform 0.3s';
                                        setTimeout(function() {
                                                cardReveal.style.display = 'none';
                                                card.style.overflow = initialOverflow;
                                        }, 200);
                                        } else if (target.classList.contains('activator') || target.matches('.activator i')) {
                                        // Make Reveal animate down and display block
                                        card.style.overflow = 'hidden';
                                        cardReveal.style.display = 'block';
                                        cardReveal.style.transform = 'translateY(0)';
                                        cardReveal.style.transition = 'transform 0.3s';
                                        setTimeout(function() {
                                                cardReveal.style.transform = 'translateY(-100%)';
                                        }, 10);
                                        }
                                        }
                                        });
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-5" data-tab="component-5">Media Card</button>
                                        <button class="code-tab-btn btn-5" data-tab="view-5">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-5" id="component-5">
                                        <div class="ui-zone">
                                                <div class="media-card-1">
                                                        <div class="lightbox-overlay">
                                                        <div class="lightbox-content">
                                                        <img class="lightbox-image" src="img/sample-card.jpg">
                                                        </div>
                                                        </div>
                                                        <div class="stackui-card-5">
                                                        <div class="card-image">
                                                                <img class="lightbox-trigger" src="img/sample-card.jpg">
                                                                <span class="card-title">Image title will be here</span>
                                                        </div>
                                                        </div>
                                                </div>

                                                <div class="media-card-2">
                                                <div class="modal" id="videoModal">
                                                <div class="modal-content">
                                                        <span class="close-button" id="closeButton">&times;</span>
                                                        <div class="modal-video">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/UV0mhY2Dxr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="stackui-card-6 video-trigger">
                                                        <div class="card-image">
                                                        <div class="play-icon video-trigger">
                                                                <i class="fas fa-play"></i>
                                                        </div>
                                                        <img src="img/player.jpg">
                                                        <span class="card-title">Youtube Player Card</span>
                                                        </div>
                                                </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-5" id="view-5">
                                        <pre>
                                        &lt;div class="media-card-1"&gt;
                                        &lt;div class="lightbox-overlay"&gt;
                                                &lt;div class="lightbox-content"&gt;
                                                &lt;img class="lightbox-image" src="Image link goes here"&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class="stackui-card-5"&gt;
                                                &lt;div class="card-image"&gt;
                                                &lt;img class="lightbox-trigger" src="Image link goes here"&gt;
                                                &lt;span class="card-title"&gt;Image title will be here&lt;/span&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class="media-card-2"&gt;
                                        &lt;div class="modal" id="videoModal"&gt;
                                                &lt;div class="modal-content"&gt;
                                                &lt;span class="close-button" id="closeButton"&gt;&times;&lt;/span&gt;
                                                &lt;div class="modal-video"&gt;
                                                        &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/UV0mhY2Dxr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen&gt;&lt;/iframe&gt;
                                                &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class="stackui-card-6 video-trigger"&gt;
                                                &lt;div class="card-image"&gt;
                                                &lt;div class="play-icon video-trigger"&gt;
                                                        &lt;i class="fas fa-play"&gt;&lt;/i&gt;
                                                &lt;/div&gt;
                                                &lt;img src="Image link goes here"&gt;
                                                &lt;span class="card-title"&gt;Youtube Player Card&lt;/span&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;/div&gt;


                                                .stackui-card-5 {
                                                        position: relative;
                                                        margin: 0.5rem 0 1rem 0;
                                                        background-color: #fff;
                                                        -webkit-transition: -webkit-box-shadow .25s;
                                                        transition: -webkit-box-shadow .25s;
                                                        transition: box-shadow .25s;
                                                        transition: box-shadow .25s, -webkit-box-shadow .25s;
                                                        cursor: pointer;
                                                        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                                }
                                                .stackui-card-5 .card-image img {
                                                        display: block;
                                                        border-radius: 2px 2px 0 0;
                                                        position: relative;
                                                        left: 0;
                                                        right: 0;
                                                        top: 0;
                                                        bottom: 0;
                                                        width: 100%;
                                                }
                                                .stackui-card-5 .card-image img:hover {
                                                        opacity: 0.8;
                                                }
                                                .stackui-card-5 .card-title {
                                                        font-size: 24px;
                                                        font-weight: 300;
                                                }
                                                .stackui-card-5 .card-image .card-title {
                                                        color: #fff;
                                                        position: absolute;
                                                        bottom: 0;
                                                        left: 0;
                                                        max-width: 100%;
                                                        padding: 24px;
                                                }
                                                .media-card-1 .lightbox-overlay {
                                                        position: fixed;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background-color: rgba(0, 0, 0, 0.8);
                                                        display: none;
                                                        justify-content: center;
                                                        align-items: center;
                                                        z-index: 9999;
                                                        transition: opacity 0.3s ease;
                                                }
                                                .media-card-1 .lightbox-content {
                                                        display: none;
                                                        text-align: center;
                                                        transition: opacity 0.3s ease;
                                                }
                                                .media-card-1 .lightbox-image {
                                                        width: 60%;
                                                        height: 60%;
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                        transform: scale(1);
                                                        transition: transform 0.3s ease;
                                                }
                                                .media-card-1 .lightbox-image.zoomed-in {
                                                        transform: scale(1.2);
                                                }
                                                @media (max-width: 767px) {
                                                        .media-card-1 .lightbox-image {
                                                        width: 80%;
                                                        }
                                                }
                                                @media (min-width: 768px) and (max-width: 1023px) {
                                                        .media-card-1 .lightbox-image {
                                                                width: 70%;
                                                        }
                                                }
                                                @media (min-width: 1024px) {
                                                        .media-card-1 .lightbox-image {
                                                                width: 60%;
                                                        }
                                                }
                                                .media-card-1 .lightbox-image.zoomed-in {
                                                        transform: scale(1.2);
                                                }
                                                .stackui-card-6 {
                                                        position: relative;
                                                        margin: 0.5rem 0 1rem 0;
                                                        background-color: #fff;
                                                        cursor: pointer;
                                                        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                                }
                                                .stackui-card-6 .card-image img {
                                                        display: block;
                                                        border-radius: 2px 2px 0 0;
                                                        position: relative;
                                                        left: 0;
                                                        right: 0;
                                                        top: 0;
                                                        bottom: 0;
                                                        width: 100%;
                                                }
                                                .stackui-card-6 .card-image img:hover {
                                                        opacity: 0.8;
                                                }
                                                .stackui-card-6 .card-title {
                                                        font-size: 24px;
                                                        font-weight: 300;
                                                }
                                                .stackui-card-6 .card-image .card-title {
                                                        color: #fff;
                                                        position: absolute;
                                                        bottom: 0;
                                                        left: 0;
                                                        max-width: 100%;
                                                        padding: 24px;
                                                }
                                                .media-card-2 .play-icon {
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        font-size: 48px;
                                                        color: #fff;
                                                        z-index: 1;
                                                        animation: pulse-animation 2s infinite;
                                                }
                                                .media-card-2 .modal {
                                                        display: none;
                                                        position: fixed;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background-color: rgba(0, 0, 0, 0.8);
                                                        z-index: 9999;
                                                }
                                                .media-card-2 .modal-content {
                                                        position: relative;
                                                        display: block;
                                                        margin: auto;
                                                        width: 80%;
                                                        height: auto;
                                                        padding-bottom: 56.25%;
                                                        border-radius: 10px;
                                                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                                                }
                                                .media-card-2 .modal-video {
                                                        width: 100%;
                                                        height: 100%;
                                                }
                                                .media-card-2 iframe {
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                }
                                                .media-card-2 .close-button {
                                                        position: absolute;
                                                        top: 10px;
                                                        right: 10px;
                                                        font-size: 24px;
                                                        cursor: pointer;
                                                }
                                                @media (max-width: 790px) {
                                                        .stackui-card-5 .card-title,
                                                        .stackui-card-6 .card-title {
                                                                font-size: 16px;
                                                                padding: 10px;
                                                        }
                                                }

                                                /* Card lightbox js code */
                                                document.addEventListener('DOMContentLoaded', function() {
                                                var lightboxOverlay = document.querySelector('.lightbox-overlay');
                                                var lightboxContent = document.querySelector('.lightbox-content');
                                                var lightboxImage = document.querySelector('.lightbox-image');
                                                var lightboxTriggers = document.querySelectorAll('.lightbox-trigger');

                                                lightboxTriggers.forEach(function(trigger) {
                                                trigger.addEventListener('click', function() {
                                                var imageSrc = this.getAttribute('src');
                                                lightboxImage.setAttribute('src', imageSrc);
                                                lightboxOverlay.style.display = 'flex';
                                                setTimeout(function() {
                                                        lightboxOverlay.style.opacity = '1';
                                                        lightboxContent.style.display = 'block';
                                                        setTimeout(function() {
                                                        lightboxContent.style.opacity = '1';
                                                        lightboxImage.classList.add('zoomed-in');
                                                        }, 50);
                                                }, 50);
                                                });
                                                });

                                                lightboxOverlay.addEventListener('click', function() {
                                                lightboxContent.style.opacity = '0';
                                                lightboxImage.classList.remove('zoomed-in');
                                                setTimeout(function() {
                                                lightboxContent.style.display = 'none';
                                                lightboxOverlay.style.opacity = '0';
                                                setTimeout(function() {
                                                        lightboxOverlay.style.display = 'none';
                                                }, 300);
                                                }, 300);
                                                });
                                                });

                                                /* Card Video lightbox js code */
                                                document.addEventListener("DOMContentLoaded", function() {
                                                const videoTrigger = document.querySelector(".video-trigger");
                                                const videoModal = document.getElementById("videoModal");
                                                const closeButton = document.getElementById("closeButton");

                                                videoTrigger.addEventListener("click", function() {
                                                videoModal.style.display = "block";
                                                });

                                                closeButton.addEventListener("click", function() {
                                                videoModal.style.display = "none";
                                                });

                                                window.addEventListener("click", function(event) {
                                                if (event.target === videoModal) {
                                                        videoModal.style.display = "none";
                                                }
                                                });
                                                });
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-6" data-tab="component-6">Card Tile</button>
                                        <button class="code-tab-btn btn-6" data-tab="view-6">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-6" id="component-6">
                                        <div class="ui-zone">
                                                <div class="tile-card">
                                                        <div class="stackui-card-panel">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed. Donec tempus scelerisque quam, non congue mauris convallis sed.</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-6" id="view-6">
                                        <pre>
                                        &lt;div class="tile-card"&gt;
                                                &lt;div class="stackui-card-panel"&gt;
                                                        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus scelerisque quam, non congue mauris convallis sed.&lt;/p&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;

                                        .stackui-card-panel {
                                                transition: box-shadow .25s, -webkit-box-shadow .25s;
                                                padding: 24px;
                                                margin: 0.5rem 0 1rem 0;
                                                background-color: #007bff;
                                                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                        }
                                        .stackui-card-panel p {
                                                color: #fff !important;
                                        }
                                        @media (max-width: 790px) {
                                                .stackui-card-panel p {
                                                        font-size: 16px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-7" data-tab="component-7">Profile Card</button>
                                        <button class="code-tab-btn btn-7" data-tab="view-7">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-7" id="component-7">
                                        <div class="ui-zone">
                                                <div class="tab-center">
                                                        <div class="profile-card">
                                                                <div class="stackui-card-7">
                                                                        <div class="card-image">
                                                                                <img src="img/profile-card.jpg" alt="">
                                                                        </div>
                                                                        <div class="content">
                                                                        <span class="card-title">John Doe</span>
                                                                        <div class="about-area">
                                                                                <h5>About me</h5>
                                                                                <p>This a Profile card where you can dispaly user information and link his social media details.</p>
                                                                                <button class="stack-btn-1">Visit Profile</button>
                                                                        </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-7" id="view-7">
                                        <pre>
                                        &lt;div class="profile-card"&gt;
                                                &lt;div class="stackui-card-7"&gt;
                                                        &lt;div class="card-image"&gt;
                                                        &lt;img src="profile image goes here" alt=""&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="content"&gt;
                                                        &lt;span class="card-title"&gt;John Doe&lt;/span&gt;
                                                        &lt;div class="social-3"&gt;
                                                                &lt;a href=""&gt;
                                                                &lt;div class="icon fb"&gt;
                                                                        &lt;span&gt;&lt;i class="fa-brands fa-facebook"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;/div&gt;
                                                                &lt;/a&gt;
                                                                &lt;a href=""&gt;
                                                                &lt;div class="icon instagram"&gt;
                                                                        &lt;span&gt;&lt;i class="fa-brands fa-instagram"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;/div&gt;
                                                                &lt;/a&gt;
                                                                &lt;a href=""&gt;
                                                                &lt;div class="icon twitter"&gt;
                                                                        &lt;span&gt;&lt;i class="fa-brands fa-x-twitter"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;/div&gt;
                                                                &lt;/a&gt;
                                                                &lt;a href=""&gt;
                                                                &lt;div class="icon linkedin"&gt;
                                                                        &lt;span&gt;&lt;i class="fa-brands fa-linkedin"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;/div&gt;
                                                                &lt;/a&gt;
                                                                &lt;a href=""&gt;
                                                                &lt;div class="icon tiktok"&gt;
                                                                        &lt;span&gt;&lt;i class="fa-brands fa-tiktok"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;/div&gt;
                                                                &lt;/a&gt;
                                                                &lt;a href=""&gt;
                                                                &lt;div class="icon youtube"&gt;
                                                                        &lt;span&gt;&lt;i class="fa-brands fa-youtube"&gt;&lt;/i&gt;&lt;/span&gt;
                                                                &lt;/div&gt;
                                                                &lt;/a&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="about-area"&gt;
                                                                &lt;h5&gt;About me&lt;/h5&gt;
                                                                &lt;p&gt;This a Profile card where you can display user information and link his social media details.&lt;/p&gt;
                                                                &lt;button class="stack-btn-1"&gt;Visit Profile&lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;

                                        .stackui-card-7 {
                                                padding: 24px;
                                                margin: 0.5rem 0 1rem 0;
                                                position: relative;
                                                width: 400px;
                                                margin: 1rem;
                                                background-color: #fff;
                                                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                                        }
                                        .stackui-card-7 .card-image {
                                                margin-bottom: 5px;
                                                display: flex;
                                                justify-content: center;
                                        }
                                        .stackui-card-7 .card-image img {
                                                height: 150px;
                                                width: 150px;
                                                border-radius: 50%;
                                        }
                                        .stackui-card-7 .card-title {
                                                font-size: 24px;
                                                margin-bottom: 10px;
                                                display: flex;
                                                justify-content: center;
                                        }
                                        .stackui-card-7 .about-area {
                                                justify-content: center;
                                                margin-top: 2rem;
                                                padding-left: 10px;
                                                padding-right: 10px;
                                                box-shadow: none;
                                        }
                                        .stackui-card-7 .about-area p {
                                                font-size: 18px;
                                        }
                                        .stackui-card-7 .about-area button {
                                                width: 100%;
                                                margin-top: 1rem;
                                        }
                                        .stackui-card-7 .content {
                                                padding: 0;
                                                box-shadow: none;
                                        }
                                        @media (max-width: 790px) {
                                                .stackui-card-7 {
                                                        width: 250px;
                                                }
                                                .stackui-card-7 .card-image img {
                                                        height: 120px;
                                                        width: 120px;
                                                        border-radius: 50%;
                                                }
                                                .stackui-card-7 .card-title {
                                                        font-size: 18px;
                                                        margin-bottom: 15px;
                                                        display: flex;
                                                        justify-content: center;
                                                }
                                                .stackui-card-7 .card-title {
                                                        font-size: 18px;
                                                        margin-bottom: 10px;
                                                        display: flex;
                                                        justify-content: center;
                                                }
                                                .stackui-card-7 .about-area button {
                                                        margin-top: 5px;
                                                        width: 100%;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>
                </div>
        </div>
</section>