<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform <span class="text-primary">Footers</span></h1>
                                <p>Different types of Footer Components for different needs</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-1" data-tab="component-1">Full length Footer 1</button>
                                        <button class="code-tab-btn btn-1" data-tab="view-1">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-1" id="component-1">
                                        <div class="ui-zone">
                                        <footer class="stack-footer-1">
                                                <div class="footer-links">
                                                        <a href="#">Home</a>
                                                        <a href="#">About</a>
                                                        <a href="#">Services</a>
                                                        <a href="#">Contact</a>
                                                </div>
                                                <div class="footer-copyright">
                                                        &copy; 2023 Your Company Name. All rights reserved.
                                                </div>
                                                <div class="footer-social-icons">
                                                        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                                                        <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                                                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                                        <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                                                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                                                        <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
                                                        <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
                                                </div>
                                        </footer>  
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-1" id="view-1">
                                        <pre>
                                        .stack-footer-1 {
                                                background-color: #030712;
                                                padding: 20px;
                                                text-align: center;
                                        }
                                        .stack-footer-1 .footer-links {
                                                margin-top: 1.5rem;
                                                margin-bottom: 4rem;
                                        }
                                        .stack-footer-1 .footer-links a {
                                                color: #fff;
                                                text-decoration: none;
                                                margin: 0 10px;
                                        }
                                        .stack-footer-1 .footer-links a:hover {
                                                text-decoration: underline;
                                        }
                                        .stack-footer-1 .footer-copyright {
                                                padding-top: 20px;
                                                font-size: 14px;
                                                color: #fff;
                                                border-top: 1px solid #f1f1f1;
                                        }
                                        .stack-footer-1 .footer-social-icons {
                                                font-size: 14px;
                                                margin-top: 20px;
                                        }
                                        .stack-footer-1 .footer-social-icons .social-icon {
                                                color: #fff;
                                                margin: 0 5px;
                                        }
                                        @media (max-width: 790px) {
                                                .stack-footer-1 .footer-links {
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        justify-content: center;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-2" data-tab="component-2">Full Length Footer 2</button>
                                        <button class="code-tab-btn btn-2" data-tab="view-2">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-2" id="component-2">
                                        <div class="ui-zone">
                                        <footer class="stack-footer-2 mt-3">
                                                <div class="footer-links">
                                                        <a href="#">Home</a>
                                                        <a href="#">About</a>
                                                        <a href="#">Services</a>
                                                        <a href="#">Contact</a>
                                                </div>
                                                <div class="footer-social-copyright">
                                                        <div class="footer-social-icons">
                                                                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                                                                <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
                                                        </div>
                                                        <div class="footer-copyright">
                                                                &copy; 2023 Your Company Name. All rights reserved.
                                                        </div>
                                                </div>
                                        </footer>    
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-2" id="view-2">
                                        <pre>
                                        .stack-footer-2 {
                                                background-color: #030712;
                                                padding: 20px;
                                                text-align: center;
                                        }
                                        .stack-footer-2 .footer-links {
                                                margin-top: 2rem;
                                                margin-bottom: 3rem;
                                        }
                                        .stack-footer-2 .footer-links a {
                                                color: #fff;
                                                text-decoration: none;
                                                margin: 0 10px;
                                        }
                                        .stack-footer-2 .footer-links a:hover {
                                                text-decoration: underline;
                                        }
                                        .stack-footer-2 .footer-social-copyright {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                                align-items: center;
                                                padding-top: 20px;
                                                border-top: 1px solid #f1f1f1;
                                        }
                                        .stack-footer-2 .footer-social-icons {
                                                font-size: 14px;
                                        }
                                        .stack-footer-2 .footer-social-icons .social-icon {
                                                color: #fff;
                                                margin: 0 5px;
                                        }
                                        .stack-footer-2 .footer-copyright {
                                                font-size: 14px;
                                                color: #fff;
                                        }
                                        @media (max-width: 768px) {
                                                .stack-footer-2 .footer-links {
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        justify-content: center;
                                                }
                                                .stack-footer-2 .footer-social-copyright {
                                                        flex-direction: column;
                                                        text-align: center;
                                                }
                                                .stack-footer-2 .footer-social-icons {
                                                        margin-bottom: 10px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-3" data-tab="component-3">Grid Footer</button>
                                        <button class="code-tab-btn btn-3" data-tab="view-3">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-3" id="component-3">
                                        <div class="ui-zone">
                                        <footer class="grid-logo"><a href="#"><img src="<?= base_url('/public/assets/img/stack-navbar.png'); ?>" alt=""></a></footer>
                                        <footer class="grid-footer">
                                                <div class="footer-column">
                                                        <h3>Contact Us</h3>
                                                        <p>123 Main St, City</p>
                                                        <p>Email: info@example.com</p>
                                                        <p>Phone: (123) 456-7890</p>
                                                </div>
                                                <div class="footer-column">
                                                <h3>Quick Links</h3>
                                                <ul>
                                                        <li><a href="#">Home</a></li>
                                                        <li><a href="#">About</a></li>
                                                        <li><a href="#">Services</a></li>
                                                        <li><a href="#">Contact</a></li>
                                                </ul>
                                                </div>
                                                <div class="footer-column">
                                                <h3>Account</h3>
                                                <ul>
                                                        <li><a href="#">Login</a></li>
                                                        <li><a href="#">Register</a></li>
                                                        <li><a href="#">Privacy Policy</a></li>
                                                        <li><a href="#">Terms & Conditions</a></li>
                                                </ul>
                                                </div>
                                                <div class="footer-column">
                                                <h3>Blog & Updates</h3>
                                                <ul>
                                                        <li><a href="#">Blog</a></li>
                                                        <li><a href="#">News</a></li>
                                                        <li><a href="#">Updates</a></li>
                                                        <li><a href="#">Sponsors</a></li>
                                                </ul>
                                                </div>
                                        </footer>
                                        <footer class="grid-copyright">
                                                        <div class="footer-social-icons">
                                                                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                                                                <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
                                                                <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
                                                        </div>
                                                        <div class="footer-copyright">
                                                                &copy; 2023 Your Company Name. All rights reserved.
                                                        </div>
                                        </footer>     
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-3" id="view-3">
                                        <pre>
                                        &lt;footer class="grid-logo"&gt;&lt;a href="#"&gt;&lt;img src="Image link" alt=""&gt;&lt;/a&gt;&lt;/footer&gt;
                                                &lt;footer class="grid-footer"&gt;
                                                &lt;div class="footer-column"&gt;
                                                        &lt;h3&gt;Contact Us&lt;/h3&gt;
                                                        &lt;p&gt;123 Main St, City&lt;/p&gt;
                                                        &lt;p&gt;Email: info@example.com&lt;/p&gt;
                                                        &lt;p&gt;Phone: (123) 456-7890&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class="footer-column"&gt;
                                                        &lt;h3&gt;Quick Links&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;About&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Contact&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div class="footer-column"&gt;
                                                        &lt;h3&gt;Account&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Login&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Register&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Terms &amp; Conditions&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div class="footer-column"&gt;
                                                        &lt;h3&gt;Blog &amp; Updates&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Blog&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;News&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Updates&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li&gt;&lt;a href="#"&gt;Sponsors&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;/footer&gt;
                                                &lt;footer class="grid-copyright"&gt;
                                                &lt;div class="footer-social-icons"&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fab fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fa-brands fa-x-twitter"&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fab fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fab fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fab fa-youtube"&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fab fa-github"&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;a href="#" class="social-icon">&lt;i class="fab fa-discord"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/div&gt;
                                                &lt;div class="footer-copyright"&gt;
                                                        &copy; 2023 Your Company Name. All rights reserved.
                                                &lt;/div&gt;
                                        &lt;/footer&gt;

                                        .grid-logo {
                                                background-color: #030712;
                                                color: #fff;
                                                padding: 2px 0;
                                                text-align: center;
                                                padding-bottom: 20px;
                                                border-bottom: 1px solid #f1f1f1;
                                        }
                                        .grid-logo img {
                                                width: 150px;
                                                height: auto;
                                                padding-top: 20px;
                                        }
                                        .grid-footer {
                                                background-color: #030712;
                                                color: #fff;
                                                padding: 20px;
                                                display: grid;
                                                grid-template-columns: repeat(4, 1fr);
                                                gap: 20px;
                                        }
                                        .grid-footer .footer-column p {
                                                color: #fff;
                                        }
                                        .grid-footer .footer-column {
                                                padding: 10px;
                                        }
                                        .grid-footer .footer-column h3 {
                                                font-size: 18px;
                                                margin-bottom: 10px;
                                        }
                                        .grid-footer .footer-column ul {
                                                list-style: none;
                                                padding: 0;
                                        }
                                        .grid-footer .footer-column ul li {
                                                margin-bottom: 5px;
                                        }
                                        .grid-footer .footer-column ul li a {
                                                color: #fff;
                                                text-decoration: none;
                                        }
                                        .grid-footer .footer-logo {
                                                max-width: 100px;
                                                display: block;
                                                margin: 0 auto;
                                        }
                                        .grid-copyright {
                                                background-color: #030712;
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                                align-items: center;
                                                padding: 20px;
                                                border-top: 1px solid #f1f1f1;
                                        }
                                        .grid-copyright .footer-social-icons {
                                                font-size: 14px;
                                        }
                                        .grid-copyright .footer-social-icons .social-icon {
                                                color: #fff;
                                                margin: 0 5px;
                                        }
                                        .grid-copyright .footer-copyright {
                                                font-size: 14px;
                                                color: #fff;
                                        }
                                        @media (max-width: 790px) {
                                                .grid-footer {
                                                        grid-template-columns: 1fr; 
                                                }
                                                .grid-copyright {
                                                        flex-direction: column;
                                                        text-align: center;
                                                }
                                                .grid-copyright .footer-social-icons {
                                                        margin-bottom: 10px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>
                </div>
        </div>
</section>