<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform <span class="text-primary">Lists</span></h1>
                                <p>Different types of Lists for different needs</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-1" data-tab="component-1">Regular Lists</button>
                                        <button class="code-tab-btn btn-1" data-tab="view-1">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-1" id="component-1">
                                        <div class="ui-zone">
                                                <div class="list-1">
                                                        <ul class="collection-list-1">
                                                                <li class="collection-list-item">
                                                                John Doe
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Alvin Johnson
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Mark Roger
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Jessica Simpson
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Maria Sputnik
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Aletta San Diego
                                                                </li>
                                                        </ul>
                                                 </div>
                                                <div class="list-1">
                                                        <ul class="collection-list-1">
                                                                <li class="list-header">
                                                                        <h5>Regular List wtih Header & Links 1</h5>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                        <a href="">John Doe</a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                        <a href="">Alvin Johnson</a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                        <a href="">Mark Roger</a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                        <a href="">Jessica Simpson</a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                        <a href="">Jessica Simpson</a>
                                                                </li>
                                                                        <li class="collection-list-item">
                                                                        <a href="">Aletta San Diego</a>
                                                                </li>
                                                        </ul>
                                                </div>
                                                <div class="list-1">
                                                        <ul class="collection-list-1">
                                                                <li class="list-header">
                                                                <h5>
                                                                        Regular List wtih Header & Links 2
                                                                </h5>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                John Doe
                                                                <a href="#!" class="side-click"><i class="fa-solid fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Alvin Johnson
                                                                <a href="#!" class="side-click"><i class="fa-solid fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Mark Roger
                                                                <a href="#!" class="side-click"><i class="fa-solid fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Jessica Simpson
                                                                <a href="#!" class="side-click"><i class="fa-solid fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Maria Sputnik
                                                                <a href="#!" class="side-click"><i class="fa-solid fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="collection-list-item">
                                                                Aletta San Diego
                                                                <a href="#!" class="side-click"><i class="fa-solid fa-arrow-right"></i></a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-1" id="view-1">
                                        <pre>
                                        /* List type 1 without header */

                                        &lt;ul class="collection-list"&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                John Doe
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Alvin Johnson
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Mark Roger
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Jessica Simpson
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Maria Sputnik
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Aletta San Diego
                                                &lt;/li&gt;
                                        &lt;/ul&gt;

                                        /* List type 2 with header and linked text */

                                        &lt;ul class="collection-list"&gt;
                                                &lt;li class="list-header"&gt;
                                                &lt;h5&gt;Regular List wtih Header & Links 1&lt;/h5&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                &lt;a href=""&gt;John Doe&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                &lt;a href=""&gt;Alvin Johnson&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                &lt;a href=""&gt;Mark Roger&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                &lt;a href=""&gt;Jessica Simpson&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                &lt;a href=""&gt;Jessica Simpson&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                &lt;a href=""&gt;Aletta San Diego&lt;/a&gt;
                                                &lt;/li&gt;
                                        &lt;/ul&gt;

                                        /* List type 3 with header and linked icons */

                                        &lt;ul class="collection-list"&gt;
                                                &lt;li class="list-header"&gt;
                                                &lt;h5&gt;
                                                        Regular List wtih Links 2
                                                &lt;/h5&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                John Doe
                                                &lt;a href="#!" class="side-click"&gt;&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Alvin Johnson
                                                &lt;a href="#!" class="side-click"&gt;&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Mark Roger
                                                &lt;a href="#!" class="side-click"&gt;&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Jessica Simpson
                                                &lt;a href="#!" class="side-click"&gt;&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Maria Sputnik
                                                &lt;a href="#!" class="side-click"&gt;&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item"&gt;
                                                Aletta San Diego
                                                &lt;a href="#!" class="side-click"&gt;&lt;i class="fa-solid fa-arrow-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/li&gt;
                                        &lt;/ul&gt;

                                        .collection-list-1 {
                                                width: 100%;
                                                margin: .5rem 0 1rem 0;
                                                border: 1px solid #e0e0e0;
                                                border-radius: 2px;
                                                overflow: hidden;
                                                position: relative;
                                                padding-left: 0;
                                        }
                                        .collection-list-1 li {
                                                list-style: none;
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                                border-bottom: 1px solid #e0e0e0;
                                        }
                                        .collection-list-1 li:last-child {
                                                border-bottom: none;
                                        }
                                        .collection-list-1 li a {
                                                text-decoration: none;
                                                color: #007bff;
                                        }
                                        .collection-list-1 .list-header {
                                                background-color: #fff;
                                        }
                                        .collection-list-1 .list-header h5 {
                                                margin-top: 10px;
                                                font-size: 1.20rem;
                                        }
                                        .list-header .collection-list-item {
                                                padding-left: 30px;
                                        }
                                        .collection-list-1 .collection-list-item {
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                        }
                                        .collection-list-1 .side-click {
                                                float: right;
                                                color: #007bff;
                                        }
                                        @media (max-width: 790px) {
                                                .collection-list-1 li {
                                                        padding: 5px 15px;
                                                }
                                                .collection-list-1 .collection-list-item {
                                                        line-height: 1.5rem;
                                                        padding: 5px 15px;
                                                        margin: 0;
                                                }
                                                .collection-list-1 .list-header h5 {
                                                        margin-top: 10px;
                                                        font-size: 1rem;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-2" data-tab="component-2">List with Images</button>
                                        <button class="code-tab-btn btn-2" data-tab="view-2">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-2" id="component-2">
                                        <div class="ui-zone">
                                        <ul class="collection-list-2">
                                                <li class="collection-list-item avatar">
                                                <img src="img/profile-card.jpg" alt="" class="list-circle">
                                                <span class="title">John Doe</span>
                                                <p>Something about me <br>
                                                I am a developer!
                                                </p>
                                                </li>
                                                <li class="collection-list-item avatar">
                                                <img src="img/profile-card.jpg" alt="" class="list-circle">
                                                <span class="title">John Doe</span>
                                                <p>Something about me <br>
                                                I am a developer!
                                                </p>
                                                </li>
                                                <li class="collection-list-item avatar">
                                                <img src="img/profile-card.jpg" alt="" class="list-circle">
                                                <span class="title">John Doe</span>
                                                <p>Something about me <br>
                                                I am a developer!
                                                </p>
                                                </li>
                                        </ul>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-2" id="view-2">
                                        <pre>
                                        &lt;ul class="collection-list-2"&gt;
                                                &lt;li class="collection-list-item avatar"&gt;
                                                &lt;img src="Your image link goes here" alt="" class="list-circle"&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Something about me &lt;br&gt;
                                                        I am a developer!
                                                &lt;/p&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item avatar"&gt;
                                                &lt;img src="Your image link goes here" alt="" class="list-circle"&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Something about me &lt;br&gt;
                                                        I am a developer!
                                                &lt;/p&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item avatar"&gt;
                                                &lt;img src="Your image link goes here" alt="" class="list-circle"&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Something about me &lt;br&gt;
                                                        I am a developer!
                                                &lt;/p&gt;
                                                &lt;/li&gt;
                                        &lt;/ul&gt;

                                        .collection-list-2 {
                                                margin: 1rem;
                                                overflow: hidden;
                                                position: relative;
                                                background-color: white;
                                                padding-left: 0;
                                                border: 1px solid #e0e0e0;
                                        }
                                        .collection-list-2 span.title {
                                                font-weight: bold;
                                        }
                                        .collection-list-2 li {
                                                list-style: none;
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                                border-bottom: 1px solid #e0e0e0;
                                        }
                                        .collection-list-2 li:last-child {
                                                border-bottom: none;
                                        }
                                        .collection-list-2 li a {
                                                text-decoration: none;
                                                color: #007bff;
                                        }
                                        .collection-list-2 .list-circle {
                                                border-radius: 50%;
                                        }
                                        .collection-list-2 .list-circle {
                                                position: absolute;
                                                overflow: hidden;
                                                left: 15px;
                                                margin-top: 10px;
                                                height: 50px;
                                                width: 50px;
                                                display: inline-block;
                                                vertical-align: middle;
                                        }
                                        .collection-list-2 .collection-list-item,
                                        .collection-list-2 .collection-list .avatar {
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                margin: 0;
                                                min-height: 84px;
                                                padding-left: 78px;
                                                position: relative;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                        }
                                        @media (max-width: 790px) {
                                                .collection-list-2 {
                                                        margin: 0;
                                                        overflow: hidden;
                                                        position: relative;
                                                        background-color: white;
                                                        padding-left: 0;
                                                        border: 1px solid #e0e0e0;
                                                }
                                                .collection-list-2 li {
                                                        padding: 5px 15px;
                                                }
                                                .collection-list-2 .collection-list-item {
                                                        line-height: 1.5rem;
                                                        padding: 5px 15px;
                                                        margin: 0;
                                                }
                                                .collection-list-2 .list-header h5 {
                                                        margin-top: 10px;
                                                        font-size: 1.5rem;
                                                }
                                                .collection-list-2 .list-circle {
                                                        position: absolute;
                                                        overflow: hidden;
                                                        left: 15px;
                                                        margin-top: 10px;
                                                        height: 35px;
                                                        width: 35px;
                                                }
                                                .collection-list-2 .collection-list-item,
                                                .collection-list-2 .collection-list .avatar {
                                                        min-height: 84px;
                                                        padding-left: 58px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-3" data-tab="component-3">List with Icons</button>
                                        <button class="code-tab-btn btn-3" data-tab="view-3">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-3" id="component-3">
                                        <div class="ui-zone">
                                                <ul class="collection-list-3">
                                                        <li class="collection-list-item icon">
                                                        <i class="fa-brands fa-facebook list-circle"></i>
                                                        <span class="title">John Doe</span>
                                                        <p>Follow me on Facebook <br>
                                                        I am a developer!
                                                        </p>
                                                        </li>
                                                        <li class="collection-list-item icon">
                                                        <i class="fa-brands fa-instagram list-circle"></i>
                                                        <span class="title">John Doe</span>
                                                        <p>Follow me on Instagram <br>
                                                        I am a developer!
                                                        </p>
                                                        </li>
                                                        <li class="collection-list-item icon">
                                                        <i class="fa-brands fa-twitter list-circle"></i>
                                                        <span class="title">John Doe</span>
                                                        <p>Follow me on Twitter <br>
                                                        I am a developer!
                                                        </p>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-3" id="view-3">
                                        <pre>
                                        &lt;ul class="collection-list-3"&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-brands fa-facebook list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Follow me on Facebook &lt;br&gt;
                                                I am a developer!
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-brands fa-instagram list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Follow me on Instagram &lt;br&gt;
                                                I am a developer!
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-brands fa-twitter list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Follow me on Twitter &lt;br&gt;
                                                I am a developer!
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;/ul&gt;

                                        .collection-list-3 {
                                                margin: 1rem;
                                                overflow: hidden;
                                                position: relative;
                                                background-color: white;
                                                padding-left: 0;
                                                border: 1px solid #e0e0e0;
                                        }
                                        .collection-list-3 span.title {
                                                font-weight: bold;
                                        }
                                        .collection-list-3 li {
                                                list-style: none;
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                                border-bottom: 1px solid #e0e0e0;
                                        }
                                        .collection-list-3 li:last-child {
                                                border-bottom: none;
                                        }
                                        .collection-list-3 li a {
                                                text-decoration: none;
                                                color: #007bff;
                                        }
                                        .collection-list-3 .list-circle {
                                                border-radius: 50%;
                                        }
                                        .collection-list-3 .list-circle {
                                                position: absolute;
                                                overflow: hidden;
                                                left: 15px;
                                                margin-top: 10px;
                                                height: 50px;
                                                width: 50px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                background: #007bff;
                                        }
                                        .collection-list-3 .collection-list-item,
                                        .collection-list-3 .collection-list-item .icon {
                                                line-height: 1.5rem;
                                                margin: 0;
                                                min-height: 84px;
                                                padding-left: 78px;
                                                position: relative;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                        }
                                        .collection-list-3 .icon i {
                                                color: #fff;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        @media (max-width: 790px) {
                                        .collection-list-3 {
                                                        margin: 0;
                                                        overflow: hidden;
                                                        position: relative;
                                                        background-color: white;
                                                        padding-left: 0;
                                                        border: 1px solid #e0e0e0;
                                                }
                                                .collection-list-3 li {
                                                        padding: 5px 15px;
                                                }
                                                .collection-list-3 .collection-list-item {
                                                        line-height: 1.5rem;
                                                        padding: 5px 15px;
                                                        margin: 0;
                                                }
                                                .collection-list-3 .list-header h5 {
                                                        margin-top: 10px;
                                                        font-size: 1.5rem;
                                                }
                                                .collection-list-3 .list-circle {
                                                        position: absolute;
                                                        overflow: hidden;
                                                        left: 15px;
                                                        margin-top: 10px;
                                                        height: 35px;
                                                        width: 35px;
                                                }
                                                .collection-list-3 .collection-list-item,
                                                .collection-list-3 .collection-list .icon {
                                                        min-height: 84px;
                                                        padding-left: 58px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-4" data-tab="component-4">Numbered Lists</button>
                                        <button class="code-tab-btn btn-4" data-tab="view-4">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-4" id="component-4">
                                        <div class="ui-zone">
                                                <ul class="collection-list-4">
                                                        <li class="collection-list-item num">
                                                                <span class="list-circle">1</span>
                                                                <span class="title">John Doe</span>
                                                                <p>List Number 1 <br>
                                                                I am a developer!
                                                                </p>
                                                        </li>
                                                        <li class="collection-list-item num">
                                                                <span class="list-circle">2</span>
                                                                <span class="title">John Doe</span>
                                                                <p>List Number 2 <br>
                                                                I am a developer!
                                                                </p>
                                                        </li>
                                                        <li class="collection-list-item num">
                                                                <span class="list-circle">3</span>
                                                                <span class="title">John Doe</span>
                                                                <p>List Number 3 <br>
                                                                I am a developer!
                                                                </p>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-4" id="view-4">
                                        <pre>
                                        &lt;ul class="collection-list-4"&gt;
                                                &lt;li class="collection-list-item num"&gt;
                                                        &lt;span class="list-circle"&gt;1&lt;/span&gt;
                                                        &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                        &lt;p&gt;List Number 1 &lt;br&gt;
                                                                I am a developer!
                                                        &lt;/p&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item num"&gt;
                                                        &lt;span class="list-circle"&gt;2&lt;/span&gt;
                                                        &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                        &lt;p&gt;List Number 2 &lt;br&gt;
                                                                I am a developer!
                                                        &lt;/p&gt;
                                                &lt;/li&gt;
                                                &lt;li class="collection-list-item num"&gt;
                                                        &lt;span class="list-circle"&gt;3&lt;/span&gt;
                                                        &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                        &lt;p&gt;List Number 3 &lt;br&gt;
                                                                I am a developer!
                                                        &lt;/p&gt;
                                                &lt;/li&gt;
                                        &lt;/ul&gt;

                                        .collection-list-4 {
                                                margin: 1rem;
                                                overflow: hidden;
                                                position: relative;
                                                background-color: white;
                                                padding-left: 0;
                                                border: 1px solid #e0e0e0;
                                        }
                                        .collection-list-4 span.title {
                                                font-weight: bold;
                                        }
                                        .collection-list-4 li {
                                                list-style: none;
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                                border-bottom: 1px solid #e0e0e0;
                                        }
                                        .collection-list-4 li:last-child {
                                                border-bottom: none;
                                        }
                                        .collection-list-4 li a {
                                                text-decoration: none;
                                                color: #007bff;
                                        }
                                        .collection-list-4 .list-circle {
                                                border-radius: 50%;
                                        }
                                        .collection-list-4 .list-circle {
                                                position: absolute;
                                                overflow: hidden;
                                                left: 15px;
                                                margin-top: 10px;
                                                height: 50px;
                                                width: 50px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                background: #007bff;
                                        }
                                        .collection-list-4 .collection-list-item,
                                        .collection-list-4 .collection-list-item .icon {
                                                line-height: 1.5rem;
                                                margin: 0;
                                                min-height: 84px;
                                                padding-left: 78px;
                                                position: relative;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                        }
                                        .collection-list-4 span.list-circle {
                                                color: #fff;
                                                font-weight: bold;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        @media (max-width: 790px) {
                                                .collection-list-4 {
                                                        margin: 0;
                                                        overflow: hidden;
                                                        position: relative;
                                                        background-color: white;
                                                        padding-left: 0;
                                                        border: 1px solid #e0e0e0;
                                                }
                                                .collection-list-4 li {
                                                        padding: 5px 15px;
                                                }
                                                .collection-list-4 .collection-list-item {
                                                        line-height: 1.5rem;
                                                        padding: 5px 15px;
                                                        margin: 0;
                                                }
                                                .collection-list-4 .list-header h5 {
                                                        margin-top: 10px;
                                                        font-size: 1.5rem;
                                                }
                                                .collection-list-4 .list-circle {
                                                        position: absolute;
                                                        overflow: hidden;
                                                        left: 15px;
                                                        margin-top: 10px;
                                                        height: 35px;
                                                        width: 35px;
                                                }
                                                .collection-list-4 .collection-list-item,
                                                .collection-list-4 .collection-list .avatar {
                                                        min-height: 84px;
                                                        padding-left: 58px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-5" data-tab="component-5">Video List</button>
                                        <button class="code-tab-btn btn-5" data-tab="view-5">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-5" id="component-5">
                                        <div class="ui-zone">
                                        <ul class="collection-list-5">
                                                <li class="collection-list-item icon">
                                                <i class="fa-solid fa-play list-circle"></i>
                                                <span class="title">Video Title</span>
                                                <p>This is the description for the video.. <br>
                                                <a href="">Play Video</a>
                                                </p>
                                                </li>
                                                <li class="collection-list-item icon">
                                                <i class="fa-solid fa-play list-circle"></i>
                                                <span class="title">Video Title</span>
                                                <p>This is the description for the video.. <br>
                                                <a href="">Play Video</a>
                                                </p>
                                                </li>
                                                <li class="collection-list-item icon">
                                                <i class="fa-solid fa-play list-circle"></i>
                                                <span class="title">Video Title</span>
                                                <p>This is the description for the video.. <br>
                                                <a href="">Play Video</a>
                                                </p>
                                                </li>
                                        </ul>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-5" id="view-5">
                                        <pre>
                                        &lt;ul class="collection-list-5"&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-solid fa-play list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;Video Title&lt;/span&gt;
                                                &lt;p&gt;This is the description for the video.. &lt;br&gt;
                                                &lt;a href=""&gt;Play Video&lt;/a&gt;
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-solid fa-play list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;Video Title&lt;/span&gt;
                                                &lt;p&gt;This is the description for the video.. &lt;br&gt;
                                                &lt;a href=""&gt;Play Video&lt;/a&gt;
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-solid fa-play list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;Video Title&lt;/span&gt;
                                                &lt;p&gt;This is the description for the video.. &lt;br&gt;
                                                &lt;a href=""&gt;Play Video&lt;/a&gt;
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;/ul&gt;

                                        .collection-list-5 {
                                                margin: 1rem;
                                                overflow: hidden;
                                                position: relative;
                                                background-color: white;
                                                padding-left: 0;
                                                border: 1px solid #e0e0e0;
                                        }
                                        .collection-list-5 span.title {
                                                font-weight: bold;
                                        }
                                        .collection-list-5 li {
                                                list-style: none;
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                                border-bottom: 1px solid #e0e0e0;
                                        }
                                        .collection-list-5 li:last-child {
                                                border-bottom: none;
                                        }
                                        .collection-list-5 li a {
                                                text-decoration: none;
                                                color: #007bff;
                                        }
                                        .collection-list-5 .list-circle {
                                                border-radius: 50%;
                                        }
                                        .collection-list-5 .list-circle {
                                                position: absolute;
                                                overflow: hidden;
                                                left: 15px;
                                                margin-top: 10px;
                                                height: 50px;
                                                width: 50px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                background: #007bff;
                                        }
                                        .collection-list-5 .collection-list-item,
                                        .collection-list-5 .collection-list-item .icon {
                                                line-height: 1.5rem;
                                                margin: 0;
                                                min-height: 84px;
                                                padding-left: 78px;
                                                position: relative;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                        }
                                        .collection-list-5 .icon i {
                                                color: #fff;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        .collection-list-5 .play {
                                                color: #007bff;
                                        }
                                        @media (max-width: 790px) {
                                                .collection-list-5 {
                                                        margin: 0;
                                                        overflow: hidden;
                                                        position: relative;
                                                        background-color: white;
                                                        padding-left: 0;
                                                        border: 1px solid #e0e0e0;
                                                }
                                                .collection-list-5 li {
                                                        padding: 5px 15px;
                                                }
                                                .collection-list-5 .collection-list-item {
                                                        line-height: 1.5rem;
                                                        padding: 5px 15px;
                                                        margin: 0;
                                                }
                                                .collection-list-5 .list-header h5 {
                                                        margin-top: 10px;
                                                        font-size: 1.5rem;
                                                }
                                                .collection-list-5 .list-circle {
                                                        position: absolute;
                                                        overflow: hidden;
                                                        left: 15px;
                                                        margin-top: 10px;
                                                        height: 35px;
                                                        width: 35px;
                                                }
                                                .collection-list-5 .collection-list-item,
                                                .collection-list-5 .collection-list .icon {
                                                        min-height: 84px;
                                                        padding-left: 58px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-6" data-tab="component-6">Highlighted Trend List</button>
                                        <button class="code-tab-btn btn-6" data-tab="view-6">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-6" id="component-6">
                                        <div class="ui-zone">
                                                <ul class="collection-list-6">
                                                        <li class="collection-list-item icon">
                                                        <i class="fa-solid fa-list list-circle"></i>
                                                        <span class="title">John Doe</span>
                                                        <p>Follow me on Facebook <br>
                                                        I am a developer!
                                                        </p>
                                                        </li>
                                                        <li class="active collection-list-item icon">
                                                        <i class="fa-solid fa-list list-circle"></i>
                                                        <span class="title">John Doe</span>
                                                        <p>Follow me on Instagram <br>
                                                        I am a developer!
                                                        </p>
                                                        </li>
                                                        <li class="collection-list-item icon">
                                                        <i class="fa-solid fa-list list-circle"></i>
                                                        <span class="title">John Doe</span>
                                                        <p>Follow me on Twitter <br>
                                                        I am a developer!
                                                        </p>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-6" id="view-6">
                                        <pre>
                                        &lt;ul class="collection-list-6"&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-solid fa-list list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Follow me on Facebook &lt;br&gt;
                                                I am a developer!
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;li class="active collection-list-item icon"&gt;
                                                &lt;i class="fa-solid fa-list list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Follow me on Instagram &lt;br&gt;
                                                I am a developer!
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;li class="collection-list-item icon"&gt;
                                                &lt;i class="fa-solid fa-list list-circle"&gt;&lt;/i&gt;
                                                &lt;span class="title"&gt;John Doe&lt;/span&gt;
                                                &lt;p&gt;Follow me on Twitter &lt;br&gt;
                                                I am a developer!
                                                &lt;/p&gt;
                                        &lt;/li&gt;
                                        &lt;/ul&gt;

                                        .collection-list-6 {
                                                margin: 1rem;
                                                overflow: hidden;
                                                position: relative;
                                                background-color: white;
                                                padding-left: 0;
                                                border: 1px solid #e0e0e0;
                                        }
                                        .collection-list-6 span.title {
                                                font-weight: bold;
                                        }
                                        .collection-list-6 li {
                                                list-style: none;
                                                background-color: #fff;
                                                line-height: 1.5rem;
                                                padding: 10px 20px;
                                                margin: 0;
                                                border-bottom: 1px solid #e0e0e0;
                                        }
                                        .collection-list-6 li:last-child {
                                                border-bottom: none;
                                        }
                                        .collection-list-6 li a {
                                                text-decoration: none;
                                                color: #007bff;
                                        }
                                        .collection-list-6 .list-circle {
                                                border-radius: 50%;
                                        }
                                        .collection-list-6 .list-circle {
                                                position: absolute;
                                                overflow: hidden;
                                                left: 15px;
                                                margin-top: 10px;
                                                height: 50px;
                                                width: 50px;
                                                display: inline-block;
                                                vertical-align: middle;
                                                background: #007bff;
                                        }
                                        .collection-list-6 .collection-list-item,
                                        .collection-list-6 .collection-list-item .icon {
                                                line-height: 1.5rem;
                                                margin: 0;
                                                min-height: 84px;
                                                padding-left: 78px;
                                                position: relative;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                        }
                                        .collection-list-6 .icon i {
                                                color: #fff;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        .collection-list-6 .active {
                                                background-color: #cfe2ff;
                                                width: 100%;
                                                box-sizing: border-box;
                                        }
                                        @media (max-width: 790px) {
                                                .collection-list-6 {
                                                        margin: 0;
                                                        overflow: hidden;
                                                        position: relative;
                                                        background-color: white;
                                                        padding-left: 0;
                                                        border: 1px solid #e0e0e0;
                                                }
                                                .collection-list-6 li {
                                                        padding: 5px 15px;
                                                }
                                                .collection-list-6 .collection-list-item {
                                                        line-height: 1.5rem;
                                                        padding: 5px 15px;
                                                        margin: 0;
                                                }
                                                .collection-list-6 .list-header h5 {
                                                        margin-top: 10px;
                                                        font-size: 1.5rem;
                                                }
                                                .collection-list-6 .list-circle {
                                                        position: absolute;
                                                        overflow: hidden;
                                                        left: 15px;
                                                        margin-top: 10px;
                                                        height: 35px;
                                                        width: 35px;
                                                }
                                                .collection-list-6 .collection-list-item,
                                                .collection-list-6 .collection-list .icon {
                                                        min-height: 84px;
                                                        padding-left: 58px;
                                                }
                                        }
                                        </pre>
                                </div>
                        </div>
                </div>
        </div>
</section>