<section class="page-area">
        <div class="flex-container">
                <div class="item">
                        <div class="introduction">
                                <h1>Freeform <span class="text-primary">Pagnations</span></h1>
                                <p>Different types of Paginations for different needs</p>
                        </div>
                </div>
        </div>
</section>
<section class="content-area">
        <div class="ui-area">
                <div class="content-zone">
                        <div class="tab-area">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-1" data-tab="component-1">Pagination type 1</button>
                                        <button class="code-tab-btn btn-1" data-tab="view-1">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-1" id="component-1">
                                        <div class="ui-zone">
                                                <div class="tab-center">
                                                        <div class="stack-pagination-1">
                                                                <a href="#" class="active">1</a>
                                                                <a href="#">2</a>
                                                                <a href="#">3</a>
                                                                <a href="#">4</a>
                                                                <a href="#">5</a>
                                                                <a href="#">6</a>
                                                                <a href="#">7</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-1" id="view-1">
                                        <pre>
                                        &lt;div class="stack-pagination-1"&gt;
                                                &lt;a href="#" class="active"&gt;1&lt;/a&gt;
                                                &lt;a href="#"&gt;2&lt;/a&gt;
                                                &lt;a href="#"&gt;3&lt;/a&gt;
                                                &lt;a href="#"&gt;4&lt;/a&gt;
                                                &lt;a href="#"&gt;5&lt;/a&gt;
                                                &lt;a href="#"&gt;6&lt;/a&gt;
                                                &lt;a href="#"&gt;7&lt;/a&gt;
                                        &lt;/div&gt;

                                        .stack-pagination-1 {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        .stack-pagination-1 a {
                                                color: #030712;
                                                display: inline-block;
                                                font-size: 14px;
                                                padding: 6px 12px;
                                                margin-left: -1px;
                                                line-height: 1.42857143;
                                                background-color: #fff;
                                                border: 1px solid #ddd;
                                        }
                                        .stack-pagination-1 a.active {
                                                color: #fff;
                                                background: #007bff;
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-2" data-tab="component-2">Pagination Type 2</button>
                                        <button class="code-tab-btn btn-2" data-tab="view-2">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-2" id="component-2">
                                        <div class="ui-zone">
                                                <div class="tab-center">
                                                        <div class="stack-pagination-2">
                                                                <a href="#">First</a>
                                                                <a href="#">1</a>
                                                                <a href="#">2</a>
                                                                <a href="#" class="active">3</a>
                                                                <a href="#">4</a>
                                                                <a href="#">5</a>
                                                                <a href="#">Last</a>
                                                        </div>     
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-2" id="view-2">
                                        <pre>
                                        &lt;div class="stack-pagination-2"&gt;
                                                &lt;a href="#"&gt;First&lt;/a&gt;
                                                &lt;a href="#"&gt;1&lt;/a&gt;
                                                &lt;a href="#"&gt;2&lt;/a&gt;
                                                &lt;a href="#" class="active"&gt;3&lt;/a&gt;
                                                &lt;a href="#"&gt;4&lt;/a&gt;
                                                &lt;a href="#"&gt;5&lt;/a&gt;
                                                &lt;a href="#"&gt;Last&lt;/a&gt;
                                        &lt;/div&gt;

                                        .stack-pagination-2 {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        .stack-pagination-2 a {
                                                color: #030712;
                                                display: inline-block;
                                                font-size: 14px;
                                                padding: 6px 12px;
                                                margin-left: -1px;
                                                line-height: 1.42857143;
                                                background-color: #fff;
                                                border: 1px solid #ddd;
                                        }
                                        .stack-pagination-2 a.active {
                                                color: #fff;
                                                background: #007bff;
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-3" data-tab="component-3">Pagination Type 3</button>
                                        <button class="code-tab-btn btn-3" data-tab="view-3">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-3" id="component-3">
                                        <div class="ui-zone">
                                                <div class="tab-center">
                                                        <div class="stack-pagination-3">
                                                                <a href="#" class="fbtn">First</a>
                                                                <a href="#">Previous</a>
                                                                <a href="#">Next</a>
                                                                <a href="#" class="lbtn">Last</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-3" id="view-3">
                                        <pre>
                                        &lt;div class="stack-pagination-3"&gt;
                                                &lt;a href="#" class="fbtn"&gt;First&lt;/a&gt;
                                                &lt;a href="#"&gt;Previous&lt;/a&gt;
                                                &lt;a href="#"&gt;Next&lt;/a&gt;
                                                &lt;a href="#" class="lbtn"&gt;Last&lt;/a&gt;
                                        &lt;/div&gt;

                                        .stack-pagination-3 {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        .stack-pagination-3 a {
                                                color: #030712;
                                                display: inline-block;
                                                font-size: 14px;
                                                padding: 6px 12px;
                                                margin-left: -1px;
                                                line-height: 1.42857143;
                                                background-color: #fff;
                                                border: 1px solid #ddd;
                                        }
                                        .stack-pagination-3 a.fbtn,
                                        .stack-pagination-3 a.lbtn {
                                                color: #fff;
                                                background: #030712;
                                        }
                                        </pre>
                                </div>
                        </div>

                        <div class="tab-area mt-4">
                                <div class="code-tab">
                                        <button class="code-tab-btn btn-4" data-tab="component-4">Pagination Type 4</button>
                                        <button class="code-tab-btn btn-4" data-tab="view-4">Code</button>
                                        <div class="code-slide-bar"></div>
                                </div>
                                <div class="code-tab-content ctent-4" id="component-4">
                                        <div class="ui-zone">
                                                <div class="tab-center">
                                                        <div class="stack-pagination-4">
                                                                <a href="#" class="round-button"><i class="fas fa-angle-double-left"></i></a>
                                                                <a href="#" class="round-button">1</a>
                                                                <a href="#" class="round-button">2</a>
                                                                <a href="#" class="active round-button">3</a>
                                                                <a href="#" class="round-button">4</a>
                                                                <a href="#" class="round-button">5</a>
                                                                <a href="#" class="round-button"><i class="fas fa-angle-double-right"></i></a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="code-tab-content ctent-4" id="view-4">
                                        <pre>
                                        &lt;div class="stack-pagination-4"&gt;
                                                &lt;a href="#" class="round-button"&gt;&lt;i class="fas fa-angle-double-left"&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;a href="#" class="round-button"&gt;1&lt;/a&gt;
                                                &lt;a href="#" class="round-button"&gt;2&lt;/a&gt;
                                                &lt;a href="#" class="active round-button"&gt;3&lt;/a&gt;
                                                &lt;a href="#" class="round-button"&gt;4&lt;/a&gt;
                                                &lt;a href="#" class="round-button"&gt;5&lt;/a&gt;
                                                &lt;a href="#" class="round-button"&gt;&lt;i class="fas fa-angle-double-right"&gt;&lt;/i&gt;&lt;/a&gt;
                                        &lt;/div&gt;

                                        .stack-pagination-4 {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                        }
                                        .stack-pagination-4 a.round-button {
                                                color: #030712;
                                                display: inline-block;
                                                font-size: 14px;
                                                padding: 10px 16px; 
                                                margin-left: -1px;
                                                line-height: 1.42857143;
                                                background-color: #fff;
                                                border: 50%; 
                                                border: 1px solid #ddd;
                                                border-radius: 50%; 
                                                text-align: center;
                                                text-decoration: none;
                                        }
                                        .stack-pagination-4 a.active {
                                                color: #fff;
                                                background: #030712;
                                        }
                                        </pre>
                                </div>
                        </div>
                </div>
        </div>
</section>